Repository twbs/bootstrap, pull requests merged in 2018-04, with the labels that each got.

#26172 Add .text-monospace util
  docs/4.0/utilities/text.md
  scss/utilities/_text.scss
Labels: css, v4

#25848 Remove navbar align
  scss/_mixins.scss
  scss/mixins/_navbar-align.scss
Labels: css, v4

#26171 Close #25697
  docs/4.0/components/navbar.md
Labels: docs, v4

#26169 Fix Chrome's rendering of .card-columns
  scss/_card.scss
Labels: css, v4

#26168 Add new .flex-grow and .flex-shrink utils
  docs/4.0/utilities/flex.md
  scss/utilities/_flex.scss
Labels: css, feature, v4

#26167 Mention browserslist config in our docs
  docs/4.0/getting-started/browsers-devices.md
Labels: docs, v4

#25758 Add box-shadow utilities
  _data/nav.yml
  docs/4.0/utilities/shadows.md
  scss/_utilities.scss
  scss/_variables.scss
  scss/utilities/_shadows.scss
Labels: css, feature, v4

#26173 Deprecate .text-hide
  scss/mixins/_text-hide.scss
Labels: css, v4

#26178 Tiny grammar and punctuation tweaks to a comment.
  scss/_carousel.scss
Labels: css, v4

#26179 Dashboard updates
  docs/4.0/examples/dashboard/dashboard.css
  docs/4.0/examples/dashboard/index.html
Labels: examples, v4

#26180 Update offcanvas example for IE support
  docs/4.0/examples/offcanvas/index.html
  docs/4.0/examples/offcanvas/offcanvas.css
Labels: examples, v4

#25581 Allow non-string content as breadcrumb divider
  docs/4.0/components/breadcrumb.md
  scss/_breadcrumb.scss
  scss/_variables.scss
Labels: css, v4

#25363 Pagination move `.page-link:focus` outline value to variable `$pagina…
  scss/_pagination.scss
  scss/_variables.scss
Labels: css

#26194 Remove note about multiple inputs
  docs/4.0/components/input-group.md
Labels: docs, v4

#26217 vnu.jar: Ignore all wrong language code warnings.
  build/vnu-jar.js
Labels: build, v4

#26222 Clean up globals.
  build/change-version.js
  build/lint-vars.js
  build/workbox.js
  js/tests/unit/.eslintrc.json
  package.js
Labels: js, v4

#25945 v4 improve coverage
  js/src/alert.js
  js/tests/karma.conf.js
  js/tests/unit/.eslintrc.json
  js/tests/unit/alert.js
  js/tests/unit/button.js
  js/tests/unit/dropdown.js
  js/tests/unit/tooltip.js
Labels: js, v4

#26239 Fix incorrect class name
  docs/4.1/utilities/text.md
Labels: docs, v4

#26263 update README.md - debug search option is now in application.js
  README.md
Labels: meta, v4

#26272 Dropdowns `display` default value
  docs/4.1/components/dropdowns.md
Labels: docs, v4

#26291 fix issue related to Object.keys and Dropdown issue
  js/src/collapse.js
  js/src/modal.js
  js/src/scrollspy.js
  js/src/tooltip.js
  js/tests/unit/dropdown.js
Labels: js, v4

#26269 Remove `dialog` from the HTML5 shim style
  scss/_reboot.scss
Labels: css, v4

#26292 Resolve #26262: Add deprecated warning
  docs/4.1/utilities/image-replacement.md
Labels: docs, v4

#26242 Suppress text-hide deprecation warning
  scss/mixins/_text-hide.scss
  scss/utilities/_text.scss
Labels: css, v4

#26309 Update devDependencies.
  package-lock.json
  package.json
Labels: build, v4

#26322 Update devDependencies.
  package-lock.json
  package.json
Labels: build, v4

#26193 Print color fix dark tables and dark theads
  scss/_print.scss
Labels: css, v4

#25944 workaround for IE that custom check indicator does not appear
  scss/_custom-forms.scss
Labels: css, v4

#26257 Replace reboot monospace hack with system font stack issue #26228
  scss/_code.scss
  scss/_reboot.scss
Labels: css, v4

#26181 Validate file input
  scss/mixins/_forms.scss
Labels: css, v4

#26238 Remove unnecessary resetting of left round of `.custom-file-input:after`
  scss/_input-group.scss
Labels: css, v4

#26313 Closes #26300: Add cursor pointer to carousel indicators
  scss/_carousel.scss
Labels: css, v4

#26316 Doc update - remove media-breakpoint-up(xs)
  docs/4.1/layout/overview.md
Labels: docs, v4

#26416 Simplify custom file inner height for generated browse button
  scss/_custom-forms.scss
  scss/_variables.scss
Labels: css, v4
