Repository twbs/bootstrap, pull requests merged in 2018-10, with the labels that each got.

#27349 updated README
  README.md
Labels: docs, v4

#27357 fix - small grammar error
  site/docs/4.1/migration.md
Labels: docs, v4

#27268 Add overflow-auto and overflow-hidden utilities
  scss/_utilities.scss
  scss/_variables.scss
  scss/utilities/_overflow.scss
  scss/utilities/_position.scss
  site/_data/nav.yml
  site/docs/4.1/utilities/overflow.md
Labels: css, feature, v4

#27400 refine deprecated holder.js color syntax
  site/docs/4.1/components/card.md
Labels: docs

#27403 update holder.js image dimensions for sizing example
  site/docs/4.1/utilities/sizing.md
Labels: docs

#27411 Update Travis config.
  .travis.yml
Labels: v4

#27414 Remove sri-toolbox dependency.
  build/generate-sri.js
  package-lock.json
  package.json
Labels: build, v4

#27413 Add a release npm script.
  build/ship.sh
  package.json
Labels: build, v4

#27419 Travis: add `--clean` in `bundle install` command.
  .travis.yml
Labels: v4

#27442 Reduce indentation.
  site/docs/4.1/assets/img/favicons/browserconfig.xml
  site/docs/4.1/assets/img/favicons/manifest.json
Labels: docs, v4

#27423 Versions page: change h1 to h2
  site/docs/versions.html
Labels: docs, v4

#27444 Combine examples and simple layouts
  site/_layouts/examples.html
  site/_layouts/simple.html
  site/docs/4.1/examples/index.html
  site/docs/versions.html
Labels: docs, v4

#27420 Rename everything to skippy and center skippy
  site/_includes/skippy.html
  site/docs/4.1/assets/scss/_skiplink.scss
  site/docs/4.1/assets/scss/_skippy.scss
  site/docs/4.1/assets/scss/docs.scss
Labels: docs, v4

#27445 Include `css-copy` in the `css` script.
  package.json
Labels: build, v4

#27446 Update devDependencies and gems.
  Gemfile.lock
  package-lock.json
  package.json
Labels: build, v4

#27448 Move docs .eslintrc in site/.
  package.json
  site/.eslintrc.json
Labels: build, v4

#27206 Move media from layout to components
  site/_data/nav.yml
  site/docs/4.1/components/media-object.md
Labels: docs, v4

#27321 Adds a note about limitations on content being larger than the image
  site/_includes/callout-info-content-iamge-overlay-overflow.md
Labels: docs, v4

#27465 Tweak npm scripts
  package.json
Labels: build, v4

#27410 Rename docs production script to production.
  .gitignore
  package.json
  site/_includes/header.html
  site/_includes/scripts.html
Labels: build, docs

#27468 Travis: stop installing chrome
  .travis.yml
Labels: v4

#27473 Fix doc typo
  site/docs/4.1/components/collapse.md
Labels: docs, v4

#27126 Fix double border on list-group
  scss/_list-group.scss
Labels: css, v4

#27094 Fix size of modal dialogs at different widths
  scss/_modal.scss
Labels: css, v4

#27160 feat: keep contrast on `.table-dark`
  scss/_variables.scss
Labels: css, v4

#27478 docs search: take into account the current URL.
  site/_includes/docs-sidebar.html
  site/docs/4.1/assets/js/src/search.js
Labels: docs, v4

#27343 Adds font weight options for form controls and custom select
  scss/_custom-forms.scss
  scss/_forms.scss
  scss/_variables.scss
Labels: css, v4

#27370 Added 'show' and 'hide' methods to dropdown
  js/src/dropdown.js
  js/tests/unit/dropdown.js
  site/docs/4.1/components/dropdowns.md
Labels: feature, js, v4

#26893 Add query string to the start_url to track how often app is launched
  site/docs/4.1/assets/img/favicons/manifest.json
Labels: docs, v4

#27443 Clean up docs Sass code.
  site/docs/4.1/assets/scss/_algolia.scss
  site/docs/4.1/assets/scss/_brand.scss
  site/docs/4.1/assets/scss/_buttons.scss
  site/docs/4.1/assets/scss/_callouts.scss
  site/docs/4.1/assets/scss/_clipboard-js.scss
  site/docs/4.1/assets/scss/_examples.scss
  site/docs/4.1/assets/scss/_nav.scss
  site/docs/4.1/assets/scss/docs.scss
Labels: css, docs, v4

#27475 package.json: add `version_short` and use it in the npm scripts.
  package.json
Labels: build, v4

#27417 Make use of jekyll-toc's `no_toc_section` class.
  Gemfile
  Gemfile.lock
  site/_includes/callout.html
  site/_includes/example.html
  site/docs/4.1/assets/scss/_sidebar.scss
Labels: docs, v4

#27462 Remove redundant width and height properties from caret
  scss/mixins/_caret.scss
Labels: css, v4

#27415 Custom select inconsistent paddings
  scss/_variables.scss
Labels: css, v4

#27407 Fixing #26372: disabled btn hover issue
  scss/mixins/_buttons.scss
Labels: css, v4

#27342 Fixes the variables for input font size
  scss/_forms.scss
Labels: css, v4

#27276 user-select has no effect on before/after pseudo elements
  scss/_custom-forms.scss
Labels: css, v4

#27484 webpack page: Remove precss reference
  site/docs/4.1/getting-started/webpack.md
Labels: docs, v4

#27133 Fix for double border on cards in an accordion
  scss/_card.scss
Labels: css, v4

#27278 Carousel fade cleanup
  scss/_carousel.scss
Labels: css, v4

#27284 optimize data URIs
  scss/_variables.scss
  site/docs/4.1/assets/scss/_nav.scss
Labels: css, docs, v4

#27289 Use the hover mixin in the outline button variant mixin
  scss/mixins/_buttons.scss
Labels: css, v4

#27277 Re-add carousel control transition
  scss/_carousel.scss
  scss/_variables.scss
Labels: css, v4

#26917 feature/yiq function, add parameters, with default values.
  scss/_functions.scss
Labels: css, v4

#26808 Improve grid example
  site/docs/4.1/examples/grid/grid.css
  site/docs/4.1/examples/grid/index.html
  site/docs/4.1/examples/screenshots/grid.png
Labels: css, examples, v4

#26332 Example dashboard: Responsive padding-top of the main content
  site/docs/4.1/examples/dashboard/dashboard.css
Labels: examples, v4

#26255 Add dropdown responsive alignment
  scss/_dropdown.scss
  site/docs/4.1/components/dropdowns.md
Labels: css, feature, v4

#26573 Card header color theming
  scss/_card.scss
  scss/_variables.scss
Labels: css, v4

#27488 Fix typo in the Popper.js checks.
  js/src/dropdown.js
  js/src/tooltip.js
Labels: js, v4

#27378 Simplify theme color usage
  scss/_variables.scss
Labels: css, v4

#27492 Revert "Simplify .gitattributes."
  .gitattributes
Labels: meta, v4

#27472 test(Modal): reuse `Modal.prototype._getScrollbarWidth` in tests
  js/tests/unit/modal.js
Labels: js, v4

#27265 Change erroneous documentation for .flex-fill
  site/docs/4.1/utilities/flex.md
Labels: docs, v4

#27489 Update devDependencies and gems.
  Gemfile.lock
  package-lock.json
  package.json
Labels: build, v4

#27190 Unitless breakpoints
  scss/mixins/_breakpoints.scss
Labels: awaiting reply, css, v4

#26922 Add transition to property-blacklist
  .stylelintrc
  scss/mixins/_transition.scss
  site/docs/4.1/assets/scss/_anchor.scss
  site/docs/4.1/examples/.stylelintrc
Labels: css, v4

#27494 Further ToC fixes.
  _config.yml
  site/_includes/example.html
Labels: docs, v4

#27500 Cleanup stylelint comments
  scss/_close.scss
  scss/_dropdown.scss
  scss/_forms.scss
  scss/_reboot.scss
  scss/mixins/_forms.scss
Labels: css, v4

#27175 Custom select validation tweaks
  scss/_variables.scss
  scss/mixins/_forms.scss
Labels: awaiting reply, css, v4

#26714 Easy merging of new grid breakpoints and containers
  scss/_variables.scss
Labels: css, v4

#25871 Fix readonly-plain-text with button addon
  scss/_input-group.scss
Labels: css, v4

#25575 Variable darken percentage for emphasized links
  scss/_variables.scss
  scss/mixins/_text-emphasis.scss
Labels: css, v4

#25548 Added Viewport Height & Width helpers
  scss/utilities/_sizing.scss
Labels: css, feature, v4

#27521 calculate modal transition duration based on modal-dialog element
  js/src/modal.js
  js/tests/unit/modal.js
Labels: js, v4

#27533 Fix tab fade out
  js/src/tab.js
Labels: js, v4

#27530 Delete sache.json
  sache.json
Labels: css, v4

#27540 Update devDependencies and gems.
  Gemfile
  Gemfile.lock
  package-lock.json
  package.json
Labels: build, v4

#27503 Update Travis CI config.
  .travis.yml
Labels: build

#27529 Carousel crossfade > Prevent the background to be shown when transitioning
  js/src/util.js
  js/tests/unit/util.js
  scss/_carousel.scss
  scss/_variables.scss
Labels: css, js, v4

#27511 Prevent active state border change
  scss/_custom-forms.scss
Labels: css, v4

#27556 Fix util tests on IE 10
  js/tests/unit/util.js
Labels: js, v4

#27455 Refactor `Modal.dispose` and add test
  js/src/modal.js
  js/tests/unit/modal.js
Labels: js, v4

#27563 fix dispose modal unit test
  js/tests/unit/modal.js
Labels: js, v4

#27560 IE10 homepage fix
  site/docs/4.1/assets/scss/_masthead.scss
  site/index.html
Labels: docs, v4

#27562 Add @MartijnCuppens to our core team ! :tada:
  site/_data/core-team.yml
Labels: docs, v4

#27279 Fix Edge bounce and restore original transition easing
  scss/_carousel.scss
  scss/_variables.scss
Labels: css, v4

#27566 Fix empty custom-control-label alignment issue
  scss/_custom-forms.scss
Labels: css, v4
