Repository twbs/bootstrap, pull requests merged in 2018-02, with the labels that each got.

#25570 Remove `show` class from example code
  docs/4.0/components/dropdowns.md
Labels: docs, v4

#25561 Create a variable for label margin bottom
  scss/_reboot.scss
  scss/_variables.scss
Labels: css, v4

#25564 use $input-bg for $custom-select-bg
  scss/_variables.scss
Labels: css, v4

#25589 Update themeing docs for more clearly how to remove from map
  docs/4.0/getting-started/theming.md
Labels: docs, v4

#25565 set color to form-control-plaintext
  scss/_forms.scss
  scss/_variables.scss
Labels: css, v4

#25197 Update `.sr-only` mixin and utility
  docs/4.0/utilities/screenreaders.md
  scss/mixins/_screen-reader.scss
Labels: css, v4

#25356 Fix rounded corners on custom file in input group
  scss/_input-group.scss
Labels: css, v4

#25572 Update stylelint config to add missing properties
  .stylelintrc
Labels: build, v4

#24092 Dropdown - Allow to disable Popper.js style
  docs/4.0/components/dropdowns.md
  js/src/dropdown.js
  js/tests/unit/dropdown.js
  js/tests/visual/dropdown.html
Labels: feature, js, v4

#25248 Prevent word-wrap
  scss/_progress.scss
Labels: css, v4

#25643 Add `type="button"` to `<button>`s in accordion example
  docs/4.0/components/collapse.md
Labels: docs

#25218 Fix carousel transition duration
  docs/4.0/components/carousel.md
  js/src/carousel.js
  js/tests/visual/carousel.html
  scss/_variables.scss
Labels: feature, js, v4

#25600 Custom range input
  docs/4.0/components/forms.md
  scss/_custom-forms.scss
  scss/_variables.scss
Labels: css, feature, v4

#25624 Be more explicit where to find variables
  docs/4.0/getting-started/theming.md
Labels: docs, v4

#25657 Add color variable for caption
  scss/_reboot.scss
  scss/_variables.scss
Labels: css, v4

#25393 Allow to customize vertical margin of `nav-divider` mixin
  scss/mixins/_nav-divider.scss
Labels: css, v4

#25671 Consistent usage of $(document.body) instead of $('body')
  js/src/dropdown.js
  js/src/modal.js
  js/src/tooltip.js
Labels: js, v4

#25547 Brush up vertical rhythm of form-check in docs. Closes #25546
  docs/4.0/components/forms.md
Labels: docs, v4

#25613 Remove disabling of stylelint rule in hover mixin
  scss/mixins/_hover.scss
Labels: css, v4

#25702 Add focus states to custom docs buttons
  assets/scss/_buttons.scss
Labels: css, docs, v4

#25687 Fix typo of example in hiding doc
  docs/4.0/utilities/display.md
Labels: docs, v4

#23839 Improves accordion styles
  docs/4.0/components/collapse.md
  scss/_card.scss
Labels: css, v4

#25670 Remove unused variable
  js/src/modal.js
Labels: js, v4
