Repository twbs/bootstrap, pull requests merged in 2018-05, with the labels that each got.

#26433 Fix heading levels in grid example
  docs/4.1/examples/grid/index.html
Labels: docs, examples

#26462 chore(node): use node 6 as it required in our package.json
  .travis.yml
Labels: build, v3

#26361 Fix wrong z-index of focused custom file in input group
  scss/_input-group.scss
Labels: css, v4

#26517 Fix typo in dropdowns.md
  docs/4.1/components/dropdowns.md
Labels: docs, v4

#26452 Fix double-transition bug
  scss/_carousel.scss
Labels: css, v4

#26551 Fix/add more correct labels/descriptions for input group examples
  docs/4.1/components/input-group.md
Labels: accessibility, docs

#26538 Custom forms transition
  scss/_custom-forms.scss
  scss/_variables.scss
Labels: css, feature, v4

#26488 Add disabled bg color to disabled custom file
  scss/_custom-forms.scss
  scss/_variables.scss
Labels: css, v4

#25929 Add coverall to follow our coverage
  README.md
  package-lock.json
  package.json
Labels: build, v4

#26599 Remove the unused docs upload preview stuff.
  .github/CONTRIBUTING.md
  .travis.yml
  build/upload-preview.sh
  package.json
Labels: v4

#26634 https link to editorconfig.org
  README.md
Labels: meta, v4

#26615 Fixes inline labels with a custom select
  docs/4.1/components/forms.md
Labels: docs, v4
