Repository twbs/bootstrap, pull requests merged in 2018-03, with the labels that each got.

#25750 docs skippy partial
  _includes/skippy.html
  _layouts/default.html
  _layouts/docs.html
  _layouts/home.html
Labels: docs, v4

#25712 Revert issue #25687 (Docs Display Hiding elements)
  docs/4.0/utilities/display.md
Labels: docs, v4

#25769 Fix leftover reference to v4.0.0-alpha.6
  js/src/index.js
Labels: js, v4

#25653 Replace img-fluid by w-100 in Carousel docs to conform with HTML example
  docs/4.0/components/carousel.md
Labels: docs, v4

#25691 Adding a variable to handle the change of a modals border-radius.
  scss/_modal.scss
  scss/_variables.scss
Labels: css, v4

#25708 Update devDependencies and gems.
  Gemfile.lock
  package-lock.json
  package.json
Labels: build, v4

#25760 add code coverage
  .babelrc.js
  .gitignore
  js/tests/karma.conf.js
  package-lock.json
  package.json
Labels: js, v4

#25783 Add a bit of documentation on how to run the code coverage
  js/tests/README.md
Labels: docs, v4

#24879 Rewritten scrollspy without jquery
  js/src/dom/manipulator.js
  js/src/dom/selectorEngine.js
  js/src/scrollspy.js
  js/tests/unit/scrollspy.js
  js/tests/visual/scrollspy.html
Labels: js-without-jquery, v4

#25785 style: aligns some vars
  scss/_variables.scss
Labels: css, v4

#25763 add Icons8 to icon options
  docs/4.0/extend/icons.md
Labels: docs, v4

#25823 Fix scrollspy test on firefox (v4 without jquery)
  js/tests/unit/scrollspy.js
Labels: js, js-without-jquery, v4

#25806 Collapse with flex elements - simple approach
  scss/_transitions.scss
Labels: css, v4

#25751 re-use gray for bd-example border / background
  assets/scss/_component-examples.scss
Labels: docs, v4

#25719 Fix caret alignment
  scss/_button-group.scss
  scss/mixins/_caret.scss
Labels: css, v4

#25807 Allow customization of breadcrumb border radius
  scss/_breadcrumb.scss
  scss/_variables.scss
Labels: css, v4

#25704 Clean shell scripts
  build/ship.sh
  build/upload-preview.sh
Labels: build, v4

#25672 Replace "loose" HEX values with their respective variables
  scss/_carousel.scss
  scss/_print.scss
  scss/_reboot.scss
  scss/_variables.scss
  scss/mixins/_forms.scss
  scss/mixins/_gradients.scss
  scss/mixins/_list-group.scss
  scss/mixins/_nav-divider.scss
  scss/utilities/_text.scss
Labels: css, v4

#25665 Fix examples' issues #25664 and #25388
  docs/4.0/examples/cover/cover.css
  docs/4.0/examples/cover/index.html
  docs/4.0/examples/floating-labels/floating-labels.css
  docs/4.0/examples/sign-in/signin.css
Labels: examples, v4

#25645 Disable link functionality on disabled btn-link
  scss/_buttons.scss
Labels: css, v4

#25400 Add basic position to dropup/right/left and dropdown-menu-right
  scss/_dropdown.scss
  scss/_navbar.scss
Labels: css, v4

#25736 Fix incorrect class .custom-file-control to .custom-file-label
  scss/_custom-forms.scss
Labels: css, v4

#25334 use bugify without custom jekyll plugin
  _includes/bugify.html
  _plugins/bugify.rb
  docs/4.0/browser-bugs.md
Labels: build, docs, v4

#25690 Clarify the necessary `data-target`/`href` attribute for carousel controls
  docs/4.0/components/carousel.md
Labels: docs, v4

#25662 Variable transition durations
  docs/4.0/components/carousel.md
  js/src/alert.js
  js/src/carousel.js
  js/src/collapse.js
  js/src/modal.js
  js/src/tab.js
  js/src/tooltip.js
  js/src/util.js
  js/tests/unit/util.js
  js/tests/visual/alert.html
  js/tests/visual/modal.html
Labels: js, v4

#25834 fix get the transition duration parent
  js/src/util.js
  js/tests/unit/util.js
Labels: js, v4

#25836 saucelabs-unit-test.js: tweak failed tests message
  build/saucelabs-unit-test.js
Labels: build, js, v4

#25835 approach.md: Fix empty link.
  docs/4.0/extend/approach.md
Labels: docs, v4

#25820 Add Sinon to do better unit test
  js/tests/README.md
  js/tests/index.html
  js/tests/karma.conf.js
  js/tests/unit/.eslintrc.json
  js/tests/vendor/sinon.min.js
  package-lock.json
  package.json
Labels: js, v4

#25839 Document `.form-control-range`.
  docs/4.0/components/forms.md
Labels: docs, v4

#25784 use example without custom jekyll plugin
  _includes/example.html
  _plugins/example.rb
  docs/4.0/components/alerts.md
  docs/4.0/components/badge.md
  docs/4.0/components/breadcrumb.md
  docs/4.0/components/button-group.md
  docs/4.0/components/buttons.md
  docs/4.0/components/card.md
  docs/4.0/components/carousel.md
  docs/4.0/components/collapse.md
  docs/4.0/components/dropdowns.md
  docs/4.0/components/forms.md
  docs/4.0/components/input-group.md
  docs/4.0/components/jumbotron.md
  docs/4.0/components/list-group.md
  docs/4.0/components/modal.md
  docs/4.0/components/navbar.md
  docs/4.0/components/navs.md
  docs/4.0/components/pagination.md
  docs/4.0/components/popovers.md
  docs/4.0/components/progress.md
  docs/4.0/components/tooltips.md
  docs/4.0/content/code.md
  docs/4.0/content/figures.md
  docs/4.0/content/tables.md
  docs/4.0/content/typography.md
  docs/4.0/layout/grid.md
  docs/4.0/layout/media-object.md
  docs/4.0/utilities/borders.md
  docs/4.0/utilities/clearfix.md
  docs/4.0/utilities/close-icon.md
  docs/4.0/utilities/colors.md
  docs/4.0/utilities/display.md
  docs/4.0/utilities/embed.md
  docs/4.0/utilities/flex.md
  docs/4.0/utilities/float.md
  docs/4.0/utilities/image-replacement.md
  docs/4.0/utilities/screenreaders.md
  docs/4.0/utilities/sizing.md
  docs/4.0/utilities/text.md
  docs/4.0/utilities/vertical-align.md
Labels: build, docs, v4

#25803 Enable docsearch in development env
  _includes/docs-sidebar.html
  assets/js/src/application.js
Labels: docs, v4

#25855 Fix order of Save/Close buttons in modal code example
  docs/4.0/components/modal.md
Labels: docs, v4

#25852 Update vertical pills example
  docs/4.0/components/navs.md
Labels: docs, v4

#25705 Separate issue templates, add support doc
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/feature.md
  .github/SUPPORT.md
  README.md
Labels: meta, v4

#25885 Remove old references to jquery
  js/src/alert.js
  js/src/button.js
  js/src/carousel.js
  js/src/dropdown.js
  js/src/index.js
  js/src/modal.js
Labels: js, js-without-jquery, v4

#25641 Making use of `prefers-reduced-motion` media query
  .stylelintrc
  docs/4.0/getting-started/accessibility.md
  scss/mixins/_transition.scss
Labels: accessibility, css, feature

#25896 Use transitionEnd in QUnit since we moved away from PhantomJS
  js/src/alert.js
  js/src/carousel.js
  js/src/collapse.js
  js/src/modal.js
  js/src/tab.js
  js/src/tooltip.js
  js/src/util.js
  js/tests/unit/alert.js
  js/tests/unit/collapse.js
  js/tests/unit/popover.js
  js/tests/unit/tooltip.js
  js/tests/unit/util.js
Labels: js, v4

#25898 throw error when coverage is under our thresholds
  js/tests/karma.conf.js
Labels: build, v4

#25403 Dropdown. Skip element disabled via attribute when using keyboard navigation
  js/src/dropdown.js
  js/tests/unit/dropdown.js
Labels: js, v4

#25951 Fix duplicate `main` element.
  _layouts/default.html
  _layouts/examples.html
Labels: docs, v4

#25974 fix bundle and run test against it
  build/rollup.config.js
  js/tests/karma-bundle.conf.js
  js/tests/unit/.eslintrc.json
  js/tests/unit/util.js
  package.json
Labels: build, js, v4

#25965 Add .bg-transparent to docs
  docs/4.0/utilities/colors.md
Labels: css, v4

#25954 docs: Switch to StackPath's URL for the CDN.
  _config.yml
  docs/4.0/getting-started/introduction.md
Labels: docs, v4

#25978 Revert "docs: Switch to StackPath's URL for the CDN."
  _config.yml
  docs/4.0/getting-started/introduction.md
Labels: docs, v4

#25979 Correct children selector
  docs/4.0/extend/approach.md
Labels: docs, v4
