Repository twbs/bootstrap, pull requests merged in 2018-11, with the labels that each got.

#27573 Make meaning of tooltip's 'selector' option more clear
  site/docs/4.1/components/tooltips.md
Labels: docs, v4

#27559 robots.txt: disallow crawling when not in production.
  site/robots.txt
Labels: docs, v4

#27546 Remove the obsolete tooltip-viewport example and redirect it.
  site/docs/4.1/examples/index.html
  site/docs/4.1/examples/tooltip-viewport/index.html
  site/docs/4.1/examples/tooltip-viewport/tooltip-viewport.css
  site/docs/4.1/examples/tooltip-viewport/tooltip-viewport.js
Labels: docs, v4

#27578 handle detached tooltip when we try to hide a modal
  js/src/tooltip.js
  js/tests/unit/tooltip.js
Labels: js, v4

#27549 docs: remove false info from v3 suggestion.
  site/docs/4.1/getting-started/browsers-devices.md
Labels: docs, v4

#26296 Sync with normalize 8.0.0
  scss/_reboot.scss
Labels: css, v4

#27570 Avoid null value
  scss/mixins/_breakpoints.scss
Labels: css, v4

#27552 Jekyll: switch to localhost
  _config.yml
Labels: build, meta, v4

#25395 Button group refactoring and fixes
  scss/_button-group.scss
Labels: css, v4

#27589 scss/_custom-forms.scss: fix typo in comment.
  scss/_custom-forms.scss
Labels: v4

#27582 Carousel fixes
  js/src/carousel.js
  scss/_carousel.scss
Labels: css, js

#27586 broken-link-checker: force follow links.
  package.json
Labels: build, v4

#27591 Travis: stop using a separate stage for Browser tests.
  .travis.yml
  package.json
Labels: build, v4

#27584 Update devDependencies and gems.
  Gemfile.lock
  package-lock.json
  package.json
Labels: build, v4

#27588 Update README.md
  README.md
Labels: meta, v4

#24507 Ligthen/Darken Button focus shadow color
  scss/mixins/_buttons.scss
Labels: css, v4

#27382 Made the disabled state for nav more obvious.
  scss/_nav.scss
Labels: accessibility, v4

#27599 Add japanese to translations
  site/_data/translations.yml
Labels: docs, v4

#27603 Remove htmllint.
  build/.htmllintrc
  package-lock.json
  package.json
Labels: build, v4

#27594 Prevent white line in Firefox (regression)
  scss/_carousel.scss
Labels: css, v4

#27604 Reorganize npm scripts.
  package.json
Labels: build, v4

#27339 Add new `.rounded-pill` utility
  scss/_variables.scss
  scss/utilities/_borders.scss
  site/docs/4.1/utilities/borders.md
Labels: css, feature, v4

#27609 Increase readability card columns docs
  site/docs/4.1/components/card.md
Labels: docs, v4

#27608 Travis: exit pipeline if test fails.
  .travis.yml
Labels: build, v4

#27610 Travis: Add back chrome addon
  .travis.yml
Labels: build, v4

#27611 display chrome version on travis
  .travis.yml
Labels: build, v4

#27612 Travis tweaks
  .travis.yml
Labels: build, v4

#27614 Docs: Improve accessibility of disabled link example
  site/docs/4.1/components/dropdowns.md
  site/docs/4.1/components/list-group.md
  site/docs/4.1/components/navbar.md
  site/docs/4.1/components/navs.md
Labels: docs, v4

#27624 Add `.mt-3` to some of the buttons in form docs
  site/docs/4.1/components/dropdowns.md
  site/docs/4.1/components/forms.md
Labels: docs, v4

#27631 use bsCustomFileInput in our docs
  site/docs/4.1/assets/js/src/application.js
Labels: docs, js

#27592 Fix modal positioning on Android
  scss/_modal.scss
Labels: css, v4

#27634 Remove custom properties from examples so that they work in IE
  site/docs/4.1/examples/album/album.css
  site/docs/4.1/examples/floating-labels/floating-labels.css
Labels: css, examples, v4

#27641 Redirect `/extend/` to `/extend/approach/`.
  site/docs/4.1/extend/index.md
Labels: docs, v4

#25894 Embed responsive tweaks
  scss/_variables.scss
  scss/utilities/_embed.scss
  site/docs/4.1/utilities/embed.md
Labels: css, feature, v4

#27620 Minor/Docs: tweak accordion example heading level
  site/docs/4.1/components/collapse.md
Labels: accessibility, docs, v4

#27649 Replace `data-src` with `src="..."` in docs.
  site/_includes/example.html
Labels: docs, v4

#27657 Update clipboard.min.js to v2.0.3
  site/docs/4.1/assets/js/vendor/clipboard.min.js
Labels: docs, js, v4

#27651 Customize browse text of the custom file input with HTML
  scss/_custom-forms.scss
  site/docs/4.1/components/forms.md
Labels: css, feature, v4

#27663 Keep input group & form label font size in sync with form control font size
  scss/_forms.scss
  scss/_input-group.scss
Labels: css, v4

#27666 some cleaning and changes for readability
  js/src/alert.js
  js/src/button.js
  js/src/carousel.js
  js/src/collapse.js
  js/src/dropdown.js
  js/src/modal.js
  js/src/popover.js
  js/src/scrollspy.js
  js/src/tab.js
  js/src/toast.js
  js/src/tooltip.js
  js/src/util.js
Labels: js, v4

#27671 Use fancy apostrophe in HTML files.
  site/docs/4.1/examples/album/index.html
  site/docs/4.1/examples/blog/index.html
  site/docs/4.1/examples/carousel/index.html
  site/docs/4.1/examples/checkout/index.html
  site/docs/4.1/examples/navbar-fixed/index.html
  site/docs/4.1/examples/pricing/index.html
  site/docs/4.1/examples/product/index.html
  site/index.html
Labels: docs, v4

#27675 Update autoprefixer link to `.browserslistrc` file
  site/docs/4.1/getting-started/build-tools.md
Labels: docs, v4

#27637 Update devDependencies and gems.
  Gemfile.lock
  _config.yml
  package-lock.json
  package.json
Labels: build, v4

#27681 Inherit $card-cap-color color
  scss/_variables.scss
Labels: css, v4

#27668 enforce lowercase class name in .stylelintrc
  .stylelintrc
  site/docs/4.1/assets/scss/_syntax.scss
Labels: build, css, v4

#27677 Add support for custom-select sizing in input-group
  scss/_input-group.scss
Labels: css, v4

#27684 Spinners cleanup
  scss/_spinners.scss
Labels: css, v4

#27673 Prevent text decoration skip ink and reorder comments
  scss/_reboot.scss
Labels: css, v4

#27678 Add documentation about .font-weight-bolder/lighter
  site/docs/4.1/utilities/text.md
Labels: docs, v4

#27688 Add documentation about viewport sizing utilities
  site/docs/4.1/utilities/sizing.md
Labels: docs, v4

#27686 Add documentation about .text-decoration-none
  site/docs/4.1/utilities/text.md
Labels: docs, v4

#26702 Allows both OL and UL lists for tab buttons
  js/src/tab.js
  site/docs/4.1/components/navs.md
Labels: js, v4

#27693 Remove `sudo` from Travis config.
  .travis.yml
Labels: meta, v4

#27661 Replace anchor.js with jekyll-anchor-headings.
  package.json
  site/_includes/scripts.html
  site/_includes/vendor/anchor_headings.html
  site/_layouts/docs.html
  site/docs/4.1/assets/js/src/application.js
  site/docs/4.1/assets/js/vendor/anchor.min.js
  site/docs/4.1/assets/scss/_anchor.scss
Labels: docs, v4

#27695 Use wrapping span instead of div
  site/docs/4.1/assets/js/src/application.js
  site/docs/4.1/assets/scss/_content.scss
Labels: css, docs, v4

#27696 docs: fix path to assets.
  site/_includes/scripts.html
  site/_layouts/examples.html
  site/docs/4.1/utilities/image-replacement.md
Labels: docs, v4

#27705 Sass precision documentation
  site/docs/4.1/getting-started/theming.md
Labels: docs, v4

#27701 Placeholders: use our gray colors
  site/_includes/icons/placeholder.svg
Labels: docs, v4

#27687 Fixed a fixed height issue of input-group size option
  scss/_input-group.scss
Labels: css, v4

#27706 Update devDependencies.
  package-lock.json
  package.json
Labels: build, v4

#27710 Update DocSearch.js to latest version
  site/docs/4.1/assets/js/src/search.js
Labels: docs, v4

#27698 Fix body scrolling issue when modal open
  js/src/modal.js
Labels: js, v4

#27717 Grow button width to the parent button group
  scss/_button-group.scss
Labels: css, v4

#27722 ship.sh: add missing period.
  build/ship.sh
Labels: build, v4

#27648 Use an `h5` for callouts
  site/_includes/callout-danger-async-methods.md
  site/docs/4.1/components/forms.md
  site/docs/4.1/components/popovers.md
  site/docs/4.1/components/scrollspy.md
  site/docs/4.1/components/tooltips.md
  site/docs/4.1/getting-started/javascript.md
  site/docs/4.1/utilities/colors.md
Labels: docs, v4

#27741 Update contents.md
  site/docs/4.1/getting-started/contents.md
Labels: docs, v4
