Repository twbs/bootstrap, pull requests merged in 2018-08, with the labels that each got.

#27013 package.json: be more explicit with the files we include.
  package.json
Labels: build, v4

#27014 Update package.json
  package.json
Labels: build, v4

#27008 Use Iconic github page instead of site
  site/docs/4.1/extend/icons.md
Labels: docs, v4

#26999 Fix #26990 broken external example
  site/docs/4.1/components/popovers.md
  site/docs/4.1/components/tooltips.md
Labels: docs, v4

#26848 Ensure calling dispose on a popover will not set the title of the popover next time it is created
  js/src/popover.js
Labels: js, v4

#26834 Commit our svgo config.
  build/svgo.yml
  site/docs/4.1/assets/brand/bootstrap-outline.svg
  site/docs/4.1/assets/brand/bootstrap-punchout.svg
Labels: build, v4

#27031 fix(util): use getElementById when it's possible
  js/src/util.js
  js/tests/unit/util.js
Labels: js, v4

#27053 fix(util): use querySelector for ids
  js/src/util.js
  js/tests/unit/util.js
Labels: js, v4

#27043 Update devDependencies and gems.
  Gemfile.lock
  package-lock.json
  package.json
Labels: build, v4

#27056 add babel plugin proposal object rest spread to our dev deps
  .babelrc.js
  package-lock.json
  package.json
Labels: build, js, v4

#27005 Tweak modal transform
  scss/_modal.scss
  scss/_variables.scss
  site/docs/4.1/components/modal.md
Labels: css, v4

#27047 Fix/xss issues on data attributes
  js/affix.js
  js/collapse.js
  js/tests/unit/affix.js
  js/tests/unit/collapse.js
  js/tests/unit/tooltip.js
  js/tooltip.js
Labels: js, v3

#27088 Recommend a plugin to animate custom file input
  site/docs/4.1/components/forms.md
Labels: docs, v4

#26997 Remove grid columns min-height
  scss/mixins/_grid-framework.scss
  scss/mixins/_grid.scss
Labels: css, v4

#27103 Update devDependencies and gems.
  Gemfile.lock
  package-lock.json
  package.json
Labels: build, v4

#27062 update alert documentation without jquery
  site/docs/4.1/components/alerts.md
Labels: docs, js-without-jquery

#27115 Add breadbrumb in docs search results
  site/docs/4.1/assets/scss/_algolia.scss
Labels: docs, v4

#27127 Round corners on modal footer
  scss/_modal.scss
Labels: css, v4

#27092 Floating label input height
  site/docs/4.1/examples/floating-labels/floating-labels.css
Labels: css, examples, v4

#26866 add text-reset to text utilities
  scss/utilities/_text.scss
  site/docs/4.1/utilities/text.md
Labels: css, feature, v4

#27131 Remove _layouts/redirect.html.
  site/_layouts/redirect.html
Labels: docs, v4

#26996 Simpler carousel indicators css
  scss/_carousel.scss
  scss/_variables.scss
Labels: css, v4

#27130 Update devDependencies.
  package-lock.json
  package.json
Labels: build, v4

#27007 Move to BrowserStack
  README.md
  build/sauce_browsers.json
  build/saucelabs-unit-test.js
  js/tests/browsers.js
  js/tests/karma-browserstack.conf.js
  package-lock.json
  package.json
Labels: build, js, v4

#27155 Boom toasted
  js/src/toast.js
  js/tests/unit/toast.js
  js/tests/visual/toast.html
  site/docs/4.1/components/toasts.md
Labels: js, v4

#27137 add information about valid selectors
  js/src/util.js
  js/tests/unit/util.js
  site/docs/4.1/getting-started/javascript.md
Labels: docs, js, v4
