Repository twbs/bootstrap, pull requests merged in 2018-12, with the labels that each got.

#27736 Use `.sr-only` instead of text-hide technique
  scss/_spinners.scss
  site/docs/4.1/components/spinners.md
Labels: css, v4

#27767 Update comment on _reboot.scss
  scss/_reboot.scss
Labels: css, v4

#27773 fix regression about using element for tooltip container option
  js/src/tooltip.js
  js/tests/unit/tooltip.js
  js/tests/visual/tooltip.html
Labels: js, v4

#27771 Add quotes according to the stylelint rule
  scss/_variables.scss
Labels: css, v4

#25150 Allow to use Tooltips/Popovers in Shadow DOM
  js/src/tooltip.js
  js/src/util.js
  js/tests/unit/util.js
  js/tests/visual/tooltip.html
  site/docs/4.1/components/popovers.md
  site/docs/4.1/components/tooltips.md
Labels: js, v4

#27766 Make form grid gutter width configurable
  scss/_forms.scss
  scss/_variables.scss
Labels: css, v4

#27780 Add aria-modal to modals
  js/src/modal.js
  js/tests/unit/modal.js
Labels: accessibility, js

#27788 Make disabled link in card examples non-focusable and add aria-disabled
  site/docs/4.1/components/card.md
Labels: docs, v4

#27782 Replaced fixed 'bolder' font weight value in reboot with variable.
  scss/_reboot.scss
Labels: css, v4

#27764 Update devDependencies.
  _config.yml
  package-lock.json
  package.json
Labels: build, v4

#27790 avoid console call in our unit tests
  js/tests/unit/.eslintrc.json
  js/tests/unit/tooltip.js
  js/tests/unit/util.js
Labels: js, v4

#27787 Remove nonsensical boolean check
  js/src/dropdown.js
Labels: js, v4

#27806 Update devDependencies.
  package-lock.json
  package.json
Labels: build, v4

#27802 Change button checkbox/radios to ignore hidden input fields
  js/src/button.js
  js/tests/unit/button.js
Labels: js, v4

#27792 fix fade animation for toast
  js/src/toast.js
  scss/_toasts.scss
Labels: css, js, v4

#27789 Remove now unnecessary -ms-viewport and -ms-overflow-style directives
  scss/_reboot.scss
  scss/bootstrap-grid.scss
  site/_data/browser-bugs.yml
Labels: browser bug, css, v4

#27824 Docs: add note about the grays being "cool"
  site/docs/4.1/getting-started/theming.md
Labels: css, docs

#27826 SVG accessibility fixes
  build/svgo.yml
  site/_includes/example.html
  site/_includes/icons/bootstrap-stack.svg
  site/_includes/icons/bootstrap.svg
  site/_includes/icons/download.svg
  site/_includes/icons/github.svg
  site/_includes/icons/import.svg
  site/_includes/icons/lightning.svg
  site/_includes/icons/menu.svg
  site/_includes/icons/placeholder.svg
  site/_includes/icons/slack.svg
  site/_includes/icons/twitter.svg
  site/docs/4.1/assets/brand/bootstrap-outline.svg
  site/docs/4.1/assets/brand/bootstrap-punchout.svg
  site/docs/4.1/assets/brand/bootstrap-solid.svg
  site/docs/4.1/components/card.md
  site/docs/4.1/components/carousel.md
  site/docs/4.1/components/media-object.md
  site/docs/4.1/content/figures.md
  site/docs/4.1/content/images.md
  site/docs/4.1/examples/album/index.html
  site/docs/4.1/examples/blog/index.html
  site/docs/4.1/examples/carousel/index.html
  site/docs/4.1/examples/product/index.html
  site/docs/4.1/utilities/sizing.md
Labels: accessibility, docs, examples

#27829 Make use of the package.json `version_short` property more.
  .gitignore
  build/banner.js
  build/generate-sri.js
  js/tests/karma.conf.js
Labels: build, v4

#27827 Remove the unused gcp-key.json.enc file.
  build/gcp-key.json.enc
Labels: v4

#27828 Add integration tests to make sure Bootstrap can be bundled properly
  js/tests/integration/bundle.js
  js/tests/integration/index.html
  js/tests/integration/rollup.bundle.js
  package-lock.json
  package.json
Labels: js, v4

#27797 Custom control gutter fix
  scss/_custom-forms.scss
  scss/_variables.scss
Labels: css, v4

#27837 Fix custom control gutter on switch
  scss/_custom-forms.scss
Labels: css, v4

#27841 Add missing $gutter parameter (with default value) to grid mixins.
  scss/mixins/_grid.scss
Labels: css, v4

#27768 Remove redundant brackets
  scss/_alert.scss
  scss/_card.scss
  scss/_carousel.scss
  scss/_custom-forms.scss
  scss/_images.scss
  scss/_input-group.scss
  scss/_popover.scss
  scss/_tables.scss
  scss/_variables.scss
  scss/mixins/_grid-framework.scss
  scss/mixins/_grid.scss
Labels: css, v4

#27818 Remove now unnecessary shrink-to-fit viewport directive
  js/tests/index.html
  js/tests/visual/alert.html
  js/tests/visual/button.html
  js/tests/visual/carousel.html
  js/tests/visual/collapse.html
  js/tests/visual/dropdown.html
  js/tests/visual/modal.html
  js/tests/visual/popover.html
  js/tests/visual/scrollspy.html
  js/tests/visual/tab.html
  js/tests/visual/toast.html
  js/tests/visual/tooltip.html
  site/_includes/header.html
  site/_layouts/examples.html
  site/docs/4.1/getting-started/introduction.md
Labels: css

#27842 Link to v3.4 docs
  site/_includes/docs-navbar.html
Labels: docs, v4

#27852 Dist for latest changes
  dist/css/bootstrap-grid.css
  dist/css/bootstrap-grid.css.map
  dist/css/bootstrap-grid.min.css
  dist/css/bootstrap-grid.min.css.map
  dist/css/bootstrap-reboot.css
  dist/css/bootstrap-reboot.css.map
  dist/css/bootstrap-reboot.min.css
  dist/css/bootstrap-reboot.min.css.map
  dist/css/bootstrap.css
  dist/css/bootstrap.css.map
  dist/css/bootstrap.min.css
  dist/css/bootstrap.min.css.map
  dist/js/bootstrap.bundle.js
  dist/js/bootstrap.bundle.js.map
  dist/js/bootstrap.bundle.min.js
  dist/js/bootstrap.bundle.min.js.map
  dist/js/bootstrap.js
  dist/js/bootstrap.js.map
  dist/js/bootstrap.min.js
  dist/js/bootstrap.min.js.map
  js/dist/button.js
  js/dist/button.js.map
  js/dist/dropdown.js
  js/dist/dropdown.js.map
  js/dist/modal.js
  js/dist/modal.js.map
  js/dist/toast.js
  js/dist/toast.js.map
  js/dist/tooltip.js
  js/dist/tooltip.js.map
  js/dist/util.js
  js/dist/util.js.map
  site/docs/4.1/assets/css/docs.min.css.map
  site/docs/4.1/assets/js/docs.min.js
Labels: v4

#27848 Use theme-color function for colors
  scss/_variables.scss
Labels: css, v4

#27776 Update grid doc for consistent use of container wrapper.
  site/docs/4.1/layout/grid.md
Labels: docs, v4

#27855 Revert "Remove now unnecessary shrink-to-fit viewport directive"
  js/tests/index.html
  js/tests/visual/alert.html
  js/tests/visual/button.html
  js/tests/visual/carousel.html
  js/tests/visual/collapse.html
  js/tests/visual/dropdown.html
  js/tests/visual/modal.html
  js/tests/visual/popover.html
  js/tests/visual/scrollspy.html
  js/tests/visual/tab.html
  js/tests/visual/toast.html
  js/tests/visual/tooltip.html
  site/_includes/header.html
  site/_layouts/examples.html
  site/docs/4.1/getting-started/introduction.md
Labels: v4

#27856 Support nuget contentFiles, used for some project types
  nuget/bootstrap.less.nuspec
  nuget/bootstrap.nuspec
Labels: v3

#27860 List v3.4.0 in versions page.
  site/_data/docs-versions.yml
Labels: docs, v4

#27849 Mention min-height issue in IE10/11 for flex containers
  site/docs/4.1/layout/grid.md
Labels: docs, v4

#27853 List out what's supported in validation styles
  site/docs/4.1/components/forms.md
Labels: docs, v4

#27870 Prevent checks from shrinking in inline forms
  scss/_forms.scss
Labels: css, v4

#27750 Apply arrow styles to direct descendants of bootstrap popover classes
  scss/_popover.scss
Labels: css, v4

#27136 Themed link focus state
  scss/_badge.scss
  scss/_variables.scss
  scss/mixins/_badge.scss
Labels: css, v4

#27883 Use border-radius() mixin for toast
  scss/_toasts.scss
Labels: css, v4

#27875 Sync `$table-border-color` with `$border-color`
  scss/_variables.scss
Labels: css, v4

#27874 Sync modal header & footer border colors with $border-color
  scss/_variables.scss
Labels: css, v4

#27880 Prevent unnecessary CSS output for emphasized links
  scss/mixins/_text-emphasis.scss
Labels: css, v4

#27857 Add variable for dropdown-divider-margin-y
  package.json
  scss/_dropdown.scss
  scss/_variables.scss
Labels: css, v4

#27854 Update devDependencies and gems.
  Gemfile.lock
  package-lock.json
  package.json
Labels: build, v4

#27894 Update nuspec and build script
  nuget/MyGet.ps1
  nuget/bootstrap.nuspec
  nuget/bootstrap.sass.nuspec
Labels: meta, v4

#27902 Add two new meta tags for Algolia
  site/_includes/header.html
Labels: docs

#27897 Remove obsolete redirects in examples.
  site/docs/4.2/examples/index.html
Labels: docs, v4

#27905 bootstrap-stack.svg: remove unneeded space.
  site/_includes/icons/bootstrap-stack.svg
Labels: docs, v4

#27908 Fix broken link in nav version dropdown.
  docs/_includes/nav/main.html
Labels: docs, v3

#27900 Blacklist border-radius property (use mixin instead)
  .stylelintrc
  scss/_card.scss
  scss/_custom-forms.scss
  scss/_forms.scss
  scss/_reboot.scss
  scss/_spinners.scss
  scss/mixins/_border-radius.scss
  scss/mixins/_buttons.scss
  scss/utilities/_borders.scss
  site/docs/4.2/assets/scss/_ads.scss
  site/docs/4.2/assets/scss/_brand.scss
  site/docs/4.2/assets/scss/_callouts.scss
  site/docs/4.2/assets/scss/_clipboard-js.scss
  site/docs/4.2/assets/scss/_component-examples.scss
Labels: css, v4

#27901 Simplify card group css
  scss/_card.scss
Labels: css, v4

#27910 Fix 4:3 embed
  scss/_variables.scss
  site/docs/4.2/utilities/embed.md
Labels: css, v4

#27898 versions: sort from newer to older.
  site/docs/versions.html
Labels: docs, v4

#27912 getSelectorFromElement return null on bad selectors
  js/src/util.js
  js/tests/unit/modal.js
  js/tests/unit/util.js
Labels: js, v4

#27906 Add horizontal card example
  site/docs/4.2/components/card.md
Labels: docs, v4

#27914 Remove unused files.
  2.0.0/assets/js/README.md
  2.0.1/assets/js/README.md
  2.0.2/assets/js/README.md
  2.0.3/assets/js/README.md
  2.0.4/assets/js/README.md
  2.1.0/assets/js/README.md
  2.1.1/assets/js/README.md
  2.2.0/assets/js/README.md
  2.2.1/assets/js/README.md
  2.2.2/assets/js/README.md
  2.3.0/assets/js/README.md
  2.3.0/build/index.js
  2.3.0/build/package.json
  2.3.0/templates/layout.mustache
  2.3.0/templates/pages/base-css.mustache
  2.3.0/templates/pages/components.mustache
  2.3.0/templates/pages/customize.mustache
  2.3.0/templates/pages/extend.mustache
  2.3.0/templates/pages/getting-started.mustache
  2.3.0/templates/pages/index.mustache
  2.3.0/templates/pages/javascript.mustache
  2.3.0/templates/pages/scaffolding.mustache
  2.3.1/assets/js/README.md
  2.3.2/assets/js/README.md
Labels: docs

#27918 stretched-link.md: fix typo
  site/docs/4.2/utilities/stretched-link.md
Labels: docs, v4

#27931 toasts: mention that positioning is manual.
  site/docs/4.2/components/toasts.md
Labels: docs, v4

#27935 Fix icon color
  scss/_variables.scss
Labels: css, v4

#27937 reboot: Fix comment
  scss/_reboot.scss
Labels: css, v4

#27941 Match input font size for .input-group-text
  scss/_input-group.scss
Labels: css, v4

#27929 Fix custom select font sizes
  scss/_custom-forms.scss
  scss/_variables.scss
Labels: css, v4

#27917 Configurable display utility classes
  scss/_variables.scss
  scss/utilities/_display.scss
  site/docs/4.2/utilities/display.md
Labels: css, v4

#27948 Remove wrapping paragraph in readme
  README.md
Labels: meta, v4

#27953 Add a few redirects.
  Gemfile
  Gemfile.lock
  docs/css.html
  docs/customize.html
  docs/javascript.html
Labels: v3

#27952 Add a few more redirects.
  site/docs/4.2/about/overview.md
  site/docs/4.2/browser-bugs.md
  site/docs/4.2/components/buttons.md
  site/docs/4.2/examples/index.html
  site/docs/4.2/extend/index.md
  site/docs/4.2/getting-started/introduction.md
  site/docs/4.2/migration.md
Labels: docs, v4

#27956 More redirects fixes.
  2.0.0/less.html
  2.0.1/less.html
  2.0.2/less.html
  2.0.3/less.html
  2.0.4/less.html
  2.1.0/extend.html
  2.1.1/extend.html
  2.2.0/extend.html
  2.2.1/extend.html
  2.2.2/extend.html
  2.3.0/extend.html
  2.3.1/extend.html
  2.3.2/extend.html
  docs/3.3/components/index.html
  docs/3.3/css/index.html
  docs/3.3/getting-started/index.html
  docs/4.0/getting-started/accessibility/index.html
  docs/4.0/getting-started/introduction/index.html
  docs/4.1/getting-started/introduction/index.html
Labels: docs
