Repository twbs/bootstrap, pull requests merged in 2019-03, with the labels that each got.

#28391 Update devDependencies.
  package-lock.json
  package.json
Labels: build, v5

#28401 Hyphenate server-side
  scss/_forms.scss
  site/docs/4.3/components/forms.md
Labels: docs, v5

#28400 Disable ascending check if the previous unit was a percentual value
  scss/_functions.scss
Labels: backport-to-v4, css, v4, v5

#28405 Update RFS to v8.0.2
  scss/vendor/_rfs.scss
Labels: rfs, v5

#28426 Add <ol> to nav's comment
  scss/_nav.scss
Labels: backport-to-v4, css, v4, v5

#28459 v5: Drop deprecated img-retina mixin
  scss/mixins/_image.scss
Labels: css, v5

#28460 v5: Drop deprecated size mixin
  scss/_mixins.scss
  scss/mixins/_size.scss
Labels: css, v5

#28462 v5: Don't automatically adjust all hr elements in alert variants
  scss/mixins/_alert.scss
Labels: css, v5

#28437 Remove indiscriminate outline suppression for tabindex="-1" elements
  scss/_reboot.scss
Labels: accessibility, backport-to-v4, css, v4, v5

#28406 Remove redundant placeholders in forms docs
  site/docs/4.3/components/forms.md
Labels: backport-to-v4, docs, v4, v5

#28384 Don't run Google Analytics locally.
  site/layouts/partials/analytics.html
Labels: docs

#28488 Escape browserslist
  site/content/docs/4.3/getting-started/browsers-devices.md
Labels: docs, v5

#28489 Revert "Don't run Google Analytics locally. (#28384)
  site/layouts/partials/analytics.html
Labels: docs, v5

#28493 Update .gitignore
  .gitignore
Labels: meta, v5

#28458 v5: Update badges
  scss/_badge.scss
  scss/_mixins.scss
  scss/_variables.scss
  scss/mixins/_badge.scss
  site/content/docs/4.3/components/badge.md
Labels: css, v5

#28461 v5: Drop remaining deprecated mixins
  scss/_mixins.scss
  scss/mixins/_float.scss
  scss/mixins/_text-hide.scss
  scss/mixins/_visibility.scss
  scss/utilities/_text.scss
  site/content/docs/4.3/utilities/float.md
  site/content/docs/4.3/utilities/image-replacement.md
  site/content/docs/4.3/utilities/visibility.md
  site/data/nav.yml
Labels: css, v5

#28457 Remove hover states on background utilities
  scss/mixins/_background-variant.scss
  scss/utilities/_background.scss
  site/content/docs/4.3/utilities/colors.md
Labels: css, v5

#28519 Update .gitignore
  .gitignore
Labels: meta

#28275 Workaround for MS Edge does not update disabled control's style
  scss/_custom-forms.scss
  scss/_forms.scss
Labels: backport-to-v4, css, v4, v5

#28491 GA: anonymize IPs
  site/layouts/partials/analytics.html
Labels: backport-to-v4, docs, v4, v5

#28525 Fix `css-prefix-docs` script to be more restrictive.
  package.json
Labels: docs, v5

#28530 Fix prefers-reduced-motion for animated progress bars
  scss/_progress.scss
Labels: accessibility, backport-to-v4, css, v5

#28538 Update devDependencies.
  package-lock.json
  package.json
Labels: build, v5

#28539 Minor npm script tweaks
  package.json
Labels: build, v5

#28557 Remove http from search
  site/static/docs/4.3/assets/js/src/search.js
Labels: backport-to-v4, docs, js, v3, v4, v5

#28552 Add a `netlify` npm script.
  package.json
Labels: build

#28558 reset carousel touch delta x to prevent click transformed in swipe
  js/src/carousel.js
  js/tests/unit/carousel.js
Labels: backport-to-v4, js, v4, v5

#28567 Remove scss variable defined twice
  scss/_variables.scss
Labels: backport-to-v4, v4, v5
