Repository twbs/bootstrap, pull requests merged in 2019-12, with the labels that each got.

#29782 Improve wrapping and hit area of accordion example titles
  site/content/docs/4.3/components/collapse.md
Labels: backport-to-v4, docs, v4, v5

#29799 Remove the now unused docs-search.html partial
  site/layouts/partials/docs-search.html
Labels: docs, v5

#29740 Use pseudo-class too for disabled check/radio
  scss/forms/_form-check.scss
  scss/forms/_form-file.scss
Labels: css, no-backport-to-v4, v5

#29744 Add font style normal
  scss/_utilities.scss
  site/content/docs/4.3/utilities/text.md
Labels: css, feature, no-backport-to-v4, v5

#29792 Update states
  site/content/docs/4.3/forms/checks.md
Labels: css, no-backport-to-v4, v5

#29449 remove .form-group leftovers
  scss/forms/_layout.scss
  site/assets/scss/_component-examples.scss
Labels: css, no-backport-to-v4, v5

#29832 Typo fix
  site/content/docs/4.3/utilities/api.md
Labels: docs, no-backport-to-v4, v5

#29847 CI: update to `actions/checkout@v2`
  .github/workflows/test.yml
Labels: backport-to-v4, v4, v5

#29765 Actions: add npm cache
  .github/workflows/test.yml
Labels: build, v4, v5

#29813 Adjust card spacing variables
  scss/_card.scss
  scss/_variables.scss
Labels: css, no-backport-to-v4, v5

#29747 Add v4.4.1 in versions
  site/data/docs-versions.yml
  site/layouts/partials/docs-versions.html
Labels: docs, no-backport-to-v4, v5

#29829 Regenerate package-lock.json.
  package-lock.json
Labels: dependencies, v5

#29871 Fix broken team link on icons page
  site/content/docs/4.3/extend/icons.md
Labels: backport-to-v4, docs, v4, v5

#29886 Fix checkout page
  site/content/docs/4.3/examples/checkout/index.html
Labels: docs, examples, v5

#29863 Update test.yml
  .github/workflows/test.yml
Labels: backport-to-v4, v4, v5

#29820 Documentation fix: move width after `make-container()` mixin
  site/content/docs/4.3/layout/grid.md
Labels: backport-to-v4, css, docs, v4, v5

#29909 Fix offcanvas example.
  site/content/docs/4.3/examples/offcanvas/index.html
Labels: docs, v5

#29864 Navbar optimizations
  scss/_navbar.scss
  scss/_variables.scss
Labels: css, no-backport-to-v4, v5

#29851 Switch to @rollup/plugin-node-resolve
  build/rollup.config.js
  js/tests/integration/rollup.bundle.js
  js/tests/karma.conf.js
  package-lock.json
  package.json
Labels: build, js, no-backport-to-v4, v5

#29907 Switch to @rollup/plugin-commonjs
  js/tests/integration/rollup.bundle-modularity.js
  package-lock.json
  package.json
Labels: build, dependencies, no-backport-to-v4, v5

#29883 Remove redundant top margin
  scss/forms/_input-group.scss
Labels: css, no-backport-to-v4, v5

#29888 Cleanup algolia theming
  site/assets/scss/_algolia.scss
  site/layouts/partials/stylesheet.html
Labels: css, no-backport-to-v4, v5

#29819 Allow percentages in container widths
  scss/_grid.scss
Labels: backport-to-v4, css, v4, v5

#29917 Regenerate package-lock.json
  package-lock.json
Labels: dependencies, v5

#29857 Escape brackets
  scss/_functions.scss
  scss/_variables.scss
Labels: backport-to-v4, css, v4, v5

#29920 Add lockfile-lint
  package-lock.json
  package.json
Labels: build, v5

#29296 Simplify disabled styles
  scss/_buttons.scss
  scss/_close.scss
  scss/_pagination.scss
  scss/forms/_form-range.scss
  scss/mixins/_buttons.scss
  site/content/docs/4.3/components/buttons.md
  site/content/docs/4.3/components/close-button.md
  site/content/docs/4.3/migration.md
Labels: css, no-backport-to-v4, v5

#29931 Switch sponsors and backers
  README.md
Labels: backport-to-v4, meta, v4, v5

#29793 Drop `.text-justify` class
  scss/_utilities.scss
  site/content/docs/4.3/migration.md
  site/content/docs/4.3/utilities/text.md
Labels: css, no-backport-to-v4, v5
