Repository twbs/bootstrap, pull requests merged in 2019-07, with the labels that each got.

#28980 Remove redundant border radius on pagination
  scss/_pagination.scss
Labels: css, no-backport-to-v4, v5

#28983 Add ARIA search landmark to documentation.
  site/layouts/partials/docs-sidebar.html
Labels: accessibility, backport-to-v4, docs, v4, v5

#28993 Add `prefers-reduced-motion` callout to toast documentation
  site/content/docs/4.3/components/toasts.md
Labels: backport-to-v4, docs, v4, v5

#29002 Move bundlesize config to a separate file.
  bundlesize.config.json
  package-lock.json
  package.json
Labels: backport-to-v4, build, v4, v5

#29008 Fix typo.
  site/content/docs/4.3/components/modal.md
  site/content/docs/4.3/components/popovers.md
Labels: docs, v5

#29001 separate file for our polyfills to have lighter plugins
  build/build-plugins.js
Labels: js, no-backport-to-v4, v5

#28988 Remove attribute selectors from buttons
  scss/_buttons.scss
Labels: css, no-backport-to-v4, v5

#28972 Drop support for .form-control-plaintext inside .input-group
  scss/_input-group.scss
  site/content/docs/4.3/migration.md
Labels: css, v5

#29025 Update collapse.md
  site/content/docs/4.3/components/collapse.md
Labels: backport-to-v4, docs, v4, v5

#29020 Drop breakpoint CSS custom properties
  scss/_root.scss
  site/content/docs/4.3/getting-started/theming.md
Labels: css, no-backport-to-v4, v5

#29032 Added link to creative commons license
  README.md
Labels: backport-to-v4, meta, v4, v5

#29022 v5: Fix disabled styling on .form-file
  scss/forms/_form-file.scss
  site/content/docs/4.3/forms/file.md
Labels: css, no-backport-to-v4, v5

#29037 Fix dropdown unit test
  js/tests/unit/dropdown.js
Labels: backport-to-v4, js, v4, v5

#29035 #29034 Fix broken links
  .github/CONTRIBUTING.md
Labels: backport-to-v4, meta, v4, v5

#29023 v5: Reuse box-shadow variables
  scss/_code.scss
  scss/_variables.scss
Labels: css, no-backport-to-v4, v5

#29044 Revert incorrect change
  scss/_code.scss
Labels: css, no-backport-to-v4, v5

#28989 Remove text align from body
  scss/_reboot.scss
  scss/_variables.scss
  site/content/docs/4.3/content/reboot.md
Labels: css, no-backport-to-v4, v5

#29003 Move the linkinator test in `npm t`.
  .travis.yml
  package.json
Labels: build, no-backport-to-v4, v5

#29051 Updated sentence
  site/docs/4.3/components/forms.md
Labels: docs, v4

#28328 [css] Fix breaking layout breaking error in code block
  scss/_code.scss
Labels: backport-to-v4, css, v5

#29061 Fix bootstrap-themes.png.
  site/static/docs/4.3/assets/img/bootstrap-themes.png
Labels: backport-to-v4, docs, v4, v5

#29009 Update devDependencies.
  build/build-plugins.js
  build/rollup.config.js
  js/tests/unit/dom/manipulator.js
  package-lock.json
  package.json
Labels: build, v5

#29064 Fix the newly added inline SVGs.
  scss/_variables.scss
Labels: css, no-backport-to-v4, v5

#29067 Fix docs search.
  site/layouts/partials/scripts.html
  site/layouts/partials/stylesheet.html
Labels: docs, v5

#29036 Use :focus-within for .form-file focus state
  scss/forms/_form-file.scss
Labels: css, no-backport-to-v4, v5

#29039 Make it possible to change default alignment & allow to inherit alignment from table
  scss/_tables.scss
  scss/_variables.scss
  site/content/docs/4.3/content/tables.md
Labels: css, v5

#29079 Remove iconic and add feather icons.
  site/content/docs/4.3/extend/icons.md
Labels: backport-to-v4, docs, v4, v5

#29077 Use escape-svg() function
  scss/_breadcrumb.scss
  scss/_carousel.scss
  scss/_functions.scss
  scss/_navbar.scss
  scss/_variables.scss
  scss/forms/_form-check.scss
  scss/forms/_form-select.scss
  scss/mixins/_forms.scss
  site/content/docs/4.3/getting-started/theming.md
Labels: css, no-backport-to-v4, v5

#29082 Fix Typos across Bootstrap repository
  js/tests/unit/collapse.js
  site/content/docs/4.3/getting-started/webpack.md
  site/content/docs/4.3/utilities/flex.md
Labels: v5

#29075 Optimize the embedded SVGs.
  scss/_variables.scss
Labels: css, v5

#29095 v4/v5: Add responsive containers
  scss/_grid.scss
  scss/_navbar.scss
  site/content/docs/4.3/examples/grid/grid.css
  site/content/docs/4.3/examples/grid/index.html
  site/content/docs/4.3/layout/overview.md
  site/static/docs/4.3/assets/scss/_component-examples.scss
Labels: backport-to-v4, css, feature, v4, v5

#29089 Update svgo.yml.
  build/svgo.yml
Labels: backport-to-v4, build, v4, v5

#29102 Simplify `css-compile-main` script.
  package.json
Labels: backport-to-v4, build, v4, v5

#28986 Simplify code for 'cover' example using utility classes
  site/content/docs/4.3/examples/cover/cover.css
  site/content/docs/4.3/examples/cover/index.html
Labels: docs, examples, v5

#29087 Move Icons in data.
  site/content/docs/4.3/extend/icons.md
  site/data/icons.yml
Labels: docs, v5

#29106 Extend `.container-fluid` instead of duplicating complete rules
  scss/_grid.scss
Labels: backport-to-v4, css, v5

#29109 Downgrade karma-browserstack-launcher to v1.4.0.
  package-lock.json
  package.json
Labels: build, v5

#29101 Replace http-server with zeit/serve.
  package-lock.json
  package.json
Labels: build, v5

#29099 Update devDependencies.
  package-lock.json
  package.json
Labels: build, v5

#29111 fix docs bad use of private methods to change title of our tooltips
  site/static/docs/4.3/assets/js/src/application.js
Labels: docs, v5

#29113 Force reflow for toast fade-in animation
  js/src/toast/toast.js
Labels: backport-to-v4, js, v4, v5

#29112 Don't add the crossorigin attribute unless we pass integrity.
  site/layouts/_default/examples.html
Labels: docs, v5

#29116 add polyfill.js in visual tests
  js/tests/visual/alert.html
  js/tests/visual/button.html
  js/tests/visual/carousel.html
  js/tests/visual/collapse.html
  js/tests/visual/dropdown.html
  js/tests/visual/modal.html
  js/tests/visual/popover.html
  js/tests/visual/scrollspy.html
  js/tests/visual/tab.html
  js/tests/visual/toast.html
  js/tests/visual/tooltip.html
Labels: js, v5

#29119 Add `--continue-on-error` in the `css-lint` script.
  package.json
Labels: backport-to-v4, build, v4, v5

#29115 fix arrow popover
  js/src/popover/popover.js
Labels: js, v5

#29121 Remove https://glyph.smarticons.co/ from list of suggestions
  site/data/icons.yml
Labels: backport-to-v4, docs, v4, v5

#29114 use get selector from element only when needed
  js/src/alert/alert.js
  js/src/carousel/carousel.js
  js/src/collapse/collapse.js
  js/src/dropdown/dropdown.js
  js/src/modal/modal.js
  js/src/tab/tab.js
  js/src/util/index.js
  js/src/util/index.spec.js
Labels: js, v5

#29083 Drop `color()`, `theme-color()` & `gray()` functions
  scss/_alert.scss
  scss/_functions.scss
  scss/_list-group.scss
  scss/_tables.scss
  scss/_variables.scss
  site/content/docs/4.3/getting-started/theming.md
  site/content/docs/4.3/migration.md
Labels: css, no-backport-to-v4, v5

#29134 Update docs vendor libs
  site/static/docs/4.3/assets/js/vendor/anchor.min.js
  site/static/docs/4.3/assets/js/vendor/bs-custom-file-input.min.js
Labels: backport-to-v4, docs, js, v4, v5

#29143 config.yml: add OpenCollective.
  config.yml
  site/layouts/partials/docs-navbar.html
Labels: docs, v5

#29145 Remove `$enable-hover-media-query`
  site/content/docs/4.3/getting-started/theming.md
Labels: docs, no-backport-to-v4, v5

#29147 Copy fix grid scss file
  scss/_grid.scss
Labels: backport-to-v4, css, v4, v5

#29155 allow dynamic modal body for scrollable modals
  js/src/modal/modal.js
  js/src/modal/modal.spec.js
Labels: backport-to-v4, js, v4, v5

#29156 Update scrollspy.md
  site/content/docs/4.3/components/scrollspy.md
Labels: backport-to-v4, docs, v4, v5

#29149 Change property from background to background-image
  scss/_carousel.scss
Labels: backport-to-v4, css, v4, v5

#29141 Update devDependencies.
  package-lock.json
  package.json
Labels: build, v5

#29140 Fix reboot for placeholder links
  scss/_reboot.scss
Labels: backport-to-v4, css, v4, v5

#29160 Popovers - fix grammatically incorrect sentence
  site/content/docs/4.3/components/popovers.md
Labels: backport-to-v4, docs, v4, v5

#29162 Fix reboot for placeholder links
  scss/_reboot.scss
Labels: css, v4

#29164 Fix reboot for placeholder links
  scss/_reboot.scss
Labels: css, v4

#29165 Remove comment about tabindex
  scss/_reboot.scss
Labels: css, no-backport-to-v4, v5

#29168 Fix minor typo
  site/content/docs/4.3/extend/approach.md
Labels: backport-to-v4, docs, v4, v5

#29173 carousel: fix transition properties order.
  scss/_carousel.scss
Labels: backport-to-v4, css, v4, v5

#29172 Add missing role="document"
  site/content/docs/4.3/components/modal.md
Labels: accessibility, backport-to-v4, docs

#29178 Fix typos.
  js/src/alert/alert.spec.js
  js/src/modal/modal.spec.js
  js/src/tab/tab.spec.js
Labels: v5
