Repository twbs/bootstrap, pull requests merged in 2019-02, with the labels that each got.

#28163 Change browserstack logo size
  README.md
Labels: docs

#28140 Fix negative margin example
  site/docs/4.2/utilities/spacing.md
Labels: docs, v4

#28127 Fix dropdown radius if `$dropdown-padding-y` is not 0
  scss/_dropdown.scss
Labels: css, v4

#28173 examples: remove JS from blog and sticky footer.
  site/docs/4.2/examples/blog/index.html
  site/docs/4.2/examples/sticky-footer/index.html
Labels: docs, examples, v4

#28138 Move dropdown offset function logic into private function
  js/src/dropdown.js
  js/tests/unit/dropdown.js
  site/docs/4.2/components/dropdowns.md
Labels: js, v4

#28183 fix tabs, apply show class only when fade class is present
  js/src/tab.js
  js/tests/unit/tab.js
Labels: js, v4

#28184 Silence mkdir.
  package.json
Labels: build

#28063 Fix text break in Firefox
  scss/utilities/_text.scss
  site/docs/4.2/utilities/text.md
Labels: css, v4

#28186 allow to override default toast options
  js/src/toast.js
  js/tests/unit/toast.js
Labels: js, v4

#28187 remove useless modal test, already tested in util.js tests
  js/tests/unit/modal.js
Labels: js, v4

#28169 Add text-decoration to .btn-link.
  scss/_buttons.scss
Labels: css, v4

#28193 Fix `.nav-justified` example
  site/docs/4.2/components/navs.md
Labels: css, v4

#28067 Deprecate size mixin
  scss/mixins/_size.scss
Labels: css, v4

#28100 Create `border-top-left-radius` and `border-bottom-right-radius` mixins
  scss/mixins/_border-radius.scss
Labels: css, v4

#24986 Add map-name param to _assert-starts-at-zero
  scss/_functions.scss
  scss/_variables.scss
Labels: css, v4

#28200 Optimize and normalize SVGs.
  site/_includes/icons/bootstrap-stack.svg
  site/_includes/icons/bootstrap.svg
  site/_includes/icons/download.svg
  site/_includes/icons/github.svg
  site/_includes/icons/import.svg
  site/_includes/icons/lightning.svg
  site/_includes/icons/menu.svg
  site/_includes/icons/opencollective.svg
  site/_includes/icons/placeholder.svg
  site/_includes/icons/slack.svg
  site/_includes/icons/twitter.svg
  site/docs/4.2/examples/album/index.html
  site/docs/4.2/examples/blog/index.html
  site/docs/4.2/examples/product/index.html
Labels: docs, v4

#28199 Redirect v3.3 customizer page to v3.4.
  docs/3.3/customize/index.html
  docs/3.3/sitemap.xml
Labels: docs, v3

#28066 Deprecate invisible() mixin
  scss/mixins/_visibility.scss
  scss/utilities/_visibility.scss
  site/docs/4.2/utilities/visibility.md
Labels: css, v4

#28072 Deprecate img-retina mixin
  scss/mixins/_image.scss
Labels: css, v4

#28068 Optional btn & input font family
  scss/_buttons.scss
  scss/_custom-forms.scss
  scss/_forms.scss
  scss/_variables.scss
Labels: css, v4

#28153 Remove -ms-autohiding-scrollbar for prevent overlap the table content
  scss/_tables.scss
Labels: css, v4

#23816 RFS (Responsive font size) implementation
  scss/_badge.scss
  scss/_close.scss
  scss/_code.scss
  scss/_custom-forms.scss
  scss/_dropdown.scss
  scss/_forms.scss
  scss/_images.scss
  scss/_input-group.scss
  scss/_mixins.scss
  scss/_navbar.scss
  scss/_popover.scss
  scss/_progress.scss
  scss/_reboot.scss
  scss/_toasts.scss
  scss/_tooltip.scss
  scss/_type.scss
  scss/_variables.scss
  scss/mixins/_buttons.scss
  scss/mixins/_forms.scss
  scss/mixins/_pagination.scss
  scss/vendor/_rfs.scss
  site/docs/4.2/assets/scss/_ads.scss
  site/docs/4.2/assets/scss/_algolia.scss
  site/docs/4.2/assets/scss/_brand.scss
  site/docs/4.2/assets/scss/_clipboard-js.scss
  site/docs/4.2/assets/scss/_component-examples.scss
  site/docs/4.2/assets/scss/_content.scss
  site/docs/4.2/assets/scss/_footer.scss
  site/docs/4.2/assets/scss/_masthead.scss
  site/docs/4.2/assets/scss/_nav.scss
  site/docs/4.2/assets/scss/_placeholder-img.scss
  site/docs/4.2/assets/scss/_sidebar.scss
  site/docs/4.2/assets/scss/_variables.scss
  site/docs/4.2/content/typography.md
  site/docs/4.2/getting-started/theming.md
Labels: css, feature, v4

#28175 Update devDependencies.
  _config.yml
  package-lock.json
  package.json
Labels: build, v4

#28203 Offcanvas example: transition the transform
  site/docs/4.2/examples/offcanvas/offcanvas.css
Labels: examples

#28216 placeholder.svg: Partially revert the changes from c0e42cb.
  site/_includes/icons/placeholder.svg
Labels: docs, v4

#28209 Revert "Silence mkdir. (#28184)"
  package.json
Labels: build, v4

#28218 Prevent text selection in placeholder images
  site/_layouts/examples.html
  site/docs/4.2/assets/scss/_placeholder-img.scss
Labels: docs, v4

#28221 migration.md: use https.
  site/docs/4.2/migration.md
Labels: docs, v4

#28220 docs: remove `-ms-overflow-style: -ms-autohiding-scrollbar`
  site/docs/4.2/assets/scss/_content.scss
Labels: css, docs, v4

#28225 docs snippets: a few more minor tweaks
  site/docs/4.2/components/forms.md
  site/docs/4.2/getting-started/javascript.md
Labels: docs, v4

#28105 Use consistent arrow class
  js/src/popover.js
  js/src/tooltip.js
  js/tests/unit/popover.js
  scss/_popover.scss
  scss/_tooltip.scss
  site/docs/4.2/components/popovers.md
  site/docs/4.2/components/tooltips.md
Labels: css, js, v5

#28125 Change breadcrumb item padding variable name
  scss/_breadcrumb.scss
  scss/_variables.scss
Labels: css, v5

#28158 minor jQuery.hasclass removal
  js/src/modal.js
  js/tests/unit/modal.js
Labels: js-without-jquery

#28232 Restore `.bd-lead` font size.
  site/docs/4.3/assets/scss/_content.scss
Labels: v4

#28245 Remove warning if RFS is included more than once
  scss/vendor/_rfs.scss
Labels: css, rfs

#28249 Remove unneeded glob.
  package.json
Labels: meta

#28255 Update docs and meta for 3.4.1.
  README.md
  site/_data/docs-versions.yml
  site/_includes/docs-navbar.html
Labels: docs

#28270 Remove the customize redirect.
  Gemfile
  Gemfile.lock
  _config.yml
  docs/customize.html
Labels: docs, v3

#28272 Replace `v4-dev` with `master` after the branch change.
  README.md
  build/ship.sh
Labels: meta, v5

#28273 Replace 4.3.0 with 4.3.1 in nuget files.
  nuget/bootstrap.nuspec
  nuget/bootstrap.sass.nuspec
Labels: backport-to-v4, meta, v4, v5

#28280 README.md: use shields.io for the OC badges.
  README.md
Labels: backport-to-v4, meta, v4, v5

#28271 Update devDependencies.
  package-lock.json
  package.json
Labels: backport-to-v4, build, v4, v5

#28262 Deprecate form-control-focus mixin
  scss/_forms.scss
  scss/mixins/_forms.scss
Labels: backport-to-v4, css, v4

#28287 Replace `master` with `v3-dev` after the branch switch.
  CONTRIBUTING.md
  Gruntfile.js
  ISSUE_TEMPLATE.md
  README.md
  docs/_includes/footer.html
  docs/_includes/getting-started/browser-device-support.html
  docs/_includes/getting-started/grunt.html
  docs/_includes/getting-started/license.html
  docs/_includes/getting-started/whats-included.html
  docs/_includes/js/overview.html
  docs/assets/css/docs.css
  docs/assets/css/ie10-viewport-bug-workaround.css
  docs/assets/js/ie10-viewport-bug-workaround.js
  docs/assets/less/ie10-viewport-bug-workaround.less
  grunt/bs-commonjs-generator.js
  grunt/bs-glyphicons-data-generator.js
  grunt/bs-lessdoc-parser.js
  grunt/bs-raw-files-generator.js
  grunt/change-version.js
  grunt/generate-sri.js
  js/affix.js
  js/alert.js
  js/button.js
  js/carousel.js
  js/collapse.js
  js/dropdown.js
  js/modal.js
  js/popover.js
  js/scrollspy.js
  js/tab.js
  js/tests/README.md
  js/tests/index.html
  js/tooltip.js
  js/transition.js
  less/bootstrap.less
  less/theme.less
  nuget/bootstrap.less.nuspec
  nuget/bootstrap.nuspec
Labels: v3

#28283 Update CONTRIBUTING.md for the current state of things.
  .github/CONTRIBUTING.md
Labels: backport-to-v5, meta, v4, v5

#28292 Update devDependencies.
  package-lock.json
  package.json
Labels: backport-to-v5, build, v4, v5

#28297 Update link to CONTRIBUTING.md in README.md
  README.md
Labels: meta, v5

#28299 Remove incorrect aria-haspopup from dropdown toggles
  js/tests/unit/dropdown.js
  js/tests/visual/dropdown.html
  js/tests/visual/scrollspy.html
  js/tests/visual/tab.html
  site/_includes/docs-navbar.html
  site/docs/4.3/components/button-group.md
  site/docs/4.3/components/dropdowns.md
  site/docs/4.3/components/input-group.md
  site/docs/4.3/components/navbar.md
  site/docs/4.3/components/navs.md
  site/docs/4.3/components/scrollspy.md
  site/docs/4.3/examples/jumbotron/index.html
  site/docs/4.3/examples/navbar-bottom/index.html
  site/docs/4.3/examples/navbars/index.html
  site/docs/4.3/examples/offcanvas/index.html
  site/docs/4.3/examples/starter-template/index.html
Labels: accessibility, v5

#28291 Replace broken-link-checker with linkinator.
  .travis.yml
  package-lock.json
  package.json
Labels: build, v5

#28302 Remove --save option as it isn't required anymore
  site/docs/4.3/getting-started/webpack.md
Labels: docs, v5

#28307 Use `npm-run-all` for the release script.
  package.json
Labels: build, v5

#28305 accessibility - add aria-disabled on all disabled links
  site/docs/4.3/components/navs.md
  site/docs/4.3/examples/carousel/index.html
  site/docs/4.3/examples/jumbotron/index.html
  site/docs/4.3/examples/navbar-bottom/index.html
  site/docs/4.3/examples/navbar-fixed/index.html
  site/docs/4.3/examples/navbars/index.html
Labels: accessibility, backport-to-v4, docs, examples, v5

#27813 Replace uglify-js with terser.
  package-lock.json
  package.json
  site/docs/4.3/getting-started/build-tools.md
Labels: build, js, v5

#28321 Fix indentation
  site/docs/4.3/content/reboot.md
Labels: backport-to-v4, docs, v4, v5

#28338 Add `--continue-on-error` in `npm run lint`
  package.json
Labels: build, v5

#28337 Remove DOMContentLoaded.
  js/tests/visual/carousel.html
  js/tests/visual/modal.html
  js/tests/visual/popover.html
  js/tests/visual/tooltip.html
  site/docs/4.3/assets/js/src/application.js
Labels: docs, js, v5

#28288 Create SECURITY.md
  SECURITY.md
Labels: backport-to-v4, meta, on-hold, v3, v4, v5

#28358 dom/manipulator.js: minor simplification.
  js/src/dom/manipulator.js
Labels: js, v5

#28365 Fix border if only one card
  scss/_card.scss
Labels: css, v4, v5

#28366 tests: add tests for plugins version.
  js/tests/unit/alert.js
  js/tests/unit/button.js
  js/tests/unit/carousel.js
  js/tests/unit/collapse.js
  js/tests/unit/dropdown.js
  js/tests/unit/modal.js
  js/tests/unit/popover.js
  js/tests/unit/scrollspy.js
  js/tests/unit/tab.js
  js/tests/unit/tooltip.js
Labels: js, v5

#28360 docs- add an explicit aria-label on link with svg on sample pages
  site/docs/4.3/examples/blog/index.html
  site/docs/4.3/examples/dashboard/index.html
  site/docs/4.3/examples/product/index.html
Labels: docs, v4, v5

#28361 doc - put secondary navigation in an explicit landmark nav
  site/_includes/docs-sidebar.html
  site/_layouts/docs.html
Labels: docs, v4, v5

#28371 Use .text-danger for IE not supported cell.
  site/docs/4.3/getting-started/browsers-devices.md
Labels: docs, v5

#28314 Remove the now unneeded `shrink-to-fit` directive.
  js/tests/integration/index.html
  js/tests/visual/alert.html
  js/tests/visual/button.html
  js/tests/visual/carousel.html
  js/tests/visual/collapse.html
  js/tests/visual/dropdown.html
  js/tests/visual/modal.html
  js/tests/visual/popover.html
  js/tests/visual/scrollspy.html
  js/tests/visual/tab.html
  js/tests/visual/toast.html
  js/tests/visual/tooltip.html
  site/_includes/header.html
  site/_layouts/examples.html
  site/docs/4.3/getting-started/introduction.md
Labels: docs, v5

#28347 Update devDependencies and gems.
  Gemfile.lock
  package-lock.json
  package.json
Labels: build, v5

#28378 Fix issue template links to the contributing guidelines
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: meta, v5
