Repository twbs/bootstrap, pull requests merged in 2019-05, with the labels that each got.

#28504 Examples: include favicons.
  site/layouts/_default/examples.html
Labels: docs, examples, v5

#28697 Improve progress-bar-stripes animation
  scss/_progress.scss
Labels: css, v5

#28716 Update devDependencies.
  package-lock.json
  package.json
Labels: build, v5

#28690 Remove floats from dropdown
  scss/_dropdown.scss
  scss/_navbar.scss
Labels: css, v5

#28544 Headings font style
  scss/_reboot.scss
  scss/_variables.scss
Labels: css, v5

#28472 [WIP] v5: Prep migration docs page
  site/content/docs/4.3/migration.md
Labels: docs, v5

#28317 [WIP] Bump supported browsers for v5
  .browserslistrc
Labels: build, v5

#28514 More compact color-yiq function
  scss/_functions.scss
Labels: css, v5

#28417 Scrollbar fix
  scss/mixins/_screen-reader.scss
Labels: backport-to-v4, css, v4, v5

#28637 Fix broken link to css-discuss.incutio.com/wiki/Printing_Tables
  scss/_print.scss
Labels: css, v4, v5

#28678 Switch from list to map for responsive embeds
  scss/_variables.scss
  scss/utilities/_embed.scss
  site/content/docs/4.3/utilities/embed.md
Labels: css, no-backport-to-v4, v5

#28554 Configurable container padding
  scss/_variables.scss
  scss/mixins/_grid.scss
Labels: css, v5

#28729 fix progress bar animation, remove forEach not needed currently
  site/static/docs/4.3/assets/js/src/application.js
Labels: docs, js, v5

#28733 Fix incorrect variable for popover border radius
  scss/_popover.scss
  scss/_variables.scss
Labels: backport-to-v4, css, v4, v5

#28738 add icofont to icon options
  site/content/docs/4.3/extend/icons.md
Labels: docs, v5

#28679 Documentation tweaks
  js/tests/integration/index.html
  site/content/docs/4.3/examples/grid/index.html
  site/content/docs/4.3/layout/grid.md
  site/layouts/_default/docs.html
  site/layouts/partials/home/masthead-followup.html
Labels: backport-to-v4, docs, examples, v4, v5

#28265 v5: Drop .media
  scss/_media.scss
  scss/bootstrap.scss
  site/content/docs/4.3/components/media-object.md
  site/content/docs/4.3/layout/overview.md
  site/content/docs/4.3/migration.md
  site/content/docs/4.3/utilities/stretched-link.md
  site/data/nav.yml
Labels: css, v5

#28339 v5: Drop all print styles and classes
  scss/_print.scss
  scss/_variables.scss
  scss/bootstrap.scss
  scss/utilities/_display.scss
  site/content/docs/4.3/components/navbar.md
  site/content/docs/4.3/getting-started/browsers-devices.md
  site/content/docs/4.3/getting-started/theming.md
  site/content/docs/4.3/migration.md
Labels: css, v5

#28750 Consistency modification
  scss/_tables.scss
Labels: backport-to-v4, css, v4, v5

#28749 Remove Base64 for SVGs.
  site/content/docs/4.3/components/breadcrumb.md
  site/content/docs/4.3/components/forms.md
Labels: docs, v5

#28591 Docs unordered lists dropdowns
  site/content/docs/4.3/components/dropdowns.md
  site/content/docs/4.3/components/navbar.md
Labels: docs, v5

#28208 Reset padding of .form-control-plaintext
  scss/_forms.scss
Labels: backport-to-v4, css, v4, v5

#28512 Move close icon to components in docs
  scss/_close.scss
  site/content/docs/4.3/components/close-icon.md
  site/data/nav.yml
Labels: css, v5

#28757 Remove non-existing .custom-file-label::after
  scss/_input-group.scss
Labels: css, v5

#28777 toast should allow prevent default for hide and show events
  js/src/toast.js
  js/tests/unit/toast.js
Labels: backport-to-v4, v4, v5

#28781 Update Yarn package link to link to the Bootstrap package
  site/content/docs/4.3/getting-started/download.md
Labels: backport-to-v4, docs, v4, v5

#28784 Fix z-index according to our z-index rule
  scss/_pagination.scss
Labels: backport-to-v4, css, v4, v5

#28720 `.sr-only` & `.sr-only-focusable` tweaks
  scss/mixins/_screen-reader.scss
  scss/utilities/_screenreaders.scss
  site/content/docs/4.3/getting-started/accessibility.md
  site/content/docs/4.3/migration.md
  site/content/docs/4.3/utilities/screen-readers.md
  site/layouts/partials/skippy.html
Labels: css, no-backport-to-v4, v5

#28445 Utilities/helpers split & utilities API
  package.json
  scss/_functions.scss
  scss/_helpers.scss
  scss/_mixins.scss
  scss/_utilities.scss
  scss/_variables.scss
  scss/bootstrap-grid.scss
  scss/bootstrap.scss
  scss/helpers/_background.scss
  scss/helpers/_clearfix.scss
  scss/helpers/_embed.scss
  scss/helpers/_position.scss
  scss/helpers/_screenreaders.scss
  scss/helpers/_stretched-link.scss
  scss/helpers/_text.scss
  scss/mixins/_grid-framework.scss
  scss/mixins/_utilities.scss
  scss/utilities/_align.scss
  scss/utilities/_api.scss
  scss/utilities/_background.scss
  scss/utilities/_borders.scss
  scss/utilities/_display.scss
  scss/utilities/_flex.scss
  scss/utilities/_float.scss
  scss/utilities/_overflow.scss
  scss/utilities/_shadows.scss
  scss/utilities/_sizing.scss
  scss/utilities/_spacing.scss
  scss/utilities/_text.scss
  site/content/docs/4.3/helpers/clearfix.md
  site/content/docs/4.3/helpers/embed.md
  site/content/docs/4.3/helpers/position.md
  site/content/docs/4.3/helpers/screen-readers.md
  site/content/docs/4.3/helpers/stretched-link.md
  site/content/docs/4.3/helpers/text.md
  site/content/docs/4.3/utilities/api.md
  site/content/docs/4.3/utilities/borders.md
  site/content/docs/4.3/utilities/position.md
  site/content/docs/4.3/utilities/text.md
  site/data/nav.yml
Labels: css, v5

#28817 vnu.jar: Update ignores.
  build/vnu-jar.js
Labels: backport-to-v4, build, v4, v5

#28821 Fix Typo Mistake
  scss/_functions.scss
Labels: backport-to-v4, css, v5

#28814 Fix background position for form-validation
  scss/mixins/_forms.scss
Labels: backport-to-v4, css, v5

#28829 Correct grammar in modal.scss
  scss/_modal.scss
Labels: backport-to-v4, css, v5

#28775 Calc modal header/footer border radius according to the border width
  scss/_modal.scss
  scss/_variables.scss
Labels: backport-to-v4, css, v4, v5

#28785 Clean input group flex basis
  scss/_input-group.scss
Labels: backport-to-v4, css, v4, v5

#28842 Make example description more accurate
  site/content/docs/4.3/utilities/display.md
Labels: backport-to-v4, docs, v4, v5

#28833 Modify `.card-header-tabs .nav-link.active` colors
  scss/_card.scss
Labels: css, v5

#28062 Remove redundant properties from `.embed-responsive`
  scss/helpers/_embed.scss
Labels: css, v5

#28846 Use `npm-run-all` in the `netlify` script.
  package.json
Labels: backport-to-v4, build, v4, v5

#28828 Utility API improvement: use $key/$value instead of nth
  scss/_functions.scss
  scss/mixins/_utilities.scss
Labels: css, v5
