Repository twbs/bootstrap, pull requests merged in 2019-04, with the labels that each got.

#28588 karma.conf.js: switch to `env.CI === true`.
  js/tests/karma.conf.js
Labels: backport-to-v4, js, v5

#28610 _sidebar.scss: change ID to a class and type selector.
  site/static/docs/4.3/assets/scss/_sidebar.scss
Labels: css, docs, v5

#27890 Fix buttons :focus state styles
  scss/mixins/_buttons.scss
Labels: backport-to-v4, css

#28621 Change toast border radius to use $border-radius
  scss/_variables.scss
Labels: css

#28630 Call toast hide() after `delay` time
  js/src/toast.js
Labels: backport-to-v4, js, v5

#28633 Add variable for .custom-control-label's color
  scss/_custom-forms.scss
  scss/_variables.scss
Labels: backport-to-v4, css, v5

#28643 change how bootstrap can be imported in bundlers
  site/content/docs/4.3/getting-started/webpack.md
Labels: docs, js, v5

#28642 remove custom browserlist for our esm build
  build/rollup.config.js
  package.json
Labels: build, js

#28631 Update hugo-bin to v0.43.1 (Hugo 0.55.1).
  package-lock.json
  package.json
  site/layouts/_default/examples.html
  site/layouts/partials/docs-sidebar.html
  site/layouts/partials/header.html
  site/layouts/sitemap.xml
Labels: build, docs, v5

#28656 fix unit tests for chrome mobile
  js/tests/unit/modal.js
  js/tests/unit/scrollspy.js
Labels: backport-to-v4, js, v4, v5

#28654 add esm files in our readme
  README.md
Labels: docs, v5

#28659 update-deps: remove `jquery` exclude.
  package.json
Labels: build, v5

#28657 v5 dist
  dist/css/bootstrap-grid.css.map
  dist/css/bootstrap-reboot.css
  dist/css/bootstrap-reboot.css.map
  dist/css/bootstrap-reboot.min.css
  dist/css/bootstrap-reboot.min.css.map
  dist/css/bootstrap.css
  dist/css/bootstrap.css.map
  dist/css/bootstrap.min.css
  dist/css/bootstrap.min.css.map
  dist/js/bootstrap.bundle.js
  dist/js/bootstrap.bundle.js.map
  dist/js/bootstrap.bundle.min.js
  dist/js/bootstrap.bundle.min.js.map
  dist/js/bootstrap.esm.js
  dist/js/bootstrap.esm.js.map
  dist/js/bootstrap.esm.min.js
  dist/js/bootstrap.esm.min.js.map
  dist/js/bootstrap.js
  dist/js/bootstrap.js.map
  dist/js/bootstrap.min.js
  dist/js/bootstrap.min.js.map
  js/dist/alert.js
  js/dist/alert.js.map
  js/dist/button.js
  js/dist/button.js.map
  js/dist/carousel.js
  js/dist/carousel.js.map
  js/dist/collapse.js
  js/dist/collapse.js.map
  js/dist/dom/eventhandler.js
  js/dist/dom/eventhandler.js.map
  js/dist/dom/polyfill.js.map
  js/dist/dom/selectorengine.js
  js/dist/dom/selectorengine.js.map
  js/dist/dropdown.js.map
  js/dist/modal.js
  js/dist/modal.js.map
  js/dist/popover.js.map
  js/dist/scrollspy.js.map
  js/dist/tab.js
  js/dist/tab.js.map
  js/dist/toast.js
  js/dist/toast.js.map
  js/dist/tooltip.js
  js/dist/tooltip.js.map
  site/static/docs/4.3/assets/css/docs.min.css
  site/static/docs/4.3/assets/css/docs.min.css.map
  site/static/docs/4.3/assets/js/docs.min.js
Labels: build, v5

#28677 Remove redundant slashes
  scss/_mixins.scss
Labels: backport-to-v4, css, v4, v5

#28681 Separate btn-link colors from link
  scss/_buttons.scss
  scss/_variables.scss
Labels: css, no-backport-to-v4, v5

#28464 Sync plain text font-size with $input-font-size
  scss/_forms.scss
Labels: backport-to-v4, css, v5

#28447 Prevent form validation mixin from generating invalid CSS
  scss/mixins/_forms.scss
Labels: backport-to-v4, css, v4, v5

#28704 README.md: remove unneeded query params from badges.
  README.md
Labels: meta

#28660 docs SVGs: Allow passing a custom title.
  site/layouts/partials/icons/bootstrap-stack.svg
  site/layouts/partials/icons/bootstrap.svg
  site/layouts/partials/icons/download.svg
  site/layouts/partials/icons/github.svg
  site/layouts/partials/icons/import.svg
  site/layouts/partials/icons/lightning.svg
  site/layouts/partials/icons/menu.svg
  site/layouts/partials/icons/opencollective.svg
  site/layouts/partials/icons/slack.svg
  site/layouts/partials/icons/twitter.svg
Labels: docs, v5

#28655 Update devDependencies.
  package-lock.json
  package.json
Labels: build, v5

#28705 Travis CI: add Node.js 12 and use `cache: npm`.
  .travis.yml
Labels: build, meta, v5

#28699 Remove IE leftover
  scss/bootstrap-grid.scss
Labels: css, v5

#28551 Show the other navbar items on small screens too.
  site/layouts/partials/docs-navbar.html
Labels: backport-to-v4, docs, v4, v5

#28698 Reboot & Type cleanup
  scss/_reboot.scss
  scss/_type.scss
  scss/_variables.scss
Labels: css, v5
