Repository twbs/bootstrap, pull requests merged in 2019-06, with the labels that each got.

#28860 HTTPS link to codeguide.co
  .github/CONTRIBUTING.md
Labels: meta, v4, v5

#28853 event-handler.js: use a plain for loop.
  js/src/dom/event-handler.js
Labels: js, v5

#28798 Update devDependencies.
  .eslintrc.json
  package-lock.json
  package.json
  site/.eslintrc.json
Labels: build, v5

#28824 Add initial FUNDING.yml
  .github/FUNDING.yml
Labels: meta, v5

#28855 Workaround for the image size bug in IE
  scss/_card.scss
Labels: backport-to-v4, css, v4, v5

#28851 Docs: add accessibility/keyboard callout to popovers, tweak tooltips callout
  site/content/docs/4.3/components/popovers.md
  site/content/docs/4.3/components/tooltips.md
Labels: accessibility, backport-to-v4, docs, v4, v5

#28867 Rename .text-monospace to .font-monospace
  scss/_utilities.scss
  site/content/docs/4.3/migration.md
  site/content/docs/4.3/utilities/text.md
Labels: css, v5

#28869 Rename the text helper page
  site/content/docs/4.3/helpers/text-truncation.md
  site/data/nav.yml
Labels: docs, v5

#28870 Make generating form row styles dependent on $enable-grid-classes
  scss/_forms.scss
Labels: css, no-backport-to-v4, v5

#28872 Clean component examples CSS
  site/content/docs/4.3/components/navbar.md
  site/content/docs/4.3/components/navs.md
  site/content/docs/4.3/components/progress.md
  site/static/docs/4.3/assets/js/src/application.js
  site/static/docs/4.3/assets/scss/_component-examples.scss
Labels: docs, v5

#28876 Removal of one of the most iconic components of Bootstrap: the jumbotron
  scss/_jumbotron.scss
  scss/_variables.scss
  scss/bootstrap.scss
  site/content/docs/4.3/components/jumbotron.md
  site/content/docs/4.3/examples/album/album.css
  site/content/docs/4.3/examples/album/index.html
  site/content/docs/4.3/examples/blog/index.html
  site/content/docs/4.3/examples/jumbotron/index.html
  site/content/docs/4.3/examples/jumbotron/jumbotron.css
  site/content/docs/4.3/examples/navbar-bottom/index.html
  site/content/docs/4.3/examples/navbar-fixed/index.html
  site/content/docs/4.3/examples/navbar-static/index.html
  site/content/docs/4.3/examples/navbars/index.html
  site/content/docs/4.3/migration.md
  site/data/examples.yml
  site/data/nav.yml
  site/static/docs/4.3/assets/img/examples/album.png
  site/static/docs/4.3/assets/img/examples/album@2x.png
  site/static/docs/4.3/assets/img/examples/navbar-bottom.png
  site/static/docs/4.3/assets/img/examples/navbar-bottom@2x.png
  site/static/docs/4.3/assets/img/examples/navbar-fixed.png
  site/static/docs/4.3/assets/img/examples/navbar-fixed@2x.png
  site/static/docs/4.3/assets/img/examples/navbar-static.png
  site/static/docs/4.3/assets/img/examples/navbar-static@2x.png
  site/static/docs/4.3/assets/img/examples/navbars.png
  site/static/docs/4.3/assets/img/examples/navbars@2x.png
Labels: css, no-backport-to-v4, v5

#28896 tooltip dispose:removing only own event handler
  js/src/tooltip.js
Labels: backport-to-v4, js, v4, v5

#28912 Don't open dropdown on ESC on trigger element
  js/src/dropdown.js
  js/tests/unit/dropdown.js
Labels: accessibility, js, v4

#28883 fix custom-select-indicator in IE10
  scss/_variables.scss
Labels: css, v4

#28852 Fix position of browser default validation message (v4)
  scss/_custom-forms.scss
Labels: css, v4

#28874 Decrease number of order utilities
  scss/_utilities.scss
  site/content/docs/4.3/layout/grid.md
  site/content/docs/4.3/migration.md
  site/content/docs/4.3/utilities/flex.md
Labels: css, no-backport-to-v4, v5

#28920 Typo fix
  site/content/docs/4.3/getting-started/theming.md
Labels: backport-to-v4, docs, v4, v5

#28924 Update devDependencies.
  package-lock.json
  package.json
Labels: build, v5

#28928 Closing dropdown with ESC correctly sets focus to toggle
  js/src/dropdown.js
  js/tests/unit/dropdown.js
Labels: js, no-backport-to-v4, v5

#28929 Add missing dropdown unit test for closing with ESC
  js/tests/unit/dropdown.js
Labels: js, v4

#28938 Deprecate `bg-variant()` mixin
  scss/mixins/_background-variant.scss
Labels: css, v4

#28941 Docs – update extend/approach.md
  site/content/docs/4.3/extend/approach.md
Labels: backport-to-v4, docs, v4, v5

#28944 Change invalid icon from cross to exclamation mark
  scss/_variables.scss
Labels: backport-to-v4, v4, v5

#28939 Combine duplicate documentation examples into one to fix the confusing text.
  site/content/docs/4.3/layout/grid.md
Labels: backport-to-v4, docs, v4, v5

#28952 Ensure button plugin sets/removes active class correctly on page load
  js/src/button.js
  js/tests/unit/button.js
  js/tests/visual/button.html
  site/docs/4.3/components/buttons.md
  site/docs/4.3/components/progress.md
Labels: docs, js, v4

#28940 Fix group list items borders overlapping
  scss/_list-group.scss
Labels: backport-to-v4, css, v4, v5

#28913 Port new unit test for dropdown from v4
  js/tests/unit/dropdown.js
Labels: js, no-backport-to-v4, v5

#28958 Stretched link updates
  scss/_variables.scss
  scss/helpers/_stretched-link.scss
Labels: css, no-backport-to-v4, v5

#28966 Fix pre color
  scss/_variables.scss
Labels: css, no-backport-to-v4, v5

#28956 Remove redundant radius properties
  scss/_list-group.scss
Labels: backport-to-v4, css, v5
