Repository twbs/bootstrap, pull requests merged in 2020-08, with the labels that each got.

#31296 Update to Ruby 2.7/Bundler 2.x.
  .github/workflows/docs.yml
  Gemfile.lock
Labels: build, docs, v4

#31132 Add padding to badges
  scss/_variables.scss
  site/content/docs/5.0/migration.md
Labels: css, v5

#31407 Remove overflow: hidden from toasts (#31381)
  scss/_toasts.scss
Labels: v4

#31387 Update migration guide
  site/content/docs/5.0/migration.md
Labels: docs, v5

#31396 Add transition to Pagination buttons just like other Bootstrap buttons
  scss/_pagination.scss
  scss/_variables.scss
Labels: css, v5

#31338 Removed a broken reference
  scss/_reboot.scss
Labels: css, v5

#31196 Fixed typo in docs v5 (Utilities/API) page
  site/content/docs/5.0/utilities/api.md
Labels: docs, v5

#31339 Add view on GitHub links for easier content editing from the docs
  site/layouts/_default/docs.html
Labels: backport-to-v4, docs, v4, v5

#31414 Backport #31339
  site/_layouts/docs.html
  site/docs/4.5/assets/scss/_buttons.scss
Labels: v4

#30989 Ensure to increase contrasts on buttons & colored links hover/active states
  scss/helpers/_colored-links.scss
  scss/mixins/_buttons.scss
Labels: accessibility, no-backport-to-v4, v5

#30394 box-shadow() mixin allow 'null' and drop support 'none' with multiple args
  scss/mixins/_box-shadow.scss
  site/content/docs/5.0/migration.md
Labels: css, v5

#31441 docs: Fix issue number typo in migration
  site/content/docs/5.0/migration.md
Labels: no-backport-to-v4, v5

#31434 make breakpoints specifications consistent with layout/grid.md
  site/content/docs/5.0/layout/breakpoints.md
Labels: docs, no-backport-to-v4, v5

#31439 Remove flex: 1 0 100% from rows
  scss/mixins/_grid.scss
Labels: backport-to-v4, css, priority-high, regression, v4, v5

#31445 Remove flex: 1 0 100% from rows (#31439)
  scss/mixins/_grid.scss
Labels: v4

#31438 Restore and deprecate make-container-max-widths mixin
  scss/mixins/_grid.scss
Labels: css, priority-high, regression, v4

#31455 Update current_ruby_version to 5.0.0.alpha1
  config.yml
Labels: docs, v5

#31473 Give more priority to `.d-none`
  scss/_utilities.scss
Labels: css, no-backport-to-v4, v5

#31471 Remove 'both' as its no longer just 2 breakpoints
  site/content/docs/5.0/utilities/display.md
Labels: docs, v5

#31424 Mention that Edge Legacy also supports 'filling' their track
  site/content/docs/5.0/forms/range.md
Labels: css, docs, no-backport-to-v4, v5

#31505 docs(typography): missing punctuation
  site/content/docs/5.0/content/typography.md
Labels: docs, typo, v5
