Repository twbs/bootstrap, pull requests merged in 2020-07, with the labels that each got.

#31122 Update migration.md
  site/content/docs/5.0/migration.md
Labels: docs, v5

#31213 Fix generated example code for RFS
  site/content/docs/5.0/getting-started/rfs.md
Labels: docs, no-backport-to-v4, v5

#31134 Docs: clarify that pointer events classes don't affect keyboard interaction
  site/content/docs/5.0/utilities/interactions.md
Labels: docs, no-backport-to-v4, v5

#31093 Docs: improve/expand button documentation
  site/content/docs/5.0/components/buttons.md
  site/content/docs/5.0/forms/checks-radios.md
Labels: docs, v5

#31139 Rename `sr-only`/`sr-only-focusable`
  js/tests/integration/index.html
  js/tests/visual/carousel.html
  js/tests/visual/dropdown.html
  js/tests/visual/modal.html
  scss/helpers/_screenreaders.scss
  scss/mixins/_screen-reader.scss
  site/content/docs/5.0/components/badge.md
  site/content/docs/5.0/components/carousel.md
  site/content/docs/5.0/components/dropdowns.md
  site/content/docs/5.0/components/pagination.md
  site/content/docs/5.0/components/spinners.md
  site/content/docs/5.0/examples/carousel/index.html
  site/content/docs/5.0/examples/sign-in/index.html
  site/content/docs/5.0/forms/form-control.md
  site/content/docs/5.0/forms/input-group.md
  site/content/docs/5.0/forms/layout.md
  site/content/docs/5.0/getting-started/accessibility.md
  site/content/docs/5.0/helpers/screen-readers.md
  site/content/docs/5.0/migration.md
  site/layouts/partials/callout-warning-color-assistive-technologies.md
  site/layouts/partials/skippy.html
Labels: css, no-backport-to-v4, v5

#31232 Fix sidebar jump
  site/assets/scss/_sidebar.scss
  site/layouts/partials/docs-sidebar.html
Labels: docs, no-backport-to-v4, v5

#31201 Docs: separate button group out of checks/radios, expand button groups page
  site/content/docs/5.0/components/button-group.md
  site/content/docs/5.0/forms/checks-radios.md
Labels: docs, no-backport-to-v4, v5

#31229 Update devDependencies and regenerate package-lock.json
  package-lock.json
  package.json
Labels: dependencies, v5

#31249 Update to `@rollup/plugin-node-resolve` v8.1.0.
  build/rollup.config.js
  js/tests/integration/rollup.bundle.js
  js/tests/karma.conf.js
  package-lock.json
  package.json
Labels: dependencies

#31250 Update popper.js to v1.16.1.
  config.yml
  nuget/bootstrap.nuspec
  nuget/bootstrap.sass.nuspec
  package-lock.json
  package.json
Labels: dependencies, v5

#31254 Fix some hexa in colors docs.
  site/data/colors.yml
  site/data/theme-colors.yml
Labels: docs, no-backport-to-v4, v5

#31261 Update dependencies, gems and regenerate package-lock.json
  Gemfile.lock
  _config.yml
  build/rollup.config.js
  js/tests/integration/rollup.bundle.js
  nuget/bootstrap.nuspec
  nuget/bootstrap.sass.nuspec
  package-lock.json
  package.json
Labels: dependencies, v4

#31240 Single line example for inline forms
  site/content/docs/5.0/forms/layout.md
Labels: docs, v5

#31155 Clear timeout before showing the toast
  js/src/toast.js
  js/tests/unit/toast.spec.js
Labels: backport-to-v4, js, v4, v5

#31035 Add null variables for nav-link
  scss/_nav.scss
  scss/_variables.scss
Labels: css, v4, v5

#31268 Fix docs sass importing example.
  site/content/docs/5.0/customize/sass.md
Labels: docs, v5

#31114 Docs: forms accessibility cleanup
  site/content/docs/5.0/forms/checks-radios.md
  site/content/docs/5.0/forms/input-group.md
  site/content/docs/5.0/forms/layout.md
  site/content/docs/5.0/forms/overview.md
  site/content/docs/5.0/forms/validation.md
Labels: accessibility, docs, v5

#30639 Easier disabled state customization for button variants
  scss/mixins/_buttons.scss
  site/content/docs/5.0/migration.md
Labels: css, needs documentation, no-backport-to-v4, v5

#31234 Docs: forms accessibility cleanup (backport from v5)
  site/docs/4.5/components/forms.md
  site/docs/4.5/components/input-group.md
Labels: docs, v4

#31109 toasts: make default duration 5s
  js/src/toast.js
  site/content/docs/5.0/components/toasts.md
  site/content/docs/5.0/migration.md
Labels: js, v5

#31276 v5: Tweak some colors
  scss/_variables.scss
  site/content/docs/5.0/migration.md
Labels: accessibility, css, v5

#31283 Update devDependencies
  package-lock.json
  package.json
Labels: dependencies, v5

#31278 Migration update
  site/content/docs/5.0/migration.md
Labels: docs, v5

#31277 v5: Versions cleanup
  site/content/docs/versions.md
Labels: docs, v5

#30897 Prevent skip links from overlapping header
  site/assets/scss/_skippy.scss
  site/layouts/partials/skippy.html
Labels: accessibility, backport-to-v4, docs, v5

#31298 Add unit test for toast
  js/tests/unit/toast.js
Labels: js, v4

#31344 Add toasts to the components requiring JavaScript
  site/layouts/partials/getting-started/components-requiring-javascript.html
Labels: backport-to-v4, docs, v4, v5

#31346 Turn off scroll anchoring for accordions
  scss/_card.scss
Labels: backport-to-v4, css, v5

#31347 Turn off scroll anchoring for accordions
  scss/_card.scss
Labels: v4

#31359 Cleanup/fix after the sr-only to visually-hidden renaming
  scss/_mixins.scss
  scss/mixins/_visually-hidden.scss
  site/content/docs/5.0/helpers/screen-readers.md
Labels: css, no-backport-to-v4, v5

#31358 Docs: Add accessibility note about dismissible alerts and focus
  site/content/docs/5.0/components/alerts.md
Labels: backport-to-v4, docs, js

#31381 Remove overflow: hidden from toasts
  scss/_toasts.scss
Labels: backport-to-v4, css, v4, v5

#31383 Adjust sizing of checks and radios
  scss/_variables.scss
Labels: css, v5

#31382 Update copy around breakpoint sizing
  site/content/docs/5.0/layout/breakpoints.md
Labels: css, docs, v5
