Repository twbs/bootstrap, pull requests merged in 2020-11, with the labels that each got.

#32001 Move js/src/index.js one folder up
  build/rollup.config.js
  js/index.js
  js/src/index.js
Labels: js, v4

#32011 polyfill.js minor tweaks
  js/src/dom/polyfill.js
Labels: js, v5

#32027 Clarify PRs section
  .github/CONTRIBUTING.md
Labels: backport-to-v4, meta, v4, v5

#32033 CODE_OF_CONDUCT.md: fix redirect
  CODE_OF_CONDUCT.md
Labels: backport-to-v4, meta, v4, v5

#31818 Check for data-interval on the first slide of carousel
  js/src/carousel.js
  js/tests/unit/carousel.spec.js
Labels: js, v5

#32024 Fix TypeError when Bootstrap is included in `head`
  js/src/alert.js
  js/src/button.js
  js/src/carousel.js
  js/src/collapse.js
  js/src/dom/event-handler.js
  js/src/dropdown.js
  js/src/modal.js
  js/src/popover.js
  js/src/scrollspy.js
  js/src/tab.js
  js/src/toast.js
  js/src/tooltip.js
  js/src/util/index.js
  js/tests/unit/util/index.spec.js
Labels: js, v5

#32016 Streamline jQuery comment.
  js/src/alert.js
  js/src/button.js
  js/src/carousel.js
  js/src/collapse.js
  js/src/dropdown.js
  js/src/modal.js
  js/src/popover.js
  js/src/scrollspy.js
  js/src/tab.js
  js/src/toast.js
  js/src/tooltip.js
Labels: js, v5

#30740 karma: stop excluding polyfill.js from istanbul
  js/src/dom/polyfill.js
  js/tests/karma.conf.js
Labels: build, js, v5

#32036 ESLint: enable new-cap rule but ignore properties
  .eslintrc.json
Labels: build, js, v4, v5

#32043 tests: switch to using `toContain()` to check for substring presence
  js/tests/unit/tooltip.spec.js
  js/tests/unit/util/sanitizer.spec.js
Labels: js, tests, v5

#32045 tests: fix sanitizer test.
  js/tests/unit/util/sanitizer.spec.js
Labels: backport-to-v4, js, tests, v4, v5

#32046 tests: tweak Jasmine usage
  js/tests/unit/dom/event-handler.spec.js
  js/tests/unit/dom/manipulator.spec.js
  js/tests/unit/dropdown.spec.js
  js/tests/unit/modal.spec.js
Labels: js, tests, v5

#32040 Add callouts about using light colors ideally on a dark background
  site/content/docs/5.0/components/buttons.md
  site/content/docs/5.0/helpers/colored-links.md
Labels: backport-to-v4, docs, v5

#32050 Make docs anchorjs links darker on keyboard focus
  site/assets/scss/_anchor.scss
Labels: backport-to-v4, docs, v5

#32054 Add callouts about using light colors ideally on a dark background
  site/docs/4.5/components/buttons.md
Labels: accessibility, docs, v4

#32048 Update devDependencies
  package-lock.json
  package.json
Labels: dependencies

#32055 dropdown.js: simplify code
  js/src/dropdown.js
Labels: js, v5

#32058 Form file docs and overrides
  scss/_variables.scss
  site/content/docs/5.0/forms/input-group.md
Labels: accessibility, docs, v5

#32056 deps: move sirv-cli to npx
  package-lock.json
  package.json
Labels: build, dependencies, v5

#32049 Update utilities API docs
  site/content/docs/5.0/utilities/api.md
Labels: docs, v5

#31702 Add keyboard shortcut to focus search field
  site/assets/js/search.js
  site/assets/scss/_subnav.scss
Labels: docs, in progress, no-backport-to-v4, v5

#32064 Remove firefox workaround for `::file-selector-button` margin
  scss/forms/_form-control.scss
Labels: css, no-backport-to-v4, v5

#32063 stylelint: pass the ` --rd` flag
  package.json
  scss/_button-group.scss
  scss/forms/_floating-labels.scss
Labels: build, css, v5

#32066 Add .d-grid to our display utilities
  scss/_utilities.scss
  site/content/docs/5.0/utilities/display.md
Labels: css, feature, v5

#32083 docs: mention "Liberation Sans"
  site/docs/4.5/content/reboot.md
  site/docs/4.5/getting-started/theming.md
Labels: docs, v4

#32084 reboot.md: mention "Liberation Sans"
  site/content/docs/5.0/content/reboot.md
Labels: docs, v5

#32086 config.yml: remove the unused "expo" parameter
  config.yml
Labels: docs, v5

#32087 download.md: link to JS files comparison too
  site/content/docs/5.0/getting-started/download.md
Labels: backport-to-v4, docs, v4, v5

#32076 Partially revert "Move this to a partial to work around the stray `p`…
  site/content/docs/5.0/getting-started/introduction.md
  site/layouts/partials/getting-started/components-requiring-javascript.html
Labels: docs, v5

#32085 Add checks to fix color contrast issues
  scss/_alert.scss
  scss/_list-group.scss
  scss/_variables.scss
Labels: css, no-backport-to-v4, v5

#32074 Add .gap utilities
  .bundlewatch.config.json
  scss/_utilities.scss
  site/content/docs/5.0/utilities/spacing.md
Labels: css, feature, v5

#32090 [Docs] Changes to navbar documentation/explanation
  site/content/docs/5.0/components/navbar.md
Labels: accessibility, backport-to-v4, docs, v5

#31995 Replace `.btn-block` with utilities
  scss/_buttons.scss
  scss/_variables.scss
  site/content/docs/5.0/components/buttons.md
  site/content/docs/5.0/migration.md
Labels: breaking change, css, feature, v5

#32094 Backport #32090
  site/docs/4.5/components/navbar.md
Labels: docs, v4

#32093 karma.conf.js: break lines
  js/tests/karma.conf.js
Labels: js, v5

#32097 package.json: fix clean-css level switch
  package.json
Labels: backport-to-v4, build, v4, v5

#32099 search.js: use the current v5.getbootstrap.com URL
  site/assets/js/search.js
Labels: docs, v5

#32100 search.js: check for `search-input` element early
  site/assets/js/search.js
Labels: backport-to-v4, docs, js, v4, v5

#32101 modal.html: use `textContent`
  js/tests/visual/modal.html
Labels: js, tests, v5

#32102 docs.html: replace backslashes with forward slashes
  site/layouts/_default/docs.html
Labels: docs, v5

#32105 Clarify JS bundle docs one more time
  site/content/docs/5.0/getting-started/introduction.md
Labels: docs, no-backport-to-v4, v5

#32106 v4: Clarify JS bundle docs
  site/docs/4.5/getting-started/introduction.md
Labels: docs, v4

#32129 masthead: add newlines in the snippets and reindent
  site/layouts/_default/single.html
  site/layouts/partials/home/masthead-followup.html
Labels: docs, v5

#32126 Minor improvements to the Alpha 3 changelog
  site/content/docs/5.0/migration.md
Labels: docs, v5

#32121 Use correct value order
  scss/_close.scss
  scss/_progress.scss
  scss/_reboot.scss
  scss/_spinners.scss
Labels: css, no-backport-to-v4, v5

#32116 browsers-devices: add `chomp`
  site/content/docs/5.0/getting-started/browsers-devices.md
Labels: docs, v5

#31820 Check for data-interval on the first slide of carousel - v4
  .bundlewatch.config.json
  js/src/carousel.js
  js/tests/unit/carousel.js
Labels: js, v4

#32135 Fix caniuse.com URLS to prevent redirects
  site/content/docs/5.0/components/navbar.md
  site/content/docs/5.0/forms/form-control.md
  site/content/docs/5.0/getting-started/javascript.md
  site/layouts/partials/callout-warning-input-support.md
Labels: docs, v5

#32139 Update floating-labels.md
  site/content/docs/5.0/forms/floating-labels.md
Labels: docs, v5

#32137 input-group.md: fix wrong class `.visually-hidden`
  site/docs/4.5/components/input-group.md
Labels: docs, v4

#32138 navbar.md: remove `loading=lazy` from snippets
  site/docs/4.5/components/navbar.md
Labels: docs, v4

#32136 browsers-devices.md: make heading an `h3`
  site/docs/4.5/getting-started/browsers-devices.md
Labels: docs, v4

#32143 example.html: remove extra whitespace
  site/layouts/shortcodes/example.html
Labels: docs, v5

#32147 Fix caniuse.com redirects
  scss/mixins/_image.scss
  site/_data/browser-features.yml
  site/docs/4.5/components/forms.md
  site/docs/4.5/components/navbar.md
  site/docs/4.5/examples/floating-labels/index.html
Labels: docs, v4

#32134 Add hyphen between Sass and based
  site/content/docs/5.0/utilities/api.md
Labels: docs, v5

#32145 Avoid invisible real file input "spilling" out of container
  scss/_custom-forms.scss
Labels: css, v4

#32131 application.js: remove non-existent selector
  site/assets/js/application.js
Labels: docs, v5

#32141 Manually backport #32121
  scss/_carousel.scss
  scss/_custom-forms.scss
  scss/_navbar.scss
  scss/_progress.scss
  scss/_reboot.scss
  scss/_spinners.scss
  scss/_variables.scss
  scss/mixins/_forms.scss
Labels: css, v4

#32151 Mention user-select-all support in docs
  site/docs/4.5/utilities/interactions.md
Labels: docs, v4

#32149 Rename scale-color() function to shift-color()
  scss/_alert.scss
  scss/_functions.scss
  scss/_list-group.scss
  scss/_variables.scss
  site/content/docs/5.0/migration.md
Labels: css, v5

#32152 Fix `.close` instances
  js/tests/unit/tab.spec.js
  js/tests/unit/toast.spec.js
  js/tests/visual/alert.html
  js/tests/visual/modal.html
  js/tests/visual/toast.html
Labels: tests

#31735 Simplify make-container()
  scss/_variables.scss
  scss/mixins/_container.scss
Labels: css, has conflicts, v5

#32124 tooltip.js: deduplicate _fixTitle()
  js/src/tooltip.js
Labels: js, v5

#32153 popovers.md: unbreak line
  site/content/docs/5.0/components/popovers.md
Labels: backport-to-v4, docs, v4, v5

#32158 Switch to jsDelivr for the remaining docs assets
  site/content/docs/5.0/examples/dashboard/index.html
  site/content/docs/5.0/examples/masonry/index.html
Labels: docs, v5

#32154 BrowserStack: test both on iPhone 7 and iPhone X
  js/tests/browsers.js
Labels: build, tests, v5

#32175 skippy.html: reduce whitespace output
  site/layouts/partials/skippy.html
Labels: docs, v5

#32176 docs: use `expanded` Sass output style for development
  site/layouts/partials/stylesheet.html
Labels: docs, v5

#32174 Position Utilities Docs: Fix the marker SVG color to match the button
  site/content/docs/5.0/utilities/position.md
Labels: docs, v5

#32178 Handle Chromium to run Karma
  js/tests/karma.conf.js
Labels: backport-to-v4, tests, v4, v5

#32189 docs(dropdowns): clarify where is `.show` applied
  site/content/docs/5.0/components/dropdowns.md
Labels: backport-to-v4, docs, v5

#32182 Update karma.conf.js
  js/tests/karma.conf.js
Labels: backport-to-v4, tests, v4, v5

#32162 docs: Add missing .has-validation class for input group example
  site/content/docs/5.0/forms/validation.md
Labels: docs, v5

#32191 Correct block button breakpoint docs typo
  site/content/docs/5.0/components/buttons.md
Labels: docs, v5

#31098 Docs: change sidebar collapse controls to actual button elements
  site/assets/scss/_sidebar.scss
  site/layouts/partials/docs-sidebar.html
Labels: docs, no-backport-to-v4, v5

#32193 alerts.md: use Markdown
  site/docs/4.5/components/alerts.md
Labels: docs, v4

#32194 Docs: fix homepage npm install version
  site/layouts/partials/home/masthead-followup.html
Labels: docs, v5

#32196 homepage: split snippets and show copy buttons
  site/docs/4.5/assets/scss/_masthead.scss
  site/index.html
Labels: docs, v4

#32198 examples: add the version number in `title`
  site/layouts/_default/examples.html
Labels: backport-to-v4, docs, v4, v5

#32160 Add overflow suppression to custom file label
  scss/_custom-forms.scss
Labels: css, v4

#32163 docs: update selector CodePen example
  site/content/docs/5.0/components/popovers.md
  site/content/docs/5.0/components/tooltips.md
Labels: docs, v5

#32187 Manually optimize SVGs
  site/static/docs/5.0/assets/brand/bootstrap-logo-black.svg
  site/static/docs/5.0/assets/brand/bootstrap-logo-white.svg
  site/static/docs/5.0/assets/brand/bootstrap-logo.svg
Labels: docs, v5

#32204 Fix a few typos
  site/content/docs/5.0/forms/form-control.md
  site/content/docs/5.0/helpers/ratio.md
  site/content/docs/5.0/migration.md
  site/content/docs/5.0/utilities/interactions.md
Labels: docs, v5

#32203 Backport #32158
  site/content/docs/4.5/examples/dashboard/index.html
Labels: docs, examples, v4

#32201 fix(container): use $variable-prefix
  scss/mixins/_container.scss
Labels: css, v5

#32210 Revert "Use Hugo mounts for our docs vendor files."
  config.yml
  package-lock.json
  package.json
  site/assets/js/vendor/anchor.min.js
  site/assets/js/vendor/clipboard.min.js
  site/layouts/partials/func/get-js-assets.html
  site/layouts/partials/scripts.html
Labels: docs, v5

#32213 _reboot.scss: remove needless Stylelint disable
  scss/_reboot.scss
Labels: css, v5

#32212 scss: remove needless Stylelint disables
  scss/_reboot.scss
  scss/_type.scss
Labels: css, v4

#32173 Make the attribute methods bs specific
  js/src/dom/manipulator.js
  js/src/modal.js
  js/tests/unit/dom/manipulator.spec.js
Labels: breaking change, js, v5

#32202 docs: update selector CodePen example
  site/content/docs/4.5/components/popovers.md
  site/content/docs/4.5/components/tooltips.md
Labels: docs, v4

#31834 tooltip/popover: add a `customClass` option
  js/src/tooltip.js
  js/tests/unit/popover.js
  js/tests/unit/tooltip.js
  site/content/docs/4.5/components/popovers.md
  site/content/docs/4.5/components/tooltips.md
Labels: feature, js, v4

#32179 Don't hide modal when keyboard is set to false in modal's configuration
  js/src/modal.js
  js/tests/unit/modal.spec.js
Labels: backport-to-v4, js, v4, v5

#32221 Add missing tags in unit tests
  js/tests/unit/modal.spec.js
Labels: js, tests, v5

#32224 Be consistent with Popper's name.
  js/src/dropdown.js
  js/src/tooltip.js
  js/tests/unit/dropdown.spec.js
  js/tests/unit/tooltip.spec.js
  js/tests/visual/dropdown.html
  scss/_dropdown.scss
  site/content/docs/5.0/components/dropdowns.md
  site/content/docs/5.0/components/popovers.md
  site/content/docs/5.0/components/tooltips.md
  site/content/docs/5.0/customize/optimize.md
  site/content/docs/5.0/getting-started/download.md
  site/content/docs/5.0/getting-started/introduction.md
  site/content/docs/5.0/getting-started/javascript.md
  site/layouts/partials/home/masthead-followup.html
Labels: backport-to-v4, docs, js, v4, v5

#32226 docs: use `event` instead of `e`
  site/content/docs/5.0/components/list-group.md
  site/content/docs/5.0/components/modal.md
  site/content/docs/5.0/components/navs-tabs.md
  site/content/docs/5.0/getting-started/javascript.md
Labels: docs, v5

#29753 Improve build/generate-sri.js regex
  build/generate-sri.js
Labels: backport-to-v4, build, v4, v5

#32220 Don't hide modal when keyboard is false in modal's config
  js/src/modal.js
  js/tests/unit/modal.js
Labels: js, v4

#32216 Dist
  dist/css/bootstrap-grid.css
  dist/css/bootstrap-grid.css.map
  dist/css/bootstrap-grid.min.css
  dist/css/bootstrap-grid.min.css.map
  dist/css/bootstrap-reboot.css
  dist/css/bootstrap-reboot.css.map
  dist/css/bootstrap-reboot.min.css
  dist/css/bootstrap-reboot.min.css.map
  dist/css/bootstrap-utilities.css.map
  dist/css/bootstrap-utilities.min.css.map
  dist/css/bootstrap.css
  dist/css/bootstrap.css.map
  dist/css/bootstrap.min.css
  dist/css/bootstrap.min.css.map
  dist/js/bootstrap.bundle.js
  dist/js/bootstrap.bundle.js.map
  dist/js/bootstrap.bundle.min.js
  dist/js/bootstrap.bundle.min.js.map
  dist/js/bootstrap.esm.js
  dist/js/bootstrap.esm.js.map
  dist/js/bootstrap.esm.min.js
  dist/js/bootstrap.esm.min.js.map
  dist/js/bootstrap.js
  dist/js/bootstrap.js.map
  dist/js/bootstrap.min.js
  dist/js/bootstrap.min.js.map
  js/dist/alert.js
  js/dist/alert.js.map
  js/dist/button.js
  js/dist/button.js.map
  js/dist/carousel.js
  js/dist/carousel.js.map
  js/dist/collapse.js
  js/dist/collapse.js.map
  js/dist/dom/event-handler.js
  js/dist/dom/event-handler.js.map
  js/dist/dom/manipulator.js
  js/dist/dom/manipulator.js.map
  js/dist/dropdown.js
  js/dist/dropdown.js.map
  js/dist/modal.js
  js/dist/modal.js.map
  js/dist/popover.js
  js/dist/popover.js.map
  js/dist/scrollspy.js
  js/dist/scrollspy.js.map
  js/dist/tab.js
  js/dist/tab.js.map
  js/dist/toast.js
  js/dist/toast.js.map
  js/dist/tooltip.js
  js/dist/tooltip.js.map
Labels: skip-changelog, v5

#32235 postcss.config.js: remove arrow return
  build/postcss.config.js
Labels: backport-to-v4, build, js, skip-changelog, v4, v5

#32222 CI: specify `FORCE_COLOR:2`
  .github/workflows/browserstack.yml
  .github/workflows/bundlewatch.yml
  .github/workflows/css.yml
  .github/workflows/docs.yml
  .github/workflows/js.yml
  .github/workflows/lint.yml
  .github/workflows/node-sass.yml
Labels: backport-to-v4, build, v4, v5

#32117 Update _syntax.scss
  site/assets/scss/_syntax.scss
Labels: backport-to-v4, docs, v4, v5

#32233 Update bundle.js in tests/integration
  js/tests/integration/bundle-modularity.js
  js/tests/integration/bundle.js
  js/tests/integration/index.html
Labels: js, tests, v5

#32223 introduction: split comments
  site/content/docs/5.0/getting-started/introduction.md
Labels: backport-to-v4, docs, v4, v5

#32229 Update devDependencies
  package-lock.json
  package.json
Labels: dependencies

#32125 Update codeql.yml
  .github/workflows/codeql.yml
Labels: backport-to-v4, v4, v5

#32247 Fix typos in tooltip/popover docs
  site/content/docs/4.5/components/popovers.md
  site/content/docs/4.5/components/tooltips.md
Labels: docs, v4

#32217 Ability to add custom class in tooltip/popover
  .bundlewatch.config.json
  js/src/tooltip.js
  js/tests/unit/popover.spec.js
  js/tests/unit/tooltip.spec.js
  site/content/docs/5.0/components/popovers.md
  site/content/docs/5.0/components/tooltips.md
Labels: feature, js, v5

#32232 npm scripts: run integration tests in parallel
  package.json
Labels: build, v5

#32225 Partially backport #32217
  js/src/tooltip.js
Labels: js, v4

#32258 homepage: fix wrong `alt` attribute
  site/layouts/partials/home/masthead-followup.html
Labels: docs, v5

#32264 Remove setData from construtors
  js/src/carousel.js
  js/src/collapse.js
  js/src/dropdown.js
  js/src/modal.js
  js/src/scrollspy.js
  js/src/toast.js
  js/src/tooltip.js
Labels: js, v5

#32281 Add mention of link underline change to migration and typography
  site/content/docs/5.0/content/typography.md
  site/content/docs/5.0/migration.md
Labels: docs, no-backport-to-v4, v5

#32277 Remove default linear gradient
  scss/_tables.scss
Labels: css, no-backport-to-v4, performance, v5

#31303 Keep rounded corners for the first .btn in vertical button group
  scss/_button-group.scss
Labels: css, no-backport-to-v4, v5

#32279 Remove the show property from the modal plugin
  js/src/modal.js
  site/content/docs/5.0/components/modal.md
Labels: js, v5
