Repository twbs/bootstrap, pull requests merged in 2020-06, with the labels that each got.

#30953 Regenerate package-lock.json
  package-lock.json
Labels: dependencies, v5

#30960 IE11 misalign validation tooltips in input-groups
  scss/mixins/_forms.scss
Labels: browser:IE, css, v4

#30957 nullify custom forms states' box-shadow
  scss/_variables.scss
Labels: css, v4

#30936 Add role="dialog" in modals via JavaScript
  js/src/modal.js
  js/tests/unit/modal.spec.js
  js/tests/visual/modal.html
  site/content/docs/5.0/components/modal.md
Labels: accessibility, backport-to-v4, js, v4, v5

#30810 v4: Add z-index to .custom-check to fix custom checks in CSS columns
  scss/_custom-forms.scss
Labels: css, v4

#30940 Prevent `.row` from shrinking in flex container
  scss/mixins/_grid.scss
Labels: backport-to-v4, css, regression, v5

#30987 Update devDependencies
  package-lock.json
  package.json
Labels: dependencies, v5

#30981 Fix undefined custom properties in reboot
  scss/_reboot.scss
  scss/_variables.scss
  scss/bootstrap-reboot.scss
Labels: no-backport-to-v4, v5

#30979 `min-width: 0` on .col has too much side-effects
  scss/mixins/_grid.scss
Labels: backport-to-v4, css, v5

#30997 Update Actions
  .github/workflows/browserstack.yml
  .github/workflows/bundlewatch.yml
  .github/workflows/css.yml
  .github/workflows/dart-sass.yml
  .github/workflows/docs.yml
  .github/workflows/js.yml
  .github/workflows/lint.yml
Labels: build, v5

#31012 Update lint.yml
  .github/workflows/lint.yml
Labels: build

#30534 Improve table markup in Layout / Containers
  site/content/docs/5.0/layout/containers.md
Labels: accessibility, docs, no-backport-to-v4, v5

#31006 Stylelint: remove redundant disables
  scss/_buttons.scss
  scss/_tables.scss
  site/assets/scss/_component-examples.scss
Labels: css, v5

#30934 Update .gitattributes
  .gitattributes
Labels: backport-to-v4, meta, v4, v5

#31019 Update devDependencies
  package-lock.json
  package.json
Labels: dependencies, v5

#31020 Replace serve with sirv-cli.
  package-lock.json
  package.json
Labels: dependencies, v5

#30814 v5: Redo blockquote attributions
  scss/_type.scss
  scss/_variables.scss
  site/content/docs/5.0/content/reboot.md
  site/content/docs/5.0/content/typography.md
  site/content/docs/5.0/examples/masonry/index.html
Labels: css, v5

#31016 Avoid duplication of container breakpoints for v5
  scss/_containers.scss
  scss/mixins/_container.scss
Labels: css, v5

#30965 Floating labels examples in IE
  site/docs/4.5/examples/floating-labels/floating-labels.css
  site/docs/4.5/examples/floating-labels/index.html
Labels: browser:IE, examples, v4

#30969 Avoid duplication of container breakpoints
  scss/_grid.scss
  scss/mixins/_grid.scss
Labels: css, v4

#31023 Run dist on latest
  dist/css/bootstrap-grid.css
  dist/css/bootstrap-grid.css.map
  dist/css/bootstrap-grid.min.css
  dist/css/bootstrap-grid.min.css.map
  dist/css/bootstrap-reboot.css
  dist/css/bootstrap-reboot.css.map
  dist/css/bootstrap-reboot.min.css
  dist/css/bootstrap-reboot.min.css.map
  dist/css/bootstrap-utilities.css
  dist/css/bootstrap-utilities.css.map
  dist/css/bootstrap-utilities.min.css
  dist/css/bootstrap-utilities.min.css.map
  dist/css/bootstrap.css
  dist/css/bootstrap.css.map
  dist/css/bootstrap.min.css
  dist/css/bootstrap.min.css.map
  dist/js/bootstrap.bundle.js
  dist/js/bootstrap.bundle.js.map
  dist/js/bootstrap.bundle.min.js
  dist/js/bootstrap.bundle.min.js.map
  dist/js/bootstrap.esm.js
  dist/js/bootstrap.esm.js.map
  dist/js/bootstrap.esm.min.js
  dist/js/bootstrap.esm.min.js.map
  dist/js/bootstrap.js
  dist/js/bootstrap.js.map
  dist/js/bootstrap.min.js
  dist/js/bootstrap.min.js.map
  js/dist/alert.js
  js/dist/alert.js.map
  js/dist/button.js
  js/dist/button.js.map
  js/dist/carousel.js
  js/dist/carousel.js.map
  js/dist/collapse.js
  js/dist/collapse.js.map
  js/dist/dom/event-handler.js.map
  js/dist/dom/manipulator.js
  js/dist/dom/manipulator.js.map
  js/dist/dom/polyfill.js
  js/dist/dom/polyfill.js.map
  js/dist/dropdown.js
  js/dist/dropdown.js.map
  js/dist/modal.js
  js/dist/modal.js.map
  js/dist/popover.js
  js/dist/popover.js.map
  js/dist/scrollspy.js
  js/dist/scrollspy.js.map
  js/dist/tab.js
  js/dist/tab.js.map
  js/dist/toast.js
  js/dist/toast.js.map
  js/dist/tooltip.js
  js/dist/tooltip.js.map
  site/content/docs/5.0/examples/floating-labels/floating-labels.css
Labels: css, v5

#29148 Change media-breakpoint-down implementation
  scss/_modal.scss
  scss/_tables.scss
  scss/mixins/_breakpoints.scss
  site/assets/scss/_content.scss
  site/assets/scss/_navbar.scss
  site/assets/scss/_subnav.scss
  site/content/docs/5.0/layout/breakpoints.md
  site/content/docs/5.0/migration.md
Labels: css, no-backport-to-v4, v5

#30885 Update index.html
  site/content/docs/5.0/examples/checkout/index.html
Labels: examples, v5

#30922 Disabled checked states wrong background
  scss/_custom-forms.scss
Labels: css, v4

#31043 Tighten bundlewatch limits
  .bundlewatch.config.json
Labels: build

#31049 Fix BootstrapCDN's name
  site/content/docs/5.0/customize/overview.md
Labels: docs, v5

#31051 Fix typo
  site/content/docs/5.0/utilities/display.md
Labels: docs, v5

#31040 v5: Add role=button cursor in Reboot
  scss/_reboot.scss
  site/content/docs/5.0/content/reboot.md
Labels: css, feature, v5

#31058 Update links to bug and feature request issue templates
  README.md
Labels: docs, v5

#31070 Docs: fix old/broken example capture and typo
  site/content/docs/5.0/content/reboot.md
Labels: docs, v5

#31067 data: reword storage key in dom
  js/src/dom/data.js
  js/tests/unit/dom/data.spec.js
Labels: js, v5

#30781 reboot: table th
  scss/_reboot.scss
  scss/_variables.scss
Labels: backport-to-v4, css, v4, v5

#31047 README: remove `.svg` from shields.io badges
  README.md
Labels: meta

#31071 Docs: clarify rationale for button group on links
  site/content/docs/5.0/components/button-group.md
Labels: backport-to-v4, docs, v5

#31077 Several typo fixes
  site/content/docs/5.0/layout/grid.md
Labels: docs, v5

#31076 Typo fix : ocassions to occasions
  site/content/docs/5.0/layout/columns.md
Labels: docs, v5

#31078 Typo fix : individiual to individual
  site/content/docs/5.0/migration.md
Labels: docs, v5

#31079 Typo fix : depedending to depending
  site/content/docs/5.0/content/tables.md
Labels: docs, v5

#31082 Docs: tweak accessibility section
  site/content/docs/5.0/getting-started/accessibility.md
Labels: docs, no-backport-to-v4, v5

#30928 Fix tooltip when hovering a children element (delegateTarget)
  js/src/dom/event-handler.js
  js/src/tooltip.js
  js/tests/unit/tooltip.spec.js
  site/content/docs/5.0/components/tooltips.md
Labels: js, v5

#31086 Update devDependencies
  package-lock.json
  package.json
Labels: dependencies, v5

#31081 Docs: add Gaël Poupard to the core team page
  site/data/core-team.yml
Labels: backport-to-v4, docs, v5

#31062 Fix Stack Overflow tag
  .github/CONTRIBUTING.md
  .github/SUPPORT.md
  README.md
  site/content/docs/5.0/getting-started/introduction.md
Labels: docs, meta, v5

#30572 Add new toasts examples
  site/content/docs/5.0/components/toasts.md
Labels: css, docs, v5

#31102 Docs: Fix typo
  site/content/docs/5.0/layout/grid.md
Labels: docs, typo, v5

#31106 Docs: fix typo
  site/content/docs/5.0/layout/gutters.md
Labels: docs, typo, v5

#31066 Change whitelist to allowlist
  build/change-version.js
  js/src/tooltip.js
  js/src/util/sanitizer.js
  js/tests/unit/util/sanitizer.spec.js
  site/content/docs/5.0/components/popovers.md
  site/content/docs/5.0/components/tooltips.md
  site/content/docs/5.0/getting-started/javascript.md
  site/content/docs/5.0/migration.md
Labels: js, no-backport-to-v4, v5

#31116 Fix links to gutters page
  site/content/docs/5.0/forms/layout.md
Labels: docs, v5

#31075 Updated the command to install using yarn
  README.md
  site/content/docs/5.0/getting-started/download.md
Labels: docs, v5

#31120 Fixes #31113
  scss/bootstrap-grid.scss
Labels: css, v5

#31107 Correctly document how to add to Sass maps
  site/content/docs/5.0/customize/sass.md
Labels: docs, no-backport-to-v4, v5

#31135 Docs: move color utility callouts to start of page
  site/content/docs/5.0/utilities/colors.md
Labels: backport-to-v4, docs, v4, v5

#31123 Update devDependencies
  package-lock.json
  package.json
Labels: dependencies

#31124 Update .browserslistrc
  .browserslistrc
Labels: build, v5

#31148 Remove duplicate properties
  scss/_custom-forms.scss
Labels: css, v4

#31131 Darken dropdown divider
  scss/_variables.scss
Labels: accessibility, css, no-backport-to-v4, v5

#30966 Floating labels improvements
  site/content/docs/5.0/examples/floating-labels/floating-labels.css
Labels: backport-to-v4, examples, v4, v5

#31151 Fix scrollable modal
  scss/_modal.scss
Labels: css, no-backport-to-v4, v5

#30326 Prevent overflowing static backdrop modal animation
  js/src/modal.js
  js/tests/unit/modal.spec.js
Labels: backport-to-v4, js, v4, v5

#31125 BrowserStack: stop testing on latest Edge.
  js/tests/browsers.js
Labels: backport-to-v4, js, v4, v5

#31011 Update Babel config
  .babelrc.js
  package.json
Labels: backport-to-v4, build, v4, v5

#31179 Update .gitattributes
  .gitattributes
Labels: docs

#31177 Fix 404s after the `master` -> `main` change.
  README.md
  docs/3.3/about/index.html
  docs/3.3/browser-bugs/index.html
  docs/3.3/components/index.html
  docs/3.3/css/index.html
  docs/3.3/getting-started/index.html
  docs/3.3/index.html
  docs/3.3/javascript/index.html
  docs/3.3/migration/index.html
  docs/4.0/examples/index.html
  docs/4.1/examples/index.html
  docs/4.2/examples/index.html
  docs/4.3/examples/index.html
  docs/4.4/examples/index.html
  docs/4.5/examples/index.html
  docs/versions/index.html
  index.html
Labels: docs

#31130 Add code to method/property tables
  site/content/docs/5.0/components/carousel.md
  site/content/docs/5.0/components/collapse.md
  site/content/docs/5.0/components/dropdowns.md
  site/content/docs/5.0/components/list-group.md
  site/content/docs/5.0/components/modal.md
  site/content/docs/5.0/components/navs.md
  site/content/docs/5.0/components/popovers.md
  site/content/docs/5.0/components/scrollspy.md
  site/content/docs/5.0/components/toasts.md
  site/content/docs/5.0/components/tooltips.md
Labels: docs, v5

#31090 Docs: rename form checks page to "Checks / radios"
  site/content/docs/5.0/forms/checks-radios.md
  site/content/docs/5.0/forms/overview.md
  site/content/docs/5.0/migration.md
  site/data/sidebar.yml
Labels: docs, no-backport-to-v4, v5

#31190 Fix spelling mistake
  site/content/docs/5.0/layout/containers.md
Labels: docs, no-backport-to-v4, v5

#31211 homepage: Fix wrong indentation
  site/layouts/partials/home/masthead-followup.html
Labels: docs, v5
