Repository twbs/bootstrap, pull requests merged in 2020-12, with the labels that each got.

#32300 Regenerate package-lock.json
  package-lock.json
Labels: dependencies, v5

#32257 README: fix path to search.js
  README.md
Labels: backport-to-v4, meta, v4, v5

#32304 Unbreak lines.
  js/src/carousel.js
  js/src/collapse.js
  js/src/dropdown.js
  js/src/modal.js
  js/src/popover.js
  js/src/scrollspy.js
  js/src/tab.js
  js/src/tooltip.js
  js/src/util/index.js
Labels: js, skip-changelog, v5

#30986 Revisit our browserslist config
  .browserslistrc
Labels: build, no-backport-to-v4, v5

#32310 Remove Polyfill leftovers
  build/build-plugins.js
  build/rollup.config.js
  js/dist/dom/polyfill.js
  js/dist/dom/polyfill.js.map
Labels: js, v5

#32323 Dist
  dist/css/bootstrap-grid.css.map
  dist/css/bootstrap-reboot.css.map
  dist/css/bootstrap.css
  dist/css/bootstrap.css.map
  dist/css/bootstrap.min.css
  dist/css/bootstrap.min.css.map
  dist/js/bootstrap.bundle.js
  dist/js/bootstrap.bundle.js.map
  dist/js/bootstrap.bundle.min.js
  dist/js/bootstrap.bundle.min.js.map
  dist/js/bootstrap.esm.js
  dist/js/bootstrap.esm.js.map
  dist/js/bootstrap.esm.min.js
  dist/js/bootstrap.esm.min.js.map
  dist/js/bootstrap.js
  dist/js/bootstrap.js.map
  dist/js/bootstrap.min.js
  dist/js/bootstrap.min.js.map
  js/dist/alert.js
  js/dist/alert.js.map
  js/dist/button.js
  js/dist/button.js.map
  js/dist/carousel.js
  js/dist/carousel.js.map
  js/dist/collapse.js
  js/dist/collapse.js.map
  js/dist/dom/event-handler.js.map
  js/dist/dropdown.js
  js/dist/dropdown.js.map
  js/dist/modal.js
  js/dist/modal.js.map
  js/dist/popover.js
  js/dist/popover.js.map
  js/dist/scrollspy.js
  js/dist/scrollspy.js.map
  js/dist/tab.js
  js/dist/tab.js.map
  js/dist/toast.js
  js/dist/toast.js.map
  js/dist/tooltip.js
  js/dist/tooltip.js.map
Labels: skip-changelog, v5

#32326 Fix `css-prefix-examples-rtl` script
  package.json
Labels: build, v5

#32335 cheatsheet.js: use `event` instead of `e`
  site/content/docs/5.0/examples/cheatsheet/cheatsheet.js
Labels: docs, v5

#32272 Add a callout for the sanitizer in popovers and tooltips
  site/content/docs/5.0/components/popovers.md
  site/content/docs/5.0/components/tooltips.md
  site/layouts/partials/callout-info-sanitizer.md
Labels: backport-to-v4, docs, v5

#32312 build-plugins: switch to "bundled" for babel helpers
  build/build-plugins.js
Labels: backport-to-v4, build, v4, v5

#32318 Remove vertical-align from .form-select
  scss/forms/_form-select.scss
Labels: css, v5

#32339 Remove `SelectorEngine.matches()`.
  js/src/dom/selector-engine.js
  js/tests/unit/dom/selector-engine.spec.js
Labels: js, v5

#32316 carousel.md: fix `$carousel-transition-duration` reference
  site/content/docs/5.0/components/carousel.md
Labels: docs, v5

#32285 Refactor components to use a utility function to define jQuery plugins
  .bundlewatch.config.json
  js/src/alert.js
  js/src/button.js
  js/src/carousel.js
  js/src/collapse.js
  js/src/dropdown.js
  js/src/modal.js
  js/src/popover.js
  js/src/scrollspy.js
  js/src/tab.js
  js/src/toast.js
  js/src/tooltip.js
  js/src/util/index.js
  js/tests/unit/util/index.spec.js
Labels: js, v5

#32363 Remove useless `.text-left` in Layout / Overview
  site/content/docs/4.5/layout/overview.md
Labels: docs, v4

#32355 Update devDependencies
  package-lock.json
  package.json
Labels: dependencies, v5

#32378 Regenerate package-lock.json
  package-lock.json
Labels: dependencies, v5

#32398 Fix missed occurrencies of "Popper.js"
  site/content/docs/5.0/getting-started/rtl.md
Labels: docs, v5

#32391 SelectorEngine: drop variable used once
  js/src/dom/selector-engine.js
Labels: js, v5

#32392 alert: rename variables for consistency
  js/src/alert.js
Labels: js, v5

#32401 cheatsheet: Drop redundant `(current)` text
  site/content/docs/5.0/examples/cheatsheet-rtl/index.html
  site/content/docs/5.0/examples/cheatsheet/index.html
Labels: accessibility, docs, v5

#32405 Add Popper fallback behaviour
  js/src/dropdown.js
  js/src/tooltip.js
Labels: js, no-backport-to-v4, v5

#32399 Remove duplicated 'follow Bootstrap on Twitter' link in Getting Started
  site/content/docs/5.0/getting-started/introduction.md
Labels: backport-to-v4, docs, v4, v5

#32397 Utility API, RFS option: Only generate responsive classes when needed
  scss/utilities/_api.scss
Labels: css, no-backport-to-v4, v5

#32395 carousel: switch to `if/else`
  js/src/carousel.js
Labels: js, v5

#32410 Update devDependencies and regenerate package-lock.json
  package-lock.json
  package.json
Labels: dependencies, v5

#32206 Revert colors.yml accidental changes
  site/data/colors.yml
  site/data/grays.yml
Labels: docs, v4

#32205 Clean up .gitignore
  .gitignore
Labels: meta

#32314 CONTRIBUTING: mention dist files
  .github/CONTRIBUTING.md
Labels: backport-to-v4, meta, v4, v5

#32411 Add hex values to colors
  site/content/docs/4.5/getting-started/theming.md
Labels: docs, v4

#32211 v4: Move negative margin-bottom from .nav-item to .nav-link
  scss/_nav.scss
Labels: css, v4

#32287 Typo: show on xxl, if only xl should be hidden.
  site/content/docs/5.0/utilities/display.md
Labels: docs, no-backport-to-v4, v5

#32284 docs: Add Korean translation
  site/data/translations.yml
Labels: docs, v5

#32259 docs: SVG consistency changes
  site/assets/scss/_navbar.scss
  site/assets/scss/_subnav.scss
  site/layouts/partials/docs-navbar.html
  site/layouts/partials/icons/circle-square.svg
  site/layouts/partials/icons/cloud-fill.svg
  site/layouts/partials/icons/code.svg
  site/layouts/partials/icons/collapse.svg
  site/layouts/partials/icons/droplet-fill.svg
  site/layouts/partials/icons/expand.svg
  site/layouts/partials/icons/hamburger.svg
  site/layouts/partials/icons/list.svg
Labels: docs, v5

#32238 CI: add a 30-min timeout for BrowserStack
  .github/workflows/browserstack.yml
Labels: CI, backport-to-v4, v4, v5

#32415 Reset Popper position in RTL
  scss/_dropdown.scss
Labels: css, regression, rtl, v5

#32394 Remove `TRANSITION_END` from utils
  js/src/alert.js
  js/src/carousel.js
  js/src/collapse.js
  js/src/modal.js
  js/src/tab.js
  js/src/toast.js
  js/src/tooltip.js
  js/src/util/index.js
Labels: js, v5

#32420 Tooltip - check if tip and its parent node exist in dispose method
  js/src/tooltip.js
  js/tests/unit/tooltip.spec.js
Labels: js, v5

#32303 Use the ternary operator in a few more places
  js/src/carousel.js
  js/src/tab.js
Labels: js, v5

#32185 terser: use 2 passes instead of the default 1.
  package.json
Labels: backport-to-v4, build, v4, v5

#32348 Use box shadows instead of linear gradients to colorize tables
  scss/_tables.scss
  site/content/docs/5.0/content/tables.md
Labels: css, no-backport-to-v4, performance, v5

#32393 carousel: switch to string constants
  js/src/carousel.js
Labels: js, v5

#32246 Replace Lorem Ipsum placeholder text with more representative (or at least english language) text
  site/content/docs/5.0/components/accordion.md
  site/content/docs/5.0/components/card.md
  site/content/docs/5.0/components/carousel.md
  site/content/docs/5.0/components/list-group.md
  site/content/docs/5.0/components/modal.md
  site/content/docs/5.0/components/navs-tabs.md
  site/content/docs/5.0/components/scrollspy.md
  site/content/docs/5.0/components/tooltips.md
  site/content/docs/5.0/content/reboot.md
  site/content/docs/5.0/content/tables.md
  site/content/docs/5.0/content/typography.md
  site/content/docs/5.0/examples/blog/index.html
  site/content/docs/5.0/examples/carousel/index.html
  site/content/docs/5.0/examples/cheatsheet/index.html
  site/content/docs/5.0/examples/dashboard/index.html
  site/content/docs/5.0/examples/masonry/index.html
  site/content/docs/5.0/examples/offcanvas/index.html
  site/content/docs/5.0/helpers/stretched-link.md
  site/content/docs/5.0/layout/columns.md
  site/content/docs/5.0/utilities/text.md
Labels: backport-to-v4, docs, v5

#32463 Straggler lorem ipsum text
  site/content/docs/5.0/components/collapse.md
Labels: docs, no-backport-to-v4, v5

#32449 examples: Update font utility classes to new v5 versions
  site/content/docs/5.0/examples/album-rtl/index.html
  site/content/docs/5.0/examples/blog-rtl/index.html
  site/content/docs/5.0/examples/blog/index.html
Labels: docs, examples, v5

#32465 Tooltip - Add missing callback in async spec
  js/tests/unit/tooltip.spec.js
Labels: js, tests, v5

#32464 Add missing `has-validation` in checkout examples
  site/content/docs/5.0/examples/checkout-rtl/index.html
  site/content/docs/5.0/examples/checkout/index.html
Labels: docs, examples, v5

#32453 Few updates for v5.0.0-beta1 NuGet support
  nuget/bootstrap.nuspec
  nuget/bootstrap.sass.nuspec
Labels: meta, v5

#32423 Add two new variables for pagination border-radius values
  scss/_pagination.scss
  scss/_variables.scss
Labels: backport-to-v4, css, v4, v5

#32479 Clean up lorem ipsum text in popover examples
  site/content/docs/5.0/components/popovers.md
Labels: backport-to-v4, docs, v5

#32437 Tooltip/popover - change the default value for `fallbackPlacements`
  js/src/tooltip.js
  site/content/docs/5.0/components/popovers.md
  site/content/docs/5.0/components/tooltips.md
  site/content/docs/5.0/migration.md
Labels: docs, js, v5

#32477 Flatten package-lock.json
  package-lock.json
Labels: dependencies, v5

#32409 Update karma-browserstack-launcher to v1.6.0
  package-lock.json
  package.json
Labels: dependencies, v5

#32455 docs: Add system-ui to native font stack documentation
  site/content/docs/5.0/content/reboot.md
  site/content/docs/5.0/getting-started/rtl.md
Labels: docs, v5

#32452 Update CodeQL Action
  .github/workflows/codeql.yml
Labels: CI, backport-to-v4, v4, v5

#32478 Remove redundant `pointer-events: none` override for tooltip and popover disabled buttons
  site/content/docs/5.0/components/popovers.md
  site/content/docs/5.0/components/tooltips.md
Labels: docs, v5

#32483 docs: Remove unneeded `.form-group` class
  site/content/docs/5.0/components/toasts.md
Labels: docs, v5

#32457 Add mention of `bs-custom-file-input` needed for the custom file input
  site/content/docs/4.5/components/input-group.md
Labels: docs, v4

#32417 Update Release Drafter configuration
  .github/release-drafter.yml
Labels: meta

#32461 Docs: style clipboard button on `:focus`, not just `:hover`
  site/assets/scss/_clipboard-js.scss
Labels: backport-to-v4, docs, v5

#32462 v4 backport: Replace Lorem Ipsum placeholder text with more representative (or at least english language) text
  site/content/docs/4.5/components/card.md
  site/content/docs/4.5/components/carousel.md
  site/content/docs/4.5/components/collapse.md
  site/content/docs/4.5/components/list-group.md
  site/content/docs/4.5/components/media-object.md
  site/content/docs/4.5/components/modal.md
  site/content/docs/4.5/components/navs.md
  site/content/docs/4.5/components/popovers.md
  site/content/docs/4.5/components/scrollspy.md
  site/content/docs/4.5/components/tooltips.md
  site/content/docs/4.5/content/reboot.md
  site/content/docs/4.5/content/typography.md
  site/content/docs/4.5/examples/blog/index.html
  site/content/docs/4.5/examples/carousel/index.html
  site/content/docs/4.5/examples/dashboard/index.html
  site/content/docs/4.5/examples/jumbotron/index.html
  site/content/docs/4.5/examples/offcanvas/index.html
  site/content/docs/4.5/utilities/stretched-link.md
  site/content/docs/4.5/utilities/text.md
Labels: docs, v4

#32489 Fix popover docs example
  site/content/docs/5.0/components/popovers.md
Labels: docs, v5

#32486 BrowserStack: test on macOS Catalina instead of High Sierra
  js/tests/browsers.js
Labels: tests, v5

#32309 tests: replace deprecated jQuery method
  js/tests/unit/jquery.spec.js
Labels: js, tests, v5

#32492 Fix: variables collide with globals
  scss/_alert.scss
  scss/_list-group.scss
Labels: css, v5

#31757 Extended Form validation states capabilities
  scss/forms/_validation.scss
  scss/mixins/_forms.scss
  site/content/docs/5.0/forms/validation.md
  site/content/docs/5.0/migration.md
Labels: css, v5

#32317 Variables for modifying button state colours.
  scss/_variables.scss
  scss/mixins/_buttons.scss
Labels: css, feature, v5

#32324 Add helpers to utilities bundle
  .bundlewatch.config.json
  scss/bootstrap-utilities.scss
  site/content/docs/5.0/migration.md
Labels: css, v5

#32445 Fix for popover example showing above navbar
  site/assets/scss/_subnav.scss
  site/assets/scss/_variables.scss
Labels: docs, v5

#32528 JS carousel test: french word in the wild
  js/tests/unit/carousel.spec.js
Labels: meta, skip-changelog, tests, v5

#32534 Documentation: added class selector "." to "dropend"
  site/content/docs/5.0/migration.md
Labels: docs, v5

#32529 Tooltips: add missing space
  site/content/docs/5.0/components/tooltips.md
Labels: backport-to-v4, docs, v4, v5

#32494 Revert "Update karma-browserstack-launcher to v1.6.0"
  package-lock.json
  package.json
Labels: dependencies, v5

#32490 Add keyboard-focusable elements for popover on disabled button
  site/content/docs/5.0/components/popovers.md
Labels: backport-to-v4, docs, v5

#32543 API docs: add missing comma
  site/content/docs/5.0/utilities/api.md
Labels: docs, v5

#32376 Support Popper virtual elements
  js/src/dropdown.js
  js/tests/unit/dropdown.spec.js
  site/content/docs/5.0/components/dropdowns.md
Labels: feature, js, v5

#32438 collapse: prevent url change if `A` nested tag is clicked
  js/src/collapse.js
  js/tests/unit/collapse.spec.js
Labels: js, v5

#32593 Lock karma-browserstack-launcher and regenerate package-lock.json
  package-lock.json
  package.json
Labels: dependencies, v5

#32419 Tweak .form-select padding
  scss/_variables.scss
  scss/forms/_form-select.scss
Labels: css, no-backport-to-v4, v5

#32638 Add an actual `data-bs-touch="false"` example in the carousel docs
  site/content/docs/5.0/components/carousel.md
Labels: backport-to-v4, docs, v5
