Repository twbs/bootstrap, pull requests merged in 2020-04, with the labels that each got.

#30361 v4: Remove appearance from date inputs
  scss/_forms.scss
  scss/_reboot.scss
Labels: css, v4

#30353 Fix date inputs heights in safari
  scss/_reboot.scss
  scss/forms/_form-control.scss
Labels: css, v5

#30391 transition() mixin prevent redundant 'transition: none' and pass `null`
  scss/mixins/_transition.scss
Labels: backport-to-v4, css, v4, v5

#30480 Use `box-shadow` mixin for form controls
  scss/forms/_form-control.scss
Labels: backport-to-v4, css, v4, v5

#30497 Fix card list group borders & radii
  scss/_card.scss
  scss/_list-group.scss
Labels: backport-to-v4, css, v5

#30501 Update devDependencies and regenerate package-lock.json
  package-lock.json
  package.json
Labels: dependencies, v5

#29988 Add nav link transition
  scss/_nav.scss
  scss/_variables.scss
Labels: css, no-backport-to-v4, v5

#30515 Add `.card-footer` color
  scss/_card.scss
Labels: backport-to-v4, css, v4, v5

#30502 Create `scss-docs` shortcode to get some snippets from the Scss source files
  scss/_alert.scss
  scss/_dropdown.scss
  scss/_functions.scss
  scss/_list-group.scss
  scss/_variables.scss
  scss/forms/_validation.scss
  scss/mixins/_clearfix.scss
  site/content/docs/4.3/forms/validation.md
  site/content/docs/4.3/getting-started/theming.md
  site/content/docs/4.3/helpers/clearfix.md
  site/content/docs/4.3/helpers/embed.md
  site/layouts/shortcodes/scss-docs.html
Labels: css, docs, v5

#30511 Fix event propagation from inactive and disabled dropdowns (#30510)
  js/src/dropdown.js
  js/tests/unit/dropdown.js
Labels: js, v4, v5

#30533 Use correct hex color code
  site/content/docs/4.3/getting-started/theming.md
Labels: docs, v5

#30504 Fix spinner-grow animation
  scss/_spinners.scss
Labels: backport-to-v4, css, v4, v5

#30538 Replace bundlesize with bundlewatch.
  .bundlewatch.config.json
  .github/workflows/test.yml
  package-lock.json
  package.json
Labels: backport-to-v4, dependencies, meta, v4, v5

#30528 Add checkbox transition
  scss/_variables.scss
  scss/forms/_form-check.scss
Labels: css, no-backport-to-v4, v5

#30541 Add v4-dev in bundlewatch config.
  .bundlewatch.config.json
Labels: backport-to-v4, build, meta, v4, v5

#30537 Pass multiple classes to `classList.add` / `classList.remove`
  js/src/carousel.js
  js/src/collapse.js
  js/src/popover.js
  js/src/tooltip.js
Labels: js, v5

#30542 Remove redundant class and line height
  site/assets/scss/_subnav.scss
  site/layouts/partials/docs-subnav.html
Labels: backport-to-v4, docs, v4, v5

#30381 tabs - accessibility issue when using ul/li semantic
  js/tests/unit/tab.js
  js/tests/visual/collapse.html
  js/tests/visual/modal.html
  js/tests/visual/tab.html
  site/docs/4.4/components/navs.md
Labels: accessibility, v4

#30509 Use custom properties for font-stacks
  scss/_reboot.scss
  scss/_utilities.scss
  scss/_variables.scss
Labels: css, v5

#30512 Use `box-shadow` mixin for `.btn`
  scss/mixins/_buttons.scss
Labels: backport-to-v4, css, v5

#30544 Update devDependencies
  package-lock.json
  package.json
Labels: dependencies

#30008 Add dependabot config for v4
  .dependabot/config.yml
Labels: dependencies, meta, v4

#30354 v5: Add new `xxl` grid tier and move ToC to a sidebar
  .bundlewatch.config.json
  scss/_variables.scss
  site/assets/scss/_layout.scss
  site/assets/scss/_toc.scss
  site/assets/scss/docs.scss
  site/content/docs/4.3/components/dropdowns.md
  site/content/docs/4.3/components/list-group.md
  site/content/docs/4.3/components/navbar.md
  site/content/docs/4.3/content/tables.md
  site/content/docs/4.3/examples/grid/index.html
  site/content/docs/4.3/examples/navbars/index.html
  site/content/docs/4.3/extend/approach.md
  site/content/docs/4.3/getting-started/introduction.md
  site/content/docs/4.3/getting-started/rfs.md
  site/content/docs/4.3/layout/breakpoints.md
  site/content/docs/4.3/layout/columns.md
  site/content/docs/4.3/layout/containers.md
  site/content/docs/4.3/layout/grid.md
  site/content/docs/4.3/layout/gutters.md
  site/content/docs/4.3/layout/overview.md
  site/content/docs/4.3/layout/utilities.md
  site/content/docs/4.3/layout/z-index.md
  site/content/docs/4.3/utilities/display.md
  site/content/docs/4.3/utilities/spacing.md
  site/data/breakpoints.yml
  site/data/sidebar.yml
  site/layouts/_default/docs.html
  site/layouts/partials/callout-info-mediaqueries-breakpoints.md
  site/layouts/partials/home/masthead-followup.html
Labels: css, docs, no-backport-to-v4, v5

#30565 adds back `.form-text`
  scss/_forms.scss
  scss/_variables.scss
  scss/forms/_form-text.scss
  site/content/docs/4.3/forms/layout.md
  site/content/docs/4.3/forms/overview.md
  site/content/docs/4.3/migration.md
Labels: css, v5

#30568 Redo display headings
  scss/_type.scss
  scss/_variables.scss
  site/content/docs/4.3/content/typography.md
  site/content/docs/4.3/migration.md
Labels: css, feature, no-backport-to-v4, v5

#30581 Update RFS to 9.0.3
  scss/vendor/_rfs.scss
Labels: css, v5

#30557 Simplify checkbox & radio input
  scss/_variables.scss
  scss/forms/_form-check.scss
Labels: css, no-backport-to-v4, v5

#30582 Delete appearance from `button.close`
  scss/_close.scss
Labels: backport-to-v4, css, v4, v5

#30460 Add Release Drafter Action
  .github/release-drafter.yml
  .github/workflows/release-notes.yml
Labels: meta, v4, v5

#30561 v5: Update system font stack
  scss/_variables.scss
Labels: css, no-backport-to-v4, v5

#30573 v5: Improve the responsiveness of our Dashboard example
  site/content/docs/4.3/examples/dashboard/index.html
Labels: backport-to-v4, examples, v4, v5

#30585 Disable negative margins by default
  scss/_variables.scss
  site/content/docs/4.3/getting-started/theming.md
  site/content/docs/4.3/migration.md
  site/content/docs/4.3/utilities/spacing.md
Labels: css, no-backport-to-v4, v5

#30595 gutters.md: fix link and highlight
  site/content/docs/4.3/layout/gutters.md
Labels: docs, v5

#30591 Add `bs-` prefixes to custom properties
  scss/_reboot.scss
  scss/_root.scss
  scss/_utilities.scss
  scss/_variables.scss
  scss/mixins/_grid.scss
  site/content/docs/4.3/getting-started/theming.md
Labels: css, no-backport-to-v4, v5

#30598 feat: removes `.form-text` display
  scss/_variables.scss
  scss/forms/_form-text.scss
  scss/mixins/_forms.scss
  site/content/docs/4.3/forms/overview.md
Labels: css, v5

#30606 feat: checks for `$grid-row-columns`
  scss/mixins/_grid.scss
Labels: backport-to-v4, css, v4, v5

#30566 collapse: don't rely on implicit conversion
  js/src/collapse.js
Labels: js, v5

#30567 Improve docs-sidebar.html
  site/layouts/partials/docs-sidebar.html
Labels: docs, v5

#30609 feat: checks for `$grid-breakpoints` map list
  scss/_functions.scss
Labels: backport-to-v4, css, v4, v5

#30612 backports `$grid-row-columns`
  scss/mixins/_grid-framework.scss
Labels: css, v4

#30596 Remove negative margins leftovers
  site/content/docs/4.3/examples/navbars/index.html
  site/layouts/partials/docs-navbar.html
Labels: docs, v5

#30594 Deprecate `bg-gradient-variant` mixin
  scss/mixins/_background-variant.scss
  scss/utilities/_background.scss
Labels: css, v4

#30605 grid: checks for `$grid-columns > 0`
  scss/mixins/_grid.scss
Labels: backport-to-v4, css, v4, v5

#30415 Drop `@support (position: sticky)` media query
  scss/helpers/_position.scss
  site/assets/scss/_toc.scss
Labels: css, no-backport-to-v4, v5

#30633 Remove caret element
  js/tests/unit/dropdown.spec.js
Labels: testing, v5

#30660 Prevent list group style leaks
  scss/_list-group.scss
Labels: backport-to-v4, css, v4, v5

#30673 Regenerate package-lock.json
  package-lock.json
Labels: dependencies, v5

#30674 CI: remove no longer needed steps
  .github/workflows/test.yml
Labels: backport-to-v4, build, v4, v5

#30653 Drop closest from SelectorEngine
  js/src/alert.js
  js/src/button.js
  js/src/dom/selector-engine.js
  js/src/dropdown.js
  js/src/scrollspy.js
  js/src/tab.js
  js/src/tooltip.js
Labels: js, v5

#30671 Update config.yml
  .dependabot/config.yml
Labels: meta, v5

#30677 Move codeql.yml one dir up
  .github/workflows/codeql.yml
Labels: build, v5

#30679 Update codeql.yml
  .github/workflows/codeql.yml
Labels: build, v5

#30681 masthead-followup: Add missing traling slash
  site/layouts/partials/home/masthead-followup.html
Labels: docs, v5

#30685 `<pre>`: Disable auto-hiding scrollbar in legacy Edge
  scss/_reboot.scss
Labels: backport-to-v4, css, v4, v5

#30130 Add a script to zip the built examples
  build/zip-examples.js
  config.yml
  package.json
  site/content/docs/4.3/getting-started/download.md
  site/layouts/_default/single.html
Labels: backport-to-v4, build, v4, v5

#30686 [type=radio] should always be rounded
  scss/forms/_form-check.scss
Labels: css, v5

#30620 Remove borders from iframes by default
  scss/_reboot.scss
  scss/helpers/_embed.scss
  site/content/docs/4.3/helpers/embed.md
Labels: css, no-backport-to-v4, v5

#30690 Avoid bad scrollbar replacement into width values
  js/src/modal.js
Labels: backport-to-v4, js, v4, v5

#30505 Fixes #30503 to replace renamed position utility
  site/docs/4.4/assets/scss/_component-examples.scss
  site/docs/4.4/components/navbar.md
Labels: docs, v4

#30180 v4: Change input group validation examples
  site/docs/4.4/components/forms.md
Labels: css, v4

#30564 v5: Unify spacing across components
  scss/_variables.scss
  site/assets/scss/_subnav.scss
  site/content/docs/4.3/migration.md
Labels: css, v5

#30695 search.js: make the check for URL stricter
  site/assets/js/search.js
Labels: backport-to-v4, docs, v4, v5
