Repository twbs/bootstrap, pull requests merged in 2020-03, with the labels that each got.

#30323 Fix `th` alignment for Safari
  scss/_reboot.scss
Labels: css, no-backport-to-v4, v5

#30330 Embedded examples cleanup
  site/assets/scss/_component-examples.scss
Labels: css, docs, no-backport-to-v4, v5

#30272 Example dashboard: fix menu disappearing on small viewport
  site/content/docs/4.3/examples/dashboard/dashboard.css
  site/content/docs/4.3/examples/dashboard/index.html
Labels: backport-to-v4, examples, v4, v5

#30336 Switch versions & docs search
  site/assets/scss/_algolia.scss
  site/layouts/partials/docs-subnav.html
  site/layouts/partials/docs-versions.html
Labels: docs, no-backport-to-v4

#30199 Add `loading="lazy"` in images
  site/content/docs/4.3/about/brand.md
  site/content/docs/4.3/about/team.md
  site/content/docs/4.3/components/navbar.md
  site/content/docs/4.3/examples/_index.md
  site/layouts/partials/home/masthead-followup.html
Labels: docs, v5

#30340 reboot file: adds some grouping and comments standardizations
  scss/_reboot.scss
Labels: css, no-backport-to-v4, v5

#30262 $link-decoration: underline affects some components
  scss/_buttons.scss
  scss/_dropdown.scss
  scss/_list-group.scss
  scss/_nav.scss
  scss/_pagination.scss
Labels: backport-to-v4, css, v5

#30197 build/ship.sh: shellcheck fixes.
  build/ship.sh
Labels: backport-to-v4, build, v4, v5

#30341 Update clipboard.js to v2.0.6
  site/assets/js/vendor/clipboard.min.js
Labels: docs, js, v5

#30352 Regenerate package-lock.json
  package-lock.json
Labels: dependencies, v5

#30359 Align navbar in docs
  site/content/docs/4.3/components/scrollspy.md
Labels: docs, no-backport-to-v4, v5

#30363 Update browsers + devices support page to remove IE10, IE11 Mobile
  site/content/docs/4.3/getting-started/browsers-devices.md
Labels: docs, v5

#30362 Remove unneeded og:image:secure_url from social.html
  site/layouts/partials/social.html
Labels: backport-to-v4, docs, v4, v5

#30364 site(css): removes `&-*` scss pattern
  site/assets/scss/_masthead.scss
Labels: docs, no-backport-to-v4, v5

#30356 Update rollup to v2.0.2
  package-lock.json
  package.json
Labels: dependencies, v5

#30355 Remove babel-eslint
  .eslintrc.json
  package-lock.json
  package.json
Labels: build, dependencies, js, v5

#30117 `prev()` function fails when non-element nodes are present
  js/src/dom/selector-engine.js
  js/tests/unit/dom/selector-engine.spec.js
Labels: js, no-backport-to-v4, v5

#30285 Harmonize usage of constants
  js/src/button.js
  js/src/collapse.js
  js/src/dropdown.js
  js/src/tooltip.js
Labels: js, v5

#30288 Minor `.nav-tabs` optimization
  scss/_nav.scss
Labels: css, v5

#30378 .browserslistrc: bump the minimum supported version to 16.16299
  .browserslistrc
Labels: v5

#30384 Remove `.bd-example-responsive-containers`
  site/assets/scss/_component-examples.scss
Labels: css, no-backport-to-v4, v5

#30390 Use `display: block;` for form elements
  scss/forms/_form-file.scss
  scss/forms/_form-select.scss
Labels: css, no-backport-to-v4, v5

#30392 variables: groups hr element
  scss/_variables.scss
Labels: css, no-backport-to-v4, v5

#30269 Fix pseudo paddings and height
  scss/_reboot.scss
Labels: css, v5

#30396 style: fixes indent
  site/content/docs/4.3/getting-started/rfs.md
Labels: docs, v5

#30395 fix(css): adds a new opacity var
  scss/_variables.scss
  scss/mixins/_forms.scss
Labels: css, no-backport-to-v4, v5

#30388 enable button toggle on label when checkbox is inside
  js/src/button.js
  js/tests/unit/button.js
Labels: js, v4

#30408 Dashboard example: use the core `.position-sticky` class.
  site/content/docs/4.3/examples/dashboard/dashboard.css
  site/content/docs/4.3/examples/dashboard/index.html
Labels: examples, v5

#30416 Clarify card group behavior
  site/content/docs/4.3/components/card.md
Labels: backport-to-v4, docs, v4, v5

#30383 fix: ensure totype always return stringified null when null passed
  js/src/util/index.js
  js/tests/unit/util/index.spec.js
Labels: backport-to-v4, js, v4, v5

#30041 Change navbar GitHub link to org
  config.yml
Labels: docs, v5

#30413 Regenerate package-lock.json
  package-lock.json
Labels: dependencies

#30418 Update docs-navbar.html
  site/layouts/partials/docs-navbar.html
Labels: backport-to-v4, docs, v4, v5

#30276 Fix commonmark syntax
  site/content/docs/4.3/content/tables.md
Labels: docs, v5

#30389 v5: Underline links
  scss/_buttons.scss
  scss/_dropdown.scss
  scss/_nav.scss
  scss/_pagination.scss
  scss/_variables.scss
  site/assets/scss/_sidebar.scss
  site/assets/scss/_toc.scss
Labels: accessibility, css, no-backport-to-v4, v5

#30345 Fix `<legend>` wrapping bug
  scss/_reboot.scss
Labels: css, no-backport-to-v4, v5

#30427 Use a link helper instead of the text color utility
  site/content/docs/4.3/examples/blog/index.html
  site/content/docs/4.3/examples/dashboard/index.html
  site/content/docs/4.3/examples/pricing/index.html
  site/content/docs/4.3/examples/product/index.html
  site/content/docs/4.3/getting-started/contents.md
  site/layouts/partials/home/masthead.html
Labels: docs, no-backport-to-v4, v5

#30168 Use WCAG contrast algo
  scss/_functions.scss
  scss/_variables.scss
  scss/mixins/_buttons.scss
  scss/mixins/_forms.scss
  site/assets/scss/_colors.scss
  site/content/docs/4.3/getting-started/theming.md
  site/content/docs/4.3/migration.md
Labels: accessibility, css

#30036 Added focus state to .btn-link
  scss/_buttons.scss
Labels: accessibility, backport-to-v4, css, v5

#30325 Update modal docs
  site/content/docs/4.3/components/modal.md
Labels: backport-to-v4, docs, v4, v5

#30426 Make form-check label customizable
  scss/_variables.scss
  scss/forms/_form-check.scss
Labels: css, no-backport-to-v4, v5

#30040 File chooser size
  scss/_variables.scss
  scss/forms/_form-file.scss
  site/content/docs/4.3/forms/file.md
Labels: css, v5

#30435 Add `.caption-top` for tables
  scss/_reboot.scss
  scss/_tables.scss
  site/content/docs/4.3/content/tables.md
Labels: css, feature, no-backport-to-v4, v5

#30430 fix: remove make array util function
  js/src/carousel.js
  js/src/collapse.js
  js/src/dom/selector-engine.js
  js/src/dropdown.js
  js/src/modal.js
  js/src/scrollspy.js
  js/src/tab.js
  js/src/tooltip.js
  js/src/util/index.js
  js/src/util/sanitizer.js
  js/tests/unit/alert.spec.js
  js/tests/unit/collapse.spec.js
  js/tests/unit/dom/selector-engine.spec.js
  js/tests/unit/modal.spec.js
  js/tests/unit/popover.spec.js
  js/tests/unit/tooltip.spec.js
  js/tests/unit/util/index.spec.js
Labels: js, no-backport-to-v4, v5

#30425 Regenerate package-lock.json to fix npm vulnerabilities
  package-lock.json
Labels: dependencies, v5

#30454 .gitignore: add Jekyll's cache folder
  .gitignore
Labels: meta, no-backport-to-v4, v5

#30461 Update eslint-plugin-unicorn to v18.0.0
  .eslintrc.json
  package-lock.json
  package.json
Labels: dependencies, v5

#30382 v5 tabs - accessibility issue when using ul/li semantic
  js/tests/unit/tab.spec.js
  js/tests/visual/collapse.html
  js/tests/visual/modal.html
  js/tests/visual/tab.html
  site/content/docs/4.3/components/navs.md
Labels: accessibility, v5

#30471 docs: remove duplicate code for indeterminate
  site/assets/js/application.js
  site/content/docs/4.3/forms/checks.md
Labels: docs, js, v5

#30469 Remove holder.js leftovers
  js/tests/integration/index.html
Labels: backport-to-v4, v4, v5

#29924 Dist
  dist/css/bootstrap-grid.css
  dist/css/bootstrap-grid.css.map
  dist/css/bootstrap-grid.min.css
  dist/css/bootstrap-grid.min.css.map
  dist/css/bootstrap-reboot.css
  dist/css/bootstrap-reboot.css.map
  dist/css/bootstrap-reboot.min.css
  dist/css/bootstrap-reboot.min.css.map
  dist/css/bootstrap-utilities.css
  dist/css/bootstrap-utilities.css.map
  dist/css/bootstrap-utilities.min.css
  dist/css/bootstrap-utilities.min.css.map
  dist/css/bootstrap.css
  dist/css/bootstrap.css.map
  dist/css/bootstrap.min.css
  dist/css/bootstrap.min.css.map
  dist/js/bootstrap.bundle.js
  dist/js/bootstrap.bundle.js.map
  dist/js/bootstrap.bundle.min.js
  dist/js/bootstrap.bundle.min.js.map
  dist/js/bootstrap.esm.js
  dist/js/bootstrap.esm.js.map
  dist/js/bootstrap.esm.min.js
  dist/js/bootstrap.esm.min.js.map
  dist/js/bootstrap.js
  dist/js/bootstrap.js.map
  dist/js/bootstrap.min.js
  dist/js/bootstrap.min.js.map
  js/dist/alert.js
  js/dist/alert.js.map
  js/dist/button.js
  js/dist/button.js.map
  js/dist/carousel.js
  js/dist/carousel.js.map
  js/dist/collapse.js
  js/dist/collapse.js.map
  js/dist/dom/data.js
  js/dist/dom/event-handler.js
  js/dist/dom/event-handler.js.map
  js/dist/dom/manipulator.js
  js/dist/dom/polyfill.js
  js/dist/dom/polyfill.js.map
  js/dist/dom/selector-engine.js
  js/dist/dom/selector-engine.js.map
  js/dist/dropdown.js
  js/dist/dropdown.js.map
  js/dist/modal.js
  js/dist/modal.js.map
  js/dist/popover.js
  js/dist/popover.js.map
  js/dist/scrollspy.js
  js/dist/scrollspy.js.map
  js/dist/tab.js
  js/dist/tab.js.map
  js/dist/toast.js
  js/dist/toast.js.map
  js/dist/tooltip.js
  js/dist/tooltip.js.map
  site/content/docs/4.3/examples/floating-labels/floating-labels.css
Labels: v5

#30470 docs: remove `makeArray`
  site/assets/js/application.js
Labels: docs, js, v5

#30462 Use `textContent` instead of `innerText`.
  .eslintrc.json
  js/src/tooltip.js
  js/tests/unit/tooltip.spec.js
Labels: js, v5

#30463 Remove `MSPointerEvent` and `ms-touch-action` in tests
  js/src/carousel.js
  js/tests/unit/carousel.spec.js
Labels: js, v5

#30475 Switch to custom properties to control grid gutter widths
  scss/_grid.scss
  scss/mixins/_grid.scss
  site/content/docs/4.3/layout/grid.md
Labels: css, no-backport-to-v4, v5

#30482 Cleanup responsive tables
  scss/_tables.scss
Labels: css, v5

#29413 Prevent vertical offset in IE 11
  scss/_progress.scss
Labels: css, v4

#30009 Use variables for list-group-item color levels
  scss/_list-group.scss
  scss/_variables.scss
Labels: css, no-backport-to-v4, v5

#30488 Regenerate package-lock.json.
  package-lock.json
Labels: dependencies

#30489 docs(tables): 1, 2, 2, 4…
  site/content/docs/4.3/content/tables.md
Labels: docs, v5

#30476 Require `.form-label` classes on form labels
  scss/_button-group.scss
  scss/_list-group.scss
  scss/_reboot.scss
  scss/_variables.scss
  scss/forms/_form-check.scss
  scss/forms/_input-group.scss
  scss/forms/_labels.scss
  site/content/docs/4.3/components/dropdowns.md
  site/content/docs/4.3/examples/checkout/index.html
  site/content/docs/4.3/examples/floating-labels/floating-labels.css
  site/content/docs/4.3/forms/form-control.md
  site/content/docs/4.3/forms/input-group.md
  site/content/docs/4.3/forms/layout.md
  site/content/docs/4.3/forms/overview.md
  site/content/docs/4.3/forms/range.md
  site/content/docs/4.3/forms/validation.md
  site/content/docs/4.3/migration.md
Labels: css, no-backport-to-v4, v5

#30490 Switch to string constants.
  bundlesize.config.json
  js/src/alert.js
  js/src/button.js
  js/src/carousel.js
  js/src/collapse.js
  js/src/dropdown.js
  js/src/modal.js
  js/src/popover.js
  js/src/scrollspy.js
  js/src/tab.js
  js/src/toast.js
  js/src/tooltip.js
Labels: js, v4

#30492 Fix text decorations
  scss/_navbar.scss
  site/assets/scss/_algolia.scss
Labels: css, no-backport-to-v4, v5
