Repository twbs/bootstrap, pull requests merged in 2020-09, with the labels that each got.

#31556 docs: Fix typo on Customize -> Color page
  site/content/docs/5.0/customize/color.md
Labels: docs, no-backport-to-v4, v5

#31570 Regenerate package-lock.json to flatten the deps tree
  package-lock.json
Labels: dependencies, v5

#31571 Add default parameters to each border radius mixin
  scss/mixins/_border-radius.scss
  site/content/docs/5.0/migration.md
Labels: css, no-backport-to-v4

#31572 Fix docs incorrect green and cyan hex codes
  site/data/colors.yml
Labels: docs, no-backport-to-v4, v5

#31036 Docs: Add top/bottom margin to highlighted code samples
  site/assets/scss/_clipboard-js.scss
  site/assets/scss/_component-examples.scss
Labels: backport-to-v4, docs, v4, v5

#31576 Drop h4 color customization in callouts
  site/assets/scss/_callouts.scss
Labels: accessibility, docs, v5

#31589 Build tools: mention how to get sources
  site/docs/4.5/getting-started/build-tools.md
Labels: docs, v4

#31590 Build tools: mention how to get the sources
  site/content/docs/5.0/getting-started/build-tools.md
Labels: docs, v5

#31575 SVG placeholders accessibility
  site/layouts/shortcodes/placeholder.html
Labels: accessibility, docs, v5

#31601 Regenerate package-lock.json to fix CVE-2020-8244
  package-lock.json
Labels: dependencies, v5

#31484 Add border width utility
  scss/_utilities.scss
  scss/_variables.scss
  site/content/docs/5.0/migration.md
  site/content/docs/5.0/utilities/borders.md
Labels: css, feature, needs documentation, no-backport-to-v4, v5

#31137 Docs: (subjectively) nicer looking accordion example
  site/content/docs/5.0/components/collapse.md
Labels: docs, no-backport-to-v4, v5

#31580 Wrap home content in <main> & use <section>
  site/layouts/_default/home.html
  site/layouts/partials/home/masthead-followup.html
  site/layouts/partials/home/masthead.html
Labels: accessibility, docs, v5

#31610 Docs layout: ensure content sits in main
  site/assets/scss/_layout.scss
  site/layouts/_default/docs.html
Labels: accessibility, docs, v5

#31579 Ensure examples content sits in landmarks
  site/content/docs/5.0/examples/blog/index.html
  site/content/docs/5.0/examples/checkout/index.html
  site/content/docs/5.0/examples/dashboard/index.html
  site/content/docs/5.0/examples/floating-labels/index.html
  site/content/docs/5.0/examples/grid/index.html
  site/content/docs/5.0/examples/masonry/index.html
  site/content/docs/5.0/examples/navbar-bottom/index.html
  site/content/docs/5.0/examples/navbars/index.html
  site/content/docs/5.0/examples/offcanvas/index.html
  site/content/docs/5.0/examples/pricing/index.html
  site/content/docs/5.0/examples/product/index.html
  site/content/docs/5.0/examples/product/product.css
  site/content/docs/5.0/examples/sign-in/index.html
Labels: accessibility, docs, examples, v5

#31588 Download link in README
  README.md
Labels: meta, v5

#31644 Dist
  dist/css/bootstrap-grid.css
  dist/css/bootstrap-grid.css.map
  dist/css/bootstrap-grid.min.css
  dist/css/bootstrap-grid.min.css.map
  dist/css/bootstrap-reboot.css.map
  dist/css/bootstrap-reboot.min.css.map
  dist/css/bootstrap-utilities.css
  dist/css/bootstrap-utilities.css.map
  dist/css/bootstrap-utilities.min.css
  dist/css/bootstrap-utilities.min.css.map
  dist/css/bootstrap.css
  dist/css/bootstrap.css.map
  dist/css/bootstrap.min.css
  dist/css/bootstrap.min.css.map
  dist/js/bootstrap.bundle.js
  dist/js/bootstrap.bundle.js.map
  dist/js/bootstrap.bundle.min.js
  dist/js/bootstrap.bundle.min.js.map
  dist/js/bootstrap.esm.js
  dist/js/bootstrap.esm.js.map
  dist/js/bootstrap.esm.min.js
  dist/js/bootstrap.esm.min.js.map
  dist/js/bootstrap.js
  dist/js/bootstrap.js.map
  dist/js/bootstrap.min.js
  dist/js/bootstrap.min.js.map
  js/dist/alert.js
  js/dist/alert.js.map
  js/dist/button.js
  js/dist/button.js.map
  js/dist/carousel.js
  js/dist/carousel.js.map
  js/dist/collapse.js
  js/dist/collapse.js.map
  js/dist/dom/data.js
  js/dist/dom/data.js.map
  js/dist/dom/event-handler.js
  js/dist/dom/event-handler.js.map
  js/dist/dom/manipulator.js
  js/dist/dom/manipulator.js.map
  js/dist/dom/polyfill.js
  js/dist/dom/polyfill.js.map
  js/dist/dom/selector-engine.js
  js/dist/dropdown.js
  js/dist/dropdown.js.map
  js/dist/modal.js
  js/dist/modal.js.map
  js/dist/popover.js
  js/dist/popover.js.map
  js/dist/scrollspy.js
  js/dist/scrollspy.js.map
  js/dist/tab.js
  js/dist/tab.js.map
  js/dist/toast.js
  js/dist/toast.js.map
  js/dist/tooltip.js
  js/dist/tooltip.js.map
Labels: v5

#31648 Typo in About / Overview
  site/content/docs/5.0/about/overview.md
Labels: docs, typo, v5

#31636 Add getInstance method in the docs for tooltip
  site/content/docs/5.0/components/tooltips.md
Labels: docs, v5

#31624 Update devDependencies and gems
  .bundlewatch.config.json
  Gemfile.lock
  package-lock.json
  package.json
Labels: dependencies, v4

#31578 Scrollspy keyboard access in docs
  site/content/docs/5.0/components/scrollspy.md
Labels: accessibility, docs, v5

#31192 Docs: Fix vertical align link
  site/content/docs/5.0/utilities/vertical-align.md
Labels: docs, v5

#31689 docs: fix a few redirects
  .github/CONTRIBUTING.md
  README.md
  scss/mixins/_visually-hidden.scss
  site/content/docs/5.0/getting-started/accessibility.md
  site/content/docs/5.0/getting-started/webpack.md
  site/layouts/_default/docs.html
Labels: backport-to-v4, docs, v4, v5

#31673 Dropdown: fix variable always evaluating to true
  js/src/dropdown.js
Labels: js, v4

#31693 v4: Custom check shadow
  scss/_custom-forms.scss
Labels: css, v4

#31668 Webpack page: add `postcssOptions` key
  site/content/docs/5.0/getting-started/webpack.md
Labels: docs, v5

#31706 Docs: Add top/bottom margin to highlighted code samples
  site/docs/4.5/assets/scss/_clipboard-js.scss
  site/docs/4.5/assets/scss/_component-examples.scss
Labels: v4

#31540 Add new Chinese Simplified translation
  site/_data/translations.yml
Labels: docs, v4

#31280 Extra position utilities
  scss/_utilities.scss
  scss/_variables.scss
  site/assets/scss/_component-examples.scss
  site/content/docs/5.0/utilities/position.md
Labels: css, feature, no-backport-to-v4, v5

#31696 ensure `hidePrevented.bs.modal` can be prevented
  js/src/modal.js
  js/tests/unit/modal.js
Labels: js, v4

#31718 Add new variable for $dropdown-padding-x
  scss/_dropdown.scss
  scss/_variables.scss
Labels: backport-to-v4, css, v5

#31729 Input group addon sass customization options
  scss/_variables.scss
  scss/forms/_input-group.scss
Labels: css, no-backport-to-v4, v5

#31115 fix tooltip hide method when already hidden
  js/src/tooltip.js
  js/tests/unit/tooltip.spec.js
Labels: js, v5

#30811 v4: Mention GPU acceleration fix in docs callout
  site/docs/4.5/components/popovers.md
Labels: docs, v4

#30171 Add .dropdown-menu-dark
  scss/_dropdown.scss
  scss/_variables.scss
  site/content/docs/5.0/components/dropdowns.md
Labels: css, feature, v5

#31259 README.md: show brotli size too
  README.md
Labels: meta, v5

#31738 docs: link to the Asynchronous functions section
  site/layouts/partials/callout-danger-async-methods.md
Labels: docs, v5

#31650 Carousel enhancements, including .carousel-dark
  scss/_carousel.scss
  scss/_variables.scss
  site/content/docs/5.0/components/carousel.md
Labels: css, feature, no-backport-to-v4, v5

#31742 Fix bundlewatch size
  .bundlewatch.config.json
Labels: meta

#31746 Restore `rem` unit
  scss/_variables.scss
Labels: css, no-backport-to-v4, v5

#31119 v5: Adjust docs sidebar and navbar
  site/assets/scss/_masthead.scss
  site/assets/scss/_navbar.scss
  site/assets/scss/_sidebar.scss
  site/assets/scss/_subnav.scss
  site/layouts/_default/docs.html
  site/layouts/partials/docs-navbar.html
  site/layouts/partials/docs-sidebar.html
  site/layouts/partials/docs-subnav.html
  site/layouts/partials/docs-versions.html
  site/layouts/partials/home/masthead.html
  site/layouts/partials/icons/collapse.svg
  site/layouts/partials/icons/expand.svg
  site/layouts/partials/icons/list.svg
Labels: docs, v5

#31750 brand: minor consistency changes
  site/static/docs/5.0/assets/brand/bootstrap-logo-black.svg
  site/static/docs/5.0/assets/brand/bootstrap-logo-white.svg
  site/static/docs/5.0/assets/brand/bootstrap-logo.svg
Labels: docs, v5

#31767 Convert SVGs in navbar and subnav to pixels
  site/layouts/partials/docs-navbar.html
  site/layouts/partials/docs-subnav.html
Labels: docs, v5

#31769 Backport #31300
  site/docs/4.5/getting-started/download.md
  site/docs/4.5/getting-started/introduction.md
  site/index.html
Labels: docs, v4

#31752 v5 alpha 2 migration guide updates
  site/content/docs/5.0/migration.md
Labels: docs, v5

#31754 Tweak versions page columns
  site/content/docs/versions.md
Labels: backport-to-v4, docs, v4, v5

#31772 _variables: change $btn-close-bg's attribute order
  scss/_variables.scss
Labels: css, v5

#31726 Update stylelint to v13.7.2
  .stylelintrc
  package-lock.json
  package.json
  scss/_card.scss
  scss/_reboot.scss
  scss/_spinners.scss
  scss/_variables.scss
  scss/forms/_form-check.scss
  scss/mixins/_border-radius.scss
  scss/mixins/_container.scss
  scss/mixins/_grid.scss
  scss/mixins/_transition.scss
Labels: dependencies, v5

#31785 v5: Vertical pills fix on mobile
  site/content/docs/5.0/components/navs.md
Labels: docs, v5

#31792 Revert #31761
  site/layouts/partials/home/masthead.html
  site/layouts/partials/icons/homepage-hero.svg
  site/static/docs/5.0/assets/img/homepage-hero.svg
Labels: docs, v5

#31791 docs: remove pixels from SVGs
  site/layouts/partials/docs-navbar.html
  site/layouts/partials/docs-subnav.html
Labels: docs, v5

#31775 Update social.html: use `article` when it's a page
  site/layouts/partials/social.html
Labels: backport-to-v4, docs, v4, v5

#31783 Update .gitignore
  .gitignore
Labels: backport-to-v4, meta

#31700 Suppress flexbox side effects in breadcrumb
  scss/_breadcrumb.scss
Labels: backport-to-v4, v4, v5

#31686 v5: Add disabled examples for .form-control, .form-select, and .form-range
  site/content/docs/5.0/forms/form-control.md
  site/content/docs/5.0/forms/range.md
  site/content/docs/5.0/forms/select.md
Labels: docs, no-backport-to-v4, v5

#31651 Fix disabled checkbox toggle buttons
  scss/_variables.scss
  scss/forms/_form-check.scss
  site/content/docs/5.0/forms/checks-radios.md
Labels: css, no-backport-to-v4, v5

#31583 docs(Modal): Add xxl fullscreen example
  site/content/docs/5.0/components/modal.md
Labels: docs, v5

#30550 Bump $dark to $gray-900
  scss/_variables.scss
Labels: accessibility, v5

#31684 Add Sass variable for CSS variable prefix
  scss/_root.scss
  scss/_tables.scss
  scss/_utilities.scss
  scss/_variables.scss
  scss/forms/_form-check.scss
  scss/forms/_form-file.scss
  scss/mixins/_gradients.scss
  scss/mixins/_grid.scss
  scss/mixins/_table-variants.scss
Labels: css, has conflicts, v5

#31795 validation.md: fix _validation.scss file reference
  site/content/docs/5.0/forms/validation.md
Labels: docs, v5

#31794 webpack.md: Replace "both of them" with "it"
  site/content/docs/5.0/getting-started/webpack.md
Labels: docs, v5

#31796 Update btn-close-white docs to filter (not backdrop-filter)
  site/content/docs/5.0/components/close-button.md
  site/content/docs/5.0/migration.md
Labels: docs, v5
