Repository twbs/bootstrap, pull requests merged in 2021-01, with the labels that each got.

#32681 dependabot: Add Actions updates
  .github/dependabot.yml
Labels: v5

#32632 Docs: Tweak the wording for collapse to indicate button is preferred/more semantic
  site/content/docs/5.0/components/collapse.md
Labels: backport-to-v4, docs, v5

#32680 Regenerate package-lock.json
  package-lock.json
Labels: dependencies, v5

#32635 CI: update to actions/setup-node@v2
  .github/workflows/browserstack.yml
  .github/workflows/bundlewatch.yml
  .github/workflows/css.yml
  .github/workflows/docs.yml
  .github/workflows/js.yml
  .github/workflows/lint.yml
  .github/workflows/node-sass.yml
Labels: CI, backport-to-v4, v4, v5

#32634 Docs: Remove incorrect mention of dropdowns for dynamic tab behavior
  site/content/docs/5.0/components/navs-tabs.md
Labels: backport-to-v4, docs, v5

#32684 Add functions and variables to the utilities API docs imports
  site/content/docs/5.0/utilities/api.md
Labels: docs, v5

#32647 carousel example: Move "active" class on .nav-link element
  site/content/docs/5.0/examples/carousel-rtl/index.html
  site/content/docs/5.0/examples/carousel/index.html
Labels: examples, v5

#32488 Hyphen to dash for ranges
  site/content/docs/5.0/examples/carousel-rtl/index.html
  site/content/docs/5.0/examples/carousel/index.html
  site/content/docs/5.0/examples/pricing/index.html
  site/content/docs/5.0/examples/product/index.html
  site/content/docs/5.0/examples/sign-in/index.html
Labels: examples, v5

#32639 v4: Add an actual `data-touch="false"` example in the carousel docs
  site/content/docs/4.5/components/carousel.md
Labels: docs, v4

#32688 Tweak wording for no-touch carousel
  site/content/docs/5.0/components/carousel.md
Labels: docs, v5

#32501 .ratio missing variable prefix
  scss/helpers/_ratio.scss
  site/assets/scss/_component-examples.scss
  site/content/docs/5.0/helpers/ratio.md
  site/content/docs/5.0/migration.md
Labels: css, v5

#32589 Fix navbar docs - active nav-link
  site/content/docs/5.0/components/navbar.md
Labels: docs, no-backport-to-v4, v5

#32603 Scrollspy - Remove unnecessary event argument
  js/src/scrollspy.js
Labels: js, v5

#32685 Clarify the `$enable-shadows` option in our docs
  site/content/docs/5.0/customize/options.md
Labels: backport-to-v4, docs, v4, v5

#32713 Bump copyright year to 2021
  LICENSE
  README.md
  build/build-plugins.js
  build/change-version.js
  build/generate-sri.js
  build/vnu-jar.js
  build/zip-examples.js
  nuget/bootstrap.nuspec
  nuget/bootstrap.sass.nuspec
  scss/bootstrap-grid.scss
  scss/bootstrap-reboot.scss
  scss/bootstrap-utilities.scss
  scss/bootstrap.scss
  site/assets/js/application.js
  site/assets/scss/docs.scss
Labels: backport-to-v4, skip-changelog, v4, v5

#32253 docs: Add Russian translation
  site/data/translations.yml
Labels: docs, v4

#32502 karma: add `v4` in Browserstack build ID
  js/tests/karma.conf.js
Labels: tests, v4

#32728 docs: add v5.0 in versions
  site/data/docs-versions.yml
  site/layouts/partials/docs-navbar.html
Labels: docs, v4

#32738 Update devDependencies
  package-lock.json
  package.json
Labels: dependencies, v5

#32740 Fix typo
  site/content/docs/5.0/layout/breakpoints.md
Labels: docs, no-backport-to-v4, v5

#32737 package.json: move `version_short` variable under the `config` object
  build/zip-examples.js
  package.json
Labels: backport-to-v4, build, v4, v5

#32689 Suppress focus outline for buttons when it shouldn't be visible in Chromium
  scss/_reboot.scss
Labels: backport-to-v4, css, v4, v5

#32751 Consistently use outline:0 rather than outline:none
  scss/_close.scss
  scss/forms/_form-range.scss
Labels: backport-to-v4, css, v5

#32754 Darken dropdown item hover style
  scss/_variables.scss
Labels: css, v5

#32755 GitHub Actions cleanup
  .github/workflows/browserstack.yml
  .github/workflows/bundlewatch.yml
  .github/workflows/css.yml
  .github/workflows/docs.yml
  .github/workflows/js.yml
  .github/workflows/lint.yml
  .github/workflows/node-sass.yml
Labels: CI, backport-to-v4, v4, v5

#32761 Mention stretched-link constraints with table elements
  site/content/docs/5.0/helpers/stretched-link.md
Labels: backport-to-v4, css, docs, v4, v5

#32768 JS: karma tweaks
  js/tests/karma.conf.js
  package.json
Labels: build, tests, v4

#32756 Stylelint: disallow some property values
  .stylelintrc
Labels: build

#32770 .gitignore: remove Ruby/Jekyll entries
  .gitignore
Labels: meta, v5

#32782 [docs] Update toasts.md
  site/content/docs/5.0/components/toasts.md
Labels: docs, v5

#32769 JS: update karma config
  js/tests/karma.conf.js
  package.json
Labels: tests, v5

#32758 Migration: mention the removal of `.rounded-sm/lg` utilities
  site/content/docs/5.0/migration.md
Labels: docs, v5

#32469 Improve zip-examples.js
  build/zip-examples.js
Labels: backport-to-v4, build, v4, v5

#32670 Add word-break to .toast-body
  scss/_toasts.scss
Labels: css

#32771 Improve docs regarding RTL migration
  site/content/docs/5.0/getting-started/rtl.md
  site/content/docs/5.0/migration.md
  site/content/docs/5.0/utilities/api.md
Labels: docs, rtl, v5

#32778 Document some basic code conventions for us
  site/content/docs/5.0/extend/approach.md
Labels: backport-to-v4, docs, v4, v5

#32691 Fix toggling modal when clicking on `data-bs-toggle="modal"`
  js/src/modal.js
  js/tests/unit/modal.spec.js
Labels: js, v5

#32585 Throw a `TypeError` instead of the generic `Error`
  js/src/dropdown.js
  js/src/util/index.js
  js/tests/unit/carousel.spec.js
  js/tests/unit/collapse.spec.js
  js/tests/unit/dropdown.spec.js
  js/tests/unit/modal.spec.js
  js/tests/unit/popover.spec.js
  js/tests/unit/scrollspy.spec.js
  js/tests/unit/tab.spec.js
  js/tests/unit/toast.spec.js
  js/tests/unit/tooltip.spec.js
  js/tests/unit/util/index.spec.js
Labels: js, v5

#32533 Revert "Fix for popover example showing above navbar"
  site/assets/scss/_subnav.scss
  site/assets/scss/_variables.scss
Labels: docs, skip-changelog, v5

#32759 Add mention of CSPs and SVGs
  site/content/docs/5.0/customize/overview.md
Labels: backport-to-v4, docs, v5

#32313 build-plugins: build Base component too
  build/build-plugins.js
Labels: build, js, no-backport-to-v4, v5

#32512 Docs v5: Fix Sass rounding precision and state Sass implementation
  site/content/docs/5.0/customize/sass.md
  site/content/docs/5.0/getting-started/build-tools.md
  site/content/docs/5.0/getting-started/download.md
Labels: backport-to-v4, docs, v4, v5

#32788 Remove role="button" from CTA links in carousel examples
  site/content/docs/5.0/examples/carousel-rtl/index.html
  site/content/docs/5.0/examples/carousel/index.html
Labels: docs, v5

#32789 Remove role="button" from CTA links in carousel example
  site/content/docs/4.5/examples/carousel/index.html
Labels: docs, v4

#32796 CI: change Node.js to `14`
  .github/workflows/browserstack.yml
  .github/workflows/bundlewatch.yml
  .github/workflows/css.yml
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/node-sass.yml
Labels: CI, backport-to-v4, v4, v5

#32799 Update zip-examples.js
  build/zip-examples.js
Labels: backport-to-v4, build, v4, v5

#32511 modal: move common code to reusable functions
  js/src/modal.js
Labels: js, v5

#32620 docs: work around Toast CSS conflict with utils
  site/content/docs/5.0/components/toasts.md
Labels: docs, v5

#32795 Clarifies Sass variable defaults, adds bootstrap-npm-starter callout
  site/content/docs/5.0/customize/sass.md
  site/content/docs/5.0/getting-started/build-tools.md
  site/content/docs/5.0/getting-started/download.md
  site/layouts/partials/callout-info-npm-starter.md
Labels: docs

#32785 Lighten disabled dropdown text to $gray-500
  scss/_variables.scss
Labels: backport-to-v4, css, v4, v5

#32793 Change .form-check background to $input-bg and change transitions
  scss/_variables.scss
  scss/forms/_form-check.scss
Labels: css, no-backport-to-v4, v5

#32787 Remove popover-arrow margin to fix alignment of the arrow
  scss/_popover.scss
Labels: css, no-backport-to-v4, v5

#32809 Backport #32795
  site/content/docs/4.5/getting-started/build-tools.md
  site/content/docs/4.5/getting-started/download.md
  site/content/docs/4.5/getting-started/theming.md
  site/layouts/partials/callout-info-npm-starter.md
Labels: docs, v4

#32791 Docs v4: Sass implementation and rounding precision
  site/content/docs/4.5/getting-started/build-tools.md
  site/content/docs/4.5/getting-started/download.md
  site/content/docs/4.5/getting-started/theming.md
Labels: docs, v4

#32760 Add a live toast example to the docs
  site/assets/js/application.js
  site/content/docs/5.0/components/toasts.md
Labels: docs, v5

#32827 Backport #32760
  site/assets/js/application.js
  site/content/docs/4.5/components/toasts.md
Labels: v4

#32832 Mention CSP and embedded SVGs in v4 docs
  site/content/docs/4.5/getting-started/introduction.md
Labels: docs, v4

#32037 Add .navbar-nav-scroll for vertical scrolling of navbar content
  scss/_navbar.scss
  site/content/docs/5.0/components/navbar.md
Labels: backport-to-v4, css, feature, v4, v5

#32833 Backport #32037
  scss/_navbar.scss
  scss/_variables.scss
  site/content/docs/4.5/components/navbar.md
Labels: css, v4

#32842 Docs: add v4.6.0
  site/data/docs-versions.yml
  site/layouts/partials/docs-versions.html
Labels: docs, v5

#32846 docs: Fix navbar-nav-scroll description
  site/content/docs/5.0/components/navbar.md
Labels: docs, v5

#32815 Replace .bg-white with .bg-body in docs
  site/content/docs/5.0/examples/cheatsheet-rtl/index.html
  site/content/docs/5.0/examples/cheatsheet/index.html
  site/content/docs/5.0/examples/offcanvas/index.html
  site/content/docs/5.0/examples/pricing/index.html
  site/content/docs/5.0/examples/product/index.html
  site/content/docs/5.0/utilities/colors.md
  site/content/docs/5.0/utilities/shadows.md
Labels: examples, no-backport-to-v4, v5

#32745 Add a link to v4.x from the v5 homepage
  site/layouts/partials/home/masthead.html
Labels: docs, no-backport-to-v4, v5

#32853 Pin linkinator and regenerate package-lock.json
  package-lock.json
  package.json
Labels: dependencies, v5

#32627 Carousel: use buttons, not links, for prev/next controls
  js/tests/unit/carousel.spec.js
  js/tests/visual/carousel.html
  scss/_carousel.scss
  site/content/docs/5.0/components/carousel.md
  site/content/docs/5.0/examples/carousel-rtl/index.html
  site/content/docs/5.0/examples/carousel/index.html
Labels: backport-to-v4, css, docs, v5

#32852 Update devDependencies
  .eslintrc.json
  js/src/tools/sanitizer.js
  js/tests/karma.conf.js
  js/tests/unit/.eslintrc.json
  package-lock.json
  package.json
  site/.eslintrc.json
Labels: dependencies, v4

#32523 Tooltip refactoring
  js/src/tooltip.js
Labels: js, v5

#32899 Re-add flex-grow to .navbar-collapse
  scss/_navbar.scss
Labels: css, no-backport-to-v4, v5

#32911 migration: mention `.form-text` changes
  site/content/docs/5.0/migration.md
Labels: docs, v5

#32904 Minor ESLint rules cleanup
  .eslintrc.json
  js/tests/unit/.eslintrc.json
Labels: tests, v5

#32912 Update checks and radios in input groups
  site/content/docs/5.0/forms/input-group.md
Labels: css, docs, no-backport-to-v4, v5

#32917 change-version: remove vendor, add resources
  build/change-version.js
Labels: backport-to-v4, build, v4, v5

#32919 CI: switch to the coverallsapp/github-action tag
  .github/workflows/js.yml
Labels: CI, backport-to-v4, v4, v5
