Repository twbs/bootstrap, pull requests merged in 2021-12, with the labels that each got.

#35446 Update edge-to-edge design instructions
  site/content/docs/5.1/layout/gutters.md
Labels: docs, v5

#35440 Tooltip: remove leftover method
  js/src/tooltip.js
  js/tests/unit/tooltip.spec.js
Labels: js, v5

#35441 Fix popover arrow & tooltip template after the `setContent` addition
  js/src/tooltip.js
  js/tests/unit/popover.spec.js
  js/tests/unit/tooltip.spec.js
Labels: js, v5, regression

#35447 Remove the now outdated build/svgo.yml
  build/svgo.yml
Labels: build, v4, v5, backport-to-v4

#35448 Dropdown tests: Use a function to improve readability
  js/tests/unit/dropdown.spec.js
Labels: js, v5, tests

#35400 Tooltip: Some more changes
  js/src/popover.js
  js/src/tooltip.js
  js/tests/unit/popover.spec.js
  js/tests/unit/tooltip.spec.js
Labels: js, v5, refactoring

#35455 Tests: Minor fixes
  js/tests/unit/carousel.spec.js
  js/tests/unit/collapse.spec.js
  js/tests/unit/dropdown.spec.js
  js/tests/unit/modal.spec.js
  js/tests/unit/offcanvas.spec.js
  js/tests/unit/tab.spec.js
  js/tests/unit/tooltip.spec.js
Labels: v5, tests

#35452 README.md: wrap file contents in a `details` element
  README.md
Labels: meta, v4, v5, backport-to-v4

#35454 CI: add `workflow_dispatch`
  .github/workflows/browserstack.yml
  .github/workflows/bundlewatch.yml
  .github/workflows/codeql.yml
  .github/workflows/css.yml
  .github/workflows/docs.yml
  .github/workflows/js.yml
  .github/workflows/lint.yml
  .github/workflows/node-sass.yml
  .github/workflows/release-notes.yml
Labels: v4, v5, backport-to-v4, CI

#34487 Docs offcanvas navbar
  site/assets/scss/_component-examples.scss
  site/assets/scss/_layout.scss
  site/assets/scss/_navbar.scss
  site/assets/scss/_sidebar.scss
  site/assets/scss/_subnav.scss
  site/assets/scss/_variables.scss
  site/layouts/partials/docs-navbar.html
Labels: docs, v5

#35472 Update devDependencies
  package-lock.json
  package.json
Labels: v5, dependencies

#35466 Fix typo in `$purples`
  scss/_variables.scss
Labels: css, v5

#35456 Tooltip: remove title attribute before show & add tests
  js/src/tooltip.js
  js/tests/unit/tooltip.spec.js
Labels: js, v5, tests, affects-main-branch

#35483 Replace inline styles in example "Dropdowns"
  site/content/docs/5.1/examples/dropdowns/index.html
Labels: examples, v5

#35468 Fix variable name in form overview docs
  site/content/docs/5.1/forms/overview.md
Labels: docs, v5

#35492 ScrollBar.js. Minor refactoring and add test
  js/src/util/scrollbar.js
  js/tests/unit/util/scrollbar.spec.js
Labels: js, v5, tests, refactoring

#35500 Dropdown: fix toggle focus after dropdown is hidden using the `ESC` button
  js/src/dropdown.js
  js/tests/unit/dropdown.spec.js
Labels: js, regression

#35388 Scrollbar - remove margin/padding properties properly
  js/src/util/scrollbar.js
Labels: js, v5

#35501 Fix tests fixture type
  js/tests/unit/dom/event-handler.spec.js
  js/tests/unit/dom/selector-engine.spec.js
  js/tests/unit/dropdown.spec.js
  js/tests/unit/tooltip.spec.js
  js/tests/unit/util/index.spec.js
Labels: v5, tests

#35507 Toast: join multiple `classList` calls
  js/src/toast.js
Labels: js, v5, refactoring

#35510 util/index.js: minor refactoring
  js/src/util/index.js
Labels: js, v5, refactoring

#35511 Tab: minor refactoring
  js/src/tab.js
Labels: js, v5, refactoring

#35481 JS tests: only test one Node.js version
  .github/workflows/js.yml
Labels: v4, v5, backport-to-v4, CI

#33872 Extract Component config functionality to a separate class
  js/src/base-component.js
  js/src/carousel.js
  js/src/collapse.js
  js/src/dropdown.js
  js/src/modal.js
  js/src/offcanvas.js
  js/src/popover.js
  js/src/scrollspy.js
  js/src/toast.js
  js/src/tooltip.js
  js/src/util/backdrop.js
  js/src/util/config.js
  js/src/util/focustrap.js
  js/src/util/index.js
  js/src/util/swipe.js
  js/src/util/template-factory.js
  js/tests/unit/util/config.spec.js
  js/tests/unit/util/index.spec.js
Labels: js, v5, refactoring

#35498 Update devDependencies
  package-lock.json
  package.json
Labels: v5, dependencies

#35438 Update stylelint and stylelint-config-twbs-bootstrap
  .stylelintrc
  package-lock.json
  package.json
  scss/_modal.scss
  scss/_nav.scss
  scss/_utilities.scss
  scss/forms/_form-select.scss
  scss/mixins/_reset-text.scss
  site/assets/scss/_algolia.scss
  site/assets/scss/_layout.scss
  site/assets/scss/_placeholder-img.scss
  site/assets/scss/_syntax.scss
  site/content/docs/5.1/examples/.stylelintrc
  site/content/docs/5.1/examples/cheatsheet/cheatsheet.css
  site/content/docs/5.1/examples/cheatsheet/cheatsheet.rtl.css
  site/content/docs/5.1/examples/features/features.css
Labels: v5, dependencies

#35532 docs: Add responsive variations for `align-content-between`
  site/content/docs/5.1/utilities/flex.md
Labels: docs, v5

#35484 Reprocess inline SVGs with the latest SVGO
  scss/_variables.scss
Labels: css, v5

#35512 Scrollspy: minor refactoring
  js/src/scrollspy.js
Labels: js, v5, refactoring

#35514 Popover.js: Accept empty content through `data-bs-content`
  js/src/popover.js
  js/tests/unit/popover.spec.js
Labels: js, feature, v5

#35540 Tooltip: remove extraneous call to `_getConfig()`
  js/src/tooltip.js
Labels: js, v5

#35506 build/postcss.config.js: minor tweaks
  build/postcss.config.js
Labels: js, v5, refactoring

#35556 docs: Use `param` to set Bootstrap version in Contents page
  site/content/docs/5.1/getting-started/contents.md
Labels: docs, v4, v5, backport-to-v4

#35518 Add sticky bottom utility
  .bundlewatch.config.json
  scss/helpers/_position.scss
  site/assets/scss/_component-examples.scss
  site/content/docs/5.1/components/navbar.md
  site/content/docs/5.1/helpers/position.md
Labels: feature, css, v5

#35467 Add missing `border-radius` for `btn-group`
  scss/_button-group.scss
Labels: css, v5

#35558 Backport #35556
  site/content/docs/4.6/getting-started/contents.md
Labels: docs, v4

#35401 Convert alerts to CSS variables
  .bundlewatch.config.json
  scss/_alert.scss
  scss/mixins/_alert.scss
  site/content/docs/5.1/components/alerts.md
Labels: css, v5

#35564 Fix typo in comment
  js/src/modal.js
Labels: js, v5, skip-changelog

#35563 docs: A fix for CSS Variables and some proposal
  site/content/docs/5.1/components/dropdowns.md
  site/content/docs/5.1/content/reboot.md
  site/content/docs/5.1/examples/cheatsheet-rtl/index.html
  site/content/docs/5.1/examples/cheatsheet/index.html
  site/content/docs/5.1/migration.md
Labels: docs, v5

#35571 Fix alerts color
  scss/_alert.scss
Labels: css, v5, affects-main-branch

#35545 Update devDependencies
  config.yml
  package-lock.json
  package.json
Labels: v5, dependencies

#35575 Fix typo in Alerts > CSS Variables description
  site/content/docs/5.1/components/alerts.md
Labels: docs, v5, skip-changelog

#35579 docs: add reference to `sticky-xxl` utils
  site/content/docs/5.1/helpers/position.md
Labels: docs, v5

#35527 Popover/Tooltip: Fix vertical alignment on arrow of tip elements
  js/src/tooltip.js
Labels: js, v5, affects-main-branch

#34945 Carousel cleanup & refactoring
  js/src/carousel.js
  js/tests/unit/carousel.spec.js
Labels: js, v5, no squash, refactoring

#35588 Docs: Strengthen and expand note about dynamic tabs with dropdown menus
  site/content/docs/5.1/components/navs-tabs.md
Labels: docs, accessibility, backport-to-v4

#35587 Add note to carousel crossfade docs about bg color
  .cspell.json
  site/content/docs/5.1/components/carousel.md
Labels: docs, v4, v5, backport-to-v4

#35591 Update devDependencies
  package-lock.json
  package.json
Labels: v5, dependencies

#35486 Update api.md
  site/content/docs/5.1/utilities/api.md
Labels: docs, v5
