Repository twbs/bootstrap, pull requests merged in 2021-11, with the labels that each got.

#35308 update grid example docs
  site/content/docs/5.1/examples/grid/index.html
Labels: examples, v5

#35223 Add missing `role="search"` and `type="search"` in navbar doc and examples
  site/content/docs/5.1/components/navbar.md
  site/content/docs/5.1/examples/carousel-rtl/index.html
  site/content/docs/5.1/examples/carousel/index.html
  site/content/docs/5.1/examples/cheatsheet-rtl/index.html
  site/content/docs/5.1/examples/cheatsheet/index.html
  site/content/docs/5.1/examples/headers/index.html
  site/content/docs/5.1/examples/navbar-fixed/index.html
  site/content/docs/5.1/examples/navbar-static/index.html
  site/content/docs/5.1/examples/navbars/index.html
  site/content/docs/5.1/examples/offcanvas-navbar/index.html
  site/content/docs/5.1/examples/sticky-footer-navbar/index.html
Labels: docs, examples, accessibility, v5

#34644 Always set the CSS variables for gutters in containers
  scss/mixins/_container.scss
Labels: css, v5

#34334 `make-col-ready()`: remove the unused `$gutter` variable
  scss/mixins/_grid.scss
Labels: css, v5

#35270 Update devDependencies
  package-lock.json
  package.json
Labels: v5, dependencies

#35154 Add top placement info to offcanvas docs
  site/content/docs/5.1/components/offcanvas.md
Labels: docs

#35320 Update import stacks required for modifying utilities
  site/content/docs/5.1/utilities/api.md
Labels: docs, v5

#35313 README.md remove broken "David DM" dependency badges
  README.md
Labels: meta, v4, v5, backport-to-v4

#35328 Fix spacing utility classes mentioned in navbar supported content documentation
  site/content/docs/5.1/components/navbar.md
Labels: docs, v5

#35327 floating-labels: remove `aria-label` in the `select` example
  site/content/docs/5.1/forms/floating-labels.md
Labels: docs, v5

#35322 Update devDependencies
  .gitignore
  js/index.esm.js
  package-lock.json
  package.json
Labels: v5, dependencies

#35190 Removed blurred background reference from the Toast Docs.
  site/content/docs/4.6/components/toasts.md
Labels: docs, v4

#35348 Fix typo in vertical alignment of table cells
  site/content/docs/5.1/content/tables.md
Labels: docs, v5

#34942 Move reassigned Sass maps for colors to another stylesheet
  scss/_maps.scss
  scss/_variables.scss
  scss/bootstrap-grid.scss
  scss/bootstrap-reboot.scss
  scss/bootstrap-utilities.scss
  scss/bootstrap.scss
  site/content/docs/5.1/customize/sass.md
  site/content/docs/5.1/migration.md
  site/content/docs/5.1/utilities/background.md
  site/content/docs/5.1/utilities/colors.md
Labels: css, v5

#35356 Update devDependencies
  package-lock.json
  package.json
Labels: v5, dependencies

#35368 Update devDependencies
  package-lock.json
  package.json
Labels: v5, dependencies

#35373 Add missing scss/maps imports
  site/content/docs/5.1/customize/color.md
  site/content/docs/5.1/customize/sass.md
  site/content/docs/5.1/utilities/api.md
Labels: docs, v5

#35365 Make footer examples responsive to mobile screens
  site/content/docs/5.1/examples/footers/index.html
Labels: examples, v5

#34509 build: read & dynamically resolve `imports` on plugins build
  build/build-plugins.js
Labels: js, build, v5

#35395 build/change-version.js: fix wrong map usage
  build/change-version.js
Labels: build, v4, v5, backport-to-v4

#34519 Add a template factory helper to handle all template cases
  .bundlewatch.config.json
  js/src/popover.js
  js/src/tooltip.js
  js/src/util/template-factory.js
  js/tests/unit/popover.spec.js
  js/tests/unit/tooltip.spec.js
  js/tests/unit/util/template-factory.spec.js
  site/assets/js/application.js
  site/content/docs/5.1/components/popovers.md
  site/content/docs/5.1/components/tooltips.md
Labels: js, feature, v5

#35127 tooltip.js: use array.includes instead of for iteration
  js/src/tooltip.js
Labels: js, v5

#32692 Clean tooltip component unneeded functionality
  js/src/popover.js
  js/src/tooltip.js
  js/tests/unit/tooltip.spec.js
Labels: js, v5, refactoring

#35326 Correctly implement RFS in `:root` CSS variable for `$body-font-size`
  scss/_reboot.scss
  scss/_root.scss
Labels: css, v5

#35160 Update typography.md to remove a unnecessary <abbr> tag
  site/content/docs/5.1/content/typography.md
Labels: docs, v5

#35410 BaseComponent: add a couple more tests
  js/tests/unit/base-component.spec.js
Labels: js, v5, tests

#35419 Alert: add a couple more tests
  js/tests/unit/alert.spec.js
Labels: js, v5, tests

#35421 Update devDependencies
  config.yml
  package-lock.json
  package.json
Labels: dependencies

#35427 Update links to CCA, MQ5 prefers-reduced-motion, evergreen WCAG urls, more resources
  site/content/docs/4.6/getting-started/accessibility.md
Labels: docs, accessibility, v4

#35414 Fix variable name in Sass customizing section
  site/content/docs/5.1/content/tables.md
Labels: docs, v5
