Repository twbs/bootstrap, pull requests merged in 2021-06, with the labels that each got.

#34157 Regenerate package-lock.json to flatten the deps tree
  package-lock.json
Labels: dependencies, v5

#34159 Wrong secondary hex code in docs
  site/data/theme-colors.yml
Labels: docs, skip-changelog, v4

#34175 Fix typo in sass.md ("theses"→ "these")
  site/content/docs/5.0/customize/sass.md
Labels: docs, v5

#33749 add Bootstrap 5 Simplified Chinese translation
  site/data/translations.yml
Labels: docs, v5

#34026 Sets the correct color for popover header bottom border
  scss/_popover.scss
Labels: css, v5

#34160 img in horizontal card
  site/content/docs/5.0/components/card.md
Labels: docs, v5

#34040 Placeholder changes to input value in readonly input.
  site/content/docs/5.0/forms/form-control.md
Labels: docs, v5

#33845 Fix handling of transitionend events dispatched by nested elements
  js/src/base-component.js
  js/src/modal.js
  js/src/util/backdrop.js
  js/src/util/index.js
  js/tests/unit/modal.spec.js
  js/tests/unit/tooltip.spec.js
  js/tests/unit/util/index.spec.js
Labels: js, v5

#33276 Add `getOrCreateInstance` method in base-component
  js/src/alert.js
  js/src/base-component.js
  js/src/button.js
  js/src/carousel.js
  js/src/collapse.js
  js/src/dropdown.js
  js/src/modal.js
  js/src/offcanvas.js
  js/src/popover.js
  js/src/scrollspy.js
  js/src/tab.js
  js/src/toast.js
  js/src/tooltip.js
  js/tests/unit/alert.spec.js
  js/tests/unit/base-component.spec.js
  js/tests/unit/button.spec.js
  js/tests/unit/carousel.spec.js
  js/tests/unit/collapse.spec.js
  js/tests/unit/dropdown.spec.js
  js/tests/unit/modal.spec.js
  js/tests/unit/offcanvas.spec.js
  js/tests/unit/popover.spec.js
  js/tests/unit/scrollspy.spec.js
  js/tests/unit/tab.spec.js
  js/tests/unit/toast.spec.js
  js/tests/unit/tooltip.spec.js
  site/content/docs/5.0/components/alerts.md
  site/content/docs/5.0/components/buttons.md
  site/content/docs/5.0/components/carousel.md
  site/content/docs/5.0/components/collapse.md
  site/content/docs/5.0/components/dropdowns.md
  site/content/docs/5.0/components/list-group.md
  site/content/docs/5.0/components/modal.md
  site/content/docs/5.0/components/navs-tabs.md
  site/content/docs/5.0/components/offcanvas.md
  site/content/docs/5.0/components/popovers.md
  site/content/docs/5.0/components/scrollspy.md
  site/content/docs/5.0/components/toasts.md
  site/content/docs/5.0/components/tooltips.md
Labels: js, refactoring, v5

#34161 fix(forms): unitless `line-height` for floating labels
  scss/_variables.scss
  scss/forms/_floating-labels.scss
Labels: css, v5

#34143 Add positioned badges example to docs
  site/content/docs/5.0/components/badge.md
Labels: docs, v5

#33621 Allow individual grid classes to override `.row-cols`
  scss/mixins/_grid.scss
  site/content/docs/5.0/layout/grid.md
Labels: css, v5

#34179 Missed explanations for variables override
  site/content/docs/5.0/customize/sass.md
Labels: docs, v5

#33947 Refactor scrollbar.js to be used as a Class
  js/src/modal.js
  js/src/offcanvas.js
  js/src/util/scrollbar.js
  js/tests/unit/modal.spec.js
  js/tests/unit/offcanvas.spec.js
  js/tests/unit/util/scrollbar.spec.js
Labels: js, refactoring, v5

#34183 docs: update migration.md to fix a typo
  site/content/docs/5.0/migration.md
Labels: docs

#34180 docs: update dropdowns.md to reflect the correct version
  site/content/docs/5.0/components/dropdowns.md
Labels: docs, v5

#34075 Improve vnu-jar.js
  build/vnu-jar.js
Labels: backport-to-v4, build, v4, v5

#34206 Update devDependencies
  package-lock.json
  package.json
Labels: dependencies, v5

#34208 Fix repetition in the Navbar docs description.
  site/content/docs/4.6/components/navbar.md
Labels: docs, v4

#34214 fix accessibility issue on sidebars example
  site/content/docs/5.0/examples/sidebars/index.html
Labels: accessibility, examples, v5

#34199 docs: update overview.md to fix typo
  site/content/docs/5.0/customize/overview.md
Labels: docs

#34222 Update tooltips.md
  site/content/docs/5.0/components/tooltips.md
Labels: docs, js, v5

#34239 fix(docs): update docs to match the newest modal-open removal
  site/content/docs/5.0/components/modal.md
Labels: docs, v5

#34223 docs(style): fix display of nested `<ul><li>`
  site/assets/scss/_content.scss
Labels: css, docs

#34245 Replace `/` division with multiplication and custom `divide()` function
  scss/_card.scss
  scss/_carousel.scss
  scss/_functions.scss
  scss/_images.scss
  scss/_modal.scss
  scss/_offcanvas.scss
  scss/_popover.scss
  scss/_toasts.scss
  scss/_tooltip.scss
  scss/_variables.scss
  scss/forms/_form-check.scss
  scss/forms/_form-range.scss
  scss/mixins/_grid.scss
  site/assets/scss/_component-examples.scss
  site/assets/scss/_navbar.scss
Labels: css, v5

#34240 Update devDependencies
  package-lock.json
  package.json
Labels: dependencies, v5

#34250 Replace Freenode with Libera.Chat in the remaining files
  .github/SUPPORT.md
  README.md
Labels: backport-to-v4, meta, v4, v5

#34251 Document the change to breakpoint mixins
  site/content/docs/5.0/migration.md
Labels: docs, v5

#34256 Add important to utilities, mention it's usage and global variable
  site/content/docs/5.0/utilities/api.md
Labels: docs, utility API, v5

#34255 Don't set auto margin on offcanvas close
  scss/_offcanvas.scss
Labels: css, v5

#33724 Nav-tabs documentation example: Adjust example to querySelectorAll
  site/content/docs/5.0/components/list-group.md
Labels: docs, v5

#34263 Fix error in JavaScript doc example
  site/content/docs/5.0/getting-started/javascript.md
Labels: docs, v5

#34280 Remove a leftover sass:math module call
  scss/mixins/_grid.scss
Labels: docs, v5

#34281 Fix lingering Sass math
  scss/mixins/_grid.scss
Labels: css, v5

#34279 build/vnu-jar.js: clean up ignores
  build/vnu-jar.js
Labels: backport-to-v4, build, v5

#34307 fix(carousel): arrow keys break animation if carousel sliding
  js/src/carousel.js
  js/tests/unit/carousel.spec.js
Labels: js, v5

#34158 Register only one `DOMContentLoaded` event listener in `onDOMContentLoaded`
  js/src/util/index.js
  js/tests/unit/util/index.spec.js
Labels: js, refactoring, v5

#34332 Fix another Sass division
  scss/mixins/_grid.scss
Labels: css, v5

#33882 Add four new snippet examples
  site/content/docs/5.0/examples/dropdowns/dropdowns.css
  site/content/docs/5.0/examples/dropdowns/index.html
  site/content/docs/5.0/examples/footers/footers.css
  site/content/docs/5.0/examples/footers/index.html
  site/content/docs/5.0/examples/list-groups/index.html
  site/content/docs/5.0/examples/list-groups/list-groups.css
  site/content/docs/5.0/examples/modals/index.html
  site/content/docs/5.0/examples/modals/modals.css
  site/data/examples.yml
  site/static/docs/5.0/assets/img/examples/dropdowns.png
  site/static/docs/5.0/assets/img/examples/dropdowns@2x.png
  site/static/docs/5.0/assets/img/examples/footers.png
  site/static/docs/5.0/assets/img/examples/footers@2x.png
  site/static/docs/5.0/assets/img/examples/list-groups.png
  site/static/docs/5.0/assets/img/examples/list-groups@2x.png
  site/static/docs/5.0/assets/img/examples/modals.png
  site/static/docs/5.0/assets/img/examples/modals@2x.png
Labels: examples

#33781 Add utility classes for opacity
  scss/_utilities.scss
  site/content/docs/5.0/utilities/opacity.md
  site/data/sidebar.yml
Labels: css, feature, v5

#34207 Make proper use of the SelectorEngine in ScrollSpy
  js/src/scrollspy.js
  js/tests/unit/scrollspy.spec.js
Labels: js, refactoring, v5

#34215 Use the `switch` statement instead of `if`
  build/build-plugins.js
Labels: js, v5

#31813 v5.1: Add optional CSS grid
  .bundlewatch.config.json
  scss/_grid.scss
  scss/_variables.scss
  site/assets/scss/_component-examples.scss
  site/assets/scss/docs.scss
  site/content/docs/5.0/layout/css-grid.md
  site/data/sidebar.yml
Labels: css, feature, v5

#34336 Remove unneeded `.text-white-50` CSS rule from Offcanvas Example
  site/content/docs/5.0/examples/offcanvas-navbar/offcanvas.css
Labels: backport-to-v4, examples, v5

#33593 🐛 Enable `0.x` with negative margins @ v4
  scss/utilities/_spacing.scss
Labels: css, v4

#33402 Changes to Alert component to match the others
  js/src/alert.js
  js/tests/unit/alert.spec.js
  site/content/docs/5.0/components/alerts.md
Labels: js, refactoring, v5

#34333 Accept argument of different types in the `getInstance` method
  js/src/base-component.js
  js/tests/unit/base-component.spec.js
Labels: feature, js, v5

#33866 Add dynamic, live alerts example to docs
  site/assets/js/application.js
  site/content/docs/5.0/components/alerts.md
  site/content/docs/5.0/components/toasts.md
Labels: docs, js, v5
