Repository twbs/bootstrap, pull requests merged in 2021-08, with the labels that each got.

#34628 Regression on tooltip template creation process.
  js/src/popover.js
  js/src/tooltip.js
  js/tests/unit/popover.spec.js
  js/tests/unit/tooltip.spec.js
Labels: js, p1, regression, v5

#34659 Regenerate package-lock.json
  package-lock.json
Labels: dependencies, v5

#34651 Update `$input-bg` to use `$body-bg`
  scss/_variables.scss
Labels: css, v5

#31859 Add a "skeletons" component
  scss/_placeholders.scss
  scss/_variables.scss
  scss/bootstrap.scss
  site/assets/scss/_component-examples.scss
  site/content/docs/5.0/components/placeholders.md
  site/data/sidebar.yml
Labels: feature, v5

#34637 Improved docs describing media-breakpoint-down breakpoints
  site/content/docs/5.0/layout/breakpoints.md
Labels: docs, v5

#34677 _navbar.scss: switch comment
  scss/_navbar.scss
Labels: css

#34686 docs: Fix placeholders typo
  site/content/docs/5.1/components/placeholders.md
Labels: docs, v5

#34679 Fix font size variable name
  scss/_reboot.scss
Labels: css, v5

#34699 Add check to `rgba-css-var` function for body or bg
  scss/_functions.scss
  scss/_root.scss
  scss/_variables.scss
Labels: css, v5

#34725 Update devDependencies
  package-lock.json
  package.json
Labels: v5, dependencies

#34621 carousel: move common checks to a function
  js/src/carousel.js
Labels: js, v5

#34701 Fix modal when is triggered by `bs-toggle`, to hide other open instances
  js/src/modal.js
  js/tests/unit/modal.spec.js
  site/content/docs/5.1/components/modal.md
Labels: js, v5, regression

#34752 Fix typo in placeholder docs
  site/content/docs/5.1/components/placeholders.md
Labels: docs, v5

#34766 dashboard-rtl: use the same scripts as the dashboard example
  site/content/docs/5.1/examples/dashboard-rtl/index.html
Labels: examples, v5

#34781 docs: fix typos in approach and placeholders
  site/content/docs/5.1/components/placeholders.md
  site/content/docs/5.1/extend/approach.md
Labels: docs, v5

#34785 alert.js: Add missing newline
  js/src/alert.js
Labels: skip-changelog

#34787 Progress page: remove toggle animation button
  site/assets/js/application.js
  site/content/docs/5.1/components/progress.md
Labels: docs, v5

#34779 Fix `$dropdown-link-hover-color` variable color value in _variable.scss file
  scss/_variables.scss
Labels: css, v5

#34802 visual tests: minor fixes
  js/tests/visual/carousel.html
  js/tests/visual/modal.html
  js/tests/visual/tab.html
  js/tests/visual/tooltip.html
Labels: skip-changelog, tests

#34835 Collapse on toggle, should not hide descendant tabpanels
  js/src/collapse.js
  js/tests/unit/collapse.spec.js
Labels: js, v5, regression

#34840 clarify importing all vs specific plugins
  site/content/docs/5.1/getting-started/webpack.md
Labels: docs, v5

#34769 Enhance Alerts > Live Example section
  site/content/docs/5.1/components/alerts.md
Labels: docs, js

#34812 Update Sass and regenerate package-lock.json
  package-lock.json
  package.json
Labels: dependencies

#34077 Add GitHub SHA in BrowserStack build ID.
  .github/workflows/browserstack.yml
  js/tests/karma.conf.js
Labels: v5, tests

#34841 tests: add Offcanvas too in jquery.spec.js
  js/tests/unit/jquery.spec.js
Labels: v5, skip-changelog, tests

#34842 Fix tooltip `data-bs-original-title` issue
  js/src/tooltip.js
Labels: docs, js, v5, regression
