Repository twbs/bootstrap, pull requests merged in 2021-04, with the labels that each got.

#33479 Fix dropdown escape propagation
  js/src/dropdown.js
  js/tests/unit/dropdown.spec.js
Labels: js, v5

#33451 Add missing things in `hide` method of dropdown
  js/src/dropdown.js
  js/tests/unit/dropdown.spec.js
Labels: backport-to-v4, js, v5

#33411 Fix validation feedback icon in select multiple
  scss/mixins/_forms.scss
Labels: css, v5

#33548 Vertically align offcanvas header components
  scss/_offcanvas.scss
Labels: css, v5

#33549 Add offcanvas-top modifier
  scss/_offcanvas.scss
  site/content/docs/5.0/components/offcanvas.md
Labels: css, feature

#33550 Spinner alignment changes
  scss/_spinners.scss
  scss/_variables.scss
Labels: backport-to-v4, css, v4, v5

#33404 Update look and feel of examples and copy buttons
  site/assets/scss/_clipboard-js.scss
  site/assets/scss/_component-examples.scss
Labels: docs, v5

#33250 Simplify ScrollSpy config
  js/src/scrollspy.js
  js/tests/unit/scrollspy.spec.js
Labels: js, refactoring, v5

#32155 Add equal column mixin
  scss/mixins/_grid.scss
  site/content/docs/5.0/layout/grid.md
Labels: css, no-backport-to-v4, v5

#33567 Fixed wrong method name _getInstance
  site/content/docs/5.0/components/offcanvas.md
Labels: docs

#33569 Improve responsiveness of Features examples
  site/content/docs/5.0/examples/features/index.html
Labels: examples, v5

#33499 Fix wrong carousel transformation, direction to order
  js/src/carousel.js
  js/tests/unit/carousel.spec.js
Labels: js, regression, v5

#33578 Remove unnecessary `data-bs-backdrop="static"` from modal tests
  js/tests/unit/modal.spec.js
Labels: tests, v5

#33571 footer: fix `rel=noopener` attribute
  site/layouts/partials/footer.html
Labels: docs, v5

#33583 docs: update clipboard.js to v2.0.8
  site/assets/js/vendor/clipboard.min.js
Labels: backport-to-v4, dependencies, docs, v4, v5

#32763 Add color-scheme mixin
  scss/_mixins.scss
  scss/mixins/_color-scheme.scss
  site/content/docs/5.0/customize/sass.md
Labels: css, feature, v5

#33245 Decouple Modal's scrollbar functionality
  js/src/modal.js
  js/src/util/scrollbar.js
  js/tests/unit/modal.spec.js
  scss/_modal.scss
Labels: js, refactoring, v5

#33429 Remove element event listeners through base component
  js/src/base-component.js
  js/src/carousel.js
  js/src/dropdown.js
  js/src/modal.js
  js/src/toast.js
  js/src/tooltip.js
Labels: js, refactoring, v5

#33589 refactor: make static `selectMenuItem` method private
  js/src/dropdown.js
Labels: js, refactoring, v5

#33590 Update devDependencies
  package-lock.json
  package.json
Labels: dependencies, v5

#33310 fix: make EventHandler better handle mouseenter/mouseleave events
  js/src/dom/event-handler.js
  js/tests/unit/dom/event-handler.spec.js
Labels: js, v5

#33598 Hide validation icons from multiple selects
  scss/mixins/_forms.scss
Labels: css, v5

#33607 Reduce color-scheme complexity
  scss/mixins/_color-scheme.scss
Labels: css, v5

#33600 Have $form-check-input-border's default derive from $black
  scss/_variables.scss
Labels: css, v5

#33612 tests: fix random BrowserStack failures in scrollbar
  js/tests/unit/modal.spec.js
  js/tests/unit/offcanvas.spec.js
  js/tests/unit/util/scrollbar.spec.js
Labels: js, tests, v5

#33597 Docs: Fix wrong dark attribute in Table - Vertical Alignment
  site/content/docs/5.0/content/tables.md
Labels: docs, v5

#32439 Decouple BackDrop from modal
  .bundlewatch.config.json
  build/build-plugins.js
  js/src/modal.js
  js/src/util/backdrop.js
  js/src/util/index.js
  js/tests/unit/util/backdrop.spec.js
  js/tests/unit/util/index.spec.js
Labels: js, no-backport-to-v4, v5

#33632 Correct the heading for the States section
  site/content/docs/5.0/utilities/api.md
Labels: docs, v5

#33553 Add example: Panels stay open
  site/content/docs/5.0/components/accordion.md
Labels: docs, v5

#33292 Make accordion icon rotation more natural
  scss/_variables.scss
Labels: css, v5

#33624 Remove aria-haspopup from dropdowns
  js/tests/unit/dropdown.js
  js/tests/visual/dropdown.html
  js/tests/visual/scrollspy.html
  js/tests/visual/tab.html
  site/content/docs/4.6/components/button-group.md
  site/content/docs/4.6/components/dropdowns.md
  site/content/docs/4.6/components/input-group.md
  site/content/docs/4.6/components/navbar.md
  site/content/docs/4.6/components/navs.md
  site/content/docs/4.6/components/scrollspy.md
  site/content/docs/4.6/examples/jumbotron/index.html
  site/content/docs/4.6/examples/navbar-bottom/index.html
  site/content/docs/4.6/examples/navbars/index.html
  site/content/docs/4.6/examples/offcanvas/index.html
  site/content/docs/4.6/examples/starter-template/index.html
  site/layouts/partials/docs-navbar.html
Labels: accessibility, v4

#33626 Fix v5 regressions in tab dropdown functionality
  js/src/tab.js
  js/tests/unit/tab.spec.js
Labels: js, v5

#33658 fix: use list-group variable instead of alert
  scss/_list-group.scss
Labels: css, v5

#33642 use `:read-only` css selector instead `[readonly]` for consistency
  scss/forms/_form-control.scss
Labels: css, v5

#33664 Docs: Tried to fix issue #33650
  site/content/docs/5.0/components/list-group.md
Labels: docs, v5

#33638 Fix toggle between modals example
  site/content/docs/5.0/components/modal.md
Labels: docs, js

#33482 Dropdown — Apply positioning only when Popper is not used
  scss/_dropdown.scss
Labels: css, v5

#33466 Refactor dropdown's hide functionality
  js/src/dropdown.js
Labels: js, refactoring, v5

#33643 fix: clicking an item in navbar dropdown should not collapse the dropdown in firefox
  js/src/dropdown.js
Labels: js, v5

#33676 Fix Grid System docs
  site/content/docs/5.0/layout/grid.md
Labels: docs, v5

#33666 Modal.js: fix test for scrollbar
  js/tests/unit/modal.spec.js
Labels: js, tests, v5

#33681 Fixes signup form in Heroes example
  site/content/docs/5.0/examples/heroes/index.html
Labels: examples, v5

#33675 Fix typo
  site/content/docs/5.0/migration.md
Labels: docs, v5

#33669 Change from preventOverflow to detectOverflow in `boundary` option
  site/content/docs/5.0/components/dropdowns.md
  site/content/docs/5.0/components/popovers.md
  site/content/docs/5.0/components/tooltips.md
Labels: docs, v5

#33668 Update anchor.js to v4.3.1.
  site/assets/js/vendor/anchor.min.js
Labels: backport-to-v4, docs, v4, v5

#33545 Use the backdrop util in offcanvas, enforcing consistency
  js/src/offcanvas.js
  js/src/util/backdrop.js
  js/tests/unit/offcanvas.spec.js
  js/tests/unit/util/backdrop.spec.js
  scss/_offcanvas.scss
  scss/_variables.scss
Labels: js, v5

#33679 Fix regression for handling `mouseenter`/`mouseleave` events introduced by #33310
  js/src/dom/event-handler.js
  js/tests/unit/dom/event-handler.spec.js
Labels: confirmed, js, p1, skip-changelog, v5

#33687 Fixes #33686 typo in RTL docs
  site/content/docs/5.0/getting-started/rtl.md
Labels: docs, v5

#33684 Don't change the value for `altBoundary` option
  js/src/tooltip.js
Labels: js, v5

#33389 Dropdown — Add option to make the dropdown menu clickable
  js/src/dropdown.js
  js/tests/unit/dropdown.spec.js
  site/content/docs/5.0/components/dropdowns.md
Labels: feature, js, v5

#33586 Tab.js: Fixes on click handling
  js/src/tab.js
  js/tests/unit/tab.spec.js
Labels: js, v5

#33677 Offcanvas.js: If scroll is allowed, should allow focus on other elements
  js/src/offcanvas.js
  js/tests/unit/offcanvas.spec.js
Labels: js, v5

#33685 docs: fix the default value of Popper's `boundary` option
  site/content/docs/5.0/components/tooltips.md
Labels: docs, v5

#33634 Dropdown: support `.dropdown-item` wrapped in `<li>` tags
  js/src/tab.js
  js/tests/unit/tab.spec.js
Labels: backport-to-v4, v4, v5

#33719 Regenerate package-lock.json to flatten deps
  package-lock.json
Labels: dependencies, v5

#33720 JS tests: add Node.js 16
  .github/workflows/js.yml
Labels: CI, backport-to-v4, v4, v5

#33726 Replace modal and scrollspy placeholder content
  site/content/docs/5.0/components/modal.md
  site/content/docs/5.0/components/scrollspy.md
Labels: backport-to-v4, docs, v5

#33734 Add missing test for clicking select option in a dropdown
  js/tests/unit/dropdown.spec.js
Labels: tests, v5

#33706 Scrollbar: respect the initial body overflow value
  js/src/util/scrollbar.js
  js/tests/helpers/fixture.js
  js/tests/unit/modal.spec.js
  js/tests/unit/offcanvas.spec.js
  js/tests/unit/util/scrollbar.spec.js
Labels: js, p2, v5

#33733 Tooltip/Popover — Minor doc updates
  site/content/docs/5.0/components/popovers.md
  site/content/docs/5.0/components/tooltips.md
Labels: docs, v5

#33735 Clarify `boundary` option description
  site/content/docs/5.0/components/dropdowns.md
  site/content/docs/5.0/components/popovers.md
  site/content/docs/5.0/components/tooltips.md
Labels: docs, v5

#33690 Add Bootstrap Icons to alerts docs
  site/content/docs/5.0/components/alerts.md
Labels: docs, v5

#33759 fix: change margin breakpoints for bootstrap logo on double header
  site/content/docs/5.0/examples/headers/index.html
Labels: examples, v5

#33756 docs: fix typo in list-group.md
  site/content/docs/5.0/components/list-group.md
Labels: docs, v5

#33771 Tooltip — doc updates
  site/content/docs/5.0/components/tooltips.md
Labels: docs, skip-changelog, v5

#33770 Add migration note for the `autoClose` option
  site/content/docs/5.0/migration.md
Labels: docs, skip-changelog, v5

#33097 Update RTL examples
  site/content/docs/5.0/examples/album-rtl/index.html
  site/content/docs/5.0/examples/blog-rtl/index.html
  site/content/docs/5.0/examples/carousel-rtl/index.html
  site/content/docs/5.0/examples/cheatsheet-rtl/index.html
  site/content/docs/5.0/examples/checkout-rtl/index.html
  site/content/docs/5.0/examples/dashboard-rtl/dashboard.js
  site/content/docs/5.0/examples/dashboard-rtl/index.html
Labels: examples, rtl, v5

#33649 Dropdown: support `.dropdown-item` wrapped in `<li>` tags
  js/src/tab.js
  js/tests/unit/tab.js
Labels: js, v4

#33772 Improve overall new examples' accessibility
  site/content/docs/5.0/examples/features/index.html
  site/content/docs/5.0/examples/headers/index.html
  site/content/docs/5.0/examples/heroes/index.html
  site/content/docs/5.0/examples/pricing/index.html
  site/content/docs/5.0/examples/sidebars/index.html
  site/content/docs/5.0/examples/sidebars/sidebars.css
  site/content/docs/5.0/examples/starter-template/index.html
Labels: accessibility, docs, examples, v5

#33736 accordion: fix `border-top` on Firefox
  scss/_accordion.scss
Labels: css, v5
