Repository twbs/bootstrap, pull requests merged in 2021-07, with the labels that each got.

#34253 Add horizontal collapse support
  js/src/collapse.js
  js/tests/unit/collapse.spec.js
  scss/_transitions.scss
  scss/_variables.scss
  site/content/docs/5.0/components/collapse.md
Labels: backport-to-v4, css, feature

#34406 Fix site params variable on themes section
  site/layouts/partials/footer.html
Labels: docs, v5

#32319 Add maps for all colors, document how to extend color utilities
  scss/_functions.scss
  scss/_variables.scss
  site/content/docs/5.0/customize/color.md
Labels: css, docs, feature, v5

#34426 Remove print thead rule
  scss/_print.scss
Labels: css, v4

#34389 CONTRIBUTING.md: fix broken link to README.md
  .github/CONTRIBUTING.md
Labels: backport-to-v4, meta

#34440 Add null `$card-box-shadow` variable
  scss/_card.scss
  scss/_variables.scss
Labels: css, v5

#32907 npm scripts: add `aggregate-output`
  package.json
Labels: build, v5

#34472 Added new Offcanvas file to import example
  site/content/docs/5.0/customize/optimize.md
Labels: docs, v5

#34441 util.js: remove `Selector.findOne()` dependency
  js/src/util/index.js
Labels: js, refactoring, v5

#34445 fix(forms): prevent color control from shrinking
  scss/_variables.scss
  scss/forms/_form-control.scss
Labels: css, v5

#34499 Regenerate package-lock.json
  package-lock.json
Labels: dependencies, v5

#34273 Offcanvas navbar
  scss/_navbar.scss
  site/content/docs/5.0/components/navbar.md
Labels: css, examples, feature, v5

#33403 modal: change `data-dismiss` so that it can be outside of a modal using `bs-target`
  js/src/modal.js
  js/tests/unit/modal.spec.js
  site/content/docs/5.0/components/modal.md
Labels: feature, js, v5

#34453 CI: make use of the `actions/setup-node`'s `cache` option
  .github/workflows/browserstack.yml
  .github/workflows/bundlewatch.yml
  .github/workflows/css.yml
  .github/workflows/docs.yml
  .github/workflows/js.yml
  .github/workflows/lint.yml
Labels: CI, backport-to-v4, v4, v5

#34543 Fix `Util.reflow` function and add documentation
  js/src/util/index.js
  js/tests/unit/util/index.spec.js
Labels: js

#34545 Remove whitespace at beginning of util/index.js
  js/src/util/index.js
Labels: skip-changelog

#34552 Update devDependencies
  .eslintrc.json
  package-lock.json
  package.json
  site/.eslintrc.json
Labels: dependencies, v5

#34205 Cleanup tooltip & popover components
  js/src/popover.js
  js/src/tooltip.js
Labels: js, no squash, refactoring, v5

#33610 Toasts: Change showing timings and classes to keep toast `display:none` by default
  js/src/toast.js
  scss/_toasts.scss
  site/content/docs/5.0/components/toasts.md
Labels: js, v5

#34526 Add: Github Octicons to the list
  site/data/icons.yml
Labels: docs, v5

#34557 docs: minor image compression improvements
  site/static/docs/5.0/assets/img/examples/cover@2x.png
  site/static/docs/5.0/assets/img/examples/dropdowns.png
  site/static/docs/5.0/assets/img/examples/dropdowns@2x.png
  site/static/docs/5.0/assets/img/examples/footers.png
  site/static/docs/5.0/assets/img/examples/footers@2x.png
  site/static/docs/5.0/assets/img/examples/list-groups.png
  site/static/docs/5.0/assets/img/examples/list-groups@2x.png
  site/static/docs/5.0/assets/img/examples/modals.png
  site/static/docs/5.0/assets/img/examples/modals@2x.png
  site/static/docs/5.0/assets/img/examples/pricing@2x.png
Labels: docs, v5

#34087 v4: Fix prevented show event disables modals with fade class from being displayed again
  js/src/modal.js
  js/tests/unit/modal.js
Labels: js, v4

#34481 Make the $accordion-icon-color default value consistent with the $accordion-button-color
  scss/_variables.scss
Labels: css, v5

#34517 Update nav-tab.md
  site/content/docs/5.0/components/navs-tabs.md
Labels: docs, v5

#34573 Update the custom Sass import docs
  site/content/docs/5.0/customize/sass.md
Labels: docs, v5

#34572 Clean up a couple CSS Grid issues
  scss/_grid.scss
  scss/mixins/_grid.scss
  site/content/docs/5.0/layout/css-grid.md
Labels: css, v5

#34577 Make note of `_root.scss` being required
  site/content/docs/5.0/customize/sass.md
Labels: docs, v5

#34432 More concise improvements for `add()` and `subtract()`
  scss/_functions.scss
Labels: backport-to-v4, css, v5

#33865 Add shift-tab keyboard support for dialogs (modal & Offcanvas components)
  .bundlewatch.config.json
  js/src/dom/selector-engine.js
  js/src/modal.js
  js/src/offcanvas.js
  js/src/util/focustrap.js
  js/tests/unit/dom/selector-engine.spec.js
  js/tests/unit/modal.spec.js
  js/tests/unit/offcanvas.spec.js
  js/tests/unit/util/focustrap.spec.js
Labels: accessibility, js, v5

#34578 Rename Build Tools page to Contribute
  site/content/docs/5.0/examples/starter-template/index.html
  site/content/docs/5.0/getting-started/contribute.md
  site/content/docs/5.0/getting-started/download.md
  site/data/sidebar.yml
Labels: docs, v5

#34574 Document change to hr in v5
  site/content/docs/5.0/migration.md
Labels: docs, v5

#34585 Update devDependencies
  package-lock.json
  package.json
Labels: dependencies

#34475 Make text decoration consistent with other anchors
  scss/_card.scss
Labels: css, v5

#34604 Correct Toast docs
  site/content/docs/5.0/components/toasts.md
Labels: docs, v5

#33603 Fix `Manipulator.offset()`
  js/src/dom/manipulator.js
  js/tests/unit/dom/manipulator.spec.js
Labels: js, v5

#34170 Use a streamlined way to trigger component dismiss
  js/src/alert.js
  js/src/modal.js
  js/src/offcanvas.js
  js/src/toast.js
  js/src/util/component-functions.js
  js/tests/unit/toast.spec.js
  js/tests/unit/util/component-functions.spec.js
  site/content/docs/5.0/components/alerts.md
  site/content/docs/5.0/components/modal.md
  site/content/docs/5.0/components/offcanvas.md
  site/content/docs/5.0/components/toasts.md
  site/layouts/shortcodes/js-dismiss.html
Labels: js, refactoring, v5

#34612 Revert "Allow individual grid classes to override `.row-cols`"
  scss/mixins/_grid.scss
  site/content/docs/5.0/layout/grid.md
Labels: css, v5

#34605 Collapse page: add a link to the accordion page
  site/content/docs/5.0/components/collapse.md
Labels: docs, v5

#34620 Enable a few eslint-config-xo rules
  .eslintrc.json
  js/src/modal.js
  js/src/tooltip.js
  js/src/util/backdrop.js
  js/tests/helpers/fixture.js
  js/tests/unit/carousel.spec.js
  js/tests/unit/dom/event-handler.spec.js
  js/tests/unit/dom/manipulator.spec.js
  js/tests/unit/modal.spec.js
  js/tests/unit/popover.spec.js
  js/tests/unit/tab.spec.js
  js/tests/unit/tooltip.spec.js
  js/tests/unit/util/backdrop.spec.js
  site/.eslintrc.json
Labels: js, v5

#34619 tooltip: move repeated strings to constants
  js/src/tooltip.js
Labels: js, v5

#34630 Add missing newlines around fenced codeblocks
  site/content/docs/5.0/components/alerts.md
  site/content/docs/5.0/components/modal.md
Labels: docs, skip-changelog, v5
