Repository twbs/bootstrap, pull requests merged in 2021-03, with the labels that each got.

#33211 Validated controls border in input-group
  scss/mixins/_forms.scss
Labels: backport-to-v4, css, v5

#33210 Properly set `.list-group-item` color
  scss/_variables.scss
Labels: css, v5

#33213 Buttons should grow in nav-fill & nav-justified
  scss/_nav.scss
Labels: css, v5

#33207 Add an example of v4's media component in the flex utils docs
  site/content/docs/5.0/migration.md
  site/content/docs/5.0/utilities/flex.md
Labels: docs, no-backport-to-v4, v5

#33130 CodeQL: skip dependabot PRs too
  .github/workflows/codeql.yml
Labels: CI, backport-to-v4, v4, v5

#33127 Reset select:disabled opacity for Chrome
  scss/_reboot.scss
  scss/_variables.scss
Labels: backport-to-v4, css, v5

#32180 refactor: use a Map instead of an Object in dom/data
  .bundlewatch.config.json
  js/src/alert.js
  js/src/base-component.js
  js/src/button.js
  js/src/carousel.js
  js/src/collapse.js
  js/src/dom/data.js
  js/src/dropdown.js
  js/src/modal.js
  js/src/popover.js
  js/src/scrollspy.js
  js/src/tab.js
  js/src/toast.js
  js/src/tooltip.js
  js/tests/unit/dom/data.spec.js
Labels: js, v5

#33129 Rename _gh_pages to _site.
  .eslintignore
  .gitignore
  .stylelintignore
  build/change-version.js
  build/ship.sh
  build/vnu-jar.js
  build/zip-examples.js
  config.yml
  package.json
Labels: backport-to-v4, build, v4, v5

#33153 Adjust `SAFE_URL_PATTERN` regex for use with test method of regexes.
  js/src/tools/sanitizer.js
  js/tests/unit/tooltip.js
Labels: js, v4

#33198 Dropdown — Drop `flip` option
  js/src/dropdown.js
  site/content/docs/5.0/components/dropdowns.md
  site/content/docs/5.0/migration.md
Labels: js, v5

#29017 Offcanvas as component
  .bundlewatch.config.json
  build/build-plugins.js
  js/index.esm.js
  js/index.umd.js
  js/src/offcanvas.js
  js/src/util/scrollbar.js
  js/tests/unit/offcanvas.spec.js
  js/tests/unit/util/scrollbar.spec.js
  scss/_offcanvas.scss
  scss/_variables.scss
  scss/bootstrap.scss
  site/assets/scss/_component-examples.scss
  site/content/docs/5.0/components/offcanvas.md
  site/content/docs/5.0/examples/offcanvas-navbar/index.html
  site/content/docs/5.0/examples/offcanvas-navbar/offcanvas.css
  site/content/docs/5.0/examples/offcanvas-navbar/offcanvas.js
  site/data/examples.yml
  site/data/sidebar.yml
  site/static/docs/5.0/assets/img/examples/offcanvas-navbar.png
  site/static/docs/5.0/assets/img/examples/offcanvas-navbar@2x.png
Labels: feature, v5

#33056 modal: move common code to a new `isAnimated` method
  js/src/modal.js
Labels: js, v5

#33307 Update devDependencies
  config.yml
  package-lock.json
  package.json
  scss/_reboot.scss
  scss/forms/_form-control.scss
Labels: dependencies, v5

#33326 Delete the unused build/ship.sh
  build/ship.sh
Labels: backport-to-v4, build, v4, v5

#33329 @rollup/plugin-replace: specify `preventAssignment: true`
  build/rollup.config.js
  js/tests/integration/rollup.bundle.js
  js/tests/karma.conf.js
Labels: build, v5

#33322 Fix Flex utilities documentation to add vertical space in example
  site/content/docs/5.0/utilities/flex.md
Labels: docs, v5

#33267 Grammatically update the doc
  site/content/docs/5.0/getting-started/introduction.md
Labels: docs, v5

#33325 Remove duplicate text-decoration style for abbr[title]
  scss/_reboot.scss
Labels: css, v5

#33333 Fixes some copy around inline forms
  site/content/docs/5.0/forms/layout.md
Labels: docs, v5

#33165 Carousel: use buttons, not links, for prev/next controls (backport to v4)
  .bundlewatch.config.json
  js/tests/visual/carousel.html
  scss/_carousel.scss
  site/content/docs/4.6/components/carousel.md
  site/content/docs/4.6/examples/carousel/index.html
Labels: v4

#33148 Improve change-version script
  build/change-version.js
  package.json
Labels: backport-to-v4, build, v4, v5

#33261 Change the name of the `Offcanvas` constructor
  build/build-plugins.js
  js/index.esm.js
  js/index.umd.js
  js/src/offcanvas.js
  js/tests/unit/offcanvas.spec.js
Labels: js, v5

#33289 fix tooltips disappearing after trying to interact during their fade out animation
  js/src/tooltip.js
  js/tests/unit/tooltip.spec.js
Labels: js, v5

#33300 Update modal's `show` method to accept `relatedTarget` as an argument
  site/content/docs/5.0/components/modal.md
Labels: docs, v5

#33248 Accept data-bs-body option in the configuration object as well
  js/src/offcanvas.js
  js/src/util/index.js
  js/tests/unit/offcanvas.spec.js
  js/tests/unit/util/index.spec.js
  site/content/docs/5.0/components/offcanvas.md
Labels: js, v5

#33386 Update Customize > Sass docs to properly place default variable overrides
  site/content/docs/5.0/customize/sass.md
Labels: docs, v5

#33301 Add example: toggle modal dialogs
  site/content/docs/5.0/components/modal.md
Labels: docs, v5

#33149 Revamp accordion borders to fix pixel jumping
  scss/_accordion.scss
  scss/_variables.scss
Labels: css, no-backport-to-v4, v4

#33385 Use more safe check for 'isDisabled' helper
  .bundlewatch.config.json
  js/src/util/index.js
  js/tests/unit/util/index.spec.js
Labels: js, v5

#32913 Fix carousel RTL and refactor code, fix rtl swipe issues
  .bundlewatch.config.json
  js/src/carousel.js
  js/tests/unit/carousel.spec.js
Labels: js, v5

#33257 Dynamic tab should not show when triggered on `disabled` element
  js/src/tab.js
  js/tests/unit/tab.spec.js
Labels: js, v5

#32662 Unit tests for Popper V2
  js/tests/unit/dropdown.spec.js
Labels: tests, v5

#33380 Utilities to Utilities API (Borders doc page)
  site/content/docs/5.0/utilities/borders.md
Labels: docs, v5

#33398 BrowserStack: test on iPhone 12
  js/tests/browsers.js
Labels: tests, v5

#33397 .browserslistrc: remove the Edge workaround.
  .browserslistrc
Labels: build, v5

#33401 README.md: use shields.io for the tests badge too
  README.md
Labels: backport-to-v4, meta, v4, v5

#33392 v4: Sass docs for default variables
  site/content/docs/4.6/getting-started/theming.md
Labels: docs, v4

#33426 Fix flush accordion styles
  scss/_accordion.scss
Labels: css, v5

#33214 Update examples
  site/content/docs/5.0/examples/_index.md
  site/content/docs/5.0/examples/checkout/index.html
  site/content/docs/5.0/examples/features/features.css
  site/content/docs/5.0/examples/features/index.html
  site/content/docs/5.0/examples/features/unsplash-photo-1.jpg
  site/content/docs/5.0/examples/features/unsplash-photo-2.jpg
  site/content/docs/5.0/examples/features/unsplash-photo-3.jpg
  site/content/docs/5.0/examples/headers/headers.css
  site/content/docs/5.0/examples/headers/index.html
  site/content/docs/5.0/examples/heroes/bootstrap-docs.png
  site/content/docs/5.0/examples/heroes/bootstrap-themes.png
  site/content/docs/5.0/examples/heroes/heroes.css
  site/content/docs/5.0/examples/heroes/index.html
  site/content/docs/5.0/examples/jumbotron/index.html
  site/content/docs/5.0/examples/pricing/index.html
  site/content/docs/5.0/examples/pricing/pricing.css
  site/content/docs/5.0/examples/sidebars/index.html
  site/content/docs/5.0/examples/sidebars/sidebars.css
  site/content/docs/5.0/examples/sidebars/sidebars.js
  site/content/docs/5.0/examples/sign-in/index.html
  site/content/docs/5.0/examples/sign-in/signin.css
  site/content/docs/5.0/examples/starter-template/index.html
  site/content/docs/5.0/examples/starter-template/starter-template.css
  site/data/examples.yml
  site/layouts/_default/single.html
  site/static/docs/5.0/assets/img/examples/blog.png
  site/static/docs/5.0/assets/img/examples/carousel.png
  site/static/docs/5.0/assets/img/examples/checkout.png
  site/static/docs/5.0/assets/img/examples/checkout@2x.png
  site/static/docs/5.0/assets/img/examples/dashboard.png
  site/static/docs/5.0/assets/img/examples/features.png
  site/static/docs/5.0/assets/img/examples/features@2x.png
  site/static/docs/5.0/assets/img/examples/grid.png
  site/static/docs/5.0/assets/img/examples/headers.png
  site/static/docs/5.0/assets/img/examples/headers@2x.png
  site/static/docs/5.0/assets/img/examples/heroes.png
  site/static/docs/5.0/assets/img/examples/heroes@2x.png
  site/static/docs/5.0/assets/img/examples/jumbotron.png
  site/static/docs/5.0/assets/img/examples/jumbotron@2x.png
  site/static/docs/5.0/assets/img/examples/offcanvas-navbar.png
  site/static/docs/5.0/assets/img/examples/pricing.png
  site/static/docs/5.0/assets/img/examples/product.png
  site/static/docs/5.0/assets/img/examples/sidebars.png
  site/static/docs/5.0/assets/img/examples/sidebars@2x.png
  site/static/docs/5.0/assets/img/examples/sign-in.png
  site/static/docs/5.0/assets/img/examples/sign-in@2x.png
  site/static/docs/5.0/assets/img/examples/starter-template.png
  site/static/docs/5.0/assets/img/examples/starter-template@2x.png
  site/static/docs/5.0/assets/img/examples/sticky-footer-navbar.png
  site/static/docs/5.0/assets/img/examples/sticky-footer.png
Labels: examples, no-backport-to-v4, v5

#33399 .browserslistrc: remove Android and make Safari/iOS 12 the minimum
  .browserslistrc
  .bundlewatch.config.json
  js/tests/browsers.js
Labels: build, v5

#33382 Allow offcanvas to be initialized in open state
  js/src/offcanvas.js
  js/tests/unit/offcanvas.spec.js
  site/assets/scss/_component-examples.scss
  site/content/docs/5.0/components/offcanvas.md
Labels: js, v5

#33430 Add link to new Parcel guide in starter template
  site/content/docs/5.0/examples/starter-template/index.html
Labels: docs, examples, v5

#33442 Allow data-toggle="dropdown" and form click events to bubble
  js/src/dropdown.js
  js/tests/unit/dropdown.spec.js
Labels: js, v5

#33443 offcanvas-navbar: add missing redirect
  site/content/docs/5.0/examples/offcanvas-navbar/index.html
Labels: docs, v5

#33446 Make offcanvas example fully static
  site/assets/scss/_component-examples.scss
  site/content/docs/5.0/components/offcanvas.md
Labels: docs, v5

#33456 Use our `isDisabled` util on dropdown
  js/src/dropdown.js
Labels: js, refactoring, v5

#33497 Use template literals instead of concatenation
  js/src/modal.js
  js/src/util/index.js
  js/src/util/scrollbar.js
Labels: js, v5

#33521 The spacing margin side identifiers 's' and 'e' may be intuitive for …
  site/content/docs/5.0/utilities/spacing.md
Labels: docs, v5

#33522 Clarify docs accordion example
  site/content/docs/5.0/components/accordion.md
Labels: docs, no-backport-to-v4, v5

#33478 Make .nav-link color consistent when using buttons
  scss/_variables.scss
Labels: css, v5

#33453 Add new docs footer
  site/assets/scss/_footer.scss
  site/layouts/partials/footer.html
Labels: docs, v5
