Repository twbs/bootstrap, pull requests merged in 2021-09, with the labels that each got.

#34773 Include root.scss in all dist builds
  .bundlewatch.config.json
  scss/bootstrap-grid.scss
  scss/bootstrap-reboot.scss
  site/content/docs/5.1/content/reboot.md
Labels: css, v5

#34877 docs: add `$enable-smooth-scroll` to Sass options page
  site/content/docs/5.1/customize/options.md
Labels: docs, v5

#34900 Regenerate package-lock.json
  package-lock.json
Labels: v5, dependencies

#34892 Fix a11y issues in `.hstack` example and placeholder 'How it works' example
  site/content/docs/5.1/components/placeholders.md
  site/content/docs/5.1/helpers/stacks.md
Labels: docs, v5

#34911 Update devDependencies
  package-lock.json
  package.json
Labels: v5, dependencies

#34910 Docs: Add Callout to Stacks Helper page about limited flexbox gap support
  site/content/docs/5.1/helpers/stacks.md
Labels: docs, v5

#34912 BrowserStack: add Firefox 60 and Chrome 60
  js/tests/browsers.js
Labels: v5, tests

#34913 docs: make use of the `.Site.Params.docs_version` variable
  site/layouts/partials/docs-versions.html
Labels: docs, v5

#34886 Disabled link cleanup
  site/content/docs/5.1/components/buttons.md
  site/content/docs/5.1/components/card.md
  site/content/docs/5.1/components/dropdowns.md
  site/content/docs/5.1/components/list-group.md
  site/content/docs/5.1/components/navbar.md
  site/content/docs/5.1/components/navs-tabs.md
  site/content/docs/5.1/components/pagination.md
  site/content/docs/5.1/examples/blog-rtl/index.html
  site/content/docs/5.1/examples/blog/index.html
  site/content/docs/5.1/examples/carousel-rtl/index.html
  site/content/docs/5.1/examples/carousel/index.html
  site/content/docs/5.1/examples/cheatsheet-rtl/index.html
  site/content/docs/5.1/examples/cheatsheet/index.html
  site/content/docs/5.1/examples/navbar-bottom/index.html
  site/content/docs/5.1/examples/navbar-fixed/index.html
  site/content/docs/5.1/examples/navbar-static/index.html
  site/content/docs/5.1/examples/navbars/index.html
  site/content/docs/5.1/examples/sticky-footer-navbar/index.html
  site/content/docs/5.1/utilities/interactions.md
Labels: docs, accessibility, v5, backport-to-v4

#34914 Typo/US locale fixes
  js/tests/unit/util/focustrap.spec.js
  site/content/docs/5.1/components/alerts.md
  site/content/docs/5.1/components/buttons.md
  site/content/docs/5.1/components/carousel.md
  site/content/docs/5.1/components/collapse.md
  site/content/docs/5.1/components/dropdowns.md
  site/content/docs/5.1/components/list-group.md
  site/content/docs/5.1/components/modal.md
  site/content/docs/5.1/components/navs-tabs.md
  site/content/docs/5.1/components/offcanvas.md
  site/content/docs/5.1/components/placeholders.md
  site/content/docs/5.1/components/popovers.md
  site/content/docs/5.1/components/scrollspy.md
  site/content/docs/5.1/components/toasts.md
  site/content/docs/5.1/components/tooltips.md
  site/content/docs/5.1/examples/blog/index.html
Labels: docs, v5

#34834 Fix size not being respected when placing a button with size classes as direct child of a div with d-flex
  scss/_buttons.scss
Labels: css, v5

#34853 Add `border-radius` sizes to small and large `.form-select`s
  scss/_variables.scss
  scss/forms/_form-select.scss
Labels: css, v5

#34921 Fix JavaScript typo
  site/content/docs/5.1/components/placeholders.md
Labels: docs, v5

#34922 fix predefined typo
  site/content/docs/5.1/components/modal.md
  site/content/docs/5.1/examples/cheatsheet/index.html
Labels: docs, v5

#34918 docs: Update RFS version & move "v" prefix to config.yml
  config.yml
  site/content/docs/5.1/getting-started/rfs.md
Labels: docs, v5

#34799 fix custom property values of row overrides individual cell
  scss/_tables.scss
Labels: css, v5

#34923 fix utilities typo
  site/content/docs/5.1/customize/sass.md
Labels: docs, v5

#34932 Remove remaining "master" branch references
  js/src/offcanvas.js
  js/src/util/backdrop.js
  js/src/util/focustrap.js
Labels: js, skip-changelog

#34920 Fix Backdroped typo
  site/content/docs/5.1/components/offcanvas.md
Labels: docs, v5

#34935 Non-blocking typo fix
  site/content/docs/5.1/customize/optimize.md
Labels: docs, v5

#34861 Separator for table direct children
  scss/_tables.scss
Labels: css, v5

#34936 replace dummy text with English for Text truncation page
  site/content/docs/5.1/helpers/text-truncation.md
Labels: docs, v5

#34824 docs: Add role="switch" to switches
  site/content/docs/5.1/forms/checks-radios.md
Labels: docs, v5

#34937 Update a URL mentioning dead name
  scss/mixins/_visually-hidden.scss
Labels: css, v5, backport-to-v4, skip-changelog

#34924 v4: Disabled link cleanup (backport)
  site/content/docs/4.6/components/buttons.md
  site/content/docs/4.6/components/card.md
  site/content/docs/4.6/components/dropdowns.md
  site/content/docs/4.6/components/list-group.md
  site/content/docs/4.6/components/navbar.md
  site/content/docs/4.6/components/navs.md
  site/content/docs/4.6/components/pagination.md
  site/content/docs/4.6/examples/blog/index.html
  site/content/docs/4.6/examples/carousel/index.html
  site/content/docs/4.6/examples/jumbotron/index.html
  site/content/docs/4.6/examples/navbar-bottom/index.html
  site/content/docs/4.6/examples/navbar-fixed/index.html
  site/content/docs/4.6/examples/navbar-static/index.html
  site/content/docs/4.6/examples/navbars/index.html
  site/content/docs/4.6/examples/starter-template/index.html
  site/content/docs/4.6/examples/sticky-footer-navbar/index.html
Labels: docs, v4

#34946 Changes some latin/dummy text to English
  site/content/docs/5.1/components/list-group.md
  site/content/docs/5.1/content/reboot.md
  site/content/docs/5.1/customize/optimize.md
Labels: docs, v5

#34950 tests: fix lint warning
  js/tests/unit/collapse.spec.js
Labels: js, v5, skip-changelog

#34926 Improve description of `.img-fluid` in docs
  site/content/docs/5.1/content/images.md
Labels: docs, v5

#34961 Update CodeQL workflow
  .github/workflows/codeql.yml
Labels: v4, v5, backport-to-v4, skip-changelog, CI

#34966 Update description of active buttons
  site/content/docs/4.6/components/buttons.md
Labels: docs, v4

#34979 Rename `e` to `event`
  js/src/carousel.js
  js/tests/helpers/fixture.js
  js/tests/unit/carousel.spec.js
  js/tests/unit/collapse.spec.js
  js/tests/unit/dropdown.spec.js
  js/tests/unit/modal.spec.js
  js/tests/unit/offcanvas.spec.js
  site/assets/js/application.js
Labels: js, v5, skip-changelog

#34980 Minor refactoring
  js/src/util/focustrap.js
  js/src/util/sanitizer.js
Labels: js, v5

#34951 Fix Collapse regression of handling toggling between sibling chilldren
  js/src/collapse.js
  js/tests/unit/collapse.spec.js
Labels: js, v5, regression, p1

#35026 Update devDependencies
  package-lock.json
  package.json
Labels: v5, dependencies

#35047 Remove extra spaces in Markdown files
  .github/CONTRIBUTING.md
  site/content/docs/4.6/components/carousel.md
Labels: docs, v4

#35022 examples: Add `role="switch"` to switches
  site/content/docs/5.1/examples/cheatsheet-rtl/index.html
  site/content/docs/5.1/examples/cheatsheet/index.html
Labels: examples, v5

#35067 docs: fix Popper version number in config
  config.yml
Labels: docs, v5, skip-changelog

#35017 Use Sass variable instead of RGB components
  scss/_variables.scss
Labels: css, v5

#35068 Update devDependencies
  package-lock.json
  package.json
Labels: v4, dependencies

#35071 Regenerate package-lock.json
  package-lock.json
Labels: v5, dependencies

#35042 docs: remove `data-bs-dismiss="modal"` leftover
  site/content/docs/5.1/components/modal.md
Labels: docs, v5, skip-changelog

#34626 Implement issue forms
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: p4

#35074 sanitizer: add `sms` in the `SAFE_URL_PATTERN`
  js/src/util/sanitizer.js
Labels: js, v4, v5, backport-to-v4

#34995 Update terser to the latest version
  .bundlewatch.config.json
  package-lock.json
  package.json
Labels: v5, dependencies
