Repository twbs/bootstrap, pull requests merged in 2022-05, with the labels that each got.

#36277 Fix proposal for Tooltips
  scss/_tooltip.scss
Labels: css, v5

#36169 Handle disabled focused tabs with tab JavaScript plugin
  js/src/tab.js
  js/tests/unit/tab.spec.js
  scss/_nav.scss
  site/content/docs/5.1/components/navs-tabs.md
Labels: js, v5

#36239 Iterate on border utilities
  scss/_root.scss
  scss/_utilities.scss
  site/content/docs/5.1/utilities/borders.md
Labels: css, v5

#36273 Separate docs js assets
  site/assets/js/application.js
  site/assets/js/snippets.js
Labels: docs, js

#36176 v5.2.0: Migrate to DocSearch 3
  site/assets/js/search.js
  site/assets/scss/_navbar.scss
  site/assets/scss/_search.scss
  site/assets/scss/_variables.scss
  site/layouts/_default/docs.html
  site/layouts/partials/docs-navbar.html
  site/layouts/partials/docs-versions.html
  site/layouts/partials/header.html
  site/layouts/partials/scripts.html
  site/layouts/partials/stylesheet.html
Labels: docs, v5, squash

#36258 Fix color-adjust with autoprefixer 10.4.6
  scss/forms/_form-check.scss
Labels: v5, dependencies

#36276 Add proper markup on modal's page tooltips and popovers
  site/assets/js/snippets.js
  site/content/docs/5.1/components/modal.md
Labels: docs, v5

#36260 Docs(Scrollspy): minor changes to be aligned with new version of javascript
  .cspell.json
  site/assets/scss/_component-examples.scss
  site/content/docs/5.1/components/scrollspy.md
Labels: docs, v5

#36272 Toast: provide `isShown` method
  js/src/toast.js
  site/content/docs/5.1/components/toasts.md
Labels: js, feature, v5

#36296 Remove leftover abbr styles in Reboot for tooltips
  scss/_reboot.scss
Labels: css, v5

#36307 Fix search with xs to md breakpoints
  site/layouts/partials/docs-navbar.html
Labels: docs, v5

#36322 Fix contents.md
  site/content/docs/5.1/getting-started/contents.md
Labels: docs, v5

#36335 Minor changes in 'Usage with JavaScript frameworks' description
  site/content/docs/5.1/getting-started/javascript.md
Labels: docs, v5

#36324 Revert backdrop utilization, handling clicks over modal
  .bundlewatch.config.json
  js/src/modal.js
  js/tests/unit/modal.spec.js
  scss/_modal.scss
Labels: js, v5, p1, affects-main-branch

#36343 tooltip: ignore `$tooltip-margin` warning for core
  scss/_tooltip.scss
Labels: css, v5, skip-changelog

#36337 docs: drop Scratch usage
  site/layouts/partials/docs-versions.html
Labels: docs

#36344 docs: link to the root page for the homepage
  site/layouts/partials/docs-versions.html
Labels: docs, v5

#36340 Fix a11y keyboard access to docs navigation
  site/layouts/partials/docs-sidebar.html
Labels: docs, v5

#36353 Offcanvas not showing with .showing
  scss/_offcanvas.scss
Labels: css, v5

#36231 _custom-forms.scss: fix order of attributes
  scss/_custom-forms.scss
Labels: css, v4

#36362 Update search box styling and position
  site/assets/scss/_search.scss
Labels: docs

#36367 Docs: Correct rounded sizes number
  site/content/docs/5.2/utilities/borders.md
Labels: docs, v5

#36171 Assorted Event handler patches
  .bundlewatch.config.json
  js/src/dom/event-handler.js
Labels: js, v5

#36410 Update introduction.md
  site/content/docs/5.2/getting-started/introduction.md
Labels: docs, v5

#36395 Docs: quick fixes for HTML
  js/tests/visual/modal.html
  site/content/docs/5.2/components/card.md
  site/content/docs/5.2/components/carousel.md
  site/content/docs/5.2/components/collapse.md
  site/content/docs/5.2/components/dropdowns.md
  site/content/docs/5.2/components/list-group.md
  site/content/docs/5.2/components/modal.md
  site/content/docs/5.2/components/navs-tabs.md
  site/content/docs/5.2/components/offcanvas.md
  site/content/docs/5.2/components/popovers.md
  site/content/docs/5.2/components/scrollspy.md
  site/content/docs/5.2/components/toasts.md
  site/content/docs/5.2/examples/blog-rtl/index.html
  site/content/docs/5.2/examples/blog/index.html
  site/content/docs/5.2/examples/cheatsheet-rtl/index.html
  site/content/docs/5.2/examples/cheatsheet/index.html
  site/content/docs/5.2/examples/cover/index.html
  site/content/docs/5.2/examples/features/index.html
  site/content/docs/5.2/examples/grid/index.html
  site/content/docs/5.2/examples/headers/index.html
  site/content/docs/5.2/examples/jumbotron/index.html
  site/content/docs/5.2/examples/masonry/index.html
  site/content/docs/5.2/examples/navbars-offcanvas/index.html
  site/content/docs/5.2/examples/offcanvas-navbar/index.html
  site/content/docs/5.2/examples/pricing/index.html
  site/content/docs/5.2/examples/product/index.html
  site/content/docs/5.2/examples/sidebars/index.html
  site/content/docs/5.2/getting-started/parcel.md
  site/content/docs/5.2/layout/columns.md
  site/content/docs/5.2/layout/css-grid.md
  site/content/docs/5.2/layout/grid.md
  site/content/docs/5.2/layout/gutters.md
  site/content/docs/5.2/utilities/display.md
  site/data/sidebar.yml
  site/layouts/_default/docs.html
  site/layouts/_default/single.html
Labels: docs

#36406 CSS: few proposals
  scss/helpers/_color-bg.scss
  site/assets/scss/_component-examples.scss
  site/content/docs/5.2/utilities/borders.md
Labels: docs, css, v5

#36156 Update `.form-control-color` sizing and styles
  scss/forms/_form-control.scss
  site/content/docs/5.2/forms/form-control.md
Labels: css, v5

#36366 add back focus box shadow to `btn-link`
  scss/_buttons.scss
Labels: css, v5

#36382 Rewrite Webpack guide
  .cspell.json
  site/assets/scss/_syntax.scss
  site/content/docs/5.2/getting-started/webpack.md
  site/static/docs/5.2/assets/img/guides/webpack-dev-server-bootstrap.png
  site/static/docs/5.2/assets/img/guides/webpack-dev-server.png
Labels: docs, v5

#36417 Docs: Remove `.is-invalid` from textarea validation example
  site/content/docs/5.2/forms/validation.md
Labels: docs, v5

#36327 Truncate text to prevent multiline floating label
  scss/forms/_floating-labels.scss
Labels: css, v5

#36411 Rewrite Parcel guide
  .github/workflows/calibreapp-image-actions.yml
  site/content/docs/5.2/customize/sass.md
  site/content/docs/5.2/getting-started/parcel.md
  site/content/docs/5.2/getting-started/webpack.md
  site/layouts/partials/guide-footer.md
  site/static/docs/5.2/assets/img/guides/bootstrap-parcel.png
  site/static/docs/5.2/assets/img/guides/bootstrap-parcel@2x.png
  site/static/docs/5.2/assets/img/guides/bootstrap-webpack.png
  site/static/docs/5.2/assets/img/guides/bootstrap-webpack@2x.png
  site/static/docs/5.2/assets/img/guides/parcel-dev-server-bootstrap.png
  site/static/docs/5.2/assets/img/guides/parcel-dev-server.png
Labels: docs, v5

#36423 Stylelint: Disable `custom-property-empty-line-before`
  .stylelintrc
  scss/_badge.scss
  scss/_breadcrumb.scss
  scss/_buttons.scss
  scss/_dropdown.scss
  scss/_nav.scss
  scss/_pagination.scss
  scss/_popover.scss
  scss/_progress.scss
  scss/_root.scss
  scss/_toasts.scss
  scss/_tooltip.scss
  scss/mixins/_buttons.scss
  scss/mixins/_pagination.scss
Labels: css, v5

#36427 Update devDependencies
  package-lock.json
  package.json
Labels: v5, dependencies

#36283 Replace the deprecated `color-adjust` with `print-color-adjust`
  scss/_custom-forms.scss
Labels: css, v4

#36414 Add docs info for using JS w/ ESM shim
  .cspell.json
  site/content/docs/5.2/getting-started/javascript.md
Labels: docs, v5

#33163 Dynamic tabs: use buttons rather than links (backport to v4)
  .gitignore
  js/src/tab.js
  js/tests/unit/tab.js
  js/tests/visual/tab.html
  scss/_nav.scss
  site/content/docs/4.6/components/navs.md
Labels: v4

#36346 Docs: improve image compression
  site/static/docs/5.2/assets/img/examples/navbars-offcanvas.png
  site/static/docs/5.2/assets/img/examples/navbars-offcanvas@2x.png
  site/static/docs/5.2/assets/img/favicons/favicon-16x16.png
  site/static/docs/5.2/assets/img/guides/bootstrap-parcel.png
  site/static/docs/5.2/assets/img/guides/bootstrap-parcel@2x.png
  site/static/docs/5.2/assets/img/guides/bootstrap-webpack.png
  site/static/docs/5.2/assets/img/guides/bootstrap-webpack@2x.png
  site/static/docs/5.2/assets/img/guides/parcel-dev-server-bootstrap.png
  site/static/docs/5.2/assets/img/guides/parcel-dev-server.png
  site/static/docs/5.2/assets/img/guides/webpack-dev-server-bootstrap.png
  site/static/docs/5.2/assets/img/guides/webpack-dev-server.png
Labels: docs, v5

#36444 Update import order for utilities API docs
  site/content/docs/5.2/utilities/api.md
Labels: docs, v5

#36446 Update Sass for computing `.table-group-divider` border
  scss/_tables.scss
Labels: css, v5

#36363 Add some details on "javascript" page
  site/content/docs/5.2/getting-started/javascript.md
  site/layouts/partials/js-data-attributes.md
Labels: docs, v5

#36450 Docs: Use example shortcode for all Button groups
  site/content/docs/5.2/components/button-group.md
Labels: docs, v5

#36461 Fix alert border radius
  scss/_alert.scss
Labels: css, v5

#36398 JS: tests fixes & standardization of spies usage
  js/tests/unit/alert.spec.js
  js/tests/unit/base-component.spec.js
  js/tests/unit/button.spec.js
  js/tests/unit/carousel.spec.js
  js/tests/unit/collapse.spec.js
  js/tests/unit/dropdown.spec.js
  js/tests/unit/modal.spec.js
  js/tests/unit/offcanvas.spec.js
  js/tests/unit/popover.spec.js
  js/tests/unit/scrollspy.spec.js
  js/tests/unit/tab.spec.js
  js/tests/unit/toast.spec.js
  js/tests/unit/tooltip.spec.js
  js/tests/unit/util/component-functions.spec.js
  js/tests/unit/util/focustrap.spec.js
  js/tests/unit/util/index.spec.js
  js/tests/unit/util/sanitizer.spec.js
  js/tests/unit/util/swipe.spec.js
Labels: js, v5, refactoring
