Repository twbs/bootstrap, pull requests merged in 2022-10, with the labels that each got.

#37238 Update devDependencies
  js/src/toast.js
  package-lock.json
  package.json
Labels: v5, dependencies

#37210 Use `<h1>` for all `modal-title` examples/uses
  js/tests/visual/modal.html
  site/content/docs/5.2/components/modal.md
  site/content/docs/5.2/examples/cheatsheet-rtl/index.html
  site/content/docs/5.2/examples/cheatsheet/index.html
  site/content/docs/5.2/examples/modals/index.html
Labels: docs, accessibility, v5

#37200 Ensure Tab keyboard functionality after #37146 merge
  js/src/tab.js
  js/tests/unit/tab.spec.js
Labels: js, accessibility, v5, squash

#37239 Don't redefine `$border-color` in `table-variant` mixin
  scss/mixins/_table-variants.scss
Labels: css, v5

#37247 Docs: Minor grammatical fixes for Form validation page
  site/content/docs/5.2/forms/validation.md
Labels: docs, v5

#37248 Rename some vars in tab unit tests for consistency
  js/tests/unit/tab.spec.js
Labels: js, v5, tests

#36457 Add color CSS vars for .btn-close
  scss/_close.scss
Labels: css, v5

#36815 Add new css vars for Offcanvas
  scss/_offcanvas.scss
Labels: css, v5

#36781 add font-weight-medium(=500) / fw-medium
  scss/_utilities.scss
  scss/_variables.scss
Labels: feature, css, v5

#36095 Added css variables for breakpoints
  scss/_root.scss
Labels: css, v5

#37249 Update bundlewatch
  .bundlewatch.config.json
Labels: build

#36511 Add parameters to caret related mixins
  scss/mixins/_caret.scss
Labels: css, v5

#36540 Add new border-radius utilities
  .bundlewatch.config.json
  scss/_utilities.scss
  site/content/docs/5.2/utilities/borders.md
Labels: feature, css, v5

#37250 Fix typo in documentation for hiding elements
  site/content/docs/5.2/utilities/display.md
Labels: docs, v5

#37257 Remove duplicate css variable
  scss/_offcanvas.scss
Labels: css, v5

#37235 Bind popper disposal with tooltip removal, trying to fix tooltip/popper inconsistencies
  js/src/tooltip.js
Labels: js, v5, p3

#37267 Rename examples CSS/JS files for consistency
  site/content/docs/5.2/examples/checkout-rtl/index.html
  site/content/docs/5.2/examples/checkout/checkout.css
  site/content/docs/5.2/examples/checkout/checkout.js
  site/content/docs/5.2/examples/checkout/index.html
  site/content/docs/5.2/examples/navbar-fixed/index.html
  site/content/docs/5.2/examples/navbar-fixed/navbar-fixed.css
  site/content/docs/5.2/examples/navbar-static/index.html
  site/content/docs/5.2/examples/navbar-static/navbar-static.css
  site/content/docs/5.2/examples/navbars-offcanvas/index.html
  site/content/docs/5.2/examples/navbars-offcanvas/navbars-offcanvas.css
  site/content/docs/5.2/examples/navbars/index.html
  site/content/docs/5.2/examples/navbars/navbars.css
  site/content/docs/5.2/examples/offcanvas-navbar/index.html
  site/content/docs/5.2/examples/offcanvas-navbar/offcanvas-navbar.css
  site/content/docs/5.2/examples/offcanvas-navbar/offcanvas-navbar.js
  site/content/docs/5.2/examples/sign-in/index.html
  site/content/docs/5.2/examples/sign-in/sign-in.css
Labels: docs, examples, v5

#37252 Add `$enable-important-utilities` condition in colored links
  scss/helpers/_colored-links.scss
Labels: css, v5

#37266 RTL `translate()` direction
  scss/_carousel.scss
Labels: css, v5, rtl

#37123 Fix button hover color in cover example
  site/content/docs/5.2/examples/cover/cover.css
  site/content/docs/5.2/examples/cover/index.html
Labels: examples, v5

#36848 Utilities for overflow and object fit
  .bundlewatch.config.json
  scss/_utilities.scss
  site/content/docs/5.2/utilities/object-fit.md
  site/content/docs/5.2/utilities/overflow.md
  site/data/sidebar.yml
  site/layouts/shortcodes/example.html
  site/layouts/shortcodes/placeholder.html
Labels: css, v5

#36652 Boost `execute` function, being able to handle arguments
  js/src/dropdown.js
  js/src/tooltip.js
  js/src/util/index.js
  js/src/util/template-factory.js
  js/tests/unit/util/index.spec.js
Labels: js, v5, refactoring

#37279 Improve example of .flex-wrap and -reverse
  site/content/docs/5.2/utilities/flex.md
Labels: docs, v5

#37282 Docs: standardize usage of `<kbd>`
  js/tests/visual/button.html
  site/content/docs/5.2/components/dropdowns.md
  site/content/docs/5.2/components/popovers.md
  site/content/docs/5.2/content/reboot.md
  site/content/docs/5.2/migration.md
Labels: docs, v5

#37277 Doc: add Sass vars for switches
  site/content/docs/5.2/forms/checks-radios.md
Labels: docs, v5

#37301 docs: fixes text buttons to match behavior
  site/content/docs/5.2/components/dropdowns.md
Labels: docs, v5

#37320 Organize callouts in partials
  site/content/docs/5.2/components/accordion.md
  site/content/docs/5.2/components/alerts.md
  site/content/docs/5.2/components/badge.md
  site/content/docs/5.2/components/buttons.md
  site/content/docs/5.2/components/card.md
  site/content/docs/5.2/components/carousel.md
  site/content/docs/5.2/components/collapse.md
  site/content/docs/5.2/components/list-group.md
  site/content/docs/5.2/components/modal.md
  site/content/docs/5.2/components/navbar.md
  site/content/docs/5.2/components/navs-tabs.md
  site/content/docs/5.2/components/offcanvas.md
  site/content/docs/5.2/components/popovers.md
  site/content/docs/5.2/components/progress.md
  site/content/docs/5.2/components/spinners.md
  site/content/docs/5.2/components/toasts.md
  site/content/docs/5.2/components/tooltips.md
  site/content/docs/5.2/content/reboot.md
  site/content/docs/5.2/content/tables.md
  site/content/docs/5.2/customize/sass.md
  site/content/docs/5.2/getting-started/contribute.md
  site/content/docs/5.2/getting-started/download.md
  site/content/docs/5.2/layout/breakpoints.md
  site/content/docs/5.2/utilities/colors.md
  site/layouts/partials/callouts/danger-async-methods.md
  site/layouts/partials/callouts/info-mediaqueries-breakpoints.md
  site/layouts/partials/callouts/info-npm-starter.md
  site/layouts/partials/callouts/info-prefersreducedmotion.md
  site/layouts/partials/callouts/info-sanitizer.md
  site/layouts/partials/callouts/warning-color-assistive-technologies.md
  site/layouts/partials/callouts/warning-data-bs-title-vs-title.md
  site/layouts/partials/callouts/warning-input-support.md
Labels: docs, v5

#37318 Home imports
  site/assets/scss/_masthead.scss
  site/layouts/_default/home.html
  site/layouts/partials/home/components-utilities.html
  site/layouts/partials/home/css-variables.html
  site/layouts/partials/home/customize.html
  site/layouts/partials/home/get-started.html
  site/layouts/partials/home/icons.html
  site/layouts/partials/home/masthead-followup.html
  site/layouts/partials/home/plugins.html
  site/layouts/partials/home/themes.html
Labels: docs, v5

#36523 Update navbars example to include a centered nav with utilities
  site/content/docs/5.2/examples/navbars/index.html
Labels: docs, examples, v5

#37317 Add `z-index` utilities, `.z-*`
  .bundlewatch.config.json
  scss/_utilities.scss
  scss/_variables.scss
  site/assets/scss/_component-examples.scss
  site/content/docs/5.2/utilities/z-index.md
  site/data/sidebar.yml
Labels: feature, css, v5

#37344 Use `--bs-border-width` for some components
  scss/_tables.scss
  scss/_variables.scss
Labels: css, v5

#37356 fix negative border-width on inputgroup and buttongroup
  scss/_button-group.scss
  scss/forms/_input-group.scss
Labels: css, v5

#37341 Docs: use 'added' page information to display a tag on top of the pages
  site/content/docs/5.2/helpers/color-background.md
  site/layouts/_default/docs.html
Labels: docs, feature, v5

#37255 Markdownlint fixes
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  CODE_OF_CONDUCT.md
  site/content/docs/5.2/components/modal.md
  site/content/docs/5.2/components/offcanvas.md
  site/content/docs/5.2/components/placeholders.md
  site/content/docs/5.2/components/popovers.md
  site/content/docs/5.2/components/spinners.md
  site/content/docs/5.2/extend/approach.md
  site/content/docs/5.2/getting-started/vite.md
  site/content/docs/5.2/layout/breakpoints.md
  site/content/docs/5.2/utilities/flex.md
  site/content/docs/5.2/utilities/interactions.md
Labels: docs, v5

#36854 Use explicit imports in our javascript source files
  build/build-plugins.js
  js/.eslintrc.json
  js/index.esm.js
  js/index.umd.js
  js/src/alert.js
  js/src/base-component.js
  js/src/button.js
  js/src/carousel.js
  js/src/collapse.js
  js/src/dom/event-handler.js
  js/src/dom/selector-engine.js
  js/src/dropdown.js
  js/src/modal.js
  js/src/offcanvas.js
  js/src/popover.js
  js/src/scrollspy.js
  js/src/tab.js
  js/src/toast.js
  js/src/tooltip.js
  js/src/util/backdrop.js
  js/src/util/component-functions.js
  js/src/util/config.js
  js/src/util/focustrap.js
  js/src/util/scrollbar.js
  js/src/util/swipe.js
  js/src/util/template-factory.js
Labels: js, build, v5, release-highlight, squash

#37379 docs: remove moot newlines
  site/content/docs/5.2/utilities/borders.md
  site/layouts/shortcodes/placeholder.html
Labels: docs, v5, skip-changelog

#37377 Import root so that utilities have the CSS variables they need
  .bundlewatch.config.json
  scss/bootstrap-utilities.scss
Labels: css, v5

#37361 Font style utilities did not contained "-style-" in BS4
  site/content/docs/5.2/migration.md
Labels: docs, v5

#37299 Fix disabled floating labels and add some examples of it in the docs
  scss/forms/_floating-labels.scss
  site/content/docs/5.2/forms/floating-labels.md
Labels: docs, css, v5, squash

#37388 Update z-index.md
  site/content/docs/5.2/utilities/z-index.md
Labels: docs, v5

#37397 Change title of color-background.md page
  site/content/docs/5.2/helpers/color-background.md
Labels: docs, v5

#37348 Update authors and copyright to match npm, add repository reference
  nuget/bootstrap.nuspec
  nuget/bootstrap.sass.nuspec
Labels: build, v5

#37271 Docs: Slightly improve tooling setup description
  site/content/docs/5.2/getting-started/contribute.md
Labels: docs, v5

#36979 Add support for customising a card title color
  scss/_card.scss
  scss/_variables.scss
Labels: css, v5

#37399 Only show added in page badge if relevant
  site/layouts/_default/docs.html
Labels: docs, v5
