Repository twbs/bootstrap, pull requests merged in 2022-03, with the labels that each got.

#35918 RTL arrows for popovers and tooltips
  scss/_popover.scss
  scss/_tooltip.scss
Labels: css, v5, rtl

#34863 Color input validation icon
  scss/mixins/_forms.scss
Labels: css, v5

#35922 Update devDependencies
  package-lock.json
  package.json
Labels: v5, dependencies

#35870 Dropdown: Simplify dataKeyApiHandler
  js/src/dropdown.js
Labels: js, v5, refactoring

#35923 Revert "README: About release planning"
  README.md
Labels: skip-changelog

#35871 Carousel tweaks
  js/src/carousel.js
Labels: js, v5, no squash

#35921 Split CSS vars for padding values
  scss/_alert.scss
  scss/_badge.scss
  scss/_dropdown.scss
  scss/_variables.scss
Labels: css, v5

#35919 RTL carousel example
  site/content/docs/5.1/examples/carousel/carousel.css
  site/content/docs/5.1/examples/carousel/carousel.rtl.css
Labels: examples, v5, rtl

#35931 Toasts classes fix
  site/content/docs/5.1/components/toasts.md
Labels: docs, v5

#35955 docs: Update Japanese translation
  site/data/translations.yml
Labels: docs, v5

#35943 Add missing root border opacity CSS var
  scss/_root.scss
Labels: css, v5

#35973 Fix dropdowns
  js/src/dropdown.js
  scss/_dropdown.scss
Labels: js, css, v5

#35990 Carousel patches
  js/src/carousel.js
  js/tests/unit/carousel.spec.js
Labels: js, v5, no squash, refactoring

#35995 Ignore warning for `.navbar-light` deprecation
  scss/_navbar.scss
Labels: css, v5

#35948 docs: add missing `.dropup` in dropup centered example
  site/content/docs/5.1/components/dropdowns.md
Labels: docs, v5

#36002 Fix docs error after #35644
  site/assets/js/application.js
Labels: docs

#35996 Add some `calc()` for manipulating new CSS variable version of border-width
  scss/_list-group.scss
  scss/_nav.scss
  scss/_variables.scss
Labels: css, v5

#36003 Set opacity on dropdown-divider for now
  scss/_dropdown.scss
Labels: css, v5

#35804 Allow to set active and disabled class also to .page-link
  scss/_pagination.scss
Labels: css, v5

#35980 Redesign the "Added in" badges in the docs
  site/content/docs/5.1/components/alerts.md
  site/content/docs/5.1/components/badge.md
  site/content/docs/5.1/components/buttons.md
  site/content/docs/5.1/components/dropdowns.md
  site/content/docs/5.1/components/navbar.md
  site/content/docs/5.1/components/pagination.md
  site/content/docs/5.1/components/placeholders.md
  site/content/docs/5.1/components/popovers.md
  site/content/docs/5.1/components/tooltips.md
  site/content/docs/5.1/content/reboot.md
  site/content/docs/5.1/customize/color.md
  site/content/docs/5.1/customize/options.md
  site/content/docs/5.1/getting-started/introduction.md
  site/content/docs/5.1/layout/css-grid.md
  site/content/docs/5.1/utilities/background.md
  site/content/docs/5.1/utilities/borders.md
  site/content/docs/5.1/utilities/colors.md
Labels: docs, v5

#36007 Convert added in badges to shortcode
  site/content/docs/5.1/components/alerts.md
  site/content/docs/5.1/components/badge.md
  site/content/docs/5.1/components/breadcrumb.md
  site/content/docs/5.1/components/buttons.md
  site/content/docs/5.1/components/dropdowns.md
  site/content/docs/5.1/components/navbar.md
  site/content/docs/5.1/components/pagination.md
  site/content/docs/5.1/components/popovers.md
  site/content/docs/5.1/components/tooltips.md
  site/content/docs/5.1/content/reboot.md
  site/content/docs/5.1/customize/color.md
  site/content/docs/5.1/utilities/background.md
  site/content/docs/5.1/utilities/borders.md
  site/content/docs/5.1/utilities/colors.md
  site/layouts/shortcodes/added-in.html
Labels: docs, v5

#35981 Add additional root variables, rename `$variable-prefix` to `$prefix`
  .bundlewatch.config.json
  scss/_alert.scss
  scss/_badge.scss
  scss/_breadcrumb.scss
  scss/_buttons.scss
  scss/_dropdown.scss
  scss/_functions.scss
  scss/_grid.scss
  scss/_navbar.scss
  scss/_pagination.scss
  scss/_popover.scss
  scss/_reboot.scss
  scss/_root.scss
  scss/_tables.scss
  scss/_tooltip.scss
  scss/_utilities.scss
  scss/_variables.scss
  scss/forms/_form-check.scss
  scss/helpers/_ratio.scss
  scss/mixins/_alert.scss
  scss/mixins/_buttons.scss
  scss/mixins/_container.scss
  scss/mixins/_gradients.scss
  scss/mixins/_grid.scss
  scss/mixins/_pagination.scss
  scss/mixins/_table-variants.scss
  scss/mixins/_utilities.scss
  site/assets/scss/_component-examples.scss
  site/content/docs/5.1/customize/css-variables.md
Labels: css, v5

#36008 Add v5.1.0 to migration guide, update v5.2.0 additions
  site/content/docs/5.1/migration.md
Labels: docs, v5

#31337 JS docs formatting tweaks
  site/assets/scss/_content.scss
  site/content/docs/5.1/components/alerts.md
  site/content/docs/5.1/components/buttons.md
  site/content/docs/5.1/components/carousel.md
  site/content/docs/5.1/components/collapse.md
  site/content/docs/5.1/components/dropdowns.md
  site/content/docs/5.1/components/list-group.md
  site/content/docs/5.1/components/modal.md
  site/content/docs/5.1/components/navs-tabs.md
  site/content/docs/5.1/components/popovers.md
  site/content/docs/5.1/components/scrollspy.md
  site/content/docs/5.1/components/toasts.md
  site/content/docs/5.1/components/tooltips.md
  site/content/docs/5.1/content/reboot.md
  site/content/docs/5.1/content/typography.md
  site/content/docs/5.1/getting-started/browsers-devices.md
  site/content/docs/5.1/getting-started/contents.md
  site/content/docs/5.1/getting-started/contribute.md
  site/content/docs/5.1/layout/breakpoints.md
  site/content/docs/5.1/layout/containers.md
  site/content/docs/5.1/utilities/display.md
  site/layouts/shortcodes/bs-table.html
Labels: docs, v5

#36024 Update devDependencies
  config.yml
  package-lock.json
  package.json
Labels: v5, dependencies

#35960 Convert spinners to CSS variables
  .bundlewatch.config.json
  scss/_spinners.scss
  site/content/docs/5.1/components/spinners.md
Labels: css, v5

#35961 Convert toasts to CSS variables
  .bundlewatch.config.json
  scss/_toasts.scss
  site/content/docs/5.1/components/toasts.md
Labels: css, v5

#35997 Add another list-group snippet example
  site/content/docs/5.1/examples/list-groups/index.html
  site/content/docs/5.1/examples/list-groups/list-groups.css
Labels: examples, v5

#35962 Convert progress bars to CSS variables
  .bundlewatch.config.json
  scss/_progress.scss
  site/content/docs/5.1/components/progress.md
Labels: css, v5

#36028 Dropdown test
  js/tests/unit/dropdown.spec.js
Labels: js, tests

#36038 v5.2.0 migration updates
  scss/_variables.scss
  site/content/docs/5.1/migration.md
Labels: docs, css, v5

#35862 Convert list group to CSS variables
  .bundlewatch.config.json
  scss/_list-group.scss
  site/content/docs/5.1/components/list-group.md
Labels: css, v5

#35917 Define Pagination font size CSS var
  scss/_pagination.scss
  scss/_variables.scss
Labels: css, v5

#36071 Train PR: CSS variables for accordion, cards, navs, and modals
  .bundlewatch.config.json
  scss/_accordion.scss
  scss/_card.scss
  scss/_modal.scss
  scss/_nav.scss
  scss/_variables.scss
  site/content/docs/5.1/components/accordion.md
  site/content/docs/5.1/components/card.md
  site/content/docs/5.1/components/modal.md
  site/content/docs/5.1/components/navs-tabs.md
Labels: css, v5

#36073 Fix typo for StackBlitz edit button's tooltip
  site/assets/js/application.js
Labels: docs

#36088 Fix StackBlitz edit feature by selecting the closest example
  site/layouts/partials/scripts.html
Labels: docs, affects-main-branch

#36075 Fix duplicate `.rounded-*` and `.fw-semibold` defs in examples
  site/content/docs/5.1/examples/dropdowns/index.html
  site/content/docs/5.1/examples/features/features.css
  site/content/docs/5.1/examples/features/index.html
  site/content/docs/5.1/examples/list-groups/index.html
  site/content/docs/5.1/examples/modals/index.html
  site/content/docs/5.1/examples/sidebars/sidebars.css
  site/layouts/_default/examples.html
Labels: examples, v5

#36082 Fix duplicate border radius CSS var definition
  scss/_root.scss
Labels: css, v5

#36083 Reuse all breadcrumb CSS vars available
  scss/_breadcrumb.scss
Labels: css, v5

#36092 Doc fixes
  site/content/docs/5.1/components/alerts.md
  site/content/docs/5.1/components/dropdowns.md
  site/content/docs/5.1/components/popovers.md
  site/content/docs/5.1/components/toasts.md
  site/content/docs/5.1/components/tooltips.md
  site/content/docs/5.1/layout/breakpoints.md
Labels: docs, v5

#36093 Adding @include font-size when not
  scss/_badge.scss
  scss/_breadcrumb.scss
  scss/_buttons.scss
  scss/_pagination.scss
  scss/_popover.scss
  scss/_reboot.scss
Labels: css, v5
