Repository twbs/bootstrap, pull requests merged in 2022-07, with the labels that each got.

#36658 typo in the masthead?
  site/layouts/partials/home/masthead.html
Labels: docs

#36667 Minor fix to use self-closing input HTML tag
  js/tests/unit/dom/selector-engine.spec.js
  js/tests/unit/offcanvas.spec.js
  js/tests/unit/util/index.spec.js
Labels: v5

#36679 Remove dead link from translations
  site/data/translations.yml
Labels: docs, v5

#36680 Revert db61cf3 for `$text-muted` default value
  scss/_variables.scss
Labels: css, v5

#36588 Handle non-empty whitespace textContent in Tooltip trigger
  js/src/tooltip.js
  js/tests/unit/tooltip.spec.js
Labels: js, accessibility, v5

#36674 Docs: add indeterminate disabled checkbox example
  site/assets/js/snippets.js
  site/content/docs/5.2/forms/checks-radios.md
Labels: docs, v5

#36700 Replace JS Bin refs by CodePen or StackBlitz references
  .github/CONTRIBUTING.md
  .github/workflows/issue-labeled.yml
Labels: meta, v5

#36689 Add missing CSS vars for `.navbar-nav`
  scss/_navbar.scss
Labels: css, v5

#36706 Docs: Add 'Icons' link in footer
  site/layouts/partials/footer.html
Labels: docs, v5

#36712 Docs: fix description on how to alter display values
  site/content/docs/5.2/utilities/display.md
Labels: docs, v5

#36509 Remove `--bs-headings-color` CSS variable due to backward compatibility issues
  scss/_reboot.scss
  scss/_root.scss
Labels: css, v5

#36535 Fix 'Remove from map' Sass description
  site/content/docs/5.2/customize/sass.md
Labels: docs, css, v5

#36715 Update devDependencies
  package-lock.json
  package.json
Labels: v5, dependencies

#36711 Add `$display-font-family` and `$display-font-style`
  scss/_type.scss
  scss/_variables.scss
  site/content/docs/5.2/content/typography.md
Labels: css, v5

#36625 Add some details for non visible scrollspy elements
  site/content/docs/5.2/components/scrollspy.md
Labels: docs

#36668 Fix on #35679
  js/src/tooltip.js
Labels: js, v5

#36178 Add a banner mixin, helping future releases and maintenance
  scss/bootstrap-grid.scss
  scss/bootstrap-reboot.scss
  scss/bootstrap-utilities.scss
  scss/bootstrap.scss
  scss/mixins/_banner.scss
Labels: css

#36727 v4: Add Fathom
  site/layouts/partials/analytics.html
Labels: docs, v4

#36717 Offcanvas: activate focustrap when backdrop is enabled
  js/src/offcanvas.js
  js/tests/unit/offcanvas.spec.js
  site/layouts/_default/docs.html
  site/layouts/partials/docs-navbar.html
Labels: docs, js, accessibility, v5

#36742 Standardization of `spyOn` usage
  js/tests/unit/modal.spec.js
Labels: v5, tests

#36741 Docs: same text for disabled ranges and disabled form controls
  site/content/docs/5.2/forms/range.md
Labels: docs, v5

#36758 Docs: Fix typos in snippets.js
  site/assets/js/snippets.js
Labels: js, v5

#36759 Support input groups in floating forms
  .bundlewatch.config.json
  scss/forms/_input-group.scss
  site/content/docs/5.2/forms/floating-labels.md
Labels: feature, css, v5

#36760 Add links to Webpack, Parcel, and Vite guides on homepage
  site/layouts/partials/home/masthead-followup.html
  site/static/docs/5.2/assets/img/parcel.png
  site/static/docs/5.2/assets/img/vite.png
  site/static/docs/5.2/assets/img/webpack.png
Labels: docs, v5

#36757 Fix indentation in code sample
  site/content/docs/5.2/components/toasts.md
Labels: docs, v5

#36740 Fixing pagination compile issue
  scss/_variables.scss
Labels: css, v5

#36767 Update devDependencies
  package-lock.json
  package.json
Labels: v5, dependencies

#36772 Fix event handler test
  js/tests/unit/dom/event-handler.spec.js
Labels: js, v5, tests, affects-main-branch

#36791 Remove a unused sass parameter from banner mixin
  scss/mixins/_banner.scss
Labels: css, v5

#36812 Fix broken url
  README.md
Labels: docs, v5

#36819 Rename scrollspy to toast in toasts.md
  site/content/docs/5.2/components/toasts.md
Labels: docs

#36829 Docs: correct heading levels in features example
  site/content/docs/5.2/examples/features/index.html
Labels: docs, examples, accessibility

#36839 Docs: Fix markdown link error
  site/content/docs/5.2/components/tooltips.md
Labels: docs, v5

#36836 Docs: use added-in shortcode in Offcanvas
  site/content/docs/5.2/components/offcanvas.md
Labels: docs, v5

#36827 Redirect users to different templates of issues rather than an empty one
  README.md
  site/content/docs/5.2/about/overview.md
  site/content/docs/5.2/about/team.md
  site/content/docs/5.2/examples/_index.md
  site/content/docs/5.2/extend/approach.md
  site/content/docs/5.2/getting-started/rtl.md
Labels: docs, v5

#36828 Fix pagination page items border radius
  scss/_pagination.scss
Labels: css, v5

#36825 Remove Slack from site and repo docs
  .github/CONTRIBUTING.md
  .github/SUPPORT.md
  README.md
  config.yml
  site/content/docs/5.2/getting-started/best-practices.md
  site/content/docs/5.2/getting-started/introduction.md
  site/layouts/partials/docs-navbar.html
  site/layouts/partials/footer.html
  site/layouts/partials/icons/slack.svg
Labels: docs, v5

#36804 Simplify social images and add ability to set per-page images
  config.yml
  site/content/docs/5.2/getting-started/parcel.md
  site/content/docs/5.2/getting-started/vite.md
  site/content/docs/5.2/getting-started/webpack.md
  site/layouts/partials/header.html
  site/layouts/partials/social.html
  site/static/docs/5.2/assets/brand/bootstrap-social.png
Labels: docs, v5

#36751 Re-set tooltip title, on disposal
  js/src/tooltip.js
  js/tests/unit/tooltip.spec.js
Labels: js, v5, affects-main-branch

#36824 Move DocSearch out of offcanvas to always show it on mobile
  site/assets/scss/_navbar.scss
  site/assets/scss/_search.scss
  site/layouts/partials/docs-navbar.html
Labels: docs, v5

#36850 Add navbar image alt text
  site/content/docs/5.2/components/navbar.md
Labels: docs, v5

#36750 ScrollSpy: make the threshold option configurable
  js/src/scrollspy.js
  js/tests/unit/scrollspy.spec.js
  site/content/docs/5.2/components/scrollspy.md
Labels: js, feature, v5

#36771 Fix typos after #36762
  scss/mixins/_utilities.scss
  site/content/docs/5.2/components/carousel.md
  site/content/docs/5.2/getting-started/introduction.md
  site/data/examples.yml
Labels: docs, v5

#36849 Define correctly `$popover-header-color`
  scss/_variables.scss
Labels: css, v5

#36860 Bump autoprefixer from 10.4.7 to 10.4.8
  package-lock.json
  package.json
Labels: v5, backport-to-v4, dependencies
