Repository twbs/bootstrap, pull requests merged in 2022-06, with the labels that each got.

#36476 Docs: fix Reboot Horizontal rules using border utilities
  site/content/docs/5.2/content/reboot.md
Labels: docs, css, v5

#36477 Docs: remove unused _algolia.scss
  site/assets/scss/_algolia.scss
  site/assets/scss/docs.scss
Labels: docs, css, v5

#36447 Fix `.dropdown-item` `border-radius` when `$dropdown-padding-y` is `0`
  scss/_dropdown.scss
Labels: css, v5

#36440 Re-ordering js default objects
  js/src/carousel.js
  js/src/collapse.js
  js/src/dropdown.js
  js/src/modal.js
  js/src/popover.js
  js/src/tooltip.js
  js/src/util/backdrop.js
  js/src/util/focustrap.js
  js/src/util/swipe.js
  js/src/util/template-factory.js
Labels: js, v5, refactoring

#36434 v4: Horizontal collapse
  scss/_transitions.scss
  scss/_variables.scss
  site/content/docs/4.6/components/collapse.md
Labels: css, v4, release-highlight

#36485 Fixing tabs' tests v4
  js/tests/unit/tab.js
  js/tests/visual/tab.html
Labels: v4, tests

#36490 Docs: fix some ARIA Authoring Practices Guides broken links
  site/content/docs/4.6/components/breadcrumb.md
  site/content/docs/4.6/components/collapse.md
  site/content/docs/4.6/components/navs.md
Labels: docs, accessibility, v4

#36489 Docs: Update some WCAG links, expand sass.md contrast explanation
  scss/_functions.scss
  site/content/docs/5.2/components/dropdowns.md
  site/content/docs/5.2/customize/sass.md
Labels: docs, backport-to-v4

#36487 Remove confusing unnecessary id/aria-labelledby for dropdown menus
  js/tests/visual/dropdown.html
  js/tests/visual/scrollspy.html
  site/content/docs/5.2/components/button-group.md
  site/content/docs/5.2/components/dropdowns.md
  site/content/docs/5.2/components/navbar.md
  site/content/docs/5.2/components/offcanvas.md
  site/content/docs/5.2/examples/cheatsheet-rtl/index.html
  site/content/docs/5.2/examples/cheatsheet/index.html
  site/content/docs/5.2/examples/headers/index.html
  site/content/docs/5.2/examples/navbar-bottom/index.html
  site/content/docs/5.2/examples/navbars-offcanvas/index.html
  site/content/docs/5.2/examples/navbars/index.html
  site/content/docs/5.2/examples/offcanvas-navbar/index.html
  site/content/docs/5.2/examples/sidebars/index.html
  site/layouts/partials/home/masthead-followup.html
Labels: docs, accessibility, v5, backport-to-v4

#36491 v4 - Remove confusing unnecessary id/aria-labelledby for dropdown menus
  js/tests/unit/dropdown.js
  js/tests/visual/dropdown.html
  js/tests/visual/scrollspy.html
  site/content/docs/4.6/components/button-group.md
  site/content/docs/4.6/components/dropdowns.md
  site/content/docs/4.6/components/navbar.md
  site/content/docs/4.6/examples/jumbotron/index.html
  site/content/docs/4.6/examples/navbar-bottom/index.html
  site/content/docs/4.6/examples/navbars/index.html
  site/content/docs/4.6/examples/offcanvas/index.html
  site/content/docs/4.6/examples/starter-template/index.html
Labels: docs, v4

#36492 v4 Docs: outdated ARIA/PF link, expand contrast explanation in `accessibility.md`
  site/content/docs/4.6/components/dropdowns.md
  site/content/docs/4.6/getting-started/accessibility.md
Labels: docs, v4

#36412 Docs: Add a Vite Getting Started guide
  .cspell.json
  site/content/docs/5.2/customize/optimize.md
  site/content/docs/5.2/examples/starter-template/index.html
  site/content/docs/5.2/getting-started/javascript.md
  site/content/docs/5.2/getting-started/vite.md
  site/content/docs/5.2/getting-started/webpack.md
  site/data/sidebar.yml
  site/layouts/partials/footer.html
  site/static/docs/5.2/assets/img/guides/bootstrap-vite.png
  site/static/docs/5.2/assets/img/guides/bootstrap-vite@2x.png
  site/static/docs/5.2/assets/img/guides/vite-dev-server-bootstrap.png
  site/static/docs/5.2/assets/img/guides/vite-dev-server.png
Labels: docs, v5

#36495 Improve accessible name of version dropdown in docs navbar
  site/layouts/partials/docs-versions.html
Labels: docs, v5, backport-to-v4

#36504 v4: Improve accessible name of version dropdown in docs navbar
  site/layouts/partials/docs-navbar.html
Labels: docs, v4

#36513 Update devDependencies
  package-lock.json
  package.json
Labels: v5, dependencies

#36528 Scrollspy: enable `smooth-scroll` behavior
  js/src/scrollspy.js
  js/tests/unit/scrollspy.spec.js
Labels: js, feature, v5

#36530 Fix typo in dropdown unit test
  js/tests/unit/dropdown.spec.js
Labels: v5

#36168 Manually set hover and active backgrounds and borders for dark and light buttons
  scss/_buttons.scss
Labels: css, v5, release-highlight

#36516 Add .active navbar breaking change to 5.0 docs
  site/content/docs/5.2/migration.md
Labels: docs, v5

#36553 Make table responsive on Grid page
  site/content/docs/5.2/layout/grid.md
Labels: docs, v5

#36503 [docs] Document BootstrapVue being outdated
  site/content/docs/5.2/getting-started/javascript.md
Labels: docs, v5

#36500 Generate local CSS variables on utilities when using state option
  scss/mixins/_utilities.scss
Labels: css, v5, release-highlight

#36561 Fix possible bug on event handler
  js/src/dom/event-handler.js
Labels: js, v5

#36545 Carousel: Remove redundant reference to `interval=false` from docs
  js/src/carousel.js
  js/tests/unit/carousel.spec.js
  site/content/docs/5.2/components/carousel.md
Labels: docs, v5

#36548 Update Code of Conduct with Contributor Covenant 2.1
  .cspell.json
  CODE_OF_CONDUCT.md
Labels: meta

#36449 Fix StackBlitz Popovers and Tooltips examples
  .cspell.json
  site/content/docs/5.2/components/alerts.md
  site/content/docs/5.2/components/modal.md
  site/content/docs/5.2/components/popovers.md
  site/content/docs/5.2/components/toasts.md
  site/content/docs/5.2/components/tooltips.md
  site/content/docs/5.2/forms/checks-radios.md
  site/layouts/partials/callout-warning-data-bs-title-vs-title.md
  site/layouts/partials/scripts.html
  site/layouts/shortcodes/example.html
Labels: docs, js, v5

#36613 Fix popover live demo to use `data-bs-title` instead of `title`
  site/content/docs/5.2/components/popovers.md
Labels: docs, v5

#36401 Change Modal dismiss handler, listening to key down, instead of click
  js/src/modal.js
  js/tests/unit/modal.spec.js
Labels: js, v5, regression

#36630 Docs: update clipboard.js to v2.0.11
  site/assets/js/vendor/clipboard.min.js
Labels: docs, v5, backport-to-v4, dependencies

#36622 Remove `.show` from panels dependent-less on the existence of `.fade` class
  js/src/tab.js
  js/tests/unit/tab.spec.js
Labels: js, v5

#35679 Force tooltip and popover to recreate content every time it opens
  js/src/tooltip.js
  js/tests/unit/tooltip.spec.js
Labels: js, v5, regression

#36637 Fix StackBlitz examples needing docs CSS
  site/layouts/partials/scripts.html
Labels: docs, v5

#36627 Fix search modal z-index to be on top of all docs showcased components
  site/assets/scss/_search.scss
Labels: docs, css, v5

#36522 Update devDependencies
  package-lock.json
  package.json
Labels: v4, dependencies

#36640 Update devDependencies
  package-lock.json
  package.json
Labels: v5, dependencies

#36631 Docs: update clipboard.js to v2.0.11
  site/assets/js/vendor/clipboard.min.js
Labels: docs, v4, dependencies

#36608 dashboard example: minor fix
  site/content/docs/5.2/examples/dashboard-rtl/index.html
  site/content/docs/5.2/examples/dashboard/dashboard.css
  site/content/docs/5.2/examples/dashboard/dashboard.rtl.css
  site/content/docs/5.2/examples/dashboard/index.html
Labels: css, examples, v5, squash

#36646 Fix tooltip/badge border radius when rounded disabled
  scss/_badge.scss
  scss/_tooltip.scss
Labels: css, v5

#36650 update Lighthouse URL
  site/content/docs/5.2/customize/optimize.md
Labels: docs

#36386 Fix interoperability issue regarding Event properties
  js/src/dom/event-handler.js
  js/tests/unit/dom/event-handler.spec.js
Labels: js, help wanted, v5

#36644 Added examples for Radios in List Group
  site/content/docs/5.2/components/list-group.md
Labels: docs, v5
