Repository twbs/bootstrap, pull requests merged in 2022-02, with the labels that each got.

#35743 Update devDependencies
  package-lock.json
  package.json
Labels: v5, dependencies

#35713 Remove incorrect statement about the disabled attribute on <form>
  site/content/docs/5.1/forms/layout.md
Labels: docs, v5

#35757 Fix Popover test that randomly fails on BrowserStack
  js/tests/unit/popover.spec.js
Labels: v5, tests

#35754 Event Handler cleanup
  js/src/dom/event-handler.js
Labels: js, v5, refactoring

#35761 Update find-unused-sass-variables to v4.0.0
  package-lock.json
  package.json
Labels: v5, dependencies

#35775 Fix dropdown docs about autoclose and esc key.
  site/content/docs/5.1/components/dropdowns.md
Labels: docs, v5

#35778 Fixed typo in documentation form validation section
  site/content/docs/5.1/forms/validation.md
Labels: docs, v5

#35533 docs: Move `gap` utility API from "Flex" to "Spacing"
  scss/_utilities.scss
Labels: css, v5

#33354 Column Striping Feature for Tables
  scss/_tables.scss
  scss/_variables.scss
  site/content/docs/5.1/content/tables.md
Labels: feature, v5

#35082 Set `cursor: default` on disabled `.form-check-label`
  scss/forms/_form-check.scss
Labels: css, v5

#35773 Fix empty content of tooltip after 'copy' action in docs
  site/assets/js/application.js
Labels: docs, skip-changelog, affects-main-branch

#35689 Optimize jQueryInterface in Collapse
  js/src/collapse.js
Labels: js, v5

#35798 Update devDependencies
  package-lock.json
  package.json
Labels: v5, dependencies

#33606 Add `.form-check-reverse` modifier class
  scss/forms/_form-check.scss
  site/content/docs/5.1/forms/checks-radios.md
Labels: feature, css, v5, release-highlight

#35759 Fix position of `.list-group-item-action`
  scss/_list-group.scss
Labels: css, v5

#35730 Add Spanish translation
  site/data/translations.yml
Labels: docs, v5

#35814 Remove remaining `.navbar-light` classes
  js/tests/unit/dropdown.spec.js
  js/tests/visual/dropdown.html
  site/content/docs/5.1/components/navbar.md
  site/content/docs/5.1/components/scrollspy.md
  site/content/docs/5.1/customize/css-variables.md
  site/content/docs/5.1/examples/cheatsheet-rtl/index.html
  site/content/docs/5.1/examples/cheatsheet/index.html
Labels: docs, v5

#35827 Fixes #32082
  site/content/docs/5.1/forms/validation.md
Labels: docs, v5

#35828 Fix typo in Badges CSS variables description
  site/content/docs/5.1/components/badge.md
Labels: docs, v5

#35837 Update reboot.md
  site/content/docs/5.1/content/reboot.md
Labels: docs

#35825 Correct the horizontal padding on grid containers
  scss/_variables.scss
  scss/mixins/_container.scss
Labels: css, v5

#35409 Convert dropdowns to CSS variables
  scss/_dropdown.scss
  site/content/docs/5.1/components/dropdowns.md
  site/content/docs/5.1/examples/dropdowns/index.html
Labels: css, v5

#35841 Update devDependencies
  build/build-plugins.js
  js/tests/unit/dropdown.spec.js
  js/tests/unit/scrollspy.spec.js
  js/tests/unit/tooltip.spec.js
  js/tests/unit/util/swipe.spec.js
  js/tests/unit/util/template-factory.spec.js
  package-lock.json
  package.json
Labels: v5, dependencies

#35844 Fixed border radius var name and .show target in buttons
  scss/_buttons.scss
  scss/mixins/_buttons.scss
Labels: css, v5

#35399 Convert pagination component to CSS variables
  scss/_pagination.scss
  scss/mixins/_pagination.scss
  site/content/docs/5.1/components/pagination.md
Labels: css, v5

#35850 Rename dropdown-shadow to dropdown-box-shadow for consistency
  scss/_dropdown.scss
Labels: css, v5

#35818 code indentation in readme
  README.md
Labels: docs, v5

#35740 Add !important property to colored links.
  scss/helpers/_colored-links.scss
Labels: css, v5

#35829 New CSS variable for Navbars
  scss/_navbar.scss
Labels: css, v5

#35822 Apply list group numbering to all items
  scss/_list-group.scss
Labels: css, v5

#35753 Carousel tweaks
  js/src/carousel.js
Labels: js, v5, no squash

#35856 Make event name helper and use it on tooltip & popover to reduce dist sizes
  js/src/base-component.js
  js/src/popover.js
  js/src/tooltip.js
  js/tests/unit/popover.spec.js
  js/tests/unit/tooltip.spec.js
Labels: js, v5

#32953 Replace AnchorJS with a Hugo render hook
  config.yml
  site/assets/js/application.js
  site/assets/js/vendor/anchor.min.js
  site/assets/scss/_anchor.scss
  site/layouts/_default/_markup/render-heading.html
Labels: docs

#35765 tests: revisit all tests using Promise.reject instead of throwing an error
  js/tests/unit/alert.spec.js
  js/tests/unit/carousel.spec.js
  js/tests/unit/collapse.spec.js
  js/tests/unit/dom/event-handler.spec.js
  js/tests/unit/dropdown.spec.js
  js/tests/unit/modal.spec.js
  js/tests/unit/offcanvas.spec.js
  js/tests/unit/tab.spec.js
  js/tests/unit/toast.spec.js
  js/tests/unit/tooltip.spec.js
Labels: v5, tests

#35766 Dropdown: use a combined selector to filter not shown instances
  js/src/dropdown.js
Labels: js, v5, refactoring

#35866 Dropdown: use a better selector to avoid triggering click if button is disabled
  js/src/dropdown.js
Labels: js, v5, refactoring

#35868 Update devDependencies and pin karma-rollup-preprocessor
  package-lock.json
  package.json
Labels: v5, dependencies

#35877 remove opacity utilities from example CSS
  site/content/docs/5.1/examples/list-groups/list-groups.css
Labels: examples

#35846 CI: add issues-helper
  .github/workflows/issue-close-require.yml
  .github/workflows/issue-labeled.yml
Labels: v5, CI

#35491 Rely on `border-width` for `<hr>` size
  scss/_reboot.scss
  scss/_variables.scss
  site/assets/scss/_component-examples.scss
  site/content/docs/5.1/content/reboot.md
  site/content/docs/5.1/examples/cheatsheet-rtl/index.html
  site/content/docs/5.1/examples/cheatsheet/index.html
  site/content/docs/5.1/migration.md
Labels: css, v5

#35878 Improve modal component doc
  site/content/docs/5.1/components/modal.md
Labels: docs

#35699 Docs: replace CSS by utilities in examples
  site/content/docs/5.1/examples/blog-rtl/index.html
  site/content/docs/5.1/examples/blog/blog.css
  site/content/docs/5.1/examples/blog/blog.rtl.css
  site/content/docs/5.1/examples/blog/index.html
  site/content/docs/5.1/examples/carousel-rtl/index.html
  site/content/docs/5.1/examples/carousel/carousel.css
  site/content/docs/5.1/examples/carousel/carousel.rtl.css
  site/content/docs/5.1/examples/carousel/index.html
  site/content/docs/5.1/examples/cheatsheet-rtl/index.html
  site/content/docs/5.1/examples/cheatsheet/cheatsheet.css
  site/content/docs/5.1/examples/cheatsheet/cheatsheet.rtl.css
  site/content/docs/5.1/examples/cheatsheet/index.html
  site/content/docs/5.1/examples/cover/cover.css
  site/content/docs/5.1/examples/cover/index.html
  site/content/docs/5.1/examples/dashboard-rtl/index.html
  site/content/docs/5.1/examples/dashboard/dashboard.css
  site/content/docs/5.1/examples/dashboard/dashboard.rtl.css
  site/content/docs/5.1/examples/dashboard/index.html
  site/content/docs/5.1/examples/dropdowns/dropdowns.css
  site/content/docs/5.1/examples/dropdowns/index.html
  site/content/docs/5.1/examples/features/features.css
  site/content/docs/5.1/examples/features/index.html
  site/content/docs/5.1/examples/headers/headers.css
  site/content/docs/5.1/examples/headers/index.html
  site/content/docs/5.1/examples/list-groups/index.html
  site/content/docs/5.1/examples/list-groups/list-groups.css
  site/content/docs/5.1/examples/modals/modals.css
  site/content/docs/5.1/examples/offcanvas-navbar/index.html
  site/content/docs/5.1/examples/offcanvas-navbar/offcanvas.css
  site/content/docs/5.1/examples/sidebars/index.html
  site/content/docs/5.1/examples/sidebars/sidebars.css
  site/content/docs/5.1/examples/sign-in/index.html
  site/content/docs/5.1/examples/sign-in/signin.css
  site/content/docs/5.1/examples/starter-template/index.html
  site/content/docs/5.1/examples/starter-template/starter-template.css
  site/layouts/_default/examples.html
Labels: examples, v5

#35895 Mention form height change in migration guide
  site/content/docs/5.1/migration.md
Labels: docs, v5

#35085 Fixes missing variable issue with `media-breakpoint-only`
  scss/mixins/_breakpoints.scss
Labels: css, v5

#35894 Base .text-muted on body color
  scss/_variables.scss
Labels: css, v5

#35903 Separate override for hr's in component examples
  site/assets/scss/_component-examples.scss
Labels: docs, v5

#35907 Use all dropdowns CSS variables
  scss/_dropdown.scss
Labels: css, v5

#35859 Add z-index for .toast-container
  scss/_toasts.scss
  scss/_variables.scss
  site/content/docs/5.1/components/toasts.md
Labels: css, v5

#35734 src/tooltip.js Optimization
  js/src/tooltip.js
Labels: js, v5

#35898 Remove border of disabled calendar buttons in Dropdowns example
  site/content/docs/5.1/examples/dropdowns/dropdowns.css
Labels: examples, v5

#35497 docs: add Tabler Icons to list of icon packs
  site/data/icons.yml
Labels: docs, v5

#35592 move theme-colors (vars+map) after color tints definitions
  scss/_variables.scss
Labels: css, v5

#34547 Prefer Linux-specific fonts over Arial
  scss/_variables.scss
  site/content/docs/5.1/content/reboot.md
Labels: css, v5, release-highlight

#35909 update ionicons link
  site/data/icons.yml
Labels: docs, v5

#35914 Fix dropdowns
  scss/_dropdown.scss
Labels: css, v5

#35905 Site assets: `.bd-bg-purple-bright` → `.bd-bg-violet` and drop unused `.bd-text-purple-bright`
  site/assets/scss/_content.scss
  site/layouts/partials/home/masthead-followup.html
Labels: docs, v5
