Repository twbs/bootstrap, pull requests merged in 2023-06, with the labels that each got.

#38538 Update Sass docs to mention compiling and including
  site/content/docs/5.3/customize/sass.md
Labels: docs, v5

#38528 Adding a link to `clearfix`
  site/content/docs/5.3/utilities/float.md
Labels: docs, v5

#38616 Add 'Issues assignment' section to the Contributing Guidelines
  .github/CONTRIBUTING.md
Labels: docs

#38542 Use `.d-none` instead of inline styling
  site/content/docs/5.3/components/alerts.md
  site/content/docs/5.3/examples/badges/index.html
  site/content/docs/5.3/examples/blog-rtl/index.html
  site/content/docs/5.3/examples/blog/index.html
  site/content/docs/5.3/examples/breadcrumbs/index.html
  site/content/docs/5.3/examples/buttons/index.html
  site/content/docs/5.3/examples/dashboard-rtl/index.html
  site/content/docs/5.3/examples/dashboard/index.html
  site/content/docs/5.3/examples/dropdowns/index.html
  site/content/docs/5.3/examples/features/index.html
  site/content/docs/5.3/examples/footers/index.html
  site/content/docs/5.3/examples/headers/index.html
  site/content/docs/5.3/examples/jumbotrons/index.html
  site/content/docs/5.3/examples/list-groups/index.html
  site/content/docs/5.3/examples/modals/index.html
  site/content/docs/5.3/examples/pricing/index.html
  site/content/docs/5.3/examples/product/index.html
  site/content/docs/5.3/examples/sidebars/index.html
  site/content/docs/5.3/examples/starter-template/index.html
  site/layouts/_default/examples.html
  site/layouts/partials/icons.html
Labels: docs, css, examples, v5

#38673 Add `$navbar-dark-icon-color`
  scss/_variables.scss
Labels: css, v5, color mode

#38592 docs(forms): switch to aria-describedby
  site/content/docs/5.3/forms/form-control.md
  site/content/docs/5.3/forms/select.md
Labels: docs, accessibility, v5

#38554 Doc: fix 'Events' JS example
  site/content/docs/5.3/getting-started/javascript.md
Labels: docs, js, v5

#38583 Docs: add more details on accessibility tips
  site/layouts/partials/callouts/warning-color-assistive-technologies.md
Labels: docs, accessibility, v5

#38632 docs(spinners): improve buttons examples accessibility
  site/content/docs/5.3/components/spinners.md
Labels: docs, accessibility, v5

#38600 collate distribution interval
  site/content/docs/5.3/components/collapse.md
Labels: docs, v5

#38681 Docs: consistency between custom buttons, popovers and tooltips
  site/assets/scss/_component-examples.scss
Labels: docs, v5, enhancement

#38711 Fix link colors in Sidebars example
  site/content/docs/5.3/examples/sidebars/index.html
Labels: examples, v5

#38688 Fix missing word issue on nav-tabs page
  site/content/docs/5.3/components/navs-tabs.md
Labels: docs, v5

#38751 Docs (tooltips): Fix "them" typo in markup section
  site/content/docs/5.3/components/tooltips.md
Labels: docs, v5

#38745 Fix stack examples
  site/content/docs/5.3/helpers/stacks.md
Labels: docs, v5

#38734 Minor fixes for Docs Versions page
  site/data/docs-versions.yml
Labels: docs, v5

#38747 Add `color-modes.js` to `bootstrap-x.y.z-examples.zip`
  build/zip-examples.js
Labels: v5, color mode

#38783 Fix missing `@popperjs/core` 2.11.8 refs
  package-lock.json
  package.json
Labels: v5, dependencies

#38774 Generalize disabled nav links CSS rules
  scss/_nav.scss
Labels: css, accessibility, v5

#38815 Increase contrast in dark-mode (#38525)
  scss/_variables-dark.scss
Labels: css, v5, design

#38726 Update flex utilities link in navs docs
  site/content/docs/5.3/components/navs-tabs.md
Labels: docs, v5

#38707 Update bottom border on dark navbar example
  site/content/docs/5.3/components/navbar.md
Labels: docs, v5, squash

#38786 Explicitly add missing opacity-0 helper class example for clarity.
  site/content/docs/5.3/utilities/opacity.md
Labels: docs, v5

#38851 Fix Sass properties order for newer stylelint-config-recess-order
  scss/_reboot.scss
  scss/forms/_form-check.scss
  scss/forms/_form-control.scss
  scss/forms/_form-range.scss
  scss/forms/_form-select.scss
Labels: css
