Repository twbs/bootstrap, pull requests merged in 2023-02, with the labels that each got.

#37998 Use color mode adaptive color for disabled dropdown menu items
  scss/_variables.scss
Labels: css, v5, color mode

#37994 Docs: remove redundant space in forms/validation.md
  site/content/docs/5.3/forms/validation.md
Labels: docs, v5

#38003 fix alert-color in v5.3.0-alpha2
  scss/_alert.scss
Labels: css, v5

#38008 Fix list group colors by using `*-text-emphasis` CSS vars in Sass loop
  scss/_list-group.scss
Labels: css, v5

#38032 Remove `debug` references from DocSearch v2
  README.md
  site/assets/js/search.js
Labels: docs, v5

#38025 unify `offcanvas` `keydown` event logic with `modal`
  js/src/modal.js
  js/src/offcanvas.js
Labels: js, v5

#38034 Minor fix to avoid creating void elements in tooltip test file
  js/tests/unit/tooltip.spec.js
Labels: js, tests

#38037 Fix `$grid-breakpoints` SCSS unit tests init
  scss/tests/utilities/_api.test.scss
Labels: css, v5, utility API, tests

#38038 Remove comments from `scss/_nav.scss`
  scss/_nav.scss
Labels: css, v5

#38014 Docs: Progress fix + proposal
  site/content/docs/5.3/components/progress.md
Labels: docs, accessibility, v5

#38004 Remove unused partials and add some way to automatically detect it
  package.json
  site/layouts/partials/icons/bootstrap-logo-solid.svg
  site/layouts/partials/icons/bootstrap.svg
  site/layouts/partials/icons/cloud-fill.svg
  site/layouts/partials/icons/code.svg
  site/layouts/partials/icons/collapse.svg
  site/layouts/partials/icons/expand.svg
  site/layouts/partials/icons/homepage-hero.svg
  site/layouts/partials/icons/list.svg
  site/layouts/partials/icons/menu.svg
Labels: docs, v5, no squash

#37926 Docs: add scroll-margin-top for keyboard navigation
  site/assets/scss/_scrolling.scss
  site/assets/scss/docs.scss
Labels: docs, accessibility

#37965 Attempt to fix focus ring being cut off in table of contents
  site/assets/scss/_toc.scss
  site/content/docs/5.3/getting-started/introduction.md
  site/layouts/_default/docs.html
Labels: docs, v5

#38044 Update form validation styles to use new CSS variables for `color` and `border-color`
  scss/_root.scss
  scss/_variables-dark.scss
  scss/_variables.scss
  site/content/docs/5.3/forms/validation.md
Labels: css, v5, color mode

#38057 More updates to migration guide
  site/content/docs/5.3/migration.md
Labels: docs, v5

#36309 WIP: New snippet examples
  site/content/docs/5.3/examples/badges/badges.css
  site/content/docs/5.3/examples/badges/index.html
  site/content/docs/5.3/examples/breadcrumbs/breadcrumbs.css
  site/content/docs/5.3/examples/breadcrumbs/index.html
  site/content/docs/5.3/examples/buttons/index.html
  site/content/docs/5.3/examples/jumbotrons/index.html
  site/content/docs/5.3/examples/jumbotrons/jumbotrons.css
  site/content/docs/5.3/examples/pricing/index.html
  site/content/docs/5.3/examples/pricing/pricing.css
  site/data/examples.yml
  site/static/docs/5.3/assets/img/examples/badges.png
  site/static/docs/5.3/assets/img/examples/badges@2x.png
  site/static/docs/5.3/assets/img/examples/breadcrumbs.png
  site/static/docs/5.3/assets/img/examples/breadcrumbs@2x.png
  site/static/docs/5.3/assets/img/examples/buttons.png
  site/static/docs/5.3/assets/img/examples/buttons@2x.png
  site/static/docs/5.3/assets/img/examples/jumbotrons.png
  site/static/docs/5.3/assets/img/examples/jumbotrons@2x.png
Labels: examples, v5

#38060 Drop duplicate `$btn-close-focus-shadow` definition
  scss/_variables.scss
Labels: css, v5

#38059 Remove `-moz-padding-start` from `.form-select`
  scss/forms/_form-select.scss
Labels: css, v5

#37936 Remove color picker borders on Chromium based browsers
  scss/forms/_form-control.scss
Labels: css, v5

#37741 Reduce size of guide dev server images
  site/static/docs/5.3/assets/img/guides/parcel-dev-server-bootstrap.png
  site/static/docs/5.3/assets/img/guides/parcel-dev-server.png
  site/static/docs/5.3/assets/img/guides/vite-dev-server-bootstrap.png
  site/static/docs/5.3/assets/img/guides/vite-dev-server.png
  site/static/docs/5.3/assets/img/guides/webpack-dev-server-bootstrap.png
  site/static/docs/5.3/assets/img/guides/webpack-dev-server.png
Labels: docs, v5, squash

#38074 Fix console error in examples pages due to no theme switcher
  site/static/docs/5.3/assets/js/color-modes.js
Labels: docs, examples, v5, color mode

#38071 Bump Chart.js from 2.9.4 to 4.2.1 in dashboard examples
  site/content/docs/5.3/examples/dashboard-rtl/dashboard.js
  site/content/docs/5.3/examples/dashboard-rtl/index.html
  site/content/docs/5.3/examples/dashboard/dashboard.js
  site/content/docs/5.3/examples/dashboard/index.html
Labels: js, examples, v5, dependencies

#38089 Tests: remove unnecessary `id`/`aria-labelledby` from collapse unit tests
  js/tests/unit/collapse.spec.js
Labels: accessibility, tests

#38104 Remove useless comment from `scss/_utilities.scss`
  scss/_utilities.scss
Labels: css, v5

#38103 Docs: drop unused icons
  site/content/docs/5.3/examples/breadcrumbs/index.html
  site/content/docs/5.3/examples/buttons/index.html
  site/content/docs/5.3/examples/features/index.html
  site/content/docs/5.3/examples/jumbotrons/index.html
  site/content/docs/5.3/examples/list-groups/index.html
  site/content/docs/5.3/examples/modals/index.html
  site/content/docs/5.3/examples/sidebars/index.html
  site/layouts/partials/icons.html
Labels: docs, examples, v5

#38083 Drop duplicate `$nav-link-disabled-color` declaration
  scss/_variables.scss
Labels: css, v5, color mode

#38086 Fix shadow of .btn-link
  scss/_buttons.scss
Labels: css, v5

#38095 Drop unused `--bs-focus-ring-box-shadow` and add documentation for `--bs-focus-ring-{x|y|blur}`
  scss/_root.scss
  site/content/docs/5.3/helpers/focus-ring.md
Labels: docs, css, v5

#38087 Docs: Drop unused `.focused` style
  site/assets/scss/_component-examples.scss
Labels: docs, v5

#38112 Fix code indentation in homepage JavaScript plugins section
  site/layouts/partials/home/plugins.html
Labels: docs, v5
