Repository twbs/bootstrap, pull requests merged in 2023-03, with the labels that each got.

#38131 Utilities: Add one value for link-underline-opacity
  scss/_utilities.scss
  site/content/docs/5.3/utilities/link.md
Labels: docs, accessibility, v5

#38152 Docs: rollback some modification about `.text-muted` deprecation messages
  site/content/docs/5.3/migration.md
  site/content/docs/5.3/utilities/colors.md
Labels: docs, v5

#38151 Docs: replace 'popover' by 'tooltip' in tooltip's page's options section
  site/content/docs/5.3/components/tooltips.md
Labels: docs, v5

#38153 Docs: `.text-body-secondary` appears two times in Utilities > Colors
  site/content/docs/5.3/utilities/colors.md
Labels: docs, v5

#38123 Fix dropdown toggle visible focus in headers example
  site/content/docs/5.3/examples/headers/headers.css
Labels: docs, css, examples, accessibility, v5

#38130 Icon link: envariable + enhance the documentation
  scss/_variables.scss
  scss/helpers/_icon-link.scss
  site/content/docs/5.3/helpers/icon-link.md
Labels: docs, v5

#38088 Fix navbar-nav link styling
  scss/_navbar.scss
Labels: css, v5

#38115 Fix button visibility issue on dark theme
  scss/_buttons.scss
  scss/_variables.scss
Labels: css, v5, color mode

#38144 Examples: color mode enhancement
  site/content/docs/5.3/examples/album-rtl/index.html
  site/content/docs/5.3/examples/album/index.html
  site/content/docs/5.3/examples/badges/badges.css
  site/content/docs/5.3/examples/carousel-rtl/index.html
  site/content/docs/5.3/examples/carousel/carousel.css
  site/content/docs/5.3/examples/carousel/carousel.rtl.css
  site/content/docs/5.3/examples/carousel/index.html
  site/layouts/_default/examples.html
Labels: css, examples, v5, color mode

#38161 Fixed some grammar issues
  site/content/docs/5.3/extend/approach.md
  site/content/docs/5.3/forms/validation.md
  site/content/docs/5.3/migration.md
Labels: docs, v5

#37694 Docs: fix overflow:auto horizontal scrollbars covering last line of code blocks
  site/assets/scss/_clipboard-js.scss
  site/assets/scss/_component-examples.scss
  site/assets/scss/_masthead.scss
Labels: docs, v5

#38179 Docs: vertically align starters images in example page
  site/content/docs/5.3/examples/_index.md
Labels: docs, v5

#38176 Fix missing modifications when `--bs-{color}-text` was changed to `--bs-{color}-text-emphasis`
  scss/_variables.scss
  scss/tests/mixins/_color-modes.test.scss
Labels: css, v5

#38177 Docs: minor modifications in our migration guide for the v5.3.0-alpha2
  site/content/docs/5.3/migration.md
Labels: docs, v5

#38181 Remove comments from scss/_utilities.scss
  scss/_utilities.scss
Labels: css, v5

#38193 Fixes click area for header example snippet
  site/content/docs/5.3/examples/headers/index.html
Labels: examples, v5

#38192 Remove nesting color modes docs section
  site/content/docs/5.3/customize/color-modes.md
Labels: docs, v5

#38198 Docs: fix punctuation on Color modes page (it's -> its)
  site/content/docs/5.3/customize/color-modes.md
Labels: docs, v5

#38201 Saas: remove useless import inside `bootstrap-grid`
  scss/bootstrap-grid.scss
Labels: css, v5

#38199 Docs: Better scroll
  site/assets/scss/_scrolling.scss
Labels: docs, v5, enhancement

#38197 `scss-docs`: link enhancement
  site/layouts/shortcodes/scss-docs.html
Labels: docs, v5

#38196 Docs: Remove unnecessary `href` and `tabindex="-1"`
  site/content/docs/5.3/components/placeholders.md
Labels: docs, v5

#38195 Update `docs` workflow
  .github/workflows/docs.yml
Labels: v5, CI

#38194 Fix typo in `utilities/colors.md`
  site/content/docs/5.3/utilities/colors.md
Labels: docs, v5

#38191 Docs: fix focus issue
  site/content/docs/5.3/components/scrollspy.md
  site/layouts/_default/docs.html
Labels: docs, accessibility, v5

#38182 Improve docs on Modals, Alerts, Offcanvas and Toasts close triggers examples
  site/layouts/shortcodes/js-dismiss.html
Labels: docs, v5

#38209 fix data-bs-theme="dark" on component carousel itself
  scss/_carousel.scss
Labels: css, v5

#38169 Update buttons.md
  site/content/docs/5.3/components/buttons.md
Labels: docs, v5

#38164 Drop unused `bootstrap-social-logo.png`
  site/static/docs/5.3/assets/brand/bootstrap-social-logo.png
Labels: docs, v5

#38175 Docs: consistent usage of CSS sections
  site/content/docs/5.3/components/dropdowns.md
  site/content/docs/5.3/components/modal.md
  site/content/docs/5.3/components/placeholders.md
  site/content/docs/5.3/content/images.md
  site/content/docs/5.3/forms/floating-labels.md
Labels: docs, v5

#38223 Fix wrong generation of `aria-labelledby` in tab navigation
  js/src/tab.js
  js/tests/unit/tab.spec.js
Labels: js, accessibility, v5

#38226 Specify lockfile-version=2 for older npm compatibility
  .npmrc
Labels: build, v5

#38229 Update minor dependencies
  package-lock.json
  package.json
Labels: v5, dependencies

#38227 Move --printUnusedTemplates in hugo scripts
  .github/workflows/docs.yml
  package.json
Labels: build, v5

#38225 Update codeql.yml
  .github/workflows/codeql.yml
Labels: CI

#38233 Remove empty script tag in js/tests/visual/input.html
  js/tests/visual/input.html
Labels: js, v5

#38235 Guard more in color-modes.js
  site/static/docs/5.3/assets/js/color-modes.js
Labels: docs, js, v5

#38228 Tweak stylelint config
  .stylelintrc
  .stylelintrc.json
  package.json
  site/assets/scss/_variables.scss
  site/assets/scss/docs.scss
  site/content/docs/5.3/examples/.stylelintrc
Labels: build, v5

#38236 Docs: use core mixins in a couple of places
  site/assets/scss/_masthead.scss
  site/assets/scss/_navbar.scss
  site/assets/scss/_variables.scss
Labels: docs, css, v5

#38243 Update hugo-bin to v0.100.0
  package-lock.json
  package.json
Labels: v5, dependencies

#38247 Docs: consistent deprecation messages in Close Button dark variant
  site/content/docs/5.3/components/close-button.md
Labels: docs, v5

#38246 icon-link.md: remove moot aliases
  site/content/docs/5.3/helpers/icon-link.md
Labels: docs, v5

#38262 Docs: make all headings use `var(--bs-emphasis-color)`
  site/assets/scss/_masthead.scss
Labels: docs, v5

#38280 Revert "Guard more in color-modes.js"
  site/static/docs/5.3/assets/js/color-modes.js
Labels: docs, js, v5

#38263 Fix `placeholder` shortcode color and background params when 'img' markup
  site/content/docs/5.3/utilities/object-fit.md
  site/layouts/shortcodes/placeholder.html
Labels: docs, v5

#38270 Slightly improve examples PNG files
  site/static/docs/5.3/assets/img/examples/badges.png
  site/static/docs/5.3/assets/img/examples/badges@2x.png
  site/static/docs/5.3/assets/img/examples/breadcrumbs@2x.png
  site/static/docs/5.3/assets/img/examples/buttons.png
  site/static/docs/5.3/assets/img/examples/buttons@2x.png
  site/static/docs/5.3/assets/img/examples/grid.png
  site/static/docs/5.3/assets/img/examples/grid@2x.png
  site/static/docs/5.3/assets/img/examples/jumbotrons.png
  site/static/docs/5.3/assets/img/examples/jumbotrons@2x.png
Labels: docs, v5

#38220 Docs: Proposal to use `scroll-margin-top` instead `padding` and `margin`
  site/assets/scss/_content.scss
  site/assets/scss/_scrolling.scss
Labels: docs, v5

#38291 CI: limit the on push triggers
  .github/workflows/browserstack.yml
  .github/workflows/bundlewatch.yml
  .github/workflows/cspell.yml
  .github/workflows/css.yml
  .github/workflows/docs.yml
  .github/workflows/js.yml
  .github/workflows/lint.yml
  .github/workflows/node-sass.yml
Labels: CI

#38294 Remove version comment from JavaScript src files
  js/src/alert.js
  js/src/base-component.js
  js/src/button.js
  js/src/carousel.js
  js/src/collapse.js
  js/src/dom/data.js
  js/src/dom/event-handler.js
  js/src/dom/manipulator.js
  js/src/dom/selector-engine.js
  js/src/dropdown.js
  js/src/modal.js
  js/src/offcanvas.js
  js/src/popover.js
  js/src/scrollspy.js
  js/src/tab.js
  js/src/toast.js
  js/src/tooltip.js
  js/src/util/backdrop.js
  js/src/util/component-functions.js
  js/src/util/config.js
  js/src/util/focustrap.js
  js/src/util/index.js
  js/src/util/sanitizer.js
  js/src/util/scrollbar.js
  js/src/util/swipe.js
  js/src/util/template-factory.js
Labels: js

#38303 Update browserstack.yml
  .github/workflows/browserstack.yml
Labels: skip-changelog, CI

#38301 docs: remove moot `v` from docs-versions.yml
  site/content/docs/versions.md
  site/data/docs-versions.yml
Labels: docs

#38305 Update Vite, Parcel and Webpack guides
  site/content/docs/5.3/getting-started/parcel.md
  site/content/docs/5.3/getting-started/vite.md
  site/content/docs/5.3/getting-started/webpack.md
Labels: docs, v5

#38281 Fix comment position in `assets/scss/_content.scss`
  site/assets/scss/_content.scss
Labels: docs, v5, skip-changelog

#38310 Fix reference to twbs/examples/icons-font + fine-tune index.html SB location target
  .cspell.json
  site/content/docs/5.3/examples/_index.md
  site/data/examples.yml
Labels: docs, examples, v5

#38317 Docs: fix two class attributes on same button
  site/content/docs/5.3/getting-started/javascript.md
Labels: docs, v5

#38308 Docs: `scss-docs` unindent automatically the code inside shortcode
  site/layouts/shortcodes/scss-docs.html
Labels: docs, v5

#38279 scss: bring light/dark accordion icon color handling to parity
  scss/_variables-dark.scss
Labels: css, v5, color mode

#38085 Add inline-grid value to display utility
  scss/_utilities.scss
Labels: css, v5

#38284 Use `border-radius` CSS variables in more components
  scss/_variables.scss
Labels: css, v5

#38324 Document new .d-inline-grid utility
  site/content/docs/5.3/migration.md
  site/content/docs/5.3/utilities/display.md
Labels: docs, v5

#38121 Fix tooltip body placement with variation placements
  js/src/tooltip.js
  scss/_tooltip.scss
Labels: css, v5

#38328 Update selectors for carousel media query color mode option
  scss/_carousel.scss
Labels: css, v5

#38326 Add `media-query` color mode Sass test
  scss/tests/mixins/_media-query-color-mode-full.test.scss
Labels: css, tests

#38329 Update dependencies and regenerate package-lock.json
  config.yml
  package-lock.json
  package.json
Labels: dependencies

#38330 Update dependencies
  config.yml
Labels: v5, dependencies

#38335 Fixed typo in 5.3.0-alpha2 migration #38334
  site/content/docs/5.3/migration.md
Labels: docs, v5

#38339 Change diff file path in Webpack guide
  site/content/docs/5.3/getting-started/webpack.md
Labels: docs, v5

#38321 docs: remove trailing newline when copying snippets
  site/assets/js/code-examples.js
Labels: docs

#38342 Docs: fix table with empty column
  site/content/docs/5.3/components/modal.md
Labels: docs, v5

#38316 Add js-docs shortcode to ensure consistency between doc and js code
  js/src/util/sanitizer.js
  site/assets/js/snippets.js
  site/content/docs/5.3/components/alerts.md
  site/content/docs/5.3/components/modal.md
  site/content/docs/5.3/components/toasts.md
  site/content/docs/5.3/getting-started/javascript.md
  site/layouts/shortcodes/js-docs.html
Labels: docs

#37303 Add detailed explanation of the JS components configuration merging process
  site/content/docs/5.3/components/popovers.md
  site/content/docs/5.3/components/tooltips.md
  site/layouts/partials/js-data-attributes.md
Labels: docs, v5

#38343 README.md: fix JS Tests link
  README.md
Labels: meta, skip-changelog

#38283 Add a check for interpolation variables to node-sass workflow
  .github/workflows/node-sass.yml
  scss/_button-group.scss
  scss/_pagination.scss
  scss/_tables.scss
  scss/_variables.scss
  scss/forms/_input-group.scss
Labels: css, v5

#38358 zip scripts: remove previous zip files and add quiet flag
  build/zip-examples.js
  package.json
Labels: build

#38362 event-handler: switch to const
  js/src/dom/event-handler.js
Labels: js

#38368 Modal: drop loop
  js/src/modal.js
Labels: js

#38313 Another pass at fixing floating labels disabled colors
  scss/_variables.scss
  scss/forms/_floating-labels.scss
Labels: css, v5

#38365 Update RFS to v10.0.0
  config.yml
  scss/vendor/_rfs.scss
Labels: css

#38380 Docs: Fix clipboard code
  site/assets/js/code-examples.js
Labels: docs
