Repository twbs/bootstrap, pull requests merged in 2023-07, with the labels that each got.

#38865 Fix custom-radio class name on migration guide
  site/content/docs/5.3/migration.md
Labels: docs, v5

#38872 Docs: Improve Text Alignment Example
  site/content/docs/5.3/utilities/text.md
Labels: docs, v5

#38850 Add docs search to homepage
  site/layouts/partials/docs-navbar.html
  site/layouts/partials/header.html
  site/layouts/partials/scripts.html
  site/layouts/partials/stylesheet.html
Labels: docs, accessibility, v5, design

#38838 JS/SCSS shortcodes: Add new feature to remove nested calls inside.
  site/layouts/shortcodes/js-docs.html
  site/layouts/shortcodes/scss-docs.html
Labels: docs, v5

#38844 Fix for text-reset example class name
  site/content/docs/5.3/utilities/text.md
Labels: docs, v5

#38827 Docs: add missing `aria-disabled='true'` to disabled anchors
  js/tests/visual/tab.html
  site/content/docs/5.3/components/card.md
  site/content/docs/5.3/components/dropdowns.md
  site/content/docs/5.3/components/list-group.md
  site/content/docs/5.3/components/navbar.md
  site/content/docs/5.3/components/navs-tabs.md
  site/content/docs/5.3/components/placeholders.md
  site/content/docs/5.3/examples/blog-rtl/index.html
  site/content/docs/5.3/examples/blog/index.html
  site/content/docs/5.3/examples/carousel-rtl/index.html
  site/content/docs/5.3/examples/carousel/index.html
  site/content/docs/5.3/examples/cheatsheet-rtl/index.html
  site/content/docs/5.3/examples/cheatsheet/index.html
  site/content/docs/5.3/examples/navbar-bottom/index.html
  site/content/docs/5.3/examples/navbar-fixed/index.html
  site/content/docs/5.3/examples/navbar-static/index.html
  site/content/docs/5.3/examples/navbars/index.html
  site/content/docs/5.3/examples/sticky-footer-navbar/index.html
Labels: docs, accessibility, v5

#38736 Update buttons.md
  site/content/docs/5.3/components/buttons.md
Labels: docs, v5

#38708 add a base class style display for toggle buttons
  site/content/docs/5.3/components/buttons.md
  site/content/docs/5.3/forms/checks-radios.md
Labels: docs, v5

#38883 Docs: Fix incorrect class name on migration guide
  site/content/docs/5.3/migration.md
Labels: docs, v5

#38902 Fix tooltip generated markup documentation
  site/content/docs/5.3/components/tooltips.md
Labels: docs, v5

#38886 New Sass variable to change vertical rule width
  scss/_variables.scss
  scss/helpers/_vr.scss
  site/content/docs/5.3/helpers/vertical-rule.md
Labels: css, v5

#38894 Docs: add blank target and noopener rel to footer external links
  site/layouts/partials/footer.html
Labels: docs, v5

#38772 `.text-bg-*` helpers now use theme CSS variables
  scss/helpers/_color-bg.scss
Labels: css, v5

#38604 Add dropdown alignment options to button group example
  site/content/docs/5.3/components/button-group.md
Labels: docs, v5

#38905 Fix dark mode rendering of Cheatsheet examples
  site/content/docs/5.3/examples/cheatsheet/cheatsheet.css
  site/content/docs/5.3/examples/cheatsheet/cheatsheet.rtl.css
Labels: examples, v5, color mode

#38840 Docs: fix carousel carousel colors of carousel examples in dark mode
  site/content/docs/5.3/examples/carousel-rtl/index.html
  site/content/docs/5.3/examples/carousel/index.html
Labels: docs, examples, design

#38498 Support `Home` and `End` keys in tabs
  .bundlewatch.config.json
  js/src/tab.js
  js/tests/unit/tab.spec.js
  site/content/docs/5.3/components/navs-tabs.md
Labels: js, accessibility, v5

#38948 Fix some typos in Customize > Sass doc
  site/content/docs/5.3/customize/sass.md
Labels: docs, v5

#38946 Docs: remove v4 reference on homepage
  site/layouts/partials/home/masthead.html
Labels: docs, v5, enhancement

#38952 dashboard: fix offcanvas md display
  site/content/docs/5.3/examples/dashboard-rtl/index.html
  site/content/docs/5.3/examples/dashboard/index.html
Labels: examples

#38953 Update devDependencies and regenerate package-lock.json
  package-lock.json
  package.json
Labels: dependencies

#38885 Docs: Update float responsive examples
  site/content/docs/5.3/utilities/float.md
Labels: docs, v5, enhancement

#38913 Floating labels: fix disabled with text inside
  scss/forms/_floating-labels.scss
  site/content/docs/5.3/forms/floating-labels.md
Labels: css, v5

#38947 Fix postcss plugin options
  site/content/docs/5.3/getting-started/webpack.md
Labels: docs, v5

#38954 Fix bundlewatch values
  .bundlewatch.config.json
Labels: skip-changelog

#38958 Examples: improve spinner buttons accessibility
  site/content/docs/5.3/examples/buttons/index.html
Labels: docs, examples, accessibility

#38816 Use `box-shadow` CSS variables shadow utilities
  scss/_utilities.scss
Labels: css, v5

#38978 Docs: Fix popover template role error
  site/content/docs/5.3/components/popovers.md
Labels: docs, accessibility, v5
