Repository twbs/bootstrap, pull requests merged in 2023-05, with the labels that each got.

#38577 Docs: fix paragraph on how do the variants and accented tables work
  site/content/docs/5.3/content/tables.md
Labels: docs, v5

#38603 Modal: fix grammar
  site/content/docs/5.3/components/modal.md
Labels: docs, v5

#38582 Rename config.yml to hugo.yml
  build/generate-sri.js
  hugo.yml
Labels: docs

#37737 Docs: new section to explain how to add a new color to the theme
  site/content/docs/5.3/customize/color-modes.md
Labels: docs, v5, squash, color mode

#38626 Update color-modes.js
  site/static/docs/5.3/assets/js/color-modes.js
Labels: docs, js, v5, color mode

#38656 Update devDependencies
  hugo.yml
  package-lock.json
  package.json
Labels: dependencies

#38665 Fix always-false boolean condition
  site/static/docs/5.3/assets/js/color-modes.js
Labels: docs, v5, skip-changelog, color mode

#38675 Update code-examples.js
  site/assets/js/code-examples.js
Labels: docs, skip-changelog, squash

#38674 Remove duplicate `$alert-*-scale` Sass vars
  scss/_variables.scss
Labels: css, v5

#38623 Fix disabled element tooltip stackblitz
  site/content/docs/5.3/components/tooltips.md
Labels: docs, v5, squash
