Repository twbs/bootstrap, pull requests merged in 2023-04, with the labels that each got.

#38374 Add variables-dark import in home page
  site/layouts/partials/home/customize.html
Labels: docs, v5, color mode

#38405 Docs: remove moot `hot` option from Vite guide
  site/content/docs/5.3/getting-started/vite.md
Labels: docs, v5, skip-changelog

#38407 Docs: add missing `twbs/examples` and change sorting
  site/content/docs/5.3/customize/color-modes.md
  site/content/docs/5.3/examples/_index.md
  site/content/docs/5.3/getting-started/javascript.md
  site/data/examples.yml
Labels: docs, v5

#38413 generate-sri.js: use destructuring
  build/generate-sri.js
Labels: build, skip-changelog

#38219 Docs: consistent usage of CSS sections
  site/content/docs/5.3/components/alerts.md
  site/content/docs/5.3/components/list-group.md
  site/content/docs/5.3/components/modal.md
  site/content/docs/5.3/components/navbar.md
  site/content/docs/5.3/content/tables.md
  site/content/docs/5.3/customize/color-modes.md
  site/content/docs/5.3/customize/components.md
  site/content/docs/5.3/forms/validation.md
  site/content/docs/5.3/helpers/focus-ring.md
  site/content/docs/5.3/helpers/icon-link.md
  site/content/docs/5.3/helpers/ratio.md
  site/content/docs/5.3/layout/breakpoints.md
  site/content/docs/5.3/layout/containers.md
  site/content/docs/5.3/layout/grid.md
  site/content/docs/5.3/migration.md
  site/content/docs/5.3/utilities/background.md
  site/content/docs/5.3/utilities/borders.md
  site/content/docs/5.3/utilities/colors.md
  site/content/docs/5.3/utilities/display.md
  site/content/docs/5.3/utilities/flex.md
  site/content/docs/5.3/utilities/float.md
  site/content/docs/5.3/utilities/interactions.md
  site/content/docs/5.3/utilities/link.md
  site/content/docs/5.3/utilities/object-fit.md
  site/content/docs/5.3/utilities/opacity.md
  site/content/docs/5.3/utilities/overflow.md
  site/content/docs/5.3/utilities/position.md
  site/content/docs/5.3/utilities/shadows.md
  site/content/docs/5.3/utilities/sizing.md
  site/content/docs/5.3/utilities/spacing.md
  site/content/docs/5.3/utilities/text.md
  site/content/docs/5.3/utilities/vertical-align.md
  site/content/docs/5.3/utilities/visibility.md
  site/content/docs/5.3/utilities/z-index.md
Labels: docs, v5

#38398 Improve colored links interaction with link utilities
  scss/helpers/_colored-links.scss
  site/content/docs/5.3/migration.md
Labels: css, v5

#38433 Fix colors in diff syntax colors
  site/assets/scss/_syntax.scss
Labels: docs, v5

#38431 Docs: fix text rendering of navbar external content
  site/content/docs/5.3/components/navbar.md
Labels: docs, v5

#38426 Add hint to reduce screen flickering
  site/content/docs/5.3/customize/color-modes.md
Labels: docs, v5

#38437 Update devDependencies
  package-lock.json
  package.json
  scss/helpers/_color-bg.scss
  scss/helpers/_colored-links.scss
  scss/tests/mixins/_utilities.test.scss
  site/assets/scss/_colors.scss
  site/content/docs/5.3/examples/blog/blog.css
  site/content/docs/5.3/examples/blog/blog.rtl.css
Labels: dependencies

#38442 dropdown.spec.js: expect nothing in constructor
  js/tests/unit/dropdown.spec.js
Labels: tests

#38446 config.yml: Fix ruby version
  config.yml
Labels: docs

#38450 Update devDependencies and switch to npm-run-all2
  package-lock.json
  package.json
Labels: dependencies

#38452 change-version.js: handle rubygems specific version number
  build/change-version.js
Labels: build, v5

#38448 node-sass workflow: improve error message when Sass vars are found
  .github/workflows/node-sass.yml
  .gitignore
Labels: v5

#38459 Fix Rubygems link to README.md
  site/content/docs/5.3/getting-started/download.md
Labels: docs

#38458 Fix rubygems version and link to README.md
  docs/5.3/getting-started/download/index.html
  index.html
Labels: docs, skip-changelog

#38451 Use `$enable-important-utilities` in `_colored-links.scss`
  scss/helpers/_colored-links.scss
Labels: css, v5

#38366 fix floating-labels min-height
  scss/forms/_floating-labels.scss
Labels: css, v5

#37904 CSS: New var proposal + init `headings-color`
  scss/_reboot.scss
  scss/_root.scss
  scss/_variables-dark.scss
  scss/_variables.scss
Labels: css, v5

#38445 Docs: change colors of position marker example to work with dark mode
  site/content/docs/5.3/utilities/position.md
Labels: docs, v5, color mode

#37084 Table: active `<tr>` fix
  scss/_tables.scss
  scss/_variables.scss
  site/content/docs/5.3/content/tables.md
Labels: css, v5, squash

#38491 Add new docsref page, fix docs border-radius issues
  site/assets/js/application.js
  site/assets/scss/_component-examples.scss
  site/assets/scss/_masthead.scss
  site/content/docs/5.3/docsref.md
  site/layouts/shortcodes/example.html
  site/layouts/shortcodes/js-docs.html
  site/layouts/shortcodes/scss-docs.html
Labels: docs, v5

#38058 More darkmode examples
  site/content/docs/5.3/examples/blog-rtl/index.html
  site/content/docs/5.3/examples/blog/blog.css
  site/content/docs/5.3/examples/blog/blog.rtl.css
  site/content/docs/5.3/examples/blog/index.html
  site/content/docs/5.3/examples/carousel-rtl/index.html
  site/content/docs/5.3/examples/carousel/index.html
  site/content/docs/5.3/examples/cover/index.html
  site/content/docs/5.3/examples/dashboard-rtl/dashboard.js
  site/content/docs/5.3/examples/dashboard-rtl/index.html
  site/content/docs/5.3/examples/dashboard/dashboard.css
  site/content/docs/5.3/examples/dashboard/dashboard.js
  site/content/docs/5.3/examples/dashboard/dashboard.rtl.css
  site/content/docs/5.3/examples/dashboard/index.html
  site/content/docs/5.3/examples/features/index.html
  site/content/docs/5.3/examples/grid/index.html
  site/content/docs/5.3/examples/headers/index.html
  site/content/docs/5.3/examples/jumbotron/index.html
  site/content/docs/5.3/examples/pricing/index.html
  site/content/docs/5.3/examples/pricing/pricing.css
  site/content/docs/5.3/examples/product/index.html
  site/content/docs/5.3/examples/product/product.css
  site/content/docs/5.3/examples/sign-in/index.html
  site/content/docs/5.3/examples/sign-in/sign-in.css
  site/content/docs/5.3/examples/sticky-footer/index.html
  site/layouts/_default/examples.html
Labels: examples, v5

#38521 Fix sizing on masthead npm i snippet
  site/assets/scss/_masthead.scss
Labels: docs, v5

#38502 Fix scrollspy and accented anchor links
  js/src/scrollspy.js
  js/tests/unit/scrollspy.spec.js
  js/tests/visual/scrollspy.html
Labels: js, v5, release-highlight

#38531 Update URL sanitizer to allow more protocols
  js/src/util/sanitizer.js
  js/tests/unit/util/sanitizer.spec.js
Labels: js, v5

#38537 Update devDependencies
  package-lock.json
  package.json
  site/assets/scss/_colors.scss
Labels: dependencies
