Repository twbs/bootstrap, pull requests merged in 2023-10, with the labels that each got.

#39246 Docs: fix for example code blocks have unnecessary 30px right-margin
  site/assets/scss/_component-examples.scss
Labels: docs, v5, enhancement

#39293 Update background.md
  site/content/docs/5.3/utilities/background.md
Labels: docs, v5, color mode

#39294 Tests: update navbar in visual modal test
  js/tests/visual/modal.html
Labels: css, v5, tests

#39304 Doc: add expanded accordion explanation
  site/content/docs/5.3/components/accordion.md
Labels: docs, v5

#39214 Doc: use `.text-bg-{color}` for all badges
  site/content/docs/5.3/components/badge.md
  site/content/docs/5.3/components/list-group.md
  site/content/docs/5.3/migration.md
  site/content/docs/5.3/utilities/position.md
  site/content/docs/5.3/utilities/text.md
  site/content/docs/versions.md
Labels: docs, v5, color mode

#39340 Doc: add `dispose()` to Offcanvas methods
  site/content/docs/5.3/components/offcanvas.md
Labels: docs, v5

#39224 Fix edge case in color-mode.js
  site/static/docs/5.3/assets/js/color-modes.js
Labels: js, v5, color mode
