Repository twbs/bootstrap, pull requests merged in 2023-11, with the labels that each got.

#39387 docs: fix typo
  scss/mixins/_grid.scss
Labels: css, v5

#39380 Fix Sass compilation breaking change in v5.3
  scss/_variables.scss
  scss/tests/mixins/_auto-import-of-variables-dark.test.scss
Labels: css, v5, squash

#39378 Docs: fix sentence in modal
  site/content/docs/5.3/components/modal.md
Labels: docs, v5

#39376 Allow dl, dt and dd in sanitizer
  js/src/util/sanitizer.js
Labels: js, v5

#39373 refactor css: modal and offcanvas header spacing
  scss/_modal.scss
  scss/_offcanvas.scss
Labels: css, v5

#37508 Use child combinators to avoid inheriting parent accordion's flush styles
  scss/_accordion.scss
Labels: css, v5

#39417 Fix color schemes description in Sass customization documentation
  site/content/docs/5.3/customize/sass.md
Labels: docs, v5, color mode

#39418 Docs: change vite config path import in vite guide
  site/content/docs/5.3/getting-started/vite.md
Labels: docs, v5, enhancement
