Repository twbs/bootstrap, pull requests merged in 2023-09, with the labels that each got.

#39030 Fix dart-sass deprecation warning
  scss/mixins/_grid.scss
Labels: css

#39145 Docs: add warning callout to add a workaround when jsDelivr is not available
  site/content/docs/5.3/getting-started/download.md
Labels: docs, v5, squash

#38873 Discord reddit bootstrap
  README.md
  site/content/docs/5.3/getting-started/introduction.md
Labels: docs, v5

#39095 Make form range track background more contrasted
  scss/_variables.scss
Labels: css, accessibility, v5, design

#39033 Color mode: fix table state rendering
  scss/_variables.scss
Labels: css, v5, color mode

#38955 Fixed bug the radios are seems to be like ellipse when use on respons…
  scss/forms/_form-check.scss
Labels: css, v5, squash

#39141 New Sass variable to handle `<mark>` dark mode bg color
  scss/_reboot.scss
  scss/_root.scss
  scss/_variables-dark.scss
  scss/_variables.scss
Labels: css, v5, color mode, design

#38989 Collapse: Fix multiple ids calls
  js/src/dom/selector-engine.js
  js/tests/unit/dom/selector-engine.spec.js
Labels: js, v5

#39174 Update devDependencies
  package-lock.json
  package.json
Labels: v5, dependencies

#39180 README.md: remove BrowserStack badge
  README.md
Labels: meta

#39177 Fix: make theme selector tick icon visible when active in examples layout
  site/layouts/_default/examples.html
Labels: docs, v5

#39179 download: Reword CDN paragraph
  .cspell.json
  site/content/docs/5.3/getting-started/download.md
Labels: docs

#38884 fix border-radius on radio-switch
  scss/forms/_form-check.scss
Labels: css, v5

#39200 Typo Fix
  site/content/docs/5.3/forms/checks-radios.md
Labels: docs, v5

#39249 Doc: consistent rendering of 'Heads up!' callouts
  site/content/docs/5.3/components/offcanvas.md
  site/content/docs/5.3/helpers/stacks.md
Labels: docs, v5
