Repository twbs/bootstrap, pull requests merged in 2023-08, with the labels that each got.

#38990 Update devDependencies
  package-lock.json
  package.json
Labels: v5, dependencies

#38995 introduction: drop `details` element
  site/content/docs/5.3/getting-started/introduction.md
Labels: docs, v5

#38994 examples: update 3rd-party packages
  site/content/docs/5.3/examples/dashboard-rtl/index.html
  site/content/docs/5.3/examples/dashboard/index.html
Labels: examples, dependencies

#38976 Use box-shadow CSS vars instead of Sass vars in assets and variables
  scss/_variables.scss
  site/assets/scss/_navbar.scss
  site/assets/scss/_sidebar.scss
Labels: css, v5

#38977 Docs: Add missing form elements in focusable elements
  site/assets/scss/_scrolling.scss
Labels: docs, v5

#38970 docs: add BootstrapVueNext to docs
  site/content/docs/5.3/getting-started/javascript.md
Labels: docs, v5

#38984 Convert build scripts to ESM
  .eslintrc.json
  build/banner.mjs
  build/build-plugins.mjs
  build/change-version.mjs
  build/generate-sri.mjs
  build/postcss.config.mjs
  build/rollup.config.mjs
  build/vnu-jar.mjs
  build/zip-examples.mjs
  package.json
Labels: build, v5

#39021 CI: update permissions for calibreapp-image-actions.yml
  .github/workflows/calibreapp-image-actions.yml
Labels: CI

#38983 Improve change-version script
  build/change-version.mjs
Labels: build, v5

#39046 Dropdown: reuse variable
  js/src/tab.js
Labels: js, v5

#39037 Further improve image compression with oxipng and the latest jpegoptim
  site/content/docs/5.3/examples/features/unsplash-photo-1.jpg
  site/content/docs/5.3/examples/features/unsplash-photo-2.jpg
  site/content/docs/5.3/examples/features/unsplash-photo-3.jpg
  site/content/docs/5.3/examples/heroes/bootstrap-docs.png
  site/static/docs/5.3/assets/brand/bootstrap-logo-shadow.png
  site/static/docs/5.3/assets/img/bootstrap-icons.png
  site/static/docs/5.3/assets/img/bootstrap-themes-collage@2x.png
  site/static/docs/5.3/assets/img/examples/album@2x.png
  site/static/docs/5.3/assets/img/examples/badges@2x.png
  site/static/docs/5.3/assets/img/examples/buttons.png
  site/static/docs/5.3/assets/img/examples/buttons@2x.png
  site/static/docs/5.3/assets/img/examples/carousel-rtl.png
  site/static/docs/5.3/assets/img/examples/carousel-rtl@2x.png
  site/static/docs/5.3/assets/img/examples/carousel.png
  site/static/docs/5.3/assets/img/examples/carousel@2x.png
  site/static/docs/5.3/assets/img/examples/dashboard-rtl@2x.png
  site/static/docs/5.3/assets/img/examples/headers.png
  site/static/docs/5.3/assets/img/examples/headers@2x.png
  site/static/docs/5.3/assets/img/examples/list-groups.png
  site/static/docs/5.3/assets/img/examples/masonry.png
  site/static/docs/5.3/assets/img/examples/masonry@2x.png
  site/static/docs/5.3/assets/img/examples/navbar-bottom.png
  site/static/docs/5.3/assets/img/examples/navbar-bottom@2x.png
  site/static/docs/5.3/assets/img/examples/navbars-offcanvas.png
  site/static/docs/5.3/assets/img/examples/navbars-offcanvas@2x.png
  site/static/docs/5.3/assets/img/examples/offcanvas-navbar.png
  site/static/docs/5.3/assets/img/examples/offcanvas-navbar@2x.png
  site/static/docs/5.3/assets/img/examples/sticky-footer-navbar.png
  site/static/docs/5.3/assets/img/examples/sticky-footer-navbar@2x.png
  site/static/docs/5.3/assets/img/favicons/apple-touch-icon.png
  site/static/docs/5.3/assets/img/guides/parcel-dev-server.png
  site/static/docs/5.3/assets/img/guides/vite-dev-server.png
  site/static/docs/5.3/assets/img/guides/webpack-dev-server.png
Labels: docs, v5

#39054 Docs: Remove incorrect mention of `.left-` and `.right-` utilities from migration guide
  site/content/docs/5.3/migration.md
Labels: docs, v5

#39083 Update devDependencies
  package-lock.json
  package.json
Labels: v5, dependencies

#39086 Corrected a grammar error in by adding the word go to examples/starte…
  site/content/docs/5.3/examples/starter-template/index.html
Labels: examples, v5
