Repository twbs/bootstrap, pull requests merged in 2024-10, with the labels that each got.

#40876 Remove unneeded flexbug workaround
  scss/_card.scss
  scss/mixins/_grid.scss
Labels: css, v5, enhancement

#40818 Docs: fix `$enable-css-grid` → `$enable-cssgrid` in 'Customize > Options'
  site/content/docs/5.3/customize/options.md
Labels: docs, v5

#40767 Docs: Indicate links in foreign language
  site/content/docs/5.3/about/translations.md
Labels: docs, accessibility, v5

#40766 Docs: Make "Edit in Stackblitz" links explicit
  site/layouts/partials/examples/main.html
Labels: docs, accessibility, v5

#40900 Remove unnecessary duplicated CSS class name
  site/layouts/partials/home/get-started.html
Labels: docs, css, v5

#40914 Docs: drop useless `.justify-content-start` class in homepage
  site/layouts/partials/home/components-utilities.html
  site/layouts/partials/home/css-variables.html
  site/layouts/partials/home/customize.html
  site/layouts/partials/home/icons.html
  site/layouts/partials/home/plugins.html
  site/layouts/partials/home/themes.html
Labels: docs, v5, enhancement

#40799 Fix Cheatsheet examples horizontal scrolling
  site/content/docs/5.3/examples/cheatsheet-rtl/index.html
  site/content/docs/5.3/examples/cheatsheet/index.html
Labels: docs, examples, v5

#40821 Docs: precise how to add new `.order-*` classes in 'Layout > Columns'
  site/content/docs/5.3/layout/columns.md
Labels: docs, v5, enhancement

#40790 Docs: Drop `.grid` where it shouldn't be used
  site/content/docs/5.3/utilities/spacing.md
Labels: docs, enhancement

#40931 Fix: correct typo in background-blend-mode value
  site/assets/scss/_masthead.scss
Labels: docs, css, v5

#40911 fix transparent navbar in windows high contrast mode
  site/assets/scss/_navbar.scss
Labels: docs, accessibility, v5
