Repository twbs/bootstrap, pull requests merged in 2024-05, with the labels that each got.

#39950 package.json: ignore eslint for now and regenerate package-lock.json
  package-lock.json
  package.json
Labels: dependencies

#39951 docs: migrate to the built-in sitemap template
  site/content/404.md
  site/content/docs/5.3/_index.html
  site/content/docs/5.3/docsref.md
  site/content/docs/_index.html
  site/layouts/sitemap.xml
Labels: docs

#39980 Docs: add missing Accordion component in the list of JS components
  site/content/docs/5.3/getting-started/introduction.md
Labels: docs, v5

#40504 docs: add missing `data-bs-theme="light"` in navbars color schemes markup
  site/content/docs/5.3/components/navbar.md
Labels: docs, v5, color mode

#40507 Docs: HTTPS link to ikons iconset
  site/data/icons.yml
Labels: docs, v5, enhancement

#40488 button-group: Fix `btn-group-vertical` by using same rules as `btn-group`
  scss/_button-group.scss
  site/content/docs/5.3/components/button-group.md
Labels: css, v5
