Repository twbs/bootstrap, pull requests merged in 2024-01, with the labels that each got.

#39096 CI: stop running coveralls in forks
  .github/workflows/js.yml
Labels: v5, CI

#39604 Fix typo in 'media-breakpoint-between' in migration docs
  site/content/docs/5.3/migration.md
Labels: docs

#39411 Optimize the accordion icon
  scss/_variables.scss
Labels: css, v5, enhancement, design

#39617 Docs: add missing comma in native font stack code source in Content > Reboot
  site/content/docs/5.3/content/reboot.md
Labels: docs, v5
