Repository twbs/bootstrap, pull requests merged in 2024-02, with the labels that each got.

#39528 docs: clean up example.html
  site/layouts/shortcodes/example.html
Labels: docs, v5, squash

#39646 Bump copyright year to 2024
  LICENSE
  README.md
  build/build-plugins.mjs
  build/change-version.mjs
  build/generate-sri.mjs
  build/vnu-jar.mjs
  build/zip-examples.mjs
  nuget/bootstrap.nuspec
  nuget/bootstrap.sass.nuspec
  scss/mixins/_banner.scss
  site/assets/js/application.js
  site/assets/js/code-examples.js
  site/assets/js/snippets.js
  site/assets/scss/docs.scss
  site/content/docs/5.3/examples/blog-rtl/index.html
  site/content/docs/5.3/examples/blog/index.html
  site/static/docs/5.3/assets/js/color-modes.js
Labels: v5, skip-changelog

#39654 Update jasmine and regenerate package-lock.json
  package-lock.json
  package.json
Labels: dependencies

#39595 CSS: Fix the focus ring on focused checked buttons
  scss/_buttons.scss
Labels: css, v5

#39536 Changed RTL processing of carousel control icons
  scss/_carousel.scss
Labels: css, v5, rtl, squash

#39560 Drop `--bs-accordion-btn-focus-border-color` and deprecate `$accordion-button-focus-border-color`
  scss/_accordion.scss
  scss/_variables.scss
Labels: css, v5

#39663 updated table to be responsive
  site/content/docs/5.3/customize/color.md
Labels: docs, v5, squash

#39592 Update vite.md
  site/content/docs/5.3/getting-started/parcel.md
  site/content/docs/5.3/getting-started/vite.md
  site/content/docs/5.3/getting-started/webpack.md
Labels: docs, v5

#39657 Fix product example mobile navbar toggler
  site/content/docs/5.3/examples/product/index.html
Labels: examples, v5

#39201 Selector Engine: fix multiple IDs
  js/src/dom/selector-engine.js
  js/tests/unit/dom/selector-engine.spec.js
  js/tests/unit/modal.spec.js
Labels: js, v5

#39697 refactor(accordion): merge selectors for `border-radius` rule
  scss/_accordion.scss
Labels: css, v5, enhancement
