Repository twbs/bootstrap, pull requests merged in 2024-09, with the labels that each got.

#40762 Docs: clarify the subject of the About page
  site/content/docs/5.3/about/overview.md
Labels: docs, accessibility, v5

#40797 Docs: missing `$enable-css-grid` in options.md
  site/content/docs/5.3/customize/options.md
Labels: docs, v5

#40803 Fix popover toggle twice to close
  js/src/tooltip.js
  js/tests/unit/popover.spec.js
Labels: js, v5

#40844 Docs: Remove mention about Safari's limited support flexbox gap
  site/content/docs/5.3/helpers/stacks.md
Labels: docs, css, enhancement

#40870 Docs: Update modal min-height inline style
  site/content/docs/5.3/components/modal.md
Labels: docs, v5, enhancement

#40808 Docs: add aria-label to SVG with tooltip
  site/content/docs/5.3/components/tooltips.md
Labels: accessibility, v5
