Repository twbs/bootstrap, pull requests merged in 2024-12, with the labels that each got.

#40756 Docs: missing aria-hidden on some decorative SVGs
  site/content/docs/5.3/components/tooltips.md
  site/content/docs/5.3/examples/badges/index.html
  site/content/docs/5.3/examples/blog-rtl/index.html
  site/content/docs/5.3/examples/blog/index.html
  site/content/docs/5.3/examples/breadcrumbs/index.html
  site/content/docs/5.3/examples/buttons/index.html
  site/content/docs/5.3/examples/dashboard-rtl/index.html
  site/content/docs/5.3/examples/dashboard/index.html
  site/content/docs/5.3/examples/dropdowns/index.html
  site/content/docs/5.3/examples/features/index.html
  site/content/docs/5.3/examples/footers/index.html
  site/content/docs/5.3/examples/headers/index.html
  site/content/docs/5.3/examples/jumbotrons/index.html
  site/content/docs/5.3/examples/list-groups/index.html
  site/content/docs/5.3/examples/modals/index.html
  site/content/docs/5.3/examples/pricing/index.html
  site/content/docs/5.3/examples/product/index.html
  site/content/docs/5.3/examples/sidebars/index.html
  site/content/docs/5.3/examples/starter-template/index.html
  site/content/docs/5.3/utilities/position.md
  site/layouts/partials/docs-versions.html
  site/layouts/partials/icons/hamburger.svg
  site/layouts/partials/theme-toggler.html
Labels: docs, accessibility, v5

#40965 Docs: Use `<article>` element for example cards
  site/layouts/partials/examples/main.html
Labels: docs, accessibility, v5, enhancement

#41098 Update a point in the RTL documentation
  site/content/docs/5.3/getting-started/rtl.md
Labels: docs, v5, rtl

#41004 Add workarounds for postcss-values-parser error (negative values in calc())
  scss/_button-group.scss
  scss/_pagination.scss
  scss/_variables.scss
  scss/forms/_input-group.scss
  site/assets/scss/_component-examples.scss
Labels: css, v5

#40928 Update css-grid.md
  site/content/docs/5.3/layout/css-grid.md
Labels: docs, v5

#40714 Docs: add descriptions for Webpack, Parcel and Vite
  site/content/docs/5.3/getting-started/parcel.md
  site/content/docs/5.3/getting-started/vite.md
  site/content/docs/5.3/getting-started/webpack.md
Labels: docs, v5

#40695 Fix light mode carousel in dark mode
  scss/_carousel.scss
  scss/_variables-dark.scss
  scss/_variables.scss
Labels: css, v5, color mode

#41126 Fix display issues of close button in contextual light and dark modes
  scss/_close.scss
  scss/_variables-dark.scss
  scss/_variables.scss
Labels: css, v5, color mode
