Repository twbs/bootstrap, pull requests merged in 2024-03, with the labels that each got.

#39725 docs: remove Google Analytics
  site/content/docs/5.3/getting-started/download.md
  site/layouts/_default/single.html
  site/layouts/partials/analytics.html
  site/layouts/partials/docs-navbar.html
  site/layouts/partials/home/masthead.html
Labels: docs

#39738 Fix docs-versions.html
  site/layouts/partials/docs-versions.html
Labels: docs

#39745 docs: use a responsive image for bootstrap-logo-shadow.png
  site/layouts/partials/home/masthead.html
  site/static/docs/5.3/assets/brand/bootstrap-logo-shadow.png
  site/static/docs/5.3/assets/brand/bootstrap-logo-shadow@2x.png
Labels: docs, v5

#39748 README.md: fix source-maps link after 953b4b6
  README.md
Labels: meta

#39739 Search: Fix modal on mobile chromium based browsers
  site/assets/scss/_search.scss
Labels: docs, v5

#39763 Switch to using `hugo.IsProduction`
  site/layouts/_default/examples.html
  site/layouts/partials/scripts.html
  site/layouts/partials/stylesheet.html
  site/layouts/robots.txt
Labels: docs, v5

#39766 Docs: drop `data-bs-scroll="true"` from navbar
  site/layouts/partials/docs-navbar.html
Labels: docs, v5

#39781 docs: move fathom site to hugo config
  hugo.yml
  site/layouts/partials/analytics.html
Labels: docs

#39785 v3: NES Docs
  docs/3.4/about/index.html
  docs/3.4/assets/css/docs.min.css
  docs/3.4/browser-bugs/index.html
  docs/3.4/components/index.html
  docs/3.4/css/index.html
  docs/3.4/customize/index.html
  docs/3.4/getting-started/index.html
  docs/3.4/index.html
  docs/3.4/javascript/index.html
  docs/3.4/migration/index.html
Labels: docs, v3, nes

#39787 v5: NES Docs
  index.html
Labels: docs, v5, nes

#39749 Update masthead to HeroDevs EOL
  site/layouts/partials/home/masthead.html
  site/layouts/partials/icons.html
Labels: docs, v5

#39782 docs: mention text transform classes
  site/content/docs/5.3/utilities/text.md
Labels: docs, v5

#39494 Change floating label placeholder's color
  scss/forms/_floating-labels.scss
Labels: css, design

#39800 Update dependencies
  package-lock.json
  package.json
Labels: dependencies

#39806 package.json: stop ignoring jasmine
  package.json
Labels: dependencies

#39773 Further improve PNG compression
  nuget/bootstrap.png
  site/static/docs/5.3/assets/img/bootstrap-themes-collage.png
  site/static/docs/5.3/assets/img/bootstrap-themes-collage@2x.png
  site/static/docs/5.3/assets/img/examples/badges.png
  site/static/docs/5.3/assets/img/examples/badges@2x.png
  site/static/docs/5.3/assets/img/examples/breadcrumbs.png
  site/static/docs/5.3/assets/img/examples/breadcrumbs@2x.png
  site/static/docs/5.3/assets/img/examples/dropdowns@2x.png
  site/static/docs/5.3/assets/img/examples/footers@2x.png
  site/static/docs/5.3/assets/img/examples/grid.png
  site/static/docs/5.3/assets/img/examples/list-groups@2x.png
  site/static/docs/5.3/assets/img/examples/masonry@2x.png
  site/static/docs/5.3/assets/img/examples/modals@2x.png
  site/static/docs/5.3/assets/img/examples/navbar-static.png
  site/static/docs/5.3/assets/img/examples/navbar-static@2x.png
  site/static/docs/5.3/assets/img/examples/navbars-offcanvas.png
  site/static/docs/5.3/assets/img/examples/pricing@2x.png
  site/static/docs/5.3/assets/img/favicons/android-chrome-192x192.png
Labels: docs, v5

#39804 Optimize Sass SVG files
  scss/_variables-dark.scss
  scss/_variables.scss
Labels: css, squash

#39808 docs: move examples icons to a partial
  site/layouts/_default/examples.html
  site/layouts/partials/examples/icons.html
Labels: docs

#39805 masthead.html: add `rel="noopener" target="_blank"`
  site/layouts/partials/home/masthead.html
Labels: docs

#39807 Move theme toggler to a partial
  site/layouts/_default/examples.html
  site/layouts/partials/docs-navbar.html
  site/layouts/partials/theme-toggler.html
Labels: docs, squash

#39778 docs: use `urls.JoinPath` in more places
  site/content/docs/versions.md
  site/layouts/partials/docs-sidebar.html
Labels: docs

#39819 docs: update sitemap template
  site/content/404.md
  site/content/docs/5.3/_index.html
  site/content/docs/5.3/docsref.md
  site/content/docs/_index.html
  site/layouts/sitemap.xml
Labels: docs, squash
