Repository twbs/bootstrap, pull requests merged in 2024-04, with the labels that each got.

#39779 docs: add a new partial for responsive images and use `imageConfig`
  site/layouts/_default/single.html
  site/layouts/partials/examples/bs-themes.html
  site/layouts/partials/home/icons.html
  site/layouts/partials/home/masthead.html
  site/layouts/partials/home/themes.html
  site/layouts/partials/responsive-img.html
Labels: docs

#39824 docs: resize docs bundler images and fix dimensions
  site/content/docs/5.3/getting-started/parcel.md
  site/content/docs/5.3/getting-started/vite.md
  site/content/docs/5.3/getting-started/webpack.md
  site/static/docs/5.3/assets/img/guides/bootstrap-parcel.png
  site/static/docs/5.3/assets/img/guides/bootstrap-parcel@2x.png
  site/static/docs/5.3/assets/img/guides/bootstrap-vite.png
  site/static/docs/5.3/assets/img/guides/bootstrap-vite@2x.png
  site/static/docs/5.3/assets/img/guides/bootstrap-webpack.png
  site/static/docs/5.3/assets/img/guides/bootstrap-webpack@2x.png
Labels: docs, v5, squash

#39863 Add PostCSS-RTLCSS approach to the documentation
  site/content/docs/5.3/getting-started/rtl.md
Labels: docs, v5, rtl, squash
