Repository twbs/bootstrap, pull requests merged in 2025-09, with the labels that each got.

#41691 #41690: [docs] Tables doc - Variants code examples miss table class
  site/src/content/docs/content/tables.mdx
Labels: docs, v5

#41749 v6: Add reference tables to utilities docs, add community links to some pages (MDN, CSS Tricks)
  .cspell.json
  scss/_config.scss
  scss/_root.scss
  site/data/sidebar.yml
  site/src/components/ReferenceTable.astro
  site/src/components/icons/CssTricksIcon.astro
  site/src/components/icons/MdnIcon.astro
  site/src/content/config.ts
  site/src/content/docs/components/card.mdx
  site/src/content/docs/content/images.mdx
  site/src/content/docs/content/tables.mdx
  site/src/content/docs/helpers/position.mdx
  site/src/content/docs/layout/css-grid.mdx
  site/src/content/docs/layout/grid.mdx
  site/src/content/docs/migration.mdx
  site/src/content/docs/utilities/api.mdx
  site/src/content/docs/utilities/aspect-ratio.mdx
  site/src/content/docs/utilities/background.mdx
  site/src/content/docs/utilities/border-radius.mdx
  site/src/content/docs/utilities/border.mdx
  site/src/content/docs/utilities/colors.mdx
  site/src/content/docs/utilities/display.mdx
  site/src/content/docs/utilities/flex.mdx
  site/src/content/docs/utilities/float.mdx
  site/src/content/docs/utilities/interactions.mdx
  site/src/content/docs/utilities/object-fit.mdx
  site/src/content/docs/utilities/opacity.mdx
  site/src/content/docs/utilities/overflow.mdx
  site/src/content/docs/utilities/position.mdx
  site/src/content/docs/utilities/shadows.mdx
  site/src/content/docs/utilities/sizing.mdx
  site/src/content/docs/utilities/spacing.mdx
  site/src/content/docs/utilities/text.mdx
  site/src/content/docs/utilities/vertical-align.mdx
  site/src/content/docs/utilities/visibility.mdx
  site/src/content/docs/utilities/z-index.mdx
  site/src/layouts/DocsLayout.astro
  site/src/scss/_content.scss
Labels: docs, v6

#41762 Use `@forward` instead of `@use` for proper customization
  scss/bootstrap-utilities.scss
  scss/bootstrap.scss
  scss/tests/jasmine.js
  scss/tests/modules/_configuration.test.scss
Labels: css, v6

#41769 Start to redo `generate-utility()`
  .bundlewatch.config.json
  scss/mixins/_utilities.scss
Labels: css, utility API, v6

#41775 New validator
  .github/workflows/docs.yml
  build/html-validate.mjs
  build/vnu-jar.mjs
  package-lock.json
  package.json
Labels: docs, meta, v6

#41763 v6: Update colors and theme
  .bundlewatch.config.json
  scss/_alert.scss
  scss/_colors.scss
  scss/_dropdown.scss
  scss/_functions.scss
  scss/_list-group.scss
  scss/_maps.scss
  scss/_progress.scss
  scss/_root.scss
  scss/_theme.scss
  scss/_tooltip.scss
  scss/_utilities.scss
  scss/_variables.scss
  scss/buttons/_button-variables.scss
  scss/buttons/_button.scss
  scss/content/_tables.scss
  scss/forms/_check.scss
  scss/forms/_floating-labels.scss
  scss/forms/_form-variables.scss
  scss/forms/_radio.scss
  scss/helpers/_color-bg.scss
  scss/helpers/_colored-links.scss
  scss/layout/_grid.scss
  scss/mixins/_gradients.scss
  site/data/colors.yml
  site/data/grays.yml
  site/data/sidebar.yml
  site/data/theme-colors.yml
  site/src/components/shortcodes/Example.astro
  site/src/components/shortcodes/Swatch.astro
  site/src/components/shortcodes/Table.astro
  site/src/content/docs/components/card.mdx
  site/src/content/docs/content/tables.mdx
  site/src/content/docs/customize/color.mdx
  site/src/content/docs/customize/overview.mdx
  site/src/content/docs/customize/theme.mdx
  site/src/content/docs/forms/checkbox.mdx
  site/src/content/docs/forms/radio.mdx
  site/src/content/docs/utilities/api.mdx
  site/src/content/docs/utilities/background.mdx
  site/src/content/docs/utilities/border.mdx
  site/src/content/docs/utilities/colors.mdx
  site/src/content/docs/utilities/text.mdx
  site/src/layouts/DocsLayout.astro
  site/src/libs/data.ts
  site/src/libs/placeholder.ts
  site/src/scss/_anchor.scss
  site/src/scss/_colors.scss
  site/src/scss/_component-examples.scss
  site/src/scss/_content.scss
  site/src/scss/_masthead.scss
  site/src/scss/_syntax.scss
  site/src/scss/_variables.scss
  site/src/types/auto-import.d.ts
Labels: css, v6
