Repository twbs/bootstrap, pull requests merged in 2025-04, with the labels that each got.

#39364 Docs: improve progress bar labels markup and explanations for accessibility
  site/content/docs/5.3/components/progress.md
Labels: docs, v5, color mode

#41336 Fix modal and offcanvas header collapse
  scss/_modal.scss
  scss/_offcanvas.scss
Labels: css, v5

#39799 Docs: fix StackBlitz icon link examples
  site/content/docs/5.3/helpers/icon-link.md
Labels: docs, enhancement

#40706 Docs: From Twitter to X
  README.md
  hugo.yml
  js/tests/unit/popover.spec.js
  js/tests/visual/tooltip.html
  site/content/docs/5.3/about/overview.md
  site/content/docs/5.3/content/tables.md
  site/content/docs/5.3/examples/album/index.html
  site/content/docs/5.3/examples/blog-rtl/index.html
  site/content/docs/5.3/examples/blog/index.html
  site/content/docs/5.3/examples/cheatsheet-rtl/index.html
  site/content/docs/5.3/examples/cheatsheet/index.html
  site/content/docs/5.3/examples/cover/index.html
  site/content/docs/5.3/examples/footers/index.html
  site/content/docs/5.3/examples/modals/index.html
  site/content/docs/5.3/getting-started/introduction.md
  site/layouts/partials/docs-navbar.html
  site/layouts/partials/icons/twitter.svg
  site/layouts/partials/icons/x.svg
  site/layouts/partials/social.html
  site/layouts/partials/table-content.html
Labels: docs, v5

#41244 Add missing hyphen to 'Package managed'
  site/layouts/partials/home/get-started.html
Labels: docs, v5

#40745 Fix progress-bar animation when overriding `--bs-progress-height`
  scss/_progress.scss
Labels: css, v5

#41174 [Docs] Remove some unnecessary Twitter references/examples
  js/tests/visual/tooltip.html
  site/content/docs/5.3/content/tables.md
  site/content/docs/5.3/examples/blog-rtl/index.html
  site/content/docs/5.3/examples/blog/index.html
  site/content/docs/5.3/examples/cheatsheet-rtl/index.html
  site/content/docs/5.3/examples/cheatsheet/index.html
  site/content/docs/5.3/examples/footers/index.html
  site/content/docs/5.3/examples/modals/index.html
  site/layouts/partials/table-content.html
Labels: docs, v5

#40796 Add `.border-circle` and `.border-pill` to the radius size part of th…
  site/content/docs/5.3/utilities/borders.md
Labels: docs, v5, enhancement

#39064 List-group: Make `.list-group-item-action` style more specific than `.list-group-item`.
  scss/_list-group.scss
Labels: css, v5

#41337 Quick fix for masthead banner icon spacing
  site/layouts/partials/home/masthead.html
Labels: docs, css

#39977 set $modal-content-color (null value) to --#{$prefix}body-color in _variables.scss
  scss/_variables.scss
Labels: css, v5, color mode

#40878 Add active scale effect to animate-img
  site/assets/scss/_masthead.scss
Labels: docs, css, v5, design

#41347 Fix floating labels rendering on Firefox
  .browserslistrc
Labels: v5

#41277 docs: update readme to include bun install
  README.md
  site/content/docs/5.3/getting-started/download.md
Labels: docs, enhancement

#41297 Docs: fix specification for getInstance
  site/content/docs/5.3/components/tooltips.md
Labels: docs, js, v5

#41340 Mention `npm install` and `npm run dist` in CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: meta

#41143 docs: Better indicate include options in sass setup.
  site/content/docs/5.3/customize/sass.md
Labels: docs, v5

#41325 Update offcanvas.md To Mention Adding data-bs-target for Close Buttons in Offcanvas Components
  site/content/docs/5.3/components/offcanvas.md
Labels: docs, v5, enhancement

#41298 Limit selectors in `.card-group` to immediate children to fix `border-radius` bug
  scss/_card.scss
Labels: css, v5

#40776 Docs: add Border radius section for Input group
  site/content/docs/5.3/forms/input-group.md
Labels: docs, v5

#41364 Docs: use 'i.e.' instead of 'e.g.' in Floating Labels example description
  site/content/docs/5.3/forms/floating-labels.md
Labels: docs, v5

#41282 Docs: move Cheatsheet RTL example to the RTL category
  site/data/examples.yml
Labels: docs, v5, rtl, enhancement

#41295 Doc: fix blockquote mismatch
  site/content/docs/5.3/components/card.md
  site/content/docs/5.3/content/reboot.md
Labels: docs, enhancement

#41359 Removed broken translation links
  site/data/translations.yml
Labels: docs, v5

#41383 Update `devDependencies`
  package-lock.json
  package.json
  site/astro.config.ts
  site/src/libs/remark.ts
Labels: v5, dependencies

#41384 Bump `image-size` from 1.0.2 to 2.0.2
  package-lock.json
  package.json
  site/src/components/head/Social.astro
  site/src/libs/image.ts
Labels: v5, dependencies

#41396 Add switch attribute to docs for switch checkbox
  build/vnu-jar.mjs
  site/src/content/docs/forms/checks-radios.mdx
Labels: docs

#41254 Add private comment to BaseComponent Class
  js/src/base-component.js
Labels: js

#41397 Alternate for #41142, disabled list group items
  site/src/content/docs/components/list-group.mdx
Labels: docs

#40768 Docs: add Usage section with JavaScript guide for Accordion component
  site/src/content/docs/components/accordion.mdx
Labels: docs, js, v5

#41365 Attempt to return focus explicitly to dropdown trigger
  js/src/dropdown.js
Labels: js, accessibility, v5, needs tests

#41399 Fix typos and code indentation in Forms > Checks and radios
  site/src/content/docs/forms/checks-radios.mdx
Labels: docs, v5

#41408 Docs: Remove unneeded Twitter/X metatags (as it uses Open Graph for title/description and image)
  site/src/components/head/Social.astro
Labels: docs, v5

#41218 Removed line break between `// Private` comment and method
  js/src/toast.js
Labels: js, v5

#41418 remove link to sunset resource on accessibility.mdx
  site/src/content/docs/getting-started/accessibility.mdx
Labels: docs, v5

#41154 docs(pagination): put current page on link element for a11y
  site/src/content/docs/components/pagination.mdx
Labels: docs, accessibility, v5
