Repository twbs/bootstrap, pull requests merged in 2025-03, with the labels that each got.

#41187 Docs: mention removal of `util.js` in migration guide
  site/content/docs/5.3/migration.md
Labels: docs, v5, enhancement

#41281 Fixed minor typo in Sass documentation
  site/content/docs/5.3/customize/sass.md
Labels: docs, v5

#41299 Typo fixed
  site/content/docs/5.3/migration.md
Labels: docs, enhancement
