Repository twbs/bootstrap, pull requests merged in 2025-08, with the labels that each got.

#41582 Docs: Add tooltips to buttons when `<Example>` is used, not just `<Code>`
  site/src/components/shortcodes/Code.astro
  site/src/components/shortcodes/Example.astro
Labels: docs, v5

#41660 v6: Delete Node Sass workflow
  .github/workflows/node-sass.yml
Labels: v6, github_actions

#41583 Migrate MyGet script to GH actions
  .github/workflows/publish-nuget.yml
  nuget/MyGet.ps1
  nuget/bootstrap.nuspec
  nuget/bootstrap.sass.nuspec
Labels: build, CI, enhancement

#41668 Revert "Attempt to return focus explicitly to dropdown trigger"
  js/src/dropdown.js
Labels: js

#41665 docs: Minor range example code optimization
  site/src/content/docs/forms/range.mdx
Labels: docs

#41671 Remove Themes from docs
  .github/CONTRIBUTING.md
  README.md
  config.yml
  site/src/components/footer/Footer.astro
  site/src/components/header/Navigation.astro
  site/src/components/home/Themes.astro
  site/src/layouts/partials/BsThemes.astro
  site/src/libs/config.ts
  site/src/pages/docs/[version]/examples/index.astro
  site/src/pages/index.astro
Labels: docs

#41692 Drop `$variable-prefix`
  scss/_variables.scss
Labels: css, v6

#41702 Restore both grids , enable CSS grid by default, and update mixins
  .bundlewatch.config.json
  scss/_config.scss
  scss/layout/_grid.scss
  scss/mixins/_grid.scss
Labels: css, v6

#41703 Refactor accordion button CSS
  scss/_accordion.scss
  scss/_variables.scss
Labels: css, v6

#41706 Colocate Sass vars in their respective files
  .bundlewatch.config.json
  scss/_accordion.scss
  scss/_alert.scss
  scss/_badge.scss
  scss/_breadcrumb.scss
  scss/_card.scss
  scss/_carousel.scss
  scss/_close.scss
  scss/_config.scss
  scss/_dropdown.scss
  scss/_list-group.scss
  scss/_nav.scss
  scss/_navbar.scss
  scss/_pagination.scss
  scss/_placeholders.scss
  scss/_popover.scss
  scss/_progress.scss
  scss/_toasts.scss
  scss/_tooltip.scss
  scss/_variables-dark.scss
  scss/_variables.scss
  scss/content/_images.scss
  scss/content/_reboot.scss
  scss/content/_tables.scss
  scss/forms/_validation.scss
  scss/mixins/_caret.scss
  site/src/content/docs/components/accordion.mdx
  site/src/content/docs/components/alerts.mdx
  site/src/content/docs/components/badge.mdx
  site/src/content/docs/components/breadcrumb.mdx
  site/src/content/docs/components/card.mdx
  site/src/content/docs/components/carousel.mdx
  site/src/content/docs/components/close-button.mdx
  site/src/content/docs/components/dropdowns.mdx
  site/src/content/docs/components/list-group.mdx
  site/src/content/docs/components/navbar.mdx
  site/src/content/docs/components/navs-tabs.mdx
  site/src/content/docs/components/pagination.mdx
  site/src/content/docs/components/placeholders.mdx
  site/src/content/docs/components/popovers.mdx
  site/src/content/docs/components/progress.mdx
  site/src/content/docs/components/toasts.mdx
  site/src/content/docs/components/tooltips.mdx
  site/src/content/docs/content/figures.mdx
  site/src/content/docs/content/images.mdx
  site/src/content/docs/content/tables.mdx
  site/src/content/docs/customize/color-modes.mdx
  site/src/content/docs/customize/components.mdx
  site/src/content/docs/forms/validation.mdx
  site/src/content/docs/layout/breakpoints.mdx
  site/src/content/docs/layout/containers.mdx
  site/src/content/docs/layout/grid.mdx
  site/src/content/docs/utilities/background.mdx
  site/src/content/docs/utilities/borders.mdx
  site/src/content/docs/utilities/colors.mdx
Labels: css, v6
